{% extends '@IrmagSite/layout.html.twig' %}

{% if app.request.cookies.has('_catalog_view_type') %}
    {% set catalog_view_type = app.request.cookies.get('_catalog_view_type') == 'line' ? 'line' : 'grid' %}
{% elseif irmag.mobile %}
    {% set catalog_view_type = 'line' %}
{% else %}
    {% set catalog_view_type = 'grid' %}
{% endif %}

{% block title %}🎁 Акция{% if is_archive %} - Архив{% endif %} - {{ action.title }}{% endblock %}

{% block open_graph_image -%}
    {%- if action.bannerBg.webpath is defined -%}
        <meta property="og:image" content="{{ absolute_url(asset(action.bannerBg.webpath)|imagine_filter('avatar_thumb')) }}">
    {%- else -%}
        <meta property="og:image" content="{{ absolute_url(asset('build/images/irmag-heart-colored.png')) }}">
    {%- endif -%}
{%- endblock %}

{% block body %}

    <section class="action container">
        <h1>
            {{ action.title }}
            {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_site_action_edit', { id: action.id }) } -%}
        </h1>

        {% set breadcrumbs = { 'Акции': url('irmag_action') } %}

        {% if is_archive %}
            {% set breadcrumbs = breadcrumbs|merge({ 'Архив': url('irmag_action_archive') }) %}
        {% endif %}

        {% set breadcrumbs = breadcrumbs|merge({ (action.title): null }) %}

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with breadcrumbs %}

        {% if is_archive %}
            <div class="alert alert-warning">
                {% if action.startDateTime|date(constant('\\DateTime::RFC3339')) > 'now'|date(constant('\\DateTime::RFC3339')) %}
                    Акция сейчас не активна. Старт назначен на {{ action.startDateTime|localizeddate('full', 'none', null, null, 'd MMMM в HH:mm') }}
                {% else %}
                    Акция завершена {{ action.endDateTime|localizeddate('full', 'none', null, null, 'd MMMM YYYY в HH:mm') }}
                    и перенесена в <a href="{{ path('irmag_action_archive') }}">архив</a>.
                {% endif %}
            </div>
        {% endif %}

        <article>
            <div class="banner-bg"{% if action.bannerBg.webpath is defined %} style="background-image: url({{ asset(action.bannerBg.webpath) }});"{% endif %}>
                <a href="#jmp-to-action-body">
                    {% if action.banner.webpath is defined %}<img src="{{ asset(action.banner.webpath) }}" alt="{{ action.title }}" class="img-responsive">{% endif %}
                </a>
            </div>

            {% include '@IrmagSite/Action/helper-info.html.twig' %}

            {% if not is_archive %}
                {% if action.startDateTime|date(constant('\\DateTime::RFC3339')) > 'now'|date(constant('\\DateTime::RFC3339')) %}
                    <div class="mt-20 alert alert-info text-center">
                        <i class="fa fa-info-circle"></i> Акция начнётся {{ action.startDateTime|localizeddate('full', 'none', null, null, 'd MMMM в HH:mm') }}
                    </div>
                {% else %}
                    {% include '@IrmagSite/Action/difference.html.twig' %}
                {% endif %}

                {% include '@IrmagSite/Action/helper-condition.html.twig' with { conditions: irmag.action.conditions(action), show_is_completed: false } only %}
            {% endif %}

            <div id="action-body"></div>

            {% if action.body is not empty %}
                <hr>

                <div class="text-justify mt-20">{{ action.body|raw }}</div>
            {% endif %}

            <hr>

            {% if action.promocodeElementsList is not empty %}
                <div class="clearfix">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            {% set isCollapsed = not app.request.query.has('promocodeListPage') %}

                            <div class="row">
                                <div class="col-xs-2">
                                    <span class="pull-left">
                                        <button class="btn btn-success" id="toggle-elements-list" data-toggle="collapse" aria-expanded="false" data-target="#promocode-elements-list">
                                            <span class="visible-xs visible-sm">
                                                <b>
                                                {% if isCollapsed %}
                                                    <span class="unfold">+</span>
                                                    <span class="fold hidden">-</span>
                                                {% else %}
                                                    <span class="unfold hidden">+</span>
                                                    <span class="fold">-</span>
                                                {% endif %}
                                                </b>
                                            </span>
                                            <span class="hidden-xs hidden-sm">
                                                {% if isCollapsed %}
                                                    <span class="unfold">Посмотреть товары</span>
                                                    <span class="fold hidden">Скрыть список</span>
                                                {% else %}
                                                    <span class="unfold hidden">Посмотреть товары</span>
                                                    <span class="fold">Скрыть список</span>
                                                {% endif %}
                                            </span>
                                        </button>
                                    </span>
                                </div>
                                <div class="col-xs-8 text-center">
                                    <span class="inline-block mt-5 pl-5 pr-5">При выполнении условий акции вы получите промокод со скидкой на некоторые товары.</span>
                                </div>
                                <div class="col-xs-2">
                                    <div class="pull-right">
                                        <div class="btn-group move-all-elements-to-favorite">
                                            <button type="button"
                                                    class="btn btn-warning move-to-new-favorite"
                                                    data-action-name="{{ action.title }}"
                                                    data-action-id="{{ action.id }}"
                                            >
                                                <i class="fa fa-star fa-lg"></i><span class="hidden-xs hidden-sm"> всё в избранное</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body collapse {% if app.request.query.get('promocodeListPage') %}in{% endif %}" id="promocode-elements-list">
                            {{ render(controller('IrmagSiteBundle:Action:contentPromocodeElements', { action: action })) }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if action.elements is not empty %}
                <div class="clearfix mt-20">
                    <div class="pull-right">
                        <label class="mr-10">Вид:</label>

                        {% include '@IrmagSite/Catalog/helper-catalog-view-toggler-btns.html.twig' %}
                    </div>

                    <h3 class="items-title pull-left">Товары, участвующие в акции:</h3>
                </div>
                <hr>

                <div id="catalog-content" class="mt-15">
                    {{ render(controller('Irmag\\SiteBundle\\Controller\\ActionController::contentAction', { action: action })) }}
                </div>
            {% else %}
                <h3 class="items-title text-center">Акция не содержит товаров</h3>
            {% endif %}
        </article>

        <hr>

        <div class="text-center">
            <a href="{{ path('irmag_action') }}" class="btn btn-warning">Все акции</a>
        </div>

        <hr>

        <div class="comments">
            {{ render_hinclude(controller('Irmag\\ThreadCommentBundle\\Controller\\ThreadCommentController::indexAction', { id: action.id, config: is_archive ? 'action_in_archive' : 'action' }), { default: '@IrmagSite/Default/heart-loading.html.twig', attributes: { 'evaljs': 'true' } }) }}
        </div>

    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Action.init();
        });
    </script>
{% endblock %}
