<div class="action-info text-muted text-center">
    <small>
        <span class="text-nowrap">
            <i class="fa fa-play-circle fa-fw"></i>
            <time datetime="{{ action.startDateTime|date(constant('\\DateTime::RFC3339')) }}" class="cursor-help" title="Дата старта акции" data-toggle="tooltip">{{ action.startDateTime|localizeddate('full', 'none', null, null, 'd MMMM YYYY в HH:mm') }}</time>
        </span>

        <span class="text-nowrap">
            <i class="fa fa-stop-circle fa-fw"></i>
            <time datetime="{{ action.endDateTime|date(constant('\\DateTime::RFC3339')) }}" class="cursor-help" title="Дата окончания акции" data-toggle="tooltip">{{ action.endDateTime|localizeddate('long', 'none', null, null, 'd MMMM yyyy в HH:mm') }}</time>
        </span>

        <span class="text-nowrap">
            <i class="fa fa-comments fa-fw"></i>
            <a href="{{ path('irmag_action_detail', { slug: action.slug }) }}#thread-comments">
                {{ 'comment.count'|transchoice(action.thread.commentsTotalCount|default(0), {}, 'irmag_site') }}
            </a>
        </span>
    </small>
</div>
