<div class="alert alert-info mt-20">
    {% set action = conditions.action %}

    {% if action.sticker.webpath is defined %}
        <img src="{{ asset(action.sticker.webpath) }}" alt="{{ action.title }}" class="sticker-action">
    {% endif %}

    <div {{ action.sticker.webpath is defined ? ' class="with-sticker"' }}>
        Для {% if show_is_completed %}акции <b><a href="{{ path('irmag_action_detail', { 'slug': action.slug }) }}">{{ action.title }}</a></b>{% else %}этой акции{% endif %} имеются условия для выполнения:

        <ul class="mb-0">
            {% if conditions.conditionMinSum is defined %}
                <li>
                    Сумма товаров должна быть не менее
                    <b>{{ conditions.conditionMinSum.need }}</b> <i class="fa fa-rub"></i>.

                    {% if show_is_completed %}
                        {% if conditions.conditionMinSum.isCompleted is same as(true) %}
                            <b class="text-success text-nowrap"><i class="fa fa-check-circle fa-fw"></i>Условие выполнено</b>.
                        {% else %}
                            <b class="text-danger text-nowrap"><i class="fa fa-times-circle fa-fw"></i>Условие не выполнено</b>.
                            Не хватает ещё каких-то <b>{{ (conditions.conditionMinSum.need - conditions.conditionMinSum.current)|number_format }}</b> <i class="fa fa-rub"></i>.
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}

            {% if conditions.conditionMinCount is defined %}
                <li>
                    Кол-во товаров в заказе должно быть не менее
                    <b>{% transchoice conditions.conditionMinCount.need %}%count% штуки|%count% штук|%count% штук{% endtranschoice %}</b>.

                    {% if show_is_completed %}
                        {% if conditions.conditionMinCount.isCompleted is same as(true) %}
                            <b class="text-success text-nowrap"><i class="fa fa-check-circle fa-fw"></i>Условие выполнено</b>.
                        {% else %}
                            <b class="text-danger text-nowrap"><i class="fa fa-times-circle fa-fw"></i>Условие не выполнено</b>.
                            Вам надо добавить ещё <b>{% transchoice conditions.conditionMinCount.need - conditions.conditionMinCount.current %}%count% товар|%count% товара|%count% товар{% endtranschoice %}</b>.
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}

            {% if conditions.conditionActionElementInBasket is defined %}
                <li>
                    Вы должны положить товар из этой акции в корзину.

                    {% if show_is_completed %}
                        {% if conditions.conditionActionElementInBasket.isCompleted is same as(true) %}
                            <b class="text-success text-nowrap"><i class="fa fa-check-circle fa-fw"></i>Условие выполнено</b>.
                        {% else %}
                            <b class="text-danger text-nowrap"><i class="fa fa-times-circle fa-fw"></i>Условие не выполнено</b>.
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}

            {% if conditions.conditionPaymentMethod is defined %}
                <li>
                    Способ оплаты должен быть <b>{{ conditions.conditionPaymentMethod.name }}</b>.

                    {% if show_is_completed %}
                        <b class="text-warning text-nowrap"><i class="fa fa-warning fa-fw"></i> Условие ещё не выполнено</b>.
                    {% endif %}
                </li>
            {% endif %}

            {% if conditions.conditionMaxGifts is defined %}
                <li>
                    Максимальное кол-во подарков на заказ <b>{% transchoice conditions.conditionMaxGifts %}%count% штука|%count% штуки|%count% штук{% endtranschoice %}</b>.
                </li>
            {% endif %}

            <li>
                Акция действует <b>{{ conditions.conditionIsForAllElements is same as(true) ? 'на любые товары из каталога' : 'только на товары из этой акции' }}</b>.
            </li>
        </ul>
    </div>

    <div class="clearfix"></div>
</div>
