{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}🎁 Акции{% endblock %}

{% block additional_stylesheets %}
    <link rel="alternate" type="application/atom+xml" title="Интернет-магазин IRMAG.RU — Акции" href="{{ url('irmag_action_atom') }}">
{% endblock %}

{% block body %}

    <section class="action container">

        <h1>
            Акции
            {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_site_action_list') } -%}
        </h1>

        <a href="{{ path('irmag_action_atom') }}" class="pull-right" data-toggle="tooltip" title="RSS"><i class="fa fa-rss icon-rss"></i></a>
        <a href="{{ path('irmag_action_archive') }}" class="btn btn-default btn-sm btn-archive pull-right">Архив</a>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Акции': null } } %}

        <div class="action-list">
            {% for action in actions %}
                {% include '@IrmagSite/Action/list-action.html.twig' %}

                {% if loop.last is same as(false) %}
                    <hr>
                {% endif %}
            {% else %}
                <div class="alert alert-info">Акций пока что нет...</div>
            {% endfor %}
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Action.initCountdown();

            {% if irmag.mobile %}
                IRMAG.Action.bindMobileScrollBgHover();
            {% endif %}
        });
    </script>
{% endblock %}
