<article>
    <h3>
        {% if action.promocodeElementsList %}
             <i class="fa fa-tag cursor-help color-i5" data-toggle="tooltip" title="По этой акции вы можете получить промокод"></i>
        {% endif %}

        <a href="{{ path('irmag_action_detail', { slug: action.slug }) }}">{{ action.title }}</a>
        {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_site_action_edit', { id: action.id }) } -%}
    </h3>

    <div class="row">
        {% block left %}
            <div class="{{ left_class|default('col-md-6') }}">
                <a href="{{ path('irmag_action_detail', { slug: action.slug }) }}">
                    <div class="banner-bg"{% if action.bannerBg.webpath is defined %} style="background-image: url({{ asset(action.bannerBg.webpath) }});"{% endif %}>
                        {% if action.banner.webpath is defined %}<img src="{{ asset(action.banner.webpath) }}" alt="{{ action.title }}" class="img-responsive">{% endif %}
                    </div>
                </a>

                {% include '@IrmagSite/Action/helper-info.html.twig' %}
            </div>
        {% endblock %}

        {% block right %}
            <div class="col-md-6">
                <div class="visible-md-block"><br><br></div>
                <div class="visible-lg-block"><br><br><br></div>

                {% if action.startDateTime|date(constant('\\DateTime::RFC3339')) > 'now'|date(constant('\\DateTime::RFC3339')) %}
                    <div class="mt-15 alert alert-info text-center">
                        <i class="fa fa-info-circle"></i> Акция начнётся {{ action.startDateTime|localizeddate('full', 'none', null, null, 'd MMMM в HH:mm') }}
                    </div>
                {% else %}
                    {% include '@IrmagSite/Action/difference.html.twig' %}
                {% endif %}
            </div>
        {% endblock %}
    </div><!-- /.row -->
</article>
