{% set catalog_view_type = app.request.cookies.get('_catalog_view_type') == 'line' ? 'line' : 'grid' %}

{% if promocodeElementsListPagination %}
    <section class="catalog">
        <div class="row mt-20">
            {% for element in promocodeElementsListPagination %}
                {% include '@IrmagSite/Catalog/catalog-element-' ~ catalog_view_type ~ '.html.twig' %}
            {% endfor %}
        </div>
        <div class="block-element-list-nav">
            {{ knp_pagination_render(promocodeElementsListPagination) }}
        </div>
    </section>
{% endif %}

