{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}

        <div class="brand-zone-content">
            <div class="brand-zone-logo"></div>
            <div class="button-container">
                <div class="button-dish"
                     onclick="location.href='{{ path('irmag_catalog_section', { sectionId: 697, filter: { brand: { 0: 2356 } }, _fragment: anc }) }}'">
                    <div class="crosshair"></div>
                </div>
                <div class="button-cutlery"
                     onclick="location.href='{{ path('irmag_catalog_section', { sectionId: 603530, filter: { brand: { 0: 2356 } }, _fragment: anc }) }}'">
                    <div class="crosshair"></div>
                </div>
                <div class="button-kitchen"
                     onclick="location.href='{{ path('irmag_catalog_section', { sectionId: 603528, filter: { brand: { 0: 2356 } }, _fragment: anc }) }}'">
                    <div class="crosshair"></div>
                </div>
                <div class="button-store"
                     onclick="location.href='{{ path('irmag_catalog_section', { sectionId: 699, filter: { brand: { 0: 2356 } }, _fragment: anc }) }}'">
                    <div class="crosshair"></div>
                </div>
                <div class="button-table"
                     onclick="location.href='{{ path('irmag_catalog_section', { sectionId: 698, filter: { brand: { 0: 2356 } }, _fragment: anc }) }}'">
                    <div class="crosshair"></div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
