{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.webpath is defined %}
        {% if admin.isGranted('EDIT') %}
            <a href="{{ admin.generateUrl('edit', { 'id': object.id }) }}">
                <img src="{{ asset(object.webpath|imagine_filter('catalog_elements')) }}" alt="{{ object.path }}">
            </a>
        {% else %}
            <img src="{{ asset(object.webpath|imagine_filter('catalog_elements')) }}" alt="{{ object.path }}">
        {% endif %}
    {% endif %}
{% endblock %}
