<div class="row text-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-6">
                <div class="hidden-xs hidden-sm" style="margin-top: {{ margin_top|default(30) }}%;"></div>

                {% block text %}{% endblock %}
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-6">
                {% block image %}{% endblock %}
            </div>
        </div>
    </div>
</div>
