{#
    Catalog
#}

{# filter dropdown select #}
{% block filter_select_widget %}
{% spaceless %}
    {% if form.vars.mapped_to_lvl_2 %}
        {% set elements_to_empty = [form.vars.mapped_to, form.vars.mapped_to_lvl_2] %}
    {% else %}
        {% set elements_to_empty = [form.vars.mapped_to] %}
    {% endif %}

    <div class="irmag-filter-select"
        data-selected="{{ form.vars.selected ? form.vars.selected.id : '' }}"
        data-selected-lvl-2="{{ form.vars.selected_lvl_2 ? form.vars.selected_lvl_2 : '' }}"
        data-elements-to-empty="{{ elements_to_empty|json_encode }}">

        {% if form.vars.selected.name is defined %}
            {% set selected_text = form.vars.selected.name %}
        {% elseif form.vars.selected_lvl_2.name is defined %}
            {% set selected_text = form.vars.selected_lvl_2.name %}
        {% endif %}

        <div class="dropdown">
            <button class="btn {{ selected_text is defined ? 'btn-success' : 'btn-default' }} btn-block dropdown-toggle" type="button" id="dropdown-{{ form.vars.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="selected-text">{{ selected_text is defined ? selected_text : 'filter.pick_select'|trans({}, 'irmag_site') }}</span>
                <span class="caret"></span>
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdown-{{ form.vars.id }}">
                <div class="fast-search pl-5 pr-5">
                    <input placeholder="Поиск" class="form-control" autocomplete="off">
                </div>

                <div class="divider mt-5 mb-5"></div>

                <ul class="dropdown-menu inner">
                    {% for data in form.vars.data %}
                        {% set li_class = '' %}

                        {% if form.vars.mapped_to_lvl_2 %}
                            {% set li_class = 'bold' %}
                        {% endif %}

                        {% if form.vars.selected.id is defined and form.vars.selected.id == data.id %}
                            {% set li_class = li_class ~ ' active' %}
                        {% endif %}

                        <li{% if li_class %} class="{{ li_class }}"{% endif %}>
                            <a href="#" data-id="{{ data.id }}" data-mapped-to="{{ form.vars.mapped_to }}">{{ data.name }}</a>
                        </li>

                        {% if data._childrens is defined %}
                            {% for children in data._childrens %}
                                <li class="lvl-2{% if form.vars.selected_lvl_2.id is defined and form.vars.selected_lvl_2.id == children.id %} active{% endif %}">
                                    <a href="#" data-id="{{ children.id }}" data-mapped-to="{{ form.vars.mapped_to_lvl_2 }}">{{ children.name }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block filter_select_label %}
{% spaceless %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        <a class="reset-selected pull-right {% if form.vars.selected is empty and form.vars.selected_lvl_2 is empty %} hidden{% endif %}" title="{{ 'filter.reset_label'|trans({'%label%': label|trans({}, translation_domain)}, 'irmag_site')|e('html') }}" data-toggle="tooltip" data-html="true">
            <i class="fa fa-lg fa-close"></i>
        </a>
    </label>
{% endspaceless %}
{% endblock %}


{# Filter props checkbox #}
{% block filter_checkbox_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {% set disabled = child.vars.attr.disabled is defined %}
            <div class="checkbox{{ disabled ? ' disabled' }}{{ child.vars.checked ? ' has-success' }}">
                <label>
                    {% set tooltip = 'element.tooltip.prop_' ~ child.vars.attr.icon_css_name|replace({'-': '_'}) %}
                    <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}"{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}{{ child.vars.checked ? ' checked="checked"' }}>
                    <i
                        class="fa fa-fw prop-{{ child.vars.attr.icon_css_name }}"
                        {% if tooltip is not empty %}
                            title="{{ tooltip|trans({}, translation_domain) }}"
                            data-html="true"
                            data-toggle="tooltip"
                        {% endif %}
                        >
                    </i>
                    {{ child.vars.label|trans({}, translation_domain) }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock %}


{#
    Order
#}

{# Hub #}
{% block hub_widget %}
{% spaceless %}
    {% if expanded %}
        <div class="row" {{ block('widget_container_attributes') }}>
            {% for key, child in form %}
                {% set data = form.vars.choices[key].data %}
                {% set is_shortname_defined = data.shortname is defined %}
                {% set hidden_hubs = ['apple_pay', 'android_pay'] %}
                {% set vendorIcons = ['sberbank_online', 'russian_post', 'drone'] %}

                <div class="col-xs-12 col-sm-6 {% if is_shortname_defined %}{{ 'hub-option-' ~ data.shortname }}{% if data.shortname in hidden_hubs %} hidden{% endif %}{% endif %}">
                    <label class="hub{% if child.vars.checked %} checked{% endif %}">
                        {% if is_shortname_defined and data.shortname in vendorIcons %}
                            <i class="hub-icon hub-icon-{{ form.vars.name }}-{{ is_shortname_defined ? data.shortname : key }}"></i>
                        {% else %}
                            <i class="fa fa-{{ form.vars.name }}-{{ is_shortname_defined ? data.shortname : key }}"></i>
                        {% endif %}

                        <div class="hub-title mt-5">
                            {% if data.shortname is defined %}
                                {{ form_widget(child, { attr: { 'data-shortname': data.shortname }}) }}
                            {% else %}
                                {{ form_widget(child) }}
                            {% endif %}
                        </div>

                        {% if data.subtitle is defined and data.subtitle is not empty %}
                            <div class="hub-subtitle">{{ data.subtitle }}</div>
                        {% endif %}
                        {% if data.description is defined and data.description is not empty %}
                            <div class="hub-description text-muted mt-5"><small>{{ data.description|raw|nl2br }}</small></div>
                        {% endif %}
                    </label>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ block('choice_widget') }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block hub_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger irmag-error">
            {% for error in errors %}
                <div><span class="fa fa-warning fa-fw"></span> {{ error.message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}


{# Смешанный платёж #}
{% block order_mixed_payment_widget %}
{% spaceless %}
    {% for child in form.children %}
        {% if child.vars.label is not empty %}
            <div class="row mb-15">
                <div class="col-xs-7 col-sm-5">{{ form_label(child) }}</div>
                <div class="col-xs-5 col-sm-7">{{ form_widget(child) }}</div>
            </div>
        {% else %}
            {{ form_widget(child) }}
        {% endif %}
    {% endfor %}

    {% if form.children.total.vars.value >= constant('Irmag\\SiteBundle\\Form\\Type\\MixedPaymentType::MIN_CERTIFICATE_SUM') %}
        <div class="alert alert-info">
            Сумма по сертификатам должна быть кратной {{ constant('Irmag\\SiteBundle\\Form\\Type\\MixedPaymentType::MULTIPLE_OF_CERTIFICATE_SUM') }} <i class="fa fa-rub"></i>.
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block order_mixed_payment_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger irmag-error">
            {% for error in errors %}
                <div><span class="fa fa-warning fa-fw"></span> {{ error.message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}


{# Способ доставки чека #}
{% block check_delivery_method_widget %}
{% spaceless %}
    <div class="btn-group" data-toggle="buttons">
        {% for child in form.children %}
            {% set is_disabled = false %}

            {% if 'email' == child.vars.value %}
                {% set icon = 'fa fa-lg fa-at' %}

                {% if form.vars.has_email is same as(false) %}
                    {% set is_disabled = true %}
                    {% set tooltip = 'Вы не указали email' %}
                {% endif %}
            {% elseif 'sms' == child.vars.value %}
                {% set icon = 'fa fa-lg fa-mobile' %}

                {% if form.vars.has_telephone is same as(false) %}
                    {% set is_disabled = true %}
                    {% set tooltip = 'Вы не указали телефон' %}
                {% endif %}
            {% else %}
                {% set tooltip = '' %}
                {% set icon = '' %}
            {% endif %}

            <label class="btn btn-default order-check-delivery{{ is_disabled ? ' disabled' : '' }}{{ child.vars.checked ? ' active' : '' }}"
                {% if is_disabled %}
                    title="{{ tooltip }}"
                    data-toggle="tooltip"
                {% endif %}
            >
                <i class="{{ icon }}"></i>
                {{ form_widget(child, { 'attr': { 'disabled': is_disabled } }) }}
            </label>
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock %}

{% block check_delivery_method_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger irmag-error">
            {% for error in errors %}
                <div><span class="fa fa-warning fa-fw"></span> {{ error.message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}


{# Agreement checkbox #}
{% block agreement_widget %}
{% spaceless %}
    <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <input
            type="checkbox"
            {{ block('widget_container_attributes') }}
            value="{{ form.vars.value }}"
            name="{{ form.vars.full_name }}"
            required="required"
            checked="{{ form.vars.checked }}"
        >
        {{ label }}
        <a href="{{ url('irmag_page', { slug: 'help', _fragment: 'protection-of-personal-information' }) }}">персональных данных</a>
    </label>
{% endspaceless %}
{% endblock %}

{% block agreement_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger irmag-error">
            {% for error in errors %}
                <div><span class="fa fa-warning fa-fw"></span> {{ error.message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}


{% block form_errors -%}
{% spaceless %}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger irmag-error">{% endif %}
            <ul class="list-unstyled">
                {%- for error in errors -%}
                    <li class="alert alert-danger irmag-error mb-5"><span class="fa fa-warning fa-fw"></span> {{ error.message }}</li>
                {%- endfor -%}
            </ul>
        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{% endspaceless %}
{%- endblock form_errors %}
