<div class="irmag-heart-loading {{ random(['color-1', 'color-2', 'color-3', 'color-4', 'color-5']) }} mt-20 mb-20">
    <div class="rhombus">
        <div class="circle1"></div>
        <div class="circle2"></div>
    </div>
</div>
