<div class="index-goals container">
    <div class="row">
        <a href="{{ path('irmag_page', { slug: 'help' }) }}#how-to-buy" class="col-xs-6 col-sm-4 col-md-2">
            <div>
                <i class="fa fa-shopping-cart fa-3x fa-fw"></i>
                <span class="text">
                    <strong>Как оформить заказ?</strong>
                    <br>
                    <small class="hidden-xs hidden-md"><span class="hidden-lg">подробная </span>инструкция для новичков</small>
                </span>
            </div>
        </a>

        <a href="{{ path('irmag_page', { slug: 'help' }) }}#discounts" class="col-xs-6 col-sm-4 col-md-2">
            <div>
                <i class="fa fa-percent fa-3x fa-fw"></i>
                <span class="text">
                    <strong>Скидки и бонусы</strong>
                    <br>
                    <small class="hidden-xs">сервис для постоянных клиентов</small>
                </span>
            </div>
        </a>

        <a href="{{ path('irmag_page', { slug: 'help' }) }}#payment" class="col-xs-6 col-sm-4 col-md-2">
            <div>
                <i class="fa fa-money fa-3x fa-fw"></i>
                <span class="text">
                    <strong>Способы и виды оплаты</strong>
                    <br>
                    <small class="hidden-xs hidden-md">как оплатить заказ</small>
                </span>
            </div>
        </a>

        <a href="{{ path('irmag_page', { slug: 'help' }) }}#delivery" class="col-xs-6 col-sm-4 col-md-2">
            <div>
                <i class="fa fa-truck fa-3x fa-fw"></i>
                <span class="text">
                    <strong>Доставка по всей России</strong>
                    <br>
                    <small class="hidden-xs hidden-md">по Иркутску бесплатно от 699 р.</small>
                </span>
            </div>
        </a>

        <a href="{{ path('irmag_page', { slug: 'help' }) }}#return-and-exchange" class="col-xs-6 col-sm-4 col-md-2">
            <div>
                <i class="fa fa-retweet fa-3x fa-fw"></i>
                <span class="text">
                    <strong>Возврат и обмен</strong>
                    <br>
                    <small class="hidden-xs">в течение 7 дней</small>
                </span>
            </div>
        </a>

        <a href="{{ path('irmag_page', { slug: 'about-the-company' }) }}" class="col-xs-6 col-sm-4 col-md-2">
            <div>
                <i class="fa fa-building fa-3x fa-fw"></i>
                <span class="text">
                    <strong>О нас</strong>
                    <br>
                    <small class="hidden-xs">более 25000 наименований</small>
                </span>
            </div>
        </a>
    </div>
</div>
