{% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

{% if blog_posts %}
    <div class="index-last-blog-posts container" id="index-last-blog-posts">
        <h2 class="text-center">Новые обзоры в блоге</h2>

        <div class="row">
            {% for blog_post in blog_posts %}
                {% if loop.index > 6 %}
                    {% set col_class = ' hidden-xs hidden-sm' %}
                {% elseif loop.index > 3 %}
                    {% set col_class = ' hidden-xs' %}
                {% else %}
                    {% set col_class = '' %}
                {% endif %}

                <a href="{{ url('irmag_blog_category_post', { categoryslug: blog_post.blogSection.shortlink, id: blog_post.id }) }}" class="col-xs-12 col-sm-6 col-md-4{{ col_class }}">
                    <div class="article clearfix">
                        <div class="blog-avatar pull-left" title="{{ blog_post.user.name }}" data-toggle="tooltip">
                            <img data-src="{{ avatar.getUrl(blog_post.user, 'avatar_small_thumb', 64) }}" class="img-circle" alt="{{ blog_post.user.name }}">
                        </div>
                        <span>
                            {{ blog_post.title }}
                            <small class="text-muted hidden-md">{{ blog_post.subtitle }}</small>
                        </span>
                        <time datetime="{{ blog_post.createdAt|date('Y-m-d') }}" class="hidden-sm hidden-md text-muted">{{ blog_post.createdAt|date('d.m') }}</time>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <script>
        $(function() {
            new LazyLoad({ container: document.getElementById('index-last-blog-posts') });
        });
    </script>
{% endif %}
