{% if banners %}
    <div id="index-banners-container" class="index-banners-container">
        <div class="banner-bg" style="background-image: url({{ asset(banners[0].banner_bg) }});"></div>
        <div class="slick-container">
            {% for banner in banners %}
                <a href="{{ banner.link }}" class="banner-wrapper">
                    <img data-src="{{ asset(banner.banner) }}" class="banner" alt="{{ banner.title }}">
                    {{ banner.extra_content|raw }}
                </a>
            {% endfor %}
        </div>
    </div>

    <script>
        var IrmagIndexBanners = {{ banners|json_encode()|raw }};
    </script>
{% endif %}
