<div class="input-group multi-telephone-field">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-lg fa-fw" data-icon-mobile="fa-mobile-phone" data-icon-default="fa-phone"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-left">
            <li data-phone-type="mobile"><a href="javascript:;"><i class="fa fa-mobile-phone fa-lg fa-fw"></i> Мобильный / Федеральный</a></li>
            <li data-phone-type="default"><a href="javascript:;"><i class="fa fa-phone fa-lg fa-fw"></i> Обычный / Городской</a></li>
        </ul>

        {% block widget_checkbox %}
            {{ form_widget(form.isMobileTelephone) }}
        {% endblock %}
    </div>

    {% block widget_telephone %}
        {{ form_widget(form.telephone) }}
    {% endblock %}
</div>

