<div class="text-center">
    <h4>Поделиться:</h4>
    <div class="social-likes" data-counters="no"
        {% if title is defined %}data-title="{{ title }}"{% endif %}
        {% if url is defined %}data-url="{{ url }}"{% endif %}
    >
        <span class="odnoklassniki a-buzz-out" title="Поделиться ссылкой в Одноклассниках"></span>
        <span class="vkontakte a-buzz-out" title="Поделиться ссылкой во Вконтакте"></span>
        <span class="facebook a-buzz-out" title="Поделиться ссылкой на Фейсбуке"></span>
        <span class="twitter a-buzz-out" title="Поделиться ссылкой в Твиттере"></span>
        <span class="plusone a-buzz-out" title="Поделиться ссылкой в Гугл-плюсе"></span>
    </div>
</div>
