<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>{{ block('subject') }}</title>

    <style type="text/css">
        body{ Margin: 0; padding: 0; }
        img{ border: 0px; display: block; }

        .socialLinks{ font-size: 6px; }
        .socialLinks a{
            display: inline-block;
        }
        .socialIcon{
            display: inline-block;
            vertical-align: top;
            padding-bottom: 0px;
            border-radius: 100%;
        }
        .oldwebkit{ max-width: 570px; }
        td.vb-outer{ padding-left: 9px; padding-right: 9px; }
        table.vb-container, table.vb-row, table.vb-content{
            border-collapse: separate;
        }
        table.vb-row{
            border-spacing: 9px;
        }
        table.vb-row.halfpad{
            border-spacing: 0;
            padding-left: 9px;
            padding-right: 9px;
        }
        table.vb-row.fullwidth{
            border-spacing: 0;
            padding: 0;
        }
        table.vb-container{
            padding-left: 18px;
            padding-right: 18px;
        }
        table.vb-container.fullpad{
            border-spacing: 18px;
            padding-left: 0;
            padding-right: 0;
        }
        table.vb-container.halfpad{
            border-spacing: 9px;
            padding-left: 9px;
            padding-right: 9px;
        }
        table.vb-container.fullwidth{
            padding-left: 0;
            padding-right: 0;
        }
    </style>
    <style type="text/css">
        /* yahoo, hotmail */
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{ line-height: 100%; }
        .yshortcuts a{ border-bottom: none !important; }
        .vb-outer{ min-width: 0 !important; }
        .RMsgBdy, .ExternalClass{
            width: 100%;
            background-color: #3f3f3f;
            background-color: #f2f2f2}

        /* outlook */
        table{ mso-table-rspace: 0pt; mso-table-lspace: 0pt; }
        #outlook a{ padding: 0; }
        img{ outline: none; text-decoration: none; border: none; -ms-interpolation-mode: bicubic; }
        a img{ border: none; }

        @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
            table.vb-container, table.vb-row{
                width: 95% !important;
            }

            .mobile-hide{ display: none !important; }
            .mobile-textcenter{ text-align: center !important; }

            .mobile-full{
                float: none !important;
                width: 100% !important;
                max-width: none !important;
                padding-right: 0 !important;
                padding-left: 0 !important;
            }
            img.mobile-full{
                width: 100% !important;
                max-width: none !important;
                height: auto !important;
            }
        }
    </style>
    <style type="text/css">

        #ko_textBlock_3 .links-color a, #ko_textBlock_3 .links-color a:link, #ko_textBlock_3 .links-color a:visited, #ko_textBlock_3 .links-color a:hover{
            color: #3f3f3f;
            color: #3f3f3f;
            text-decoration: underline
        }
        #ko_textBlock_3 .long-text p{ Margin: 1em 0px }  #ko_textBlock_3 .long-text p:last-child{ Margin-bottom: 0px }  #ko_textBlock_3 .long-text p:first-child{ Margin-top: 0px }
        #ko_socialBlock_5 .links-color a, #ko_socialBlock_5 .links-color a:link, #ko_socialBlock_5 .links-color a:visited, #ko_socialBlock_5 .links-color a:hover{
            color: #cccccc;
            color: #3f3f3f;
            text-decoration: underline
        }
        #ko_socialBlock_5 .long-text p{ Margin: 1em 0px }  #ko_socialBlock_5 .long-text p:last-child{ Margin-bottom: 0px }  #ko_socialBlock_5 .long-text p:first-child{ Margin-top: 0px }
        #ko_footerBlock_2 .links-color a, #ko_footerBlock_2 .links-color a:link, #ko_footerBlock_2 .links-color a:visited, #ko_footerBlock_2 .links-color a:hover{
            color: #cccccc;
            color: #3f3f3f;
            text-decoration: underline
        }
        #ko_footerBlock_2 .long-text p{ Margin: 1em 0px }  #ko_footerBlock_2 .long-text p:last-child{ Margin-bottom: 0px }  #ko_footerBlock_2 .long-text p:first-child{ Margin-top: 0px }
    </style>
    {% block additional_stylesheets %}{% endblock %}
</head>
<body bgcolor="#f2f2f2" text="#919191" alink="#3f3f3f" vlink="#3f3f3f" style="Margin: 0; padding: 0; background-color: #f2f2f2; color: #919191;">

<center>

    <!-- preheaderBlock -->

    <!-- /preheaderBlock -->

    <table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff" style="background-color: #ffffff;" id="ko_spacerBlock_2">
        <tbody><tr>
            <td class="vb-outer" valign="top" align="center" bgcolor="#ffffff" height="15" style="padding-left: 9px; padding-right: 9px; height: 15px; background-color: #ffffff; font-size: 1px; line-height: 1px;">&nbsp;</td>
        </tr>
        </tbody></table><table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff" style="background-color: #ffffff;" id="ko_logoBlock_4">
        <tbody><tr>
            <td class="vb-outer" align="center" valign="top" bgcolor="#ffffff" style="padding-left: 9px; padding-right: 9px; background-color: #ffffff;">

                <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table width="570" style="border-collapse: separate; border-spacing: 18px; padding-left: 0; padding-right: 0; width: 100%; max-width: 570px;" border="0" cellpadding="0" cellspacing="18" class="vb-container fullpad">
                        <tbody><tr>
                            <td valign="top" align="center">

                                <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="164"><tr><td align="center" valign="top"><![endif]-->
                                <div class="mobile-full" style="display: inline-block; max-width: 164px; vertical-align: top; width: 100%;">
                                    <a target="_new" href="https://irmag.ru" style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #f3f3f3; text-decoration: none;"><img width="164" vspace="0" hspace="0" border="0" alt="IRMAG" style="border: 0px; display: block; width: 100%; max-width: 164px;" src="{{ absolute_url(asset('build/images/irmag-logo.png')) }}"></a>
                                </div>
                                <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->

                            </td>
                        </tr>
                        </tbody></table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->

            </td>
        </tr>
        </tbody></table><table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff" style="background-color: #ffffff;" id="ko_titleBlock_8">
        <tbody><tr>
            <td class="vb-outer" align="center" valign="top" bgcolor="#ffffff" style="padding-left: 9px; padding-right: 9px; background-color: #ffffff;">

                <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table width="570" border="0" cellpadding="0" cellspacing="9" class="vb-container halfpad" bgcolor="#ffffff" style="border-collapse: separate; border-spacing: 9px; padding-left: 9px; padding-right: 9px; width: 100%; max-width: 570px; background-color: #ffffff;">
                        <tbody><tr>
                            <td bgcolor="#ffffff" align="center" style="background-color: #ffffff; font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #595959; text-align: center;">
                                <span>{{ block('subject') }}</span>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
            </td>
        </tr>
        </tbody></table><table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff" style="background-color: #ffffff;" id="ko_textBlock_3">
        <tbody><tr>
            <td class="vb-outer" align="center" valign="top" bgcolor="#ffffff" style="padding-left: 9px; padding-right: 9px; background-color: #ffffff;">

                <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table width="570" border="0" cellpadding="0" cellspacing="18" class="vb-container fullpad" bgcolor="#ffffff" style="border-collapse: separate; border-spacing: 18px; padding-left: 0; padding-right: 0; width: 100%; max-width: 570px; background-color: #ffffff;">
                        <tbody><tr>
                            <td align="left" class="long-text links-color" style="text-align: left; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;"><p style="Margin: 1em 0px; Margin-bottom: 0px; Margin-top: 0px;">{{ block('text') }}</p></td>
                        </tr>
                        </tbody></table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
    <table width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f2f2f2" style="background-color: #f2f2f2;" id="ko_socialBlock_5">
        <tbody><tr>
            <td align="center" valign="top" bgcolor="#f2f2f2" style="background-color: #f2f2f2;">
                <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table width="570" style="border-collapse: separate; border-spacing: 9px; width: 100%; max-width: 570px;" border="0" cellpadding="0" cellspacing="9" class="vb-row fullpad" align="center">
                        <tbody><tr>
                            <td valign="top" align="center" style="font-size: 0;">

                                <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="552"><tr><![endif]-->
                                <!--[if (gte mso 9)|(lte ie 8)]><td align="left" valign="top" width="276"><![endif]-->
                                <div style="display: inline-block; max-width: 276px; vertical-align: top; width: 100%;" class="mobile-full">

                                    <table class="vb-content" border="0" cellspacing="9" cellpadding="0" width="276" style="border-collapse: separate; width: 100%;" align="left">
                                        <tbody><tr>
                                            <td valign="middle" align="left" class="long-text links-color mobile-textcenter" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #919191; text-align: left;">
                                                <p style="Margin: 1em 0px; Margin-bottom: 0px; Margin-top: 0px;"><a href="tel:+73952560565" style="color: #7f7f7f; text-decoration: none; font-weight: bold;">+7 (3952) 560-565</a><br><a href="tel:+79148991100" style="color: #7f7f7f; text-decoration: none; font-weight: bold;">+7 (914) 899-11-00</a></p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div><!--[if (gte mso 9)|(lte ie 8)]></td>
                                <td align="left" valign="top" width="276">
                                <![endif]--><div style="display: inline-block; max-width: 276px; vertical-align: top; width: 100%;" class="mobile-full">

                                    <table class="vb-content" border="0" cellspacing="9" cellpadding="0" width="276" style="border-collapse: separate; width: 100%;" align="right">
                                        <tbody><tr>
                                            <td align="right" valign="middle" class="links-color socialLinks mobile-textcenter" style="font-size: 6px;">
                                                &nbsp;
                                                <a target="_new" href="https://www.instagram.com/irmag.ru/" style="display: inline-block; color: #cccccc; color: #3f3f3f; text-decoration: underline;">
                                                    <img src="https://irmag.ru/uploads/custom/Newletter/email/soc_instagram.png" alt="Instagram" border="0" class="socialIcon" style="border: 0px; display: inline-block; vertical-align: top; padding-bottom: 0px; border-radius: 100%;">
                                                </a>
                                                &nbsp;
                                                <a target="_new" href="https://www.facebook.com/irmagirk" style="display: inline-block; color: #cccccc; color: #3f3f3f; text-decoration: underline;">
                                                    <img src="https://irmag.ru/uploads/custom/Newletter/email/soc_facebook.png" alt="Facebook" border="0" class="socialIcon" style="border: 0px; display: inline-block; vertical-align: top; padding-bottom: 0px; border-radius: 100%;">
                                                </a>
                                                &nbsp;
                                                <a target="_new" href="https://vk.com/irmag" style="display: inline-block; color: #cccccc; color: #3f3f3f; text-decoration: underline;">
                                                    <img src="https://irmag.ru/uploads/custom/Newletter/email/soc_vkontakte.png" alt="Vkontakte" border="0" class="socialIcon" style="border: 0px; display: inline-block; vertical-align: top; padding-bottom: 0px; border-radius: 100%;">
                                                </a>
                                                &nbsp;
                                                <a target="_new" href="https://twitter.com/irmag_ru" style="display: inline-block; color: #cccccc; color: #3f3f3f; text-decoration: underline;">
                                                    <img src="https://irmag.ru/uploads/custom/Newletter/email/soc_twiter.png" alt="Twitter" border="0" class="socialIcon" style="border: 0px; display: inline-block; vertical-align: top; padding-bottom: 0px; border-radius: 100%;">
                                                </a>
                                                &nbsp;
                                                <a target="_new" href="https://t.me/irmag_ru" style="display: inline-block; color: #cccccc; color: #3f3f3f; text-decoration: underline;">
                                                    <img src="https://irmag.ru/uploads/custom/Newletter/email/soc_telegram.png" alt="Telegram" border="0" class="socialIcon" style="border: 0px; display: inline-block; vertical-align: top; padding-bottom: 0px; border-radius: 100%;">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody></table>

                                </div>
                                <!--[if (gte mso 9)|(lte ie 8)]></td><![endif]-->
                                <!--[if (gte mso 9)|(lte ie 8)]></tr></table><![endif]-->

                            </td>
                        </tr>
                        </tbody></table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
            </td>
        </tr>
        </tbody></table>

    <!-- footerBlock -->
    <table width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f2f2f2" style="background-color: #f2f2f2;" id="ko_footerBlock_2">
        <tbody><tr>
            <td align="center" valign="top" bgcolor="#f2f2f2" style="background-color: #f2f2f2;">

                <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table width="570" style="border-collapse: separate; border-spacing: 9px; padding-left: 9px; padding-right: 9px; width: 100%; max-width: 570px;" border="0" cellpadding="0" cellspacing="9" class="vb-container halfpad" align="center">
                        <tbody><tr>
                            <td class="long-text links-color" style="text-align: center; font-size: 10px; color: #919191; font-weight: normal; text-align: center; font-family: Arial, Helvetica, sans-serif;"><p style="Margin: 1em 0px; Margin-bottom: 0px; Margin-top: 0px;">{{ 'now'|date(constant('\DateTime::ATOM')) }} &copy; irmag.ru</p></td>
                        </tr>
                        </tbody></table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
            </td>
        </tr>
        </tbody></table>
    <!-- /footerBlock -->

</center>

</body></html>
