@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.scroller {
    position: fixed;
    right: 0;
    bottom: 30%;
    opacity: .8;
    display: none;
    z-index: 2;

    // xs, sm
    @media (max-width: $screen-sm-max) {
        right: 30px;
        bottom: 20px;
    }

    .scroller-wrapper {
        position: relative;
        height: 4.5em;
        width: 4.5em;

        .scroll {
            position: absolute;
            left: 0;
            display: block;
            color: white;
            transition: all .3s ease;

            &:hover {
                color: $link-hover-color;
            }

            // xs, sm
            @media (max-width: $screen-sm-max) {
                &:hover {
                    color: white;
                }

                i {
                    font-size: 68px !important;
                }
            }

            i {
                text-shadow: 0 0 5px rgba(0, 0, 0, .5);
                //box-shadow: 0 4px 5px -1px rgba(0,0,0,0.5);
            }
        }

        .scroll-up {
            top: 0;
        }

        .scroll-down {
            bottom: 0;
        }
    }
}
