{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}Мои фантики{% endblock %}

{% form_theme bonus_donate_form _self %}
{% form_theme bonus_promocode_form _self %}

{% block _bonus_donate_value_widget %}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <span class="input-group-btn">
            <button type="submit" class="btn btn-success">Пожертвовать</button>
        </span>
    </div>
{% endblock %}

{% block _bonus_promocode_value_widget %}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <span class="input-group-btn">
            <button type="submit" class="btn btn-success">Получить</button>
        </span>
    </div>
{% endblock %}


{% block body %}

    <section class="container">

        <h1>Мои фантики</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Мой профиль': url('irmag_profile'), 'Мои фантики': null } } %}

        <h3 class="mt-0 mb-20">На вашем счёте: <span class="label label-warning">{{ app.user.bonus|default(0) }} Ф.</span></h3>

        {% for flash_message in app.flashes('success-donate') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                Вы пожертвовали <span class="label label-warning">{{ flash_message }} Ф.</span>. Спасибо!
            </div>
        {% endfor %}

        {% for flash_message in app.flashes('success-promocode-bonus') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                Вы получили <span class="label label-warning">{{ flash_message }} Ф.</span> на счёт. Приятных покупок!
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Реферальная система "ирМММаг"</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            {% set my_referral_link = app.request.getSchemeAndHttpHost ~ '/?' ~ constant('Irmag\\SiteBundle\\Config::REFERRAL_LINK_GET_PARAMETER_NAME') ~ '=' ~ app.user.id %}
                            <input type="text" class="form-control font-weight-bold" id="input-referral-link" value="{{ my_referral_link }}" readonly>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" id="clipboard-btn" title="{{ 'tooltip.clipboard_btn'|trans({}, 'irmag_site') }}" data-toggle="tooltip" data-clipboard-target="#input-referral-link">
                                    <i class="fa fa-fw fa-clipboard"></i>
                                </button>
                                <button type="button" class="btn btn-default" title="{{ 'tooltip.qrcode_btn'|trans({}, 'irmag_site') }}" data-options='{ "buttons": ["close"] }' data-toggle="tooltip" data-fancybox data-src="{{ constant('\\Irmag\\SiteBundle\\Config::QR_CODE_BASE_URL') }}{{ my_referral_link }}">
                                    <i class="fa fa-fw fa-qrcode"></i>
                                </button>
                            </div>
                        </div>

                        {# social-likes #}
                        {% include '@IrmagSite/Default/social-likes-share-url.html.twig' with { title: 'Интернет-магазин IRMAG.RU', url: my_referral_link } only %}
                    </div>
                    <div class="panel-footer text-center">
                        <div class="btn-group">
                            <button type="button" data-type="ajax" data-src="{{ path('irmag_profile_referral') }}" class="btn btn-primary fancybox-referral-tree">
                                Посмотреть моё <i class="fa fa-fw fa-lg fa-tree"></i> рефералов
                            </button>
                            {% if is_granted('ROLE_SONATA_ADMIN') %}
                                <button type="button" data-type="ajax" data-src="{{ path('irmag_profile_referral', { all: true }) }}" class="btn btn-default fancybox-referral-tree">
                                    [ALL]
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if user_owner %}
                    <div class="alert alert-warning">
                        Вы пришли на сайт от пользователя <a href="{{ url('irmag_profile_user', { 'username': user_owner.username }) }}">{{ user_owner }}</a>.
                    </div>
                {% endif %}

                <h4>Способы получения бонусов:</h4>

                <ul class="mb-20">
                    <li>
                        100 бонусов за каждый заказ пользователя, который зарегистрировался по вашей реферальной ссылке и сделал и  оплатил заказ.
                    </li>
                    <li>
                        50 бонусов за каждый заказ пользователя, который зарегистрировался по реферальной ссылке вашего реферала и сделал и оплатил заказ.
                    </li>
                    <li>
                        25 бонусов за каждый заказ пользователя, который зарегистрировался по реферальной ссылке реферала вашего реферала и сделал и оплатил заказ.
                    </li>
                    <li>
                        10 бонусов за каждый заказ пользователя, который зарегистрировался по реферальной ссылке реферала реферала вашего реферала и сделал и оплатил заказ.
                    </li>
                    <li>
                        5 бонусов за каждый заказ пользователя, который зарегистрировался по реферальной ссылке реферала реферала реферала вашего реферала и сделал и оплатил заказ.
                    </li>
                    <li>
                        1 бонус за всех остальных пользователей, которые зарегистрировались в вашем реферальном дереве и сделали и оплатили заказ.
                    </li>
                </ul>

                <div class="alert alert-info">
                    Подробнее о <b><a href="{{ url('irmag_page', { slug: 'help' }) }}#bonuses">способах получения бонусов.</a></b>
                </div>

                <div class="alert alert-warning">
                    Вы сможете использовать бонусы (фантики) для частичной оплаты заказа <b>(до 50% суммы заказа)</b>.
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Копилка "На социальные проекты"</h3>
                    </div>
                    <div class="panel-body pb-0">
                        <p>Вы можете пожертвовать "фантики" на социальные проекты Ирмага:</p>

                        {{ form_start(bonus_donate_form) }}
                            {{ form_row(bonus_donate_form.value) }}
                        {{ form_end(bonus_donate_form) }}
                    </div>
                    <div class="panel-footer">
                        Все клиенты Ирмага пожертвовали <span class="label label-warning">{{ social_moneybox_user.bonus|default(0)|number_format(0, '', ' ') }} Ф.</span>
                    </div>
                </div><!-- /.panel -->

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Фантики на счёт</h3>
                    </div>
                    <div class="panel-body pb-0">
                        {{ form_start(bonus_promocode_form) }}
                            {{ form_row(bonus_promocode_form.value) }}
                        {{ form_end(bonus_promocode_form) }}
                    </div>
                </div><!-- /.panel -->
            </div>
        </div><!-- /.row -->

        {% if pagination is not empty %}
            <h3 class="mt-0" id="history">История операций</h3>

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Значение</th>
                            <th>Сообщение</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for position in pagination %}
                            <tr>
                                <td><time datetime="{{ position.createdAt|date(constant('\\DateTime::RFC3339')) }}">{{ position.createdAt|date('d.m.Y в H:i:s ') }}</time></td>
                                <td class="{{ position.value > 0 ? 'success' : 'danger' }}">{{ position.value }}</td>
                                <td>{{ position.message }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% set _pagination = knp_pagination_render(pagination) %}

            {% if _pagination is not empty %}
                <hr class="mt-15">
                {{ _pagination|raw }}
            {% endif %}
        {% endif %}

    </section>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Site.bindClipboard();

            $('.fancybox-referral-tree').fancybox({
                animationEffect: false,
                beforeClose: function() {
                    $('.popover').remove(); // fix popover
                },
                afterShow: function () {
                    $(this.$slide).scroll(function() {
                        $('.popover').remove(); // fix popover
                    });
                }
            });
        });
    </script>
{% endblock %}
