{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}Мои заказы - #{{ order.id }}{% endblock %}

{% block body %}
    <section class="container my-orders">

        <h1>Мои заказы - #{{ order.id }}</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Мой профиль': url('irmag_profile'), 'Мои заказы': url('irmag_profile_orders'), ('#' ~ order.id): '' } } %}

        {% include '@IrmagSite/My/panel-order.html.twig' with { order: order, view: 'detail' } only %}

    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
           IRMAG.MyOrders.init();
        });
    </script>
{% endblock %}
