{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}Моя скидка{% endblock %}

{% block body %}

    <section class="container my-discount">

        <h1>Моя скидка</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Мой профиль': url('irmag_profile'), 'Моя скидка': null } } %}

        {% set my_discount = app.user.discount|default(0) %}
        {% set my_spend_money = app.user.spendMoney|default(0) %}

        <div class="row">
            <div class="col-sm-3 col-md-4"></div>
            <div class="col-xs-12 col-sm-3 col-md-2 text-center">
                <h3 class="mt-0">Ваша скидка:</h3>
                <h1 class="my-discount m-0"><b>{{ my_discount }}</b> <i class="fa fa-percent"></i></h1>
                <h4>Потрачено:</h4>
                <h3 class="m-0">{{ my_spend_money }} <i class="fa fa-rub"></i></h3>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="irmag-cat-pic my-discount-percent center-block mt-20"></div>
            </div>
        </div>

        <div class="text-center">
            {% if my_discount == 12 or my_spend_money >= 100000 %}
                <h2>У Вас максимальная скидка!</h2>
            {% else %}
                <h2>Осталось до следующей скидки:
                {% if my_discount == 10 %}
                    {{ 100000 - my_spend_money }}
                {% elseif my_discount == 7 %}
                    {{ 70000 - my_spend_money }}
                {% elseif my_discount == 5 %}
                    {{ 50000 - my_spend_money }}
                {% elseif my_discount == 3 %}
                    {{ 25000 - my_spend_money }}
                {% elseif my_discount == 2 %}
                    {{ 10000 - my_spend_money }}
                {% elseif my_discount == 0 %}
                    {{ 5000 - my_spend_money }}
                {% endif %}
                <i class="fa fa-rub"></i></h2>
            {% endif %}

            <br>

            <div class="progress">
                <div class="progress-bar progress-bar-{% if my_discount > 0 %}success{% else %}empty{% endif %}" style="width: 16.66%">
                    <div class="discount-info">
                        <b class="discount">2 <i class="fa fa-percent"></i></b>
                        <div class="price">5000 <i class="fa fa-rub"></i></div>
                    </div>
                </div>
                <div class="progress-bar progress-bar-{% if my_discount > 2 %}info{% else %}empty{% endif %}" style="width: 16.66%">
                    <div class="discount-info">
                        <b class="discount">3 <i class="fa fa-percent"></i></b>
                        <div class="price">10000 <i class="fa fa-rub"></i></div>
                    </div>
                </div>
                <div class="progress-bar progress-bar-{% if my_discount > 3 %}primary{% else %}empty{% endif %}" style="width: 16.66%">
                    <div class="discount-info">
                        <b class="discount">5 <i class="fa fa-percent"></i></b>
                        <div class="price">25000 <i class="fa fa-rub"></i></div>
                    </div>
                </div>
                <div class="progress-bar progress-bar-{% if my_discount > 5 %}warning{% else %}empty{% endif %}" style="width: 16.66%">
                    <div class="discount-info">
                        <b class="discount">7 <i class="fa fa-percent"></i></b>
                        <div class="price">50000 <i class="fa fa-rub"></i></div>
                    </div>
                </div>
                <div class="progress-bar progress-bar-{% if my_discount > 7 %}danger{% else %}empty{% endif %}" style="width: 16.66%">
                    <div class="discount-info">
                        <b class="discount">10 <i class="fa fa-percent"></i></b>
                        <div class="price">70000 <i class="fa fa-rub"></i></div>
                    </div>
                </div>
                <div class="progress-bar progress-bar-{% if my_discount > 10 %}12{% else %}empty{% endif %}" style="width: 16.66%">
                    <div class="discount-info">
                        <b class="discount">12 <i class="fa fa-percent"></i></b>
                        <div class="price">100000 <i class="fa fa-rub"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-info">
            В интернет-магазине Ирмаг действует гибкая система скидок.
            Здесь Вы можете получить <u>накопительную скидку</u>.
            Это скидка, зависящая от суммы всех Ваших заказов в Ирмаге.
            <b>Важно</b> делать заказы с одного личного кабинета (под своим логином и паролем), чтобы скидка накапливалась.
        </div>

        <div class="alert alert-warning">
            Накопительная скидка может обновиться в личном кабинете <b>не сразу</b>, тем не менее,
            после накопления определённой суммы заказов, ваша скидка уже учитывается,
            и вы сможете её увидеть при получении чека.
        </div>

    </section>

{% endblock %}
