{% import '@IrmagSite/Catalog/macro.add-element-to-basket.html.twig' as macro_basket %}

<div class="panel panel-default">
    <div class="panel-heading">
        <b>
            Заказ
            {% if view == 'list' %}
                #<a href="{{ url('irmag_profile_order', { id: order.id }) }}">{{ order.id }}</a>
            {% else %}
                #{{ order.id }}
            {% endif %}
        </b>
        {% if order.isPayerLegal %}<span class="label label-success pull-right">юрлицо</span>{% endif %}
    </div>
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <td class="my-key">Дата создания</td>
                <td>{{ order.createdAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}</td>
            </tr>
            {% if order.parent %}
                <tr>
                    <td class="my-key">Родитель</td>
                    <td>Заказ #<a href="{{ path('irmag_profile_order', { id: order.parent.id }) }}">{{ order.parent.id }}</a></td>
                </tr>
            {% endif %}
            <tr>
                <td class="my-key">Статус</td>
                <td>
                    {# Если статус "Выполнен" и доставка в удаленные регионы, то нужно дополнительно проверять, доставлен ли заказ третьей стороной #}
                    {% if order.status.shortname == 'F'
                        and order.isRemoteDeliveryCompleted is same as(false)
                        and (
                            (order.deliveryServiceData is not empty and order.deliveryServiceData.trackCode is not empty)
                        or
                            (order.postDeliveryData is not empty and order.postDeliveryData.trackCode is not empty)
                        )
                    %}
                        <span class="label label-warning">Передан в доставку</span> Заказ передан в доставку третьей стороне (транспортной компании или Почте России)
                    {% else %}
                        <span class="label label-default status-{{ order.status.shortname }}">{{ order.status.name }}</span> {{ order.status.description }}
                    {% endif %}
                </td>
            </tr>

            {% if order.isPayerLegal %}
                <tr>
                    <td class="my-key">Данные о юрлице</td>
                    <td>
                        <button class="btn btn-info btn-sm pb-5 pt-5" data-toggle="collapse" data-target="#order-legal-data-{{ order.id }}" aria-expanded="false">
                            <i class="fa fa-users fa-fw"></i>
                            Показать / скрыть
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="legal-data p-0" colspan="2">
                        <div class="collapse" id="order-legal-data-{{ order.id }}">
                            <div class="p-10 border-top-fix">
                                <table class="table table-borderless table-condensed mb-0">
                                    <tbody>
                                        {% if order.payerLegalAddress %}
                                            <tr>
                                                <td>Юр. адрес:</td>
                                                <td>{{ order.payerLegalAddress }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalActualAddress %}
                                            <tr>
                                                <td>Фактический адрес:</td>
                                                <td>{{ order.payerLegalActualAddress }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalConsigneeAddress %}
                                            <tr>
                                                <td>Грузополучатель:</td>
                                                <td>{{ order.payerLegalConsigneeAddress }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalName %}
                                            <tr>
                                                <td>Наименование:</td>
                                                <td>{{ order.payerLegalName }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalInn %}
                                            <tr>
                                                <td>ИНН:</td>
                                                <td>{{ order.payerLegalInn }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalKpp %}
                                            <tr>
                                                <td>КПП:</td>
                                                <td>{{ order.payerLegalKpp }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalOgrn %}
                                            <tr>
                                                <td>ОГРН:</td>
                                                <td>{{ order.payerLegalOgrn }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalBik %}
                                            <tr>
                                                <td>БИК:</td>
                                                <td>{{ order.payerLegalBik }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalRs %}
                                            <tr>
                                                <td>Расчётный счёт:</td>
                                                <td>{{ order.payerLegalRs }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalKrs %}
                                            <tr>
                                                <td>Корреспондентский счёт:</td>
                                                <td>{{ order.payerLegalKrs }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalRb %}
                                            <tr>
                                                <td>Расчётный банк:</td>
                                                <td>{{ order.payerLegalRb }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalrbCity %}
                                            <tr>
                                                <td>Город для расчётного банка:</td>
                                                <td>{{ order.payerLegalRbCity }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalTelephone %}
                                            <tr>
                                                <td>Телефон / факс:</td>
                                                <td>{{ order.payerLegalTelephone }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if order.payerLegalEmail %}
                                            <tr>
                                                <td>Email для счёта:</td>
                                                <td>{{ order.payerLegalEmail }}</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td class="my-key">Способ доставки</td>
                <td>{{ order.deliveryMethod.name }}</td>
            </tr>

            {% if order.deliveryMethod.shortname == 'selfservice' %}
                <tr>
                    <td class="my-key">Самовывоз из</td>
                    <td>
                        {% if order.selfserviceMethod %}
                            {% include '@IrmagSite/Order/helper-google-maps-link.html.twig' with { address_name: order.selfserviceMethod, address: order.selfserviceMethod.address } %}
                        {% else %}
                            {% include '@IrmagSite/Order/helper-google-maps-link.html.twig' %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                {% if order.deliveryMethod.shortname == 'transport_company' and order.deliveryServiceData %}
                    <tr>
                        <td class="my-key">Транспортная компания</td>
                        <td>{{ order.deliveryServiceData.orderDeliveryService.name }}</td>
                    </tr>
                    <tr>
                        <td class="my-key">Тип доставки</td>
                        <td>
                            {% if order.deliveryServiceData.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_DOOR') %}
                                До двери
                            {% elseif order.deliveryServiceData.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_TERMINAL') %}
                                До пункта самовывоза
                            {% endif %}
                        </td>
                    </tr>
                    {% if order.deliveryServiceData.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_TERMINAL')
                        and order.deliveryServiceData.deliveryPoint and order.deliveryServiceData.deliveryPointAddress
                    %}
                        <tr>
                            <td class="my-key">Пункт самовывоза</td>
                            <td>{{ order.deliveryServiceData.deliveryPoint }} ({{ order.deliveryServiceData.deliveryPointAddress }})</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="my-key">Адрес доставки</td>
                        <td>{{ order.deliveryServiceData.orderdeliveryServiceCity.fullName }}</td>
                    </tr>
                    <tr>
                        <td class="my-key">Тариф</td>
                        <td>{{ order.deliveryServiceData.tariff }}</td>
                    </tr>

                    {% if order.deliveryServiceData.trackCode is not empty %}
                        <tr>
                            <td class="my-key">Трек для отслеживания</td>
                            <td>
                                <span class="label label-info my-track-code"
                                      title="Нажмите, чтобы скопировать трек-код в буфер обмена."
                                      data-hint="Нажмите, чтобы скопировать трек-код в буфер обмена."
                                      data-toggle="tooltip"
                                      data-clipboard-text="{{ order.deliveryServiceData.trackCode }}"
                                >
                                    {{ order.deliveryServiceData.trackCode }}
                                </span>

                                {% if order.deliveryServiceData.orderDeliveryService.shortname == 'dpd' %}
                                    <span class="tracker-link">
                                         <a href="https://www.dpd.ru/ols/trace2/extended.do2" target="_blank"><i class="fa fa-external-link"></i> Отследить</a>
                                     </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                {% elseif order.deliveryMethod.shortname == 'russian_post' and order.postDeliveryData %}
                    <tr>
                        <td class="my-key">Почтовый адрес</td>
                        <td>{{ order.postDeliveryData.deliveryIndex  ~ ', ' ~ order.postDeliveryData.deliveryCity }}</td>
                    </tr>
                    <tr>
                        <td class="my-key">Адрес</td>
                        <td>{{ order.deliveryFullAddress }}</td>
                    </tr>
                    {% if order.postDeliveryData.maxDays is not empty %}
                        <tr>
                            <td class="my-key">Длительность доставки</td>
                            <td>
                                {% if order.postDeliveryData.minDays %}
                                    {{ order.postDeliveryData.minDays }} - {{ order.postDeliveryData.maxDays }} дней
                                {% else %}
                                    до {{ order.postDeliveryData.maxDays }} дней
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if order.postDeliveryData.trackCode is not empty %}
                        <tr>
                            <td class="my-key">Трек для отслеживания</td>
                            <td>
                                <span class="tracker-link">
                                    <a href="https://www.pochta.ru/tracking#{{ order.postDeliveryData.trackCode }}"
                                       target="_blank"
                                       data-toggle="tooltip"
                                       title="Нажмите, чтобы отследить ваше почтовое отправление">
                                       <i class="fa fa-external-link"> {{ order.postDeliveryData.trackCode }}</i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td class="my-key">Адрес доставки</td>
                        <td>{{ order.deliveryFullAddress }}</td>
                    </tr>
                {% endif %}
            {% endif %}
            <tr>
                <td class="my-key">Дата {% if order.deliveryMethod.shortname == 'selfservice' %}самовывоза{% else %}доставки{% endif %}</td>
                <td>{{ order.deliveryDate|date(constant('Irmag\\SiteBundle\\Config::DATE_FORMAT')) }}</td>
            </tr>
            <tr>
                <td class="my-key">Время {% if order.deliveryMethod.shortname == 'selfservice' %}самовывоза{% else %}доставки{% endif %}</td>
                <td>{{ order.deliveryTime.name }}</td>
            </tr>
            <tr>
                <td class="my-key">Способ оплаты</td>
                <td>
                    {{ order.paymentMethod.name }}

                    {% if order.mixedPayment %}
                        {% if order.mixedPayment.sumCash > 0 %}
                            <div>
                                - наличными:
                                {{ order.mixedPayment.sumCash|number_format }} <i class="fa fa-rub"></i>
                            </div>
                        {% endif %}

                        {% if order.mixedPayment.sumCard > 0 %}
                            <div>
                                - картой:
                                {{ order.mixedPayment.sumCard|number_format }} <i class="fa fa-rub"></i>
                            </div>
                        {% endif %}

                        {% if order.mixedPayment.sumCertificate > 0 %}
                            <div>
                                - сертификатом:
                                {{ order.mixedPayment.sumCertificate|number_format }} <i class="fa fa-rub"></i>
                            </div>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>

            {% set bonus = get_bonus(order.totalPrice) %}
            {% if bonus != 0 %}
                <tr>
                    <td class="my-key">{{ 'order.receive_bonus'|trans({}, 'irmag_site') }}</td>
                    <td><span class="label label-warning cursor-help" data-toggle="tooltip" title="Будут начислены после выполнения заказа">{{ bonus }} Ф.</span></td>
                </tr>
            {% endif %}

            {% if order.spendBonus %}
                <tr>
                    <td class="my-key">{{ 'order.spend_bonus'|trans({}, 'irmag_site') }}</td>
                    <td><span class="label label-warning">{{ order.spendBonus }} Ф.</span></td>
                </tr>
            {% endif %}

            {% if order.checkDeliveryMethod %}
                <tr>
                    <td class="my-key">Получить чек по</td>
                    <td>{{ order.checkDeliveryMethod }}</td>
                </tr>
            {% endif %}

            {% if order.deliveryComment %}
                <tr>
                    <td class="my-key">Комментарий</td>
                    <td>{{ order.deliveryComment|nl2br }}</td>
                </tr>
            {% endif %}

            {% if order.promocode %}
                <tr>
                    <td class="my-key">Промокод</td>
                    <td>
                        {{ order.promocode }}
                        {% if order.promocodeDiscount %}
                            <span class="label label-info">{{ order.promocodeDiscount }} %</span>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if order.deliveryPrice %}
                <tr>
                    <td class="my-key">Сумма заказа</td>
                    <td><b>{{ order.totalPrice }}</b> <i class="fa fa-rub"></i></td>
                </tr>
                <tr>
                    <td class="my-key">Стоимость доставки</td>
                    <td><b>{{ order.deliveryPrice|round|number_format }}</b> <i class="fa fa-rub"></i></td>
                </tr>
                <tr>
                    <td class="my-key"><u>Сумма с учётом доставки</u></td>
                    <td><b>{{ (order.totalPrice + order.deliveryPrice)|number_format }}</b> <i class="fa fa-rub"></i></td>
                </tr>
            {% else %}
                <tr>
                    <td class="my-key"><u>Сумма заказа</u></td>
                    <td>
                        <b>{{ order.totalPrice }}</b> <i class="fa fa-rub"></i>
                    </td>
                </tr>
            {% endif %}

            {% set showCloneBtn = false %}
            {% if order.orderElement|length > 0 %}
                <tr>
                    <td colspan="2" class="p-0">
                        <table class="table table-hover m-0">
                            <thead>
                                <tr>
                                    <th>Название товара</th>
                                    <th class="text-nowrap">Кол-во</th>
                                    <th class="text-right">Цена</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for position in order.orderElement %}
                                    {% if position.element and position.element.isActive %}
                                        {% set showCloneBtn = true %}
                                    {% endif %}

                                    {% set amount_new = position.amount + position.amountDiff %}
                                    {% set is_position_removed = false %}
                                    {% set is_position_added = false %}
                                    {% set is_position_amount_plus = false %}
                                    {% set is_position_amount_minus = false %}

                                    {% if position.amountDiff != 0 %}
                                        {% if amount_new <= 0 %}
                                            {% set is_position_removed = true %}
                                        {% elseif position.amount == 0 and position.amountDiff > 0 %}
                                            {% set is_position_added = true %}
                                        {% elseif position.amountDiff > 0 %}
                                            {% set is_position_amount_plus = true %}
                                        {% elseif position.amountDiff < 0 %}
                                            {% set is_position_amount_minus= true %}
                                        {% endif %}
                                    {% endif %}

                                    <tr{% if is_position_removed %} class="danger"{% elseif is_position_added %} class="success"{% endif %}>
                                        <td>
                                            {% if position.element %}
                                                <a href="{{ path('irmag_catalog_element', { id: position.element.id }) }}">
                                                    {{ position.element.name }}
                                                    {% if position.element.toneName %} - <span class="text-muted">{{ position.element.toneName }}</span>{% endif %}
                                                </a>

                                                {% if not position.element.isActive and order.status.shortname in ['F', 'M', 'C'] %}
                                                    <span class="label label-info grayscale">Товара нет в наличии</span>
                                                {% endif %}
                                            {% else %}
                                                {# товара нет на сайте (не связанной) #}
                                                <span class="text-muted">{{ position.name }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="amount {% if is_position_amount_plus %} success{% elseif is_position_amount_minus %} danger{% endif %}">
                                            {% if position.amountDiff != 0 %}
                                                <span class="cursor-help" title="Было: {{ position.amount }}" data-toggle="tooltip" data-html="true">{{ amount_new }}</span>
                                            {% else %}
                                                {{ amount_new }}
                                            {% endif %}
                                        </td>
                                        <td class="price">
                                            {% if amount_new > 1 %}
                                                <span class="cursor-help" data-toggle="tooltip" title="Цена за 1 шт.">
                                                    <small class="text-muted">{{ position.price|number_format }} <i class="fa fa-rub"></i></small>
                                                </span>

                                                <div class="visible-xs-block"></div>
                                                <b class="hidden-xs">/</b>

                                                <span class="cursor-help" data-toggle="tooltip" title="Цена за {{ amount_new }} шт.">
                                                    {{ (position.price * amount_new)|number_format }} <i class="fa fa-rub"></i>
                                                </span>
                                            {% else %}
                                                <span>{{ position.price|number_format }} <i class="fa fa-rub"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="actions">
                                            {% if position.element %}
                                                {{ macro_basket.add_btn(position.element, 'В корзину', 'btn-xs') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endif %}
            </tbody>
            {% if showCloneBtn is same as(true) %}
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <div class="text-right">
                                <a href="{{ path('irmag_profile_order_clone', { id: order.id }) }}" class="btn btn-sm btn-info"><i class="fa fa-refresh fa-fw"></i> Добавить всё в корзину</a>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    </div>
</div>
