<div>
    <h1 class="text-center mt-0">
        {{ show_all is same as(false) ? 'Моё' : 'Все' }}
        <i class="fa fa-fw fa-tree"></i> рефералов
    </h1>

    {% if ref_tree is not empty %}
        <div class="referral-tree">
            {{ ref_tree|raw }}
        </div>
    {% else %}
        <div class="alert alert-info mt-20 mb-0">У Вас пока нет рефералов.</div>
    {% endif %}
</div>

<script>
    $('[data-toggle="popover.referral"]').popover({
        trigger: 'hover',
        html: true,
        container: 'body',
        placement: 'top',
        title: function () {
            return $(this).data('username');
        },
        content: function () {
            return ''
                + '<div>Уровень вложения: <b>' + $(this).data('lvl') + '</b></div>'
                + '<div>Бонус за заказ: <span class="label label-warning">' + $(this).data('bonus-by-order') + ' ф.</span></div>'
                + '<div>Заказов: ' +  $(this).data('orders-count') + '</div>'
            ;
        }
    });
</script>
