.index-goals {
    margin-top: 1.5em;

    a {
        display: block;
        text-decoration: none;
        border: 1px solid $irmag-index-goals-border-color;
        background-color: $irmag-index-goals-bg;
        height: 70px;
        color: $irmag-index-goals-link-color;
        transition: background .3s linear, border-color .2s linear;
        line-height: 1;
        padding: 10px;
        overflow: hidden;

        div {
            display: table;
            width: 100%;
            height: 100%;

            i {
                margin-right: 10px;
                margin-top: 3px;
            }

            span.text {
                display: table-cell;
                vertical-align: middle;
                width: 100%;

                small {
                    color: $irmag-index-goals-small-text-color;
                    display: inline-block;
                    margin-top: 2px;
                    transition: color .24s linear;
                }
            }
        }

        &:nth-child(5n+1) {
            &:hover,
            &:focus,
            &:active {
                background-color: $irmag-color-1;
                border-color: $irmag-color-1;
            }
        }

        &:nth-child(5n+2) {
            &:hover,
            &:focus,
            &:active {
                background-color: $irmag-color-2;
                border-color: $irmag-color-2;
            }
        }

        &:nth-child(5n+3) {
            &:hover,
            &:focus,
            &:active {
                background-color: $irmag-color-3;
                border-color: $irmag-color-3;
            }
        }

        &:nth-child(5n+4) {
            &:hover,
            &:focus,
            &:active {
                background-color: $irmag-color-4;
                border-color: $irmag-color-4;
            }
        }

        &:nth-child(5n+5) {
            &:hover,
            &:focus,
            &:active {
                background-color: $irmag-color-5;
                border-color: $irmag-color-5;
            }
        }

        &:hover,
        &:focus,
        &:active {
            color: $irmag-index-goals-text-hover-color;

            .fa {
                opacity: 0;
                transition-duration: .2s;
                animation-name: a-icon-drop;
                animation-duration: .3s;
                animation-delay: .2s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
            }

            span.text {
                animation: to-top-from-bottom .3s forwards;

                small {
                    color: $irmag-index-goals-small-text-hover-color;
                }
            }
        }

        // xs
        @media (max-width: $screen-xs-max) {
            a {
                border-radius: unset;
            }

            &:nth-child(-n+4) {
                border-bottom: none;
            }

            &:nth-child(2n+1) {
                border-right: none;
            }
        }

        // sm
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            &:nth-child(-n+3) {
                border-bottom: none;
            }

            &:nth-child(-n+2),
            &:nth-child(4),
            &:nth-child(5) {
                border-right: none;
            }

            // border-radius:
            &:nth-child(1) {
                border-radius: $border-radius-base 0 0 0;
            }

            &:nth-child(3) {
                border-radius: 0 $border-radius-base 0 0;
            }

            &:nth-child(4) {
                border-radius: 0 0 0 $border-radius-base;
            }

            &:nth-child(6) {
                border-radius: 0 0 $border-radius-base 0;
            }
        }

        // md, lg
        @media (min-width: $screen-md-min) {
            // remove border-right
            &:not(:last-child) {
                border-right: none;
            }

            // border-radius:
            // do not use :fist-child,
            // because that`s empty space
            &:nth-child(1) {
                border-radius: $border-radius-base 0 0 $border-radius-base;
            }

            &:last-child {
                border-radius: 0 $border-radius-base $border-radius-base 0;
            }
        }
    }
}
