.index-elements-carousel {
    .carousel-slide {
        margin-left: 0;
        margin-right: 0;
    }

    .catalog {
        height: 180px;
        max-height: 180px;

        .catalog-element {
            max-width: unset;
            border: 1px solid #e7e7e7;
            border-radius: $border-radius-base;
            padding: 10px;
            height: 180px;

            .name {
                left: 10px;
                right: 10px;
                bottom: 40px;
            }

            .tone-image {
                top: 10px;
                right: 35px;
            }

            .btns {
                bottom: 10px;
            }

            .props {
                top: 10px;
                right: 20px;
            }
        }
    }
}
