.index-last-blog-posts {
    h2 {
        margin-bottom: 20px;
    }

    a {
        display: block;
        margin-bottom: $irmag-index-last-blog-posts-padding;
        padding-left: $irmag-index-last-blog-posts-padding / 2;
        padding-right: $irmag-index-last-blog-posts-padding / 2;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;

            .article {
                background-color: darken($irmag-index-last-blog-posts-bg, 5%);
                border-color: darken($irmag-index-last-blog-posts-border-color, 5%);
            }
        }
    }

    .article {
        transition: background-color .15s linear;
        position: relative;
        height: $irmag-index-last-blog-posts-height;
        overflow: hidden;
        background-color: $irmag-index-last-blog-posts-bg;
        border: 1px solid $irmag-index-last-blog-posts-border-color;
        padding: $irmag-index-last-blog-posts-padding;
        border-radius: $border-radius-base;

        .blog-avatar {
            width: $irmag-index-last-blog-posts-avatar-width;
            height: $irmag-index-last-blog-posts-avatar-height;
            margin-right: $irmag-index-last-blog-posts-padding;
            border-radius: 50%;
            border: 1px solid $irmag-index-last-blog-posts-border-color;
            overflow: hidden;

            img {
                max-height: $irmag-index-last-blog-posts-avatar-height;
            }
        }

        // title, subtitle
        span {
            display: table-cell;
            vertical-align: middle;
            height: $irmag-index-last-blog-posts-text-height;
            overflow: hidden;
            padding-right: 40px;

            // subtitle
            small {
                display: block;
            }
        }

        time {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: $font-size-small;
            //background-color: inherit;
        }
    }

    // xs
    @media (max-width: $screen-xs-max) {
        a {
            padding-left: 0;
            padding-right: 0;
        }

        .article {
            border-radius: unset;
        }
    }
}
