$irmag-index-banner-bg-height: 450px;

.index-banners-container {
    height: $irmag-index-banner-bg-height;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    overflow: hidden;
    position: relative;

    // xs, sm
    @media (max-width: $screen-sm-max) {
        background-position: center 0;
        background-size: cover;
        display: none;
    }

    .slick-container {
        visibility: hidden;
    }

    .banner-bg {
        position: absolute;
        width: 100%;
        background-repeat: repeat-x;

        // xs, sm
        @media (max-width: $screen-sm-max) {
            background-position: center 0;
            background-size: cover;
            height: 100%;
        }

        // md, lg
        @media (min-width: $screen-md-min) {
            background-attachment: fixed;
            background-position: center $irmag-header-blue-line-height;
            height: $irmag-index-banner-bg-height;
        }
    }

    .banner-wrapper {
        position: relative;

        img.banner {
            max-width: 100%;
            margin: 0 auto;
        }
    }

    .slick-dots {
        bottom: 10px;

        li button::before {
            text-shadow: 0 0 3px rgba(0, 0, 0, .5);
            color: white;
        }
    }

    .slick-container:hover {
        .slick-arrow {
            opacity: 1;
        }
    }

    .slick-arrow {
        width: 40px;
        height: 40px;
        margin-top: 0;
        z-index: 100;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }

    .slick-prev,
    .slick-next {
        &::before {
            text-shadow: 0 0 3px rgba(0, 0, 0, .5);
            color: white;
        }
    }

    .slick-prev {
        left: 20px;
    }

    .slick-next {
        right: 20px;
    }
}
