{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <a href="{{ url('irmag_secret_page', { slug: object.slug }) }}" target="_blank"><i class="fa fa-external-link"></i></a>
{% endblock %}
