section.brand-zone {
    background-attachment: fixed;
    background-position: center 0;
}

    .brand-zone-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 960px;
        height: 400px;
        background-color: rgba(255, 255, 255, .95);
        margin: auto;
        text-align: center;
    }

    .brand-zone-logo {
        display: block;
        margin-top: 10px;
    }

    .brand-zone-links {
        margin-top: 20px;
        text-align: center;
    }

    .brand-zone-links a {
        display: inline-block;
        width: 310px;
        height: 200px;
    }

    .brand-zone-links a.essie-color {
        background-image: url('c1.png');
    }

    .brand-zone-links a.essie-treatment {
        background-image: url('c2.png');
    }

    .brand-zone-links a.essie-style {
        background-image: url('c3.png');
    }

    .brand-zone-links a:hover {
        margin-bottom: -5px;
    }
