{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 858 } }, _fragment: anc }) }}" class="brand-zone-logo">
                    <img src="{{ web_path ~ '/logo.png' }}" alt="">
                </a>
                <div class="brand-zone-links">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116134, filter: { brand: { 0: 858 } }, _fragment: anc }) }}" class="essie-color"></a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116135, filter: { brand: { 0: 858 } }, _fragment: anc }) }}" class="essie-treatment"></a>
                    <a href="{{ path('irmag_blog_category_post', { categoryslug: 'professional-tools', id: 108 }) }}" class="essie-style"></a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}






