.profile-form {
    .avatar-wrapper {
        display: inline-block;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        color: white;
        font-size: 12px;

        &:hover {
            opacity: .8;

            span {
                background-color: rgba(0, 0, 0, .8);
                text-decoration: underline;
            }
        }

        span {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, .6);
            padding: 4px 0 8px 0;
        }
    }

    .avatar-wrapper-150 {
        .avatar {
            width: 150px;
            height: 150px;
        }
    }

    .avatar-wrapper-32 {
        .avatar {
            width: 32px;
            height: 32px;
        }
    }

    .profile-actions {
        .fa {
            line-height: 16px;
        }
    }

    .notification-events {
        .text-muted {
            color: $text-muted !important;
        }

        td {
            &.for-checkbox {
                text-align: center;

                .checkbox {
                    margin: 7px 0 0 0;
                }

                label {
                    padding: 0;
                }
            }
        }
    }

    .show-modal-push-ids {
        padding-top: 4px !important;
        padding-bottom: 4px !important;

        @include button-variant(white, $irmag-color-1, $irmag-color-1);
    }

    .onesignal-customlink-subscribe.button {
        background-color: $irmag-color-2 !important;
        box-shadow: none !important;
        box-sizing: border-box;
        text-align: center;
        width: 80%;

        &:hover {
            background-color: darken($irmag-color-2, 10%) !important;
        }
    }

    .checkbox-subscription {
        .form-group {
            margin-bottom: 10px;
        }
    }

    .checkbox-label {
        display: inline-block;
        font-size: 15px;
        padding: 8px 16px 8px 36px;
        font-weight: bold;
        white-space: normal;
        width: 80%;

        input[type="checkbox"] {
            margin: 0 0 0 -20px !important;
        }
    }

    .label-email {
        background-color: $irmag-color-3;

        &:hover {
            background-color: darken($irmag-color-3, 10%);
        }
    }

    .label-site {
        background-color: $irmag-color-4;

        &:hover {
            background-color: darken($irmag-color-4, 10%);
        }
    }

    .label-sms {
        background-color: $irmag-color-5;

        &:hover {
            background-color: darken($irmag-color-5, 10%);
        }
    }

    // xs, sm
    @media (max-width: $screen-sm-max) {
        .checkbox-label,
        .onesignal-customlink-subscribe.button {
            width: 100%;
        }
    }
}
