section.brand-zone {
    background-attachment: fixed;
    background-position: center 0;
}

    .brand-zone-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 960px;
        height: 400px;
        background-color: rgba(0, 0, 0, .7);
        margin: auto;
        text-align: center;
    }

    .brand-zone-logo {
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .brand-zone-column img {
        margin-bottom: 10px;
    }

    .brand-zone-column {
        width: 207px;
        height: 285px;
        display: inline-block;
        margin-left: 11px;
        margin-right: 11px;
        background-color: #1f1f1f;
        text-align: left;
        font-size: 14px;
        font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    }

    .brand-zone-links a {
        display: block;
        color: white;
        text-decoration: none;
        padding-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        transition: color 0.18s linear;
    }

    .brand-zone-links a:hover {
        color: #f357a1;
    }

    .brand-zone-links a.colored {
        color: #f357a1;
        font-weight: bold;
        font-size: 14px
    }

    .brand-zone-links a.colored:hover {
        text-decoration: underline;
    }
