{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1405 } }, _fragment: anc }) }}" class="brand-zone-logo">
                <img src="{{ web_path ~ '/logo.png' }}" alt="">
            </a>

            <div class="brand-zone-column">
                <a href="{{ path('irmag_catalog_section', { sectionId: 116111, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">
                    <img src="{{ web_path ~ '/c1.jpg' }}" alt="">
                </a>
                <div class="brand-zone-links">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116111, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}" class="colored">Лицо</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116132, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Тональные основы</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116128, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Маскирующие средства</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116130, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Пудры</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116131, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Румяна</a>
                </div>
            </div>

            <div class="brand-zone-column">
                <a href="{{ path('irmag_catalog_section', { sectionId: 116110, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">
                    <img src="{{ web_path ~ '/c2.jpg' }}" alt="">
                </a>
                <div class="brand-zone-links">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116110, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}" class="colored">Глаза</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116123, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Туши</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116121, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Подводки</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116122, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Тени</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116248, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Средства для снятия макияжа</a>
                </div>
            </div>

            <div class="brand-zone-column">
                <a href="{{ path('irmag_catalog_section', { sectionId: 116112, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">
                    <img src="{{ web_path ~ '/c3.jpg' }}" alt="">
                </a>
                <div class="brand-zone-links">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116112, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}" class="colored">Губы</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116127, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Помады</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116126, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Карандаши для губ</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116125, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Блески для губ</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116139, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Бальзам для губ</a>
                </div>
            </div>

            <div class="brand-zone-column">
                <a href="{{ path('irmag_catalog_section', { sectionId: 116113, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">
                    <img src="{{ web_path ~ '/c4.jpg' }}" alt="">
                </a>
                <div class="brand-zone-links">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116113, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}" class="colored">Маникюр</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116134, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Лаки для ногтей</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116135, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Средства для ногтей</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 306183, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Декор для ногтей</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116136, filter: { brand: { 0: 1405 } }, _fragment: anc }) }}">Средства для снятия лака</a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}




