{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}Страница не найдена{% endblock %}

{% block body %}
    <div class="container block-error-404">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-6 text-center">
                <div class="hidden-xs hidden-sm error-text-top-offset"></div>

                <h1 class="text-danger">Ой! Вы похоже потерялись!</h1>
                <p>Запрашиваемая Вами <b class="text-danger">страница не найдена!</b>
                <br>Не переживайте, всегда можно начать <a href="{{ url('irmag_homepage') }}">всё сначала</a>
                или <a href="{{ url('irmag_catalog') }}">перейти в каталог</a>.</p>
            </div>

            <div class="col-xs-12 col-md-6 col-md-pull-6 hidden-xs">
                <div class="irmag-cat-404 center-block">
                    <div class="eye-left" id="eye-left">
                        <div class="cat-eye"></div>
                    </div>
                    <div class="eye-right" id="eye-right">
                        <div class="cat-eye"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 visible-xs-block text-center xs-smile text-warning">&#128574;</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Cat404.init();
        });
    </script>
{% endblock %}
