
<footer class="footer" id="footer">
    <div class="container">
        <div class="row row-1">
            <div class="col-xs-12 col-sm-3 col-sm-push-9 col-lg-2 col-lg-push-10">
                <div class="hidden-xs pt-10"></div>

                <div class="telephones">
                    <a href="tel:+73952560565" class="btn btn-sm btn-link">+7 (3952) 560-565</a>
                    <a href="tel:+79148991100" class="btn btn-sm btn-link">+7 (914) 899-11-00</a>
                </div>

                <div class="visible-xs-block separator mt-20 mb-20"></div>
            </div>

            <div class="col-xs-12 col-sm-6 col-sm-pull-3 col-lg-7 col-lg-pull-2">
                <nav>
                    <a href="{{ url('irmag_catalog') }}" class="btn btn-sm btn-link">Каталог</a>
                    <a href="{{ url('irmag_action') }}" class="btn btn-sm btn-link">Акции</a>
                    <a href="{{ url('irmag_forum_homepage') }}" class="btn btn-sm btn-link">Форум</a>
                    <a href="{{ url('irmag_blog_homepage') }}" class="btn btn-sm btn-link">Обзоры</a>
                    <a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'help' }) }}" class="btn btn-sm btn-link">Помощь</a>
                    <a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'about-the-company' }) }}" class="btn btn-sm btn-link">О нас</a>
                    <a href="{{ url('irmag_news') }}" class="btn btn-sm btn-link">Новости</a>
                    <a href="{{ url('irmag_reviews') }}" class="btn btn-sm btn-link visible-xs-inline-block">Отзывы</a>
                    <a href="{{ url('irmag_brand_zones') }}" class="btn btn-sm btn-link visible-xs-inline-block visible-sm-inline-block">БРЕНД-ЗОНЫ</a>
                </nav>
            </div>

            <div class="col-xs-12 col-sm-3 col-sm-pull-3 col-lg-pull-2">
                <div class="visible-xs-block separator mb-20 mt-20"></div>

                <div class="hidden-xs pt-10"></div>
                <p>Следите за нами в соцсетях:</p>

                <div class="social-wrapper">
                    <a target="_blank" rel="noopener" href="https://vk.com/irmag" class="social-vkontakte a-buzz-out" data-toggle="tooltip" data-placement="left" title="Мы Вконтакте."></a>
                    <a target="_blank" rel="noopener" href="https://www.facebook.com/irmagirk" class="social-facebook a-buzz-out" data-toggle="tooltip" title="Мы на Фейсбуке."></a>
                    <a target="_blank" rel="noopener" href="https://twitter.com/irmag_ru" class="social-twitter a-buzz-out" data-toggle="tooltip" title="Мы в Твиттере."></a>
                    <a target="_blank" rel="noopener" href="https://plus.google.com/+IgorKhametov/posts" class="social-plusone a-buzz-out" data-toggle="tooltip" title="Мы в Гугл-плюсе."></a>
                    <a target="_blank" rel="noopener" href="https://instagram.com/irmag.ru/" class="social-instagram a-buzz-out" data-toggle="tooltip" title="Мы в Инстаграм."></a>
                    <a target="_blank" rel="noopener" href="https://t.me/irmag_ru" class="social-telegram a-buzz-out" data-toggle="tooltip" title="Мы в Телеграм."></a>
                    <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCpE1u9eJQ-B_BbtNzEu_sww/" class="social-youtube a-buzz-out" data-toggle="tooltip" title="Мы на Youtube."></a>
                    <a href="mailto:sales@irmag.ru" class="social-mail a-buzz-out" data-toggle="tooltip" data-placement="right" title="Написать нам письмо."></a>
                </div>

                <div class="visible-xs-block separator mt-20 mb-20"></div>
            </div>
        </div>

        <div class="row row-2">
            <div class="col-xs-12 col-sm-7">
                <div class="pl-10">
                    &copy; 2010 - {{ 'now'|date('Y') }} ООО «ИРМАГ», Россия, Иркутск
                </div>
            </div>

            <div class="col-not-xs-right col-xs-12 col-sm-5">
                <a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'help', _fragment: 'protection-of-personal-information' }) }}">Защита персональных данных</a>
            </div>
        </div>
    </div><!-- /.container -->
</footer>
