{% if app.request.attributes.has('_route') %}
    {% set search_reset_path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% else %}
    {% set search_reset_path = path('irmag_catalog') %}
{% endif %}

{% if is_filter_used|default(false) %}
    {% set query_url = { 'filter': filter_data|default([]) }|url_encode %}
{% endif %}

{% if query_url is defined %}
    {% set search_reset_path = search_reset_path ~ '?' ~ query_url %}
{% endif %}

<nav class="navbar navbar-static-top header-blue-line" id="header-blue-line">

    <div class="container">
        <div class="row">
            <div class="block-2 col-xs-12 col-sm-8 col-sm-push-1 col-md-8 col-md-push-2 pt-15 pb-15">
                <form action="{{ url('irmag_catalog') }}" method="get">
                    <div class="input-group input-group-lg">
                        <input type="text" name="q" id="irmag-search" class="irmag-search form-control" placeholder="{{ 'search.placeholder'|trans({}, 'irmag_site') }}" value="{% if is_search_used|default(false) %}{{ search_query|default('') }}{% endif %}" autocomplete="off" maxlength="255">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default loading hidden" id="irmag-search-loading"><i class="fa fa-heart fa-pulse"></i></button>
                            <button type="button" class="btn btn-default barcode-scanner hidden" id="barcode-scanner-btn" title="{{ 'search.tooltip.barcode_scan'|trans({}, 'irmag_site') }}" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-camera fa-fw"></i></button>
                            {% if is_search_used|default(false) %}
                                <a class="btn btn-danger" href="{{ search_reset_path }}" title="{{ 'search.tooltip.reset'|trans({}, 'irmag_site') }}" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-close fa-fw"></i></a>
                            {% endif %}
                            <button type="submit" class="btn btn-success"><i class="fa fa-search fa-fw"></i></button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="block-1 col-xs-5 col-sm-1 col-sm-pull-8 col-md-2 col-md-pull-8">
                <a href="{{ url('irmag_catalog') }}" class="catalog-btn" id="catalog-btn">
                    <span>
                        <span class="hamburger hidden-xs">
                            <span></span>
                        </span>
                        <span class="hidden-sm btn-text">Каталог</span>
                    </span>
                </a>

                {% if irmag.desktop %}
                    {{ render_hinclude(controller('Irmag\\SiteBundle\\Controller\\CatalogController::menuAction'), { attributes: { 'evaljs': 'true' } }) }}
                {% endif %}
            </div>

            <div class="block-3 col-xs-7 col-sm-3 col-md-2">
                <div class="row">
                    <div class="col-xs-6" id="total-count-basket-wrapper">
                        {{ render(controller('Irmag\\BasketBundle\\Controller\\BasketController::totalCountAction')) }}
                    </div>

                    <div class="col-xs-6" id="total-count-favorite-wrapper">
                        {{ render(controller('Irmag\\FavoriteBundle\\Controller\\FavoriteController::totalCountAction')) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="mini-basket row collapse" id="mini-basket-wrapper">
            {{ render(controller('Irmag\\BasketBundle\\Controller\\BasketController::miniBasketAction')) }}
        </div>

        <div class="mini-favorite row collapse" id="mini-favorite-wrapper">
            {{ render(controller('Irmag\\FavoriteBundle\\Controller\\FavoriteController::miniFavoriteAction')) }}
        </div>
    </div>

    {% spaceless %}
        {% if app.request.cookies.has('header_warning_line_hidden') is same as(false) %}
            {{ render_hinclude(controller('Irmag\\SiteBundle\\Controller\\NewsController::headerWarningLineAction', { isAbsolute: 'irmag_homepage' == app.request.attributes.get('_route') }), { attributes: { 'evaljs': 'true' } }) }}
        {% endif %}
    {% endspaceless %}

</nav>
