<header class="header" id="header">

    <nav class="navbar navbar-irmag">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-target="#navbar-menu" data-toggle="collapse" data-collapse-group="header-navmenu" class="navbar-toggle">
                    <i class="fa fa-bars fa-fw"></i>
                </button>
                <button type="button" data-target="#navbar-user-menu" data-toggle="collapse" data-collapse-group="header-navmenu" class="navbar-toggle">
                    <i class="fa fa-user fa-fw"></i>
                </button>
                <a href="{{ url('irmag_homepage') }}" class="navbar-brand">
                    <div></div><!-- irmag-logo -->
                </a>
            </div>

            {# navbar-menu -#}
            <div class="navbar-menu collapse navbar-collapse navbar-left" id="navbar-menu">
                <div class="telephones hidden-xs hidden-sm" itemscope itemtype="http://schema.org/Store">
                    <meta itemprop="name" content="Ирмаг">
                    <meta itemprop="email" content="sales@irmag.ru">
                    <meta itemprop="paymentAccepted" content="cash, credit card, invoice">
                    <meta itemprop="openingHours" content="Mo-Fr 09:00−18:00">
                    <meta itemprop="openingHours" content="Sa 10:00-16:00">
                    <meta itemprop="image" content="{{ absolute_url(asset('build/images/irmag-heart-colored.png')) }}">
                    <div class="hidden" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <meta itemprop="addressCountry" content="RUS">
                        <meta itemprop="postalCode" content="664013">
                        <meta itemprop="addressLocality" content="Иркутск">
                        <meta itemprop="streetAddress" content="Восточный пер., 8/2">
                    </div>
                    {% set rnd = random(1) -%}
                    <span {% if 1 == rnd %}class="hidden" {% endif %}data-toggle="tooltip" data-placement="bottom" title="Нажмите, чтобы посмотреть городской номер." itemprop="telephone">+7 (914) 899-11-00</span>
                    <span {% if 0 == rnd %}class="hidden" {% endif %}data-toggle="tooltip" data-placement="bottom" title="Нажмите, чтобы посмотреть сотовый номер." itemprop="telephone">+7 (3952) 560-565</span>
                    <small class="text-muted">(пн-пт: 9:00 - 24:00, сб: 10:00 - 16:00)</small>
                </div>

                <ul class="nav navbar-nav navbar-left header-menu">
                    <li><a href="{{ url('irmag_action') }}">АКЦИИ</a></li>
                    <li class="visible-xs-block"><a href="{{ url('irmag_brand_zones') }}">БРЕНД-ЗОНЫ</a></li>
                    <li><a href="{{ url('irmag_forum_homepage') }}">ФОРУМ</a></li>
                    <li><a href="{{ url('irmag_blog_homepage') }}">ОБЗОРЫ</a></li>
                    <li class="dropdown">
                        <a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'help' }) }}" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button">ПОМОЩЬ <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'help', _fragment: 'how-to-buy' }) }}">Как оформить заказ?</a></li>
                            <li><a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'help', _fragment: 'discounts' }) }}">Скидки</a></li>
                            <li><a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'help', _fragment: 'bonuses' }) }}">Бонусы</a></li>
                            <li><a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'help', _fragment: 'payment' }) }}">Оплата</a></li>
                            <li><a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'help', _fragment: 'delivery' }) }}">Доставка</a></li>
                            <li><a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'help', _fragment: 'clothes-sizes' }) }}">Таблицы размеров</a></li>
                            <li><a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'help', _fragment: 'return-and-exchange' }) }}">Возврат и обмен товаров</a></li>
                            <li><a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'help', _fragment: 'public-offer' }) }}">Договор публичной оферты</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'about-the-company' }) }}" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button">О НАС <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'about-the-company', _fragment: 'contacts' }) }}">Контактная информация</a></li>
                            <li><a href="{{ app.request.scheme }}://{{ irmag_site_domain }}{{ path('irmag_page', { slug: 'about-the-company', _fragment: 'socials' }) }}">Социальные проекты</a></li>
                            <li><a href="{{ url('irmag_news') }}">📰 Новости</a></li>
                            <li><a href="{{ url('irmag_forum_goto_topic', { id: 5 }) }}">Вакансии</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url('irmag_reviews') }}">ОТЗЫВЫ</a></li>
                </ul>
            </div>

            {# navbar-user-menu #}
            {{ render_hinclude(controller('Irmag\\SiteBundle\\Controller\\DefaultController::navbarUserMenuAction')) }}
        </div><!-- /.container -->
    </nav>

    {% include '@IrmagSite/header-blue-line.html.twig' %}

</header>
