<script>
{% if irmag_metrics_disabed is not defined or irmag_metrics_disabed is same as(false) %}
    // ga
    var _gaq = _gaq || [];
    var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', '{{ metrics.ga_id }}']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    // ya
    (function(x,y,u,e,r,g,a){x[r]=x[r]||function(){(x[r].a=x[r].a||[]).push(arguments)};
    x[r].l=1*new Date();g=y.createElement(u),a=y.getElementsByTagName(u)[0],g.async=1,g.src=e,a.parentNode.insertBefore(g,a)})
    (window, document, 'script', 'https://mc.yandex.ru/metrika/tag.js', 'ym');
    ym({{ metrics.ya_id }}, 'init', {
        id: {{ metrics.ya_id }},
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce :true,
        webvisor: true,
        trackHash: true
    });

    // fb_event
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','//connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{{ metrics.fb_event_id }}');
    fbq('track', 'PageView');
{% endif %}

    // tawk.to
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function(){
        var s1 = document.createElement('script'), s0 = document.getElementsByTagName('script')[0];
        s1.src='https://embed.tawk.to/{{ metrics.tawk_id }}/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>

{% if irmag_metrics_disabed is not defined %}
<noscript>
    <!-- ya -->
    <div><img src="https://mc.yandex.ru/watch/{{ metrics.ya_id }}" style="position:absolute; left:-9999px;" alt=""></div>
    <!-- fb_event -->
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{ metrics.fb_event_id }}&ev=PageView&noscript=1" alt="">
</noscript>
{% endif %}
