{% import '@IrmagSite/Catalog/macro.add-element-to-basket.html.twig' as macro_basket %}

{% spaceless %}
<div class="col-xs-6 col-sm-4 col-md-3">
    <div class="catalog-element catalog-element-grid">
        {% set url = path('irmag_catalog_element', { id: element.id }) %}

        <div class="image">
            {% set picture = element.pictures[0].file.webpath is defined
                ? element.pictures[0].file.webpath
                : constant('Irmag\\SiteBundle\\Entity\\Element::NOT_FOUND_IMAGE') %}

            <a href="{{ url }}" target="_blank">
                <img src="{{ asset(picture)|imagine_filter('catalog_elements') }}" alt="{{ element.name }}" class="img-responsive center-block">
            </a>

            {% if element.tonePicture.webpath is defined %}
                <img src="{{ asset(element.tonePicture.webpath)|imagine_filter('catalog_element_children') }}" alt="{{ element.toneName }}" title="{{ element.toneName }}" class="tone-image img-circle" data-toggle="tooltip">
            {% endif %}

        </div>

        <div class="name">
            <a href="{{ url }}" target="_blank">
                {{ element.fullName }}
            </a>
        </div>

        <div class="btns">
            <div class="btn-group">
                {% if element.groupBy %}
                    <a href="{{ path('irmag_catalog_element', { id: element.id }) }}" target="_blank" class="btn btn-primary">выбрать <small>(от {{ get_price_with_discount(element)|number_format }} <i class="fa fa-rub"></i>)</small></a>
                {% else %}
                    {{ macro_basket.add_btn(element) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
