{% if carousels %}
    <h3 class="text-center mb-0">Часто добавляют к заказу</h3>
    <div class="index-elements-carousel pre-order-zone-carousel pb-0" id="pre-order-zone-carousel">
        {% for carousel in carousels %}
            <div class="row carousel-slide">
                <section class="catalog catalog-sm catalog-not-expandable pre-order-zone-container">

                    <div class="row">
                        {% for element in carousel %}
                            {% if loop.index0 < constant('Irmag\\SiteBundle\\Entity\\Element::PRE_ORDER_ZONE_COLS_AMOUNT') %}
                                {% include '@IrmagBasket/PreOrderZone/element.html.twig'  %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="clearfix"></div>
                </section>
            </div>
        {% endfor %}
    </div>
{% endif %}