{# for IrmagFilePreviewType #}
{% block irmag_file_preview_widget %}
    {% if value.path is defined and value.path %}
        <div class="text-center inline-block">
            <a href="{{ asset(constant('Irmag\\SiteBundle\\Entity\\File::UPLOAD_DIR') ~ '/' ~ value.path) }}" target="_blank" data-toggle="tooltip" title="Нажмите, чтобы открыть полноразмерное изображение в новом окне " class="inline-block">
                <img src="{{ asset(constant('Irmag\\SiteBundle\\Entity\\File::UPLOAD_DIR') ~ '/' ~ value.path)|imagine_filter('catalog_elements') }}" alt="{{ value.path }}" class="inline-block">
            </a>

            <div>
                {% set tooltip %}
                    ID: <b>{{ value.id }}</b>
                    <br>

                    {% if value.mimeType %}
                        Тип: <b>{{ value.mimeType }}</b>
                        <br>
                    {% endif %}

                    {% if value.size %}
                        Размер: <b>{{ (value.size / 1024)|round }} KB</b> ({{ value.size }})
                        <br>
                    {% endif %}

                    Дата создания: <b>{{ value.createdAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}</b>
                    <br>
                    Дата обновления: <b>{{ value.updatedAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}</b>
                {% endset %}

                <i class="fa fa-info-circle fa-lg"
                   title="{{ tooltip|e('html') }}"
                   data-toggle="tooltip"
                   data-container="body"
                   data-html="true"></i>
            </div>
        </div>
    {% endif %}
{% endblock %}
