{% extends '@IrmagProfile/layout.html.twig' %}

{% block title %}Подтверждение email{% endblock %}

{% block content %}

    <section>
        <h2>Подтверждение email</h2>

        <p class="alert alert-success">
            <b>{{ user.name }}</b>, на адрес электронной почты "<b>{{ userConfirmation.email }}</b>" выслано письмо с дальнейшими указаниями.
        </p>
    </section>

{% endblock %}
