{% extends '@IrmagProfile/layout.html.twig' %}

{% block title %}Аутентификация{% endblock %}

{% block content %}

    <section class="login-form">

        <form action="{{ path('security_login_check') }}" method="post">
            <h2 class="text-center">Аутентификация</h2>

            {% if error %}
                <div class="alert alert-danger irmag-error"><span class="fa fa-warning fa-fw"></span> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if confirmation_email %}
                <div class="alert alert-warning">
                    Необходимо подтвердить указанный Вами <b>email</b> при регистрации.
                    Для этого перейдите по ссылке, отправленной Вам в письме на <b>{{ confirmation_email|mask_email }}</b>.
                </div>
            {% endif %}

            <div class="form-group">
                <label class="control-label required" for="username">Логин или Email</label>
                <input class="form-control" id="username" name="_username" value="{{ last_username }}" autofocus tabindex="1" required>
            </div>

            <div class="form-group">
                <label class="control-label required" for="password">Пароль</label>
                <small class="pull-right">
                    <a href="{{ path('security_restore_password') }}">забыли пароль?</a>
                </small>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="_password" tabindex="2" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-toggle="password">
                            <i class="fa fa-eye"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="_remember_me" checked>
                        <small class="text-muted">запомнить меня</small>
                    </label>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" tabindex="3" class="btn btn-success text-uppercase">Войти</button>
                <small class="text-muted m-5 visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">или</small>
                <a href="{{ path('security_registration') }}" class="btn btn-default">зарегистрироваться</a>
            </div>

            {#<hr>
            <div class="text-center">
                <h5>Войти с помощью:</h5>

                <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'google' }) }}" class="btn btn-link login-with fa fa-google fa-lg" data-toggle="tooltip" title="Google"></a>
                <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'instagram' }) }}" class="btn btn-link login-with fa fa-instagram fa-lg" data-toggle="tooltip" title="Instagram"></a>
                <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'mailru' }) }}" class="btn btn-link login-with fa fa-at fa-lg" data-toggle="tooltip" title="Mail.ru"></a>
                <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'twitter' }) }}" class="btn btn-link login-with fa fa-twitter fa-lg" data-toggle="tooltip" title="Twitter"></a>
                <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'yandex' }) }}" class="btn btn-link login-with fa fa-yahoo fa-lg" data-toggle="tooltip" title="Yandex"></a>
                <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'vkontakte' }) }}" class="btn btn-link login-with fa fa-vk fa-lg" data-toggle="tooltip" title="Vkontakte"></a>
                <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'facebook' }) }}" class="btn btn-link login-with fa fa-facebook fa-lg" data-toggle="tooltip" title="Facebook"></a>
            </div>#}

            {% set return_url = app.session.has('return_url') ? app.session.get('return_url') : url('irmag_homepage') %}
            <input type="hidden" name="_target_path" value="{{ return_url }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            IRMAG.Login.init();
        });
    </script>
{% endblock %}