{% extends '@IrmagProfile/layout.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% form_theme form _self %}

{% block _registration_hasEmail_widget %}
    {% set email_popover_help %}
        <b class="text-danger">На указанный адрес будет выслано письмо для подтверждения.</b>
        <br>
        <b>Для чего указывать почту?</b>

        <ol>
            <li>
                Для возможности восстановления доступа к профилю, в случаях:
                <ul>
                    <li>я забыл(а) пароль;</li>
                    <li>я забыл(а) логин;</li>
                    <li>я ничего не помню;</li>
                    <li>я криветко.</li>
                </ul>
            </li>
            <li>Для получения информации о текущем заказе.</li>
            <li>Для получения уведомлений о начислении бонусов.</li>
            <li>Для получения информации о статусе модерации постов в блоге и ответов модератора на обращения.</li>
            <li>Для получения уведомлений об ответах на отзывы о товарах, комментарии, вопросы на форуме и тд.</li>
            <li>Для получения рассылок с интересными предложениями, акциями, скидками и важными новостями (в случае согласия).</li>
            <li>Для получения электронной копии кассового чека от ОФД.</li>
            <li>Для получения стартового бонуса: <span class="label label-warning">{{ constant('Irmag\\SiteBundle\\Config::BONUS_FOR_REGISTRATION') }} фантиков.</span></li>
        </ol>

        <b class="text-info">Email можно изменить в разделе <span class="text-nowrap">&quot;Мой профиль / Контактные данные&quot;.</span></b>
        <br>
        <div class="text-muted text-right"><small>Поле, не обязательно для заполнения!</small></div>
    {% endset %}

    {% spaceless %}
        <div class="checkbox text-primary">
            <label for="{{ id }}">
                <input type="checkbox"
                    {{ block('widget_attributes') }}
                    {% if value is defined %} value="{{ value }}"{% endif %}
                    {% if checked %} checked="checked"{% endif %}
                >
                <span class="dotted-link">{{ label|trans({}, translation_domain) }}</span>
                <span class="pull-right">
                    &nbsp;
                    <i class="fa fa-question-circle fa-lg cursor-help" data-toggle="popover" data-placement="top" data-content="{{ email_popover_help|e('html') }}"></i>
                </span>
            </label>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _registration_hasTelephone_widget %}
    {% set telephone_popover_help %}
        <b>Указав верный мобильный (федеральный) номер при регистрации, вы получите возможность:</b>

        <ol>
            <li>Получать данные кассового чека по СМС.</li>
            <li>Получать уведомления о готовности заказа.</li>
            <li>Изредка получать самые интересные предложения.</li>
            <li>Автоматического заполнения поля номера при оформлении заказа.</li>
            <li>Быть на связи с операторами при обработке заказов и курьерами при доставке.</li>
        </ol>

        Дополнительные номера для связи можно указать в дополнительных профилях доставки и в комментарии при оформлении заказа.
        <br>
        Все данные передаються в зашифрованном виде и не доступны третьим лицам, кроме случаев, установленных законодательством РФ.
        <br>

        <b class="text-info">Отписаться от рассылок и уведомлений можно в любой момент в личном кабинете.</b>
        <br>
        <div class="text-muted text-right"><small>Поле, не обязательно для заполнения!</small></div>
    {% endset %}

    {% spaceless %}
        <div class="checkbox text-primary">
            <label for="{{ id }}">
                <input type="checkbox"
                    {{ block('widget_attributes') }}
                    {% if value is defined %} value="{{ value }}"{% endif %}
                    {% if checked %} checked="checked"{% endif %}
                >
                <span class="dotted-link">{{ label|trans({}, translation_domain) }}</span>
                <span class="pull-right">
                    &nbsp;
                    <i class="fa fa-question-circle fa-lg cursor-help" data-toggle="popover" data-placement="top" data-content="{{ telephone_popover_help|e('html') }}"></i>
                </span>
            </label>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _registration_isSmsSubscribed_widget %}
    <div class="checkbox text-primary">
        <label for="{{ id }}">
            <input type="checkbox"
                {{ block('widget_attributes') }}
                {% if value is defined %} value="{{ value }}"{% endif %}
                {% if checked %} checked="checked"{% endif %}
            >
            <span class="dotted-link">{{ label|trans({}, translation_domain) }}</span>
            <span class="pull-right">
                &nbsp;
                <i class="fa fa-question-circle fa-lg cursor-help" data-toggle="popover" data-placement="top" data-content="Будь всегда в курсе. Уведомление о статусах заказа и времени доставки."></i>
            </span>
        </label>
    </div>
{% endblock %}

{% block _registration_isEulaAccepted_label %}
    {% spaceless %}
        <div class="checkbox">
            <label for="{{ id }}">
                <input type="checkbox"
                    {{ block('widget_attributes') }}
                    {% if value is defined %} value="{{ value }}"{% endif %}
                    {% if checked %} checked="checked"{% endif %}
                >
                <small class="text-muted">
                    Я принимаю договор <a href="{{ url('irmag_page', { slug: 'help', _fragment: 'offers' }) }}" target="_blank">публичной оферты</a>
                    и даю согласие на обработку <a href="{{ url('irmag_page', { slug: 'help', _fragment: 'terms-of-use-for-cookies' }) }}" target="_blank">персональных данных</a>
                    и ознакомлен/а <a href="{{ url('irmag_page', { slug: 'help', _fragment: 'terms-of-use-for-cookies' }) }}">с условиями использования cookie-файлов</a>.
                </small>
            </label>
        </div>
    {% endspaceless %}
{% endblock %}

{% block content %}

    <section class="registration-form">
        <h2 class="text-center">Регистрация</h2>

        {{ form_start(form) }}

            {{ form_errors(form) }}
            {{ form_row(form.username, { attr: { autofocus: '' } }) }}
            {{ form_row(form.password.first) }}
            {{ form_row(form.password.second) }}

            {# email #}
            <div class="panel panel-info mb-15">
                <div class="panel-heading">
                    {{ form_widget(form.hasEmail) }}
                </div>
                <div class="panel-body hidden{% if (form.email.vars.valid is same as(false)) %} has-error{% endif %}" id="email-row">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-at"></i>
                        </span>

                        {{ form_widget(form.email) }}
                    </div>

                    {{ form_errors(form.email) }}

                    <div id="email-subscribed" class="mt-15 hidden text-right">
                        {{ form_row(form.isEmailSubscribed) }}
                    </div>
                </div>
            </div>

            {# telephone #}
            <div class="panel panel-info mb-15">
                <div class="panel-heading">
                    {{ form_widget(form.hasTelephone) }}
                </div>
                <div class="panel-body hidden{% if (form.telephone.vars.valid is same as(false)) %} has-error{% endif %}" id="telephone-row">
                    {% embed '@IrmagSite/Default/input-group-multi-telephone-field.html.twig' %}
                        {% block widget_checkbox %}
                            {{ form_widget(form.isMobileTelephone) }}
                        {% endblock %}
                        {% block widget_telephone %}
                            {{ form_widget(form.telephone) }}
                        {% endblock %}
                    {% endembed %}

                    {{ form_errors(form.telephone) }}

                    <div id="sms-subscribe-row" class="mt-15 text-right">
                        {{ form_row(form.isSmsSubscribed) }}
                    </div>
                </div>
            </div>

            <p class="text-sm">
                <label class="required mb-0"></label> - обязательное поле для заполнения.
            </p>

            {{ form_row(form.isEulaAccepted) }}

            <div class="text-center">
                <div class="btn-group">
                    <a href="{{ path('security_login') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад</a>
                    {{ form_widget(form.save, { attr: { class: 'btn-success' } }) }}
                </div>
            </div>

        {{ form_end(form) }}

    </section>

{% endblock %}

{% block additional_javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js" integrity="sha256-u7MY6EG5ass8JhTuxBek18r5YG6pllB9zLqE4vZyTn4=" crossorigin="anonymous" defer></script>

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            IRMAG.Registration.init();
        });
    </script>
{% endblock %}
