{% extends '@IrmagProfile/layout.html.twig' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

    <section>
        <h2 class="text-center">Восстановление пароля</h2>

        <p class="alert alert-info">
            Здравствуйте, <b>{{ user.username }}</b>!
            <br>
            Введите Ваш новый пароль.
        </p>

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.password.first) }}

        {{ form_row(form.password.second) }}

        <div class="text-center">
            {{ form_widget(form.save, { attr: { class: 'btn-success' } }) }}
        </div>

        {{ form_end(form) }}
    </section>

{% endblock %}
