.img-help-cat-icon {
    display: inline-block;
    background-size: cover;
    height: 64px;
    width: 64px;
    vertical-align: middle;

    &.img-how-to-buy {
        background-image: url('#{$irmag-cat-search}');
    }

    &.img-discounts {
        background-image: url('#{$irmag-cat-percent}');
    }

    &.img-bonuses {
        background-image: url('#{$irmag-cat-gift}');
    }

    &.img-payment {
        background-image: url('#{$irmag-cat-cart}');
    }

    &.img-delivery {
        background-image: url('#{$irmag-cat-delivery}');
    }

    &.img-sizes {
        background-image: url('#{$irmag-cat-review}');
    }

    &.img-return {
        background-image: url('#{$irmag-cat-trash}');
    }

    &.img-offer {
        background-image: url('#{$irmag-cat-info}');
    }

    &.img-contact {
        background-image: url('#{$irmag-cat-phone}');
    }

    &.img-social {
        background-image: url('#{$irmag-cat-favorite}');
    }
}
