{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Заказ #{{ order.id }}{% endblock %}

{% block additional_stylesheets %}
    <style type="text/css">
        table.table td {
            border-top: 1px solid #eee;
        }

        table.table td,
        table.table th {
            padding-top: 4px;
            padding-bottom: 4px;
        }
    </style>
{% endblock %}

{% block text %}
    <b>Спасибо за покупку, {{ order.user.name }}</b>.

    <p>
        Ваш заказ #<a href="{{ url('irmag_profile_order', { id: order.id }) }}">{{ order.id }}</a> от {{ order.createdAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}.
    </p>

    <table width="100%" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <td>Способ доставки:</td>
            <td>{{ order.deliveryMethod.name }}</td>
        </tr>

        {% if order.deliveryServiceData %}
            <tr>
                <td>Дата доставки:</td>
                <td>{{ order.deliveryDate|date(constant('Irmag\\SiteBundle\\Config::DATE_FORMAT')) }}</td>
            </tr>
            <tr>
                <td>Транспортная компания:</td>
                <td>{{ order.deliveryServiceData.orderDeliveryService.name }}</td>
            </tr>
            <tr>
                <td>Тип доставки:</td>
                <td>
                    {% if order.deliveryServiceData.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_TERMINAL') %}
                        До пункта самовывоза
                    {% elseif order.deliveryServiceData.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_DOOR') %}
                        До двери
                    {% endif %}
                </td>
            </tr>
            {% if order.deliveryServiceData.deliveryPointAddress is not empty %}
                <tr>
                    <td>Адрес пункта самовывоза:</td>
                    <td>{{ order.deliveryServiceData.deliveryPointAddress }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Адрес доставки:</td>
                <td>{{ order.deliveryServiceData.orderDeliveryServiceCity.name }} ({{ order.deliveryServiceData.orderDeliveryServiceCity.orderDeliveryServiceRegion.name }})</td>
            </tr>
            <tr>
                <td>Тариф:</td>
                <td>{{ order.deliveryServiceData.tariff }}</td>
            </tr>
            <tr>
                <td>Стоимость доставки:</td>
                <td>{{ order.deliveryServiceData.cost|round|number_format }} руб.</td>
            </tr>
            <tr>
                <td>Длительность доставки:</td>
                <td>{{ order.deliveryServiceData.days }} дней</td>
            </tr>
        {% elseif order.postDeliveryData %}
            <tr>
                <td>Дата доставки:</td>
                <td>{{ order.deliveryDate|date(constant('Irmag\\SiteBundle\\Config::DATE_FORMAT')) }}</td>
            </tr>
            <tr>
                <td>Почтовый адрес:</td>
                <td>{{ order.postDeliveryData.deliveryIndex ~ ', ' ~ order.postDeliveryData.deliveryCity }}</td>
            </tr>
            <tr>
                <td>Адрес:</td>
                <td>{{ order.deliveryFullAddress }}</td>
            </tr>
            <tr>
                <td>Длительность доставки:</td>
                <td>
                    {% if order.postDeliveryData.minDays %}
                        {{ order.postDeliveryData.minDays }} - {{ order.postDeliveryData.maxDays }} дней
                    {% else %}
                        до {{ order.postDeliveryData.maxDays }} дней
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                {% if order.deliveryMethod.shortname == 'selfservice' %}
                    <td>Самовывоз из:</td>
                    <td>
                        {% if order.selfserviceMethod %}
                            {{ order.selfserviceMethod.address }}
                        {% else %}
                            664013, Иркутск, Восточный пер., 8/2
                        {% endif %}
                    </td>
                {% else %}
                    <td>Адрес доставки:</td>
                    <td>{{ order.deliveryFullAddress }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Дата {% if order.deliveryMethod.shortname == 'selfservice' %}самовывоза{% else %}доставки{% endif %}:</td>
                <td>{{ order.deliveryDate|date(constant('Irmag\\SiteBundle\\Config::DATE_FORMAT')) }}</td>
            </tr>
            <tr>
                <td>Время {% if order.deliveryMethod.shortname == 'selfservice' %}самовывоза{% else %}доставки{% endif %}:</td>
                <td>{{ order.deliveryTime.name }}</td>
            </tr>
        {% endif %}

        <tr>
            <td>Способ оплаты:</td>
            <td>{{ order.paymentMethod.name }}</td>
        </tr>

        {% set bonus = get_bonus(order.totalPrice) %}
        {% if bonus != 0 %}
            <tr>
                <td>{{ 'order.receive_bonus'|trans({}, 'irmag_site') }}:</td>
                <td>{{ bonus }} Ф.</td>
            </tr>
        {% endif %}

        {% if order.spendBonus %}
            <tr>
                <td>{{ 'order.spend_bonus'|trans({}, 'irmag_site') }}:</td>
                <td>{{ order.spendBonus }} Ф.</td>
            </tr>
        {% endif %}

        {% if order.checkDeliveryMethod %}
            <tr>
                <td>Получить чек по:</td>
                <td>{{ order.checkDeliveryMethod }}</td>
            </tr>
        {% endif %}

        {% if order.deliveryPrice %}
            <tr>
                <td>Сумма заказа:</td>
                <td><b>{{ order.totalPrice }} руб.</b></td>
            </tr>
            <tr>
                <td>Стоимость доставки:</td>
                <td><b>{{ order.deliveryPrice|round|number_format }} руб.</b></td>
            </tr>
            <tr>
                <td><u>Сумма с учётом доставки:</u></td>
                <td><b>{{ (order.totalPrice + order.deliveryPrice)|number_format }} руб.</b></td>
            </tr>
        {% else %}
            <tr>
                <td><u>Сумма заказа:</u></td>
                <td><b>{{ order.totalPrice|number_format }} руб.</b></td>
            </tr>
        {% endif %}

        {% if order.mixedPayment %}
            {% if order.mixedPayment.sumCash > 0 %}
                <tr>
                    <td>- наличными</td>
                    <td>{{ order.mixedPayment.sumCash|number_format }} руб.</td>
                </tr>
            {% endif %}

            {% if order.mixedPayment.sumCard > 0 %}
                <tr>
                    <td>- картой</td>
                    <td>{{ order.mixedPayment.sumCard|number_format }} руб.</td>
                </tr>
            {% endif %}

            {% if order.mixedPayment.sumCertificate > 0 %}
                <tr>
                    <td>- сертификатом</td>
                    <td>{{ order.mixedPayment.sumCertificate|number_format }} руб.</td>
                </tr>
            {% endif %}
        {% endif %}

    </table>

    <br>

    <table class="table" width="100%" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <th>Наименование</th>
            <th></th>
            <th>Цена</th>
        </tr>
        {% for order_element in order.orderElement %}
            <tr>
                <td>
                    {% if order_element.order is defined %}
                        <a href="{{ url('irmag_catalog_element', { id: order_element.element.id }) }}" target="_blank">{{ order_element.name }}</a>
                    {% else %}
                        {{ order_element.name }}
                    {% endif %}
                </td>
                <td>x {{ order_element.amount }} шт.</td>
                <td>{{ order_element.price }} руб.</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <p>
                    Итого: <b>{{ order.totalPrice }} руб.</b>
                </p>
            </td>
        </tr>
    </table>

    <p>Вы можете следить за выполнением своего заказа в разделе <a href="{{ url('irmag_profile_orders') }}">мои заказы</a>.</p>
    <p>Ждём вас снова! Ваш <a href="{{ url('irmag_homepage') }}">Ирмаг</a>.</p>
{% endblock %}
