/*
 * Базовые и общеприменимые стили.
 */

html,
body {
    height: 100%;
    font-size: 16px;
    line-height: 18px;
    background-image: url("#{$irmag-blog-image-dir}/diamonds.png");
    position: relative;
}

/* Верхний контейнер */
div.layout-pad {
    position: relative;
    background-color: $irmag-blog-color-basic;
    max-width: $irmag-blog-max-width;
    min-height: 100%;
    overflow: hidden;
    z-index: 1;
}

div.content {
    padding-left: 5%;
}

/* Базовый контейнер */
div.blog-container {
    padding: 45px 0;
}

/* Панель с пагинацией */
div.blog-paginator {
    text-align: center;

    span,
    a {
        display: inline-block;
        background-color: $irmag-blog-color-table-odd-row;
        border: 1px solid $irmag-blog-color-user-bubble;
        border-radius: 5px;
        color: $irmag-blog-color-selected-button;
        font-size: 16px;
        padding: 6px 12px 5px;
        text-decoration: none;

        @media (max-width: $screen-xs-max) {
            font-size: 12px;
        }

        &.blog-page-dots {
            border: none;
            background-color: $irmag-blog-color-basic;
            color: $irmag-blog-color-black;
        }

        &.blog-page-current {
            color: $irmag-blog-color-black;
        }
    }
}

/* Панель с сортировкой постов */
div.sort-panel {
    margin: 70px auto 10px;
    text-align: center;
    font-family: $irmag-blog-font-thin;

    @media (max-width: $screen-xs-max) {
        margin: 40px auto 10px;
    }

    a {
        margin-left: 20px;
        font-size: 12px;

        @media (max-width: $screen-xs-max) {
            font-size: 9px;
            margin-left: 10px;
        }
    }

    span {
        @media (max-width: $screen-xs-max) {
            font-size: 10px;
        }
    }
}

/* Заголовки блога */
.blog-header {
    color: $irmag-blog-color-main-font;
    font: $irmag-blog-font-bold;
    font-size: 48px;
    line-height: 50px;
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 15%;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 5px;
    }

    @media (max-width: $screen-xs-max) {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    a {
        color: $irmag-blog-color-black;
        text-decoration: none;

        &:hover {
            color: $irmag-blog-color-link-hover;
        }

        &.blog-button-edit {
            display: inline-block;
            color: $irmag-blog-color-red;
            font-size: 20px;
            vertical-align: middle;

            &:hover {
                color: $irmag-blog-color-red-hover;
            }
        }
    }
}

/* Подзаголовки блога */
.blog-subheader {
    font: $irmag-blog-font-italic;
    font-size: 23px;
    color: $irmag-blog-color-main-font;
    margin: 0 auto 40px;
    text-align: center;
    max-width: 1000px;

    @include hyphens();

    @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
}

/* Сообщение в блоге */
.blog-message {
    font-family: $irmag-blog-font-thin;
    font-size: 18px;
    text-align: center;
    padding: 20px 0;
}

/* Текст без разрыва */
.text-nowrap {
    white-space: nowrap;
}

/* Красная кнопка */
.blog-button-red {
    background-color: $irmag-blog-color-red;

    &:hover {
        background-color: $irmag-blog-color-red-hover;
    }
}

/* Зелёная кнопка */
.blog-button-green {
    background-color: $irmag-blog-color-green;

    &:hover {
        background-color: $irmag-blog-color-green-hover;
    }
}

/* Блок для формы обратной связи */
div.blog-feedback-form {
    padding-top: 30px;

    div.feedback-form-row {
        padding: 20px 0;

        button {
            margin: 0 auto;
        }
    }
}
