/*
 * Футер.
 */

footer.footer-center {
    background-color: $irmag-blog-color-basic;
    bottom: 0;
    border: none;
    display: block;
    vertical-align: baseline;

    @media (min-width: $screen-sm-max) {
        margin-left: $irmag-blog-sidebar-width;
    }

    div.footer-center-div {
        border: none;
        text-align: center;
        vertical-align: baseline;
        padding-top: 50px;

        /* Ссылки в футере */
        a {
            margin: 0 15px;
            color: $irmag-blog-color-text;
            font-family: $irmag-blog-font-thin;
            font-size: 15px;
            font-weight: 300;
            border-bottom: 1px solid;
            text-decoration: none;

            &:hover {
                color: #4897cf;
            }

            /* Кнопка "Обратная связь" */
            &.blog-feedback {
                margin: 0;
                border-bottom: 0;
                color: $irmag-blog-color-basic;
            }
        }
    }

    /* Копирайт */
    div.footer-copyrights {
        padding: 20px 0 50px;
        text-align: center;
        color: $irmag-blog-color-text;
        font-family: $irmag-blog-font-thin;
        font-size: 15px;
        font-weight: 300;

        @media (max-width: $screen-xs-max) {
            font-size: 12px;
        }
    }

    /* Иконки для xs-размера */
    div.footer-center-icons {
        @extend .footer-center-div;

        padding-left: 0;

        a {
            border-bottom: 0 solid;
        }
    }
}
