/*
 * Плавающие кнопки логина.
 */

/* Для стандартного отображения */
div.profile-login {
    position: absolute;
    right: 40px;
    top: 50px;
    width: 85px;
    vertical-align: baseline;
    z-index: 500;

    div.profile-login-right-fix {
        position: fixed;
        width: 85px;
        z-index: 500;

        div.user-bubble {
            display: block;
            background-color: transparent;

            img {
                margin-left: 10px;
                width: 60px;
                height: 60px;
            }

            a {
                display: block;
                cursor: pointer;

                &.blog-logout-button {
                    position: absolute;
                    right: -7px;
                    top: 0;
                    height: 19px;
                    width: 19px;
                    z-index: 501;
                    color: $irmag-blog-color-main-font;

                    &:hover {
                        color: $irmag-blog-color-underline;
                    }
                }

                &.blog-login-button {
                    background-color: $irmag-blog-color-dark-background;
                    border: medium none;
                    border-radius: 3px;
                    color: $irmag-blog-color-underline;
                    font-size: 15px;
                    height: 33px;
                    line-height: 33px;
                    outline: medium none;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    }
}

/* Для xs-отображения */
div.profile-login-top-xs {
    padding-top: 10px;
    text-align: center;

    a {
        color: $irmag-blog-color-link-hover;
        font-size: 12px;
        margin: 0 10px;
        border-bottom: 1px dashed $irmag-blog-color-link-hover;

        &:hover {
            text-decoration: none;
        }
    }
}

/* Для sm-отображения */
div.profile-login-top-sm {
    z-index: 500;
    position: absolute;
    top: 35px;
    right: 10px;

    img {
        width: 40px;
        height: 40px;
    }

    span.profile-user-logout {
        color: $irmag-blog-color-underline;
        font-size: 13px;
        text-decoration: underline;
    }

    a {
        &.blog-new-post-sm {
            display: inline-block;
            position: absolute;
            top: 8px;
            right: 48px;
            color: $irmag-blog-color-underline;

            &:hover {
                text-decoration: none;
            }

            i {
                font-size: 36px;
            }
        }

        &.profile-sm-login-button {
            position: absolute;
            top: 15px;
            right: 30px;
            display: block;
            background-color: $irmag-blog-color-underline;
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 13px;
            color: $irmag-blog-color-black;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
