.admin-panel-link {
    position: fixed;
    left: 0;
    top: 25%;
    background-color: #222d32;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    color: white;
    padding: 5px 10px;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    z-index: 9999;
    border-radius: $border-radius-base $border-radius-base 0 0;

    &:hover,
    &:active,
    &:focus {
        color: #222d32;
        background-color: white;
        text-decoration: none;
    }
}

// xs
@media (max-width: $screen-xs-max) {
    .admin-panel-link {
        display: none;
    }
}
