<div class="post-uploaded-pics">
    {% if attachments is defined %}
        {% for att in attachments %}
            {% include '@IrmagAttachment/Thumbnails/uploaded-pic-container.html.twig' with { 'imgpath': att.file.webPath, 'picnumber': loop.index0 } %}
        {% endfor %}
    {% endif %}
</div>