<div class="uploaded-pic-container" data-id="{{ att.id }}">
    <i class="fa fa-times-circle-o fa-lg"></i>
    <p class="attachments-note">Pic #{{ picnumber }}</p>
    {% include '@IrmagAttachment/Thumbnails/attached-image-thumbnail.html.twig' with { 'image_path': imgpath } %}
</div>