{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Поиск по форуму{% endblock %}

{% set breadcrumbs = { 'Поиск по форуму': '' } %}
{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'search'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}
    <div class="row mt-20">
        <div class="col-xs-12">
            {{ form_start(form, { action: (path('irmag_forum_search_result'))}) }}
                <div class="row form-group">
                    <div class="col-xs-4">
                        {{ form_label(form.query) }}
                    </div>
                    <div class="col-xs-8">
                        {{ form_widget(form.query) }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-4">
                        {{ form_label(form.mode) }}
                    </div>
                    <div class="col-xs-8">
                        {{ form_widget(form.mode) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-5 mt-20">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
