{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Результаты поиска{% endblock %}

{% set breadcrumbs = { 'Результаты поиска': '' } %}
{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'search'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Результаты поиска по запросу "{{ query }}" (всего: {{ result|length }})</h3>
        </div>
        <div class="col-xs-12">

        {% if result|length > 0 %}
            <ul class="list-group">

                {% if mode == 'content' %}

                    {% for item in result %}
                        <li class="list-group-item">
                            <b>Найдено в теме:</b>
                            <a href="{{ path('irmag_forum_goto_topic', { id: item.topic.id, post: item.id }) }}">
                                {{ item.topic.title }}
                            </a>
                            <br><br>
                            <i>Текст поста:</i><br>
                            <div class="alert alert-info">
                                {{ item.textHtml|striptags }}
                            </div>
                        </li>
                    {% endfor %}

                {% else %}

                    {% if mode == 'name' %}
                        <div class="alert alert-info">
                            <i>Найдено в названиях тем</i>
                        </div>
                        <br>
                    {% endif %}

                    {% for item in result %}
                        <li class="list-group-item">
                            <a href="{{ path('irmag_forum_goto_topic', { id: item.id }) }}">
                                {{ item.title }}
                            </a>
                            <br>
                            <span>{{ item.description }}</span>
                            <br><br>

                            {% if mode == 'tags' %}
                                <i>Найдено в тегах:</i>
                                <div class="alert alert-info">
                                    {{ item.postTagsAsString }}
                                </div>
                            {% endif %}

                        </li>
                    {% endfor %}

                {% endif %}
            </ul>
        {% else %}
            <h4>
                По вашему запросу ничего не найдено.
                <a href="{{ path('irmag_forum_search') }}">Попробовать снова</a>.
            </h4>
        {% endif %}
        </div>
    </div>
{% endblock %}