{% spaceless %}
    {% if sorted %}
        {# inversed direction when sorted #}
        {% if key == 'rank' %}
            {% set tooltip = ('asc' == direction) ? 'по максимальному совпадению' : 'по минимальному совпадению' %}
        {% elseif key == 'createdAt' %}
            {% set tooltip = ('asc' == direction) ? 'от нового к более старому' : 'от старого к более новому' %}
        {% elseif key == 'name' %}
            {% set tooltip = ('asc' == direction) ? 'от Я до А' : 'от А до Я' %}
        {% elseif key == 'price' %}
            {% set tooltip = ('asc' == direction) ? 'от большей к меньшей' : 'от меньшей к большей' %}
        {% else %}
            {% set tooltip = ('asc' == direction) ? 'от большего к меньшему' : 'от меньшего к большему' %}
        {% endif %}

        {% set options = options|merge({ 'title': '<b>Сейчас</b>: ' ~ tooltip ~ '.', 'data-toggle': 'tooltip', 'data-html': 'true' }) %}
    {% endif %}

    <a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>{{ title }}</a>
{% endspaceless %}
