section.brand-zone {
    background-attachment: fixed;
    background-position: center 0;
}

    .brand-zone-logo img {
        margin-bottom: 10px;
    }

    .brand-zone-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1100px;
        height: 400px;
        background-color: rgba(152, 24, 22, .8);
        margin: auto;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .brand-zone-menu a {
        color: #181818;
        font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 24px;
        display: block;
        float: left;
        width: 32.33%;
        box-sizing: border-box;
        background-color: white;
        padding: 36px 10px 0 10px;
        text-decoration: none;
        margin: 0.5%;
        height: 95px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.2;
    }

    .brand-zone-menu a.last-link {
        padding-top: 22px;
    }

    .brand-zone-menu a:hover {
        background-color: #7f0604;
        color: white;
    }
