{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 364 } }, _fragment: anc }) }}" class="brand-zone-logo">
                    <img src="{{ web_path ~ '/logo.png'}}" alt="">
                </a>

                <div class="brand-zone-menu">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 137013, filter: { brand: { 0: 364 } }, _fragment: anc }) }}">Для всех типов</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 137174, filter: { brand: { 0: 364 } }, _fragment: anc }) }}">Блеск и Объем</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 137015, filter: { brand: { 0: 364 } }, _fragment: anc }) }}">Окрашенные</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 137020, filter: { brand: { 0: 364 } }, _fragment: anc }) }}">Ломкие и сухие</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 237369, filter: { brand: { 0: 364 } }, _fragment: anc }) }}">Питание и Рост</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 140904, filter: { brand: { 0: 364 } }, _fragment: anc }) }}" class="last-link">Дополнительный<br>уход</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
