section.brand-zones {
    .brands {
        a {
            opacity: .7;
            transition: opacity .2s ease-in-out;
            display: inline-block;
            text-decoration: none;
            margin-bottom: 30px;

            &:hover {
                opacity: 1;
            }
        }
    }
}
