section.basket {
    .pre-order-zone-container .catalog-element {
        border: 0 !important;
    }

    .pre-order-zone-carousel {
        .slick-list {
            margin-bottom: 0 !important;
        }

        .slick-arrow {
            margin-top: 0;
        }
    }
}
