section.basket {
    @import "./../../helper/helper-sticker";

    .basket-ajax-wrapper {
        opacity: 1;
    }

    .table-responsive {
        overflow-x: unset;
    }

    .bonus-pay {
        table {
            td {
                .basket-bonus-cat-pic {
                    width: 150px;
                    height: 150px;

                    @media (max-width: $screen-xs-max) {
                        width: 75px;
                        height: 75px;
                    }
                }

                .bonus-cat-1 {
                    background-image: url('#{$irmag-cat-candy-1}');
                }

                .bonus-cat-2 {
                    background-image: url('#{$irmag-cat-candy-2}');
                }

                .form-group:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .total-price-info {
        line-height: 1.5em;

        .total-price {
            font-size: 36px;
        }
    }

    .empty-basket-pic {
        width: 256px;
        height: 256px;
        background-image: url('#{$irmag-cat-cart}');
    }

    @media (max-width: $screen-xs-max) {
        .activate-promocode-block {
            text-align: right;
            margin-top: 20px;
        }
    }

    .sticky {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 1em;
        text-align: center;
        background-color: $irmag-footer-bg;
        box-shadow: 0 -2px 2px rgba(0, 0, 0, .25);
        line-height: 70px;
    }
}

/**
 * for basket and favorite
 */
.basket-and-favorite {
    hr {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    @media (max-width: $screen-xs-max) {
        .only-xs-separator {
            margin-top: 15px;
        }
    }

    .panel-heading {
        b {
            line-height: 30px;
        }
    }

    .image {
        a {
            display: block;
            position: relative;
            max-width: 100px;

            // xs
            @media (max-width: $screen-xs-max) {
                max-width: 80px;
            }

            // иконка лупы (+)
            &:hover {
                &::before {
                    @include fa-icon();

                    content: $fa-var-search-plus;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    color: $gray;
                }
            }

            .primary-image {
                //max-width: 100px;
            }

            .tone-image {
                position: absolute;
                max-width: 40px;
                max-height: 40px;
                top: 0;
                right: 0;
            }
        }
    }

    .name {
        .alert {
            display: table;
            margin-top: 5px;
            margin-bottom: 0;
            padding: 2px 5px;
        }

        .sticker {
            max-height: 30px;
            margin-right: 5px;
        }
    }

    .price {
        @include irmag-font-light();

        text-align: center;
        font-size: 24px;

        // xs
        @media (max-width: $screen-xs-max) {
            font-size: 18px;
        }

        span,
        small {
            white-space: nowrap;
        }

        small {
            white-space: nowrap;
            color: #999;
            display: block;
        }

        .action-price {
            color: $irmag-color-action-price;
        }
    }

    .col-amount {
        // xs
        @media (max-width: $screen-xs-max) {
            align-items: flex-end;
        }
    }

    .col-actions {
        justify-content: flex-end;

        // xs
        @media (max-width: $screen-xs-max) {
            align-items: flex-end;
        }

        .actions {
            text-align: right;

            // not xs
            @media (min-width: $screen-xs-max) {
                min-height: 100px;

                .add-element-to-basket,
                .move-element-from-favorite-to-favorite,
                .move-element-to-favorite {
                    margin-bottom: 4px;
                }
            }
        }
    }
}
