{% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

<div class="media{% if comment.isActive is same as(false) %} deleted{% endif %}"
    id="comment-{{ comment.id }}"
    data-comment-id="{{ comment.id }}">

    {% if comment.isActive is same as(true) %}
        <div class="media-left">
            {{ avatar.get(comment.user, 'avatar_small_thumb', 64) }}
        </div>
    {% endif %}

    <div class="media-body">
        {% if comment.isActive is same as(true) %}
            <div class="media-heading">
                {% if comment.user %}
                    {% include '@IrmagThreadComment/user-dropdown-menu.html.twig' with { user: comment.user, config_name: config_name } %}
                {% endif %}

                <small>
                    <span class="time text-muted mr-10">
                        <i class="fa fa-clock-o fa-xs"></i>
                        <time datetime="{{ comment.createdAt|date(constant('\\DateTime::RFC3339')) }}"
                            title="{{ comment.createdAt|localizeddate('full', 'none', null, null, 'd MMMM YYYY в HH:mm') }}"
                            data-toggle="tooltip"
                            class="cursor-help">
                            {{ comment.createdAt|time_diff }}
                        </time>
                    </span>

                    {% block thread_comment_anchor %}
                        <a href="#jmp-to-comment-{{ comment.id }}" class="anchor" data-jumper="comment-{{ comment.id }}"><i class="fa fa-hashtag fa-fw" data-toggle="tooltip" title="Ссылка на комментарий"></i></a>
                    {% endblock %}

                    {% if app.user and thread.isCommentable is same as(true) %}
                        <a href="#comment-{{ comment.id }}" data-toggle="scroll-to" data-offset-top="200" class="reply"><i class="fa fa-reply fa-fw" data-toggle="tooltip" title="Ответить"></i></a>
                    {% endif %}
                </small>

                {% if thread.isScorable is same as(true) %}
                    <span class="scores">
                        {% if comment.score > 0 %}
                            {% set scoreClass = ' text-success' %}
                        {% elseif comment.score < 0 %}
                            {% set scoreClass = ' text-danger' %}
                        {% else %}
                            {% set scoreClass = ' text-muted' %}
                        {% endif %}

                        <span class="score-counter{{ scoreClass }}" data-toggle="tooltip" title="Карма комментария">
                            {{ comment.score > 0 ? '+' ~ comment.score : comment.score|default(0) }}
                        </span>

                        {% if app.user and app.user is not same as(comment.user) %}
                            {% set likeClass = 'fa-thumbs-o-up' %}
                            {% set dislikeClass = 'fa-thumbs-o-down' %}

                            {% if comment_votes[comment.id] is defined %}
                                {% if comment_votes[comment.id] == 1 %}
                                    {% set likeClass = 'fa-thumbs-up' %}
                                {% elseif comment_votes[comment.id] == -1 %}
                                    {% set dislikeClass = 'fa-thumbs-down' %}
                                {% endif %}
                            {% endif %}

                            <a class="comment-vote dislike" data-comment-id="{{ comment.id }}" data-score="-1"><i class="fa {{ dislikeClass }} fa-fw text-danger" data-toggle="tooltip" title="Плохой комментарий"></i></a>
                            <a class="comment-vote like" data-comment-id="{{ comment.id }}" data-score="+1"><i class="fa {{ likeClass }} fa-fw text-success" data-toggle="tooltip" title="Хороший комментарий"></i></a>
                        {% endif %}
                    </span>
                {% endif %}

                {% if comment.rating %}
                    <div class="comment-rating" data-toggle="tooltip" title="Рейтинг: {{ comment.rating }} из 5">
                        {% for i in 1..comment.rating %}
                            <i class="fa fa-heart color-i{{ i }}"></i>
                        {% endfor %}
                        {% if 5 > comment.rating %}
                            {% for i in (comment.rating + 1)..5 %}
                                <i class="fa fa-heart-o color-i{{ i }}"></i>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

                {% if comment.isPurchasedFromUs is same as(true) and config_name == 'element' %}
                    <div class="is-purchased-from-us cursor-help pull-right label label-success{{ comment.rating ? ' mr-5' }}" title="А Вы купили?)" data-toggle="tooltip">
                        Куплено на IRMAG.RU
                    </div>

                    <div class="visible-xs-block clearfix"></div>
                {% endif %}

                {% if is_granted('ROLE_IRMAG_ADMIN_CONTENT_THREAD_COMMENT_EDITOR') %}
                    &nbsp;&nbsp;
                    {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_threadcomment_threadcomment_edit', { id: comment.id }) } -%}
                {% endif %}
            </div><!-- /.media-heading -->
        {% endif %}

        {# bad comment #}
        {% set badClass = '' %}

        {% if comment.score %}
            {% if comment.score < -4 %}
                {% set badClass = ' bad bad-5' %}
            {% elseif comment.score == -4 %}
                {% set badClass = ' bad bad-4' %}
            {% elseif comment.score == -3 %}
                {% set badClass = ' bad bad-3' %}
            {% elseif comment.score == -2 %}
                {% set badClass = ' bad bad-2' %}
            {% elseif comment.score == -1 %}
                {% set badClass = ' bad bad-1' %}
            {% endif %}
        {% endif %}

        <div class="comment-text{{ badClass }}">
            {% if comment.isActive %}
                {{ comment.textHtml|raw }}
            {% else %}
                <div class="text-muted">
                    <i class="fa fa-ban"></i> Комментарий был удалён администрацией сайта.
                    <small>
                        <i class="fa fa-clock-o fa-xs"></i>
                        <time datetime="{{ comment.updatedAt|date(constant('\\DateTime::RFC3339')) }}">{{ comment.updatedAt|date('H:i d.m.Y') }}</time>
                    </small>
                </div>
            {% endif %}
        </div>

        {% if comment.children is defined %}
            {% for comment in comment.children %}
                {% include '@IrmagThreadComment/comment.html.twig' with { comment: comment } %}
            {% endfor %}
        {% endif %}
    </div>

</div>
