<section class="thread-comments" id="thread-comments" data-id="{{ thread.id }}">
    {% if thread.commentsTotalCount > 0 %}
        <h3>
            {% block header_title %}Комментарии{% endblock %}

            <small>({{ thread.commentsTotalCount }})</small>

            {% if app.user %}
                {% block header_title_end %}
                    {% if thread.commentsTotalCount >= 10 %}
                        <small><a class="jmp-to-compose">оставить</a></small>
                    {% endif %}
                {% endblock %}
            {% endif %}
        </h3>
    {% endif %}

    {% for comment in comment_tree %}
        <div class="comments">
            {% include '@IrmagThreadComment/comment.html.twig' with { comment: comment } %}
        </div>
    {% endfor %}

    <div class="comment-compose" id="comment-compose" data-advanced="{{ is_granted('ROLE_ALLOW_ADVANCED_COMMENTS') }}">
        <h3>{% block compose_title %}Написать комментарий{% endblock %}</h3>

         {% if thread.isCommentable is same as(true) and not is_granted(disallow_roles.create) %}
            {{ form_start(comment_form, { attr: { autocomplete: 'off' } }) }}
                {% if app.user %}
                    {{ form_row(comment_form.text, { attr: { 'rows': 4 } }) }}
                {% else %}
                    {{ form_row(comment_form.text, { attr: { disabled: 'disabled', rows: 4 } }) }}
                {% endif %}

                <div class="comment-spinner text-center">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>

                {% if app.user %}
                    <div class="mb-15">
                        <button type="button" class="attach-to btn btn-primary" {% if not app.user %}disabled{% endif %}>
                            <i class="fa fa-plus"></i>
                            Добавить изображение
                        </button>
                    </div>

                    {% include '@IrmagAttachment/Thumbnails/container.html.twig' with { 'attachments': unattached_pics } %}
                {% endif %}

                <span class="comment-reply-cancel pull-left">
                    <a class="btn btn-danger">Отмена</a>
                </span>

                <div class="pull-right">
                    {% if app.user %}
                        {{ app.user.name }}
                        &nbsp;&nbsp;&nbsp;
                        {{ form_widget(comment_form.send, { attr: { class: 'btn-success' } }) }}
                    {% else %}
                        {{ form_widget(comment_form.send, { attr: { disabled: 'disabled' } }) }}
                    {% endif %}
                </div>

                {% if app.user and thread.isRatable is same as(true) %}
                    <div class="rating-separator visible-xs-block"></div>

                    <span class="block-rating pull-left">
                        <span class="rating-text pull-left">
                            Рейтинг
                            <small class="text-muted">не выбран</small>
                        </span>

                        <span class="rating pull-left">
                            <i class="fa color-i1"></i><i class="fa color-i2"></i><i class="fa color-i3"></i><i class="fa color-i4"></i><i class="fa color-i5"></i>
                        </span>
                    </span>

                    <div class="clearfix"></div>
                    <div class="mt-20 comment-help-arrow"></div>
                {% endif %}

                <div class="clearfix"></div>
            {{ form_end(comment_form) }}
        {% else %}
            <div class="alert alert-info">Комментарии отключены администрацией сайта.</div>
        {% endif %}

    </div>

    <script>
        $(function() {
            IRMAG.ThreadComment.bindJmpToComments();

            {% if app.user %}
                IRMAG.ThreadComment.init();
                IRMAG.Attachments.init('thread_comment');
            {% else %}
                IRMAG.ThreadComment.initEmojify();
            {% endif %}
        });
    </script>
</section>
