{% embed '@IrmagThreadComment/thread.html.twig' %}
    {% block header_title %}Отзывы{% endblock %}

    {% block compose_title %}
        {% if app.user %}
            Оставить отзыв

            {% if irmag.elementsQuestionsTopicId is not empty %}
                <a href="{{ path('irmag_forum_goto_topic', { id: irmag.elementsQuestionsTopicId , element: thread.ownerId, _fragment: 'jmp-to-question'}) }}" class="btn btn-warning btn-sm pull-right">Задать вопрос <span class="hidden-xs">по товару</span></a>
            {% endif %}
        {% else %}
            <a href="{{ url('security_login') }}" rel="nofollow">Войдите</a> или <a href="{{ url('security_registration') }}" rel="nofollow">зарегистрируйтесь</a>, чтобы оставить отзыв
        {% endif %}
    {% endblock %}
{% endembed %}
