{% embed '@IrmagThreadComment/thread.html.twig' %}
    {% block header_title %}Все комментарии{% endblock %}

    {% block compose_title %}
        {% if app.user %}
            Новый комментарий
        {% else %}
            <a href="{{ url('security_login') }}" rel="nofollow">Войдите</a> или <a href="{{ url('security_registration') }}" rel="nofollow">зарегистрируйтесь</a>, чтобы оставить комментарий
        {% endif %}
    {% endblock %}
{% endembed %}
