{% set commentOwnerName %}
    {% spaceless %}
        {% if config_name == 'element' %}
            к товарам
        {% elseif config_name == 'news' or config_name == 'news_in_archive' %}
            к новостям
        {% elseif config_name == 'action' or config_name == 'action_in_archive' %}
            к акциям
        {% elseif config_name == 'blog' %}
            к постам в блоге
        {% endif %}
    {% endspaceless %}
{% endset %}

{% set config_slug %}
    {% spaceless %}
        {% if config_name == 'news_in_archive' %}
            news
        {% elseif config_name == 'action_in_archive' %}
            action
        {% else %}
            {{ config_name }}
        {% endif %}
    {% endspaceless %}
{% endset %}

{% if app.user and app.user is same as(user) %}
    <a class="username self" data-toggle="tooltip" title="Это вы ;)">{{ user.name }}</a>
{% else %}
    <div class="btn-group">
        <a class="username dropdown-toggle" data-toggle="dropdown">
            {{ user.name }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ url('irmag_profile_user', { username: user.username }) }}">
                    <i class="fa fa-user fa-fw"></i>
                    Посмотреть профиль
                </a>
            </li>
            <li>
                <a href="{{ url('irmag_reviews', { user: user.id }) }}">
                    <i class="fa fa-comments fa-fw"></i>
                    Посмотреть все комментарии
                </a>
            </li>
            {% if is_granted('ROLE_IRMAG_ADMIN_ADMINISTRATION_USER_EDITOR') %}
                <li>
                    {% set adminPath = 'admin_irmag_profile_user_block_on_' ~ config_slug|trim ~ '_comments' %}

                    <a href="{{ path(adminPath, { id: user.id }) }}">
                        <i class="fa fa-ban fa-fw"></i>

                        {% if disallow_roles.create not in user.roles %}
                            Забанить в комментариях {{ commentOwnerName }}
                        {% else %}
                            Разбанить в комментариях {{ commentOwnerName }}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
