{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Вы превысили допустимое число черновиков{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container">
                <div class="common-block col-md-offset-1 col-md-10 mt-40">
                    <h1 class="blog-header">Вы превысили допустимое число черновиков</h1>
                    <p class="blog-message">
                        В блогах Ирмага ограничено количество черновиков на одного человека до {{ constant('Irmag\\BlogBundle\\BlogConfig::MAX_DRAFTS_PER_PERSON') }}.<br>
                        Вы можете <a href="{{ path('irmag_blog_user', { 'id': app.user.id }) }}">отредактировать</a> уже созданные вами черновики, или удалить лишние.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
