{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Форма обратной связи{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container">
                <h1 class="blog-header">Обращение отправлено</h1>
            </div>
        </div>
    </div>
{% endblock %}