{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Форма обратной связи{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container">
                <h1 class="blog-header">Форма обратной связи</h1>
                <div class="col-md-offset-2 col-md-8">
                    <div class="blog-feedback-form">
                        {{ form_start(form) }}
                        <div class="row feedback-form-row">
                            {{ form_widget(form.title, { 'attr': {'placeholder': 'Тема обращения' }}) }}
                        </div>
                        <div class="row feedback-form-row">
                            {{ form_widget(form.text, { 'attr': {'rows': 10 }}) }}
                        </div>
                        <div class="row feedback-form-row">
                            {{ form_widget(form.button) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}