{% if pageCount > 1 %}
    <div class="blog-paginator">
        {% if previous is defined %}
            <a href="{{ path(route, query|merge({ (pageParameterName): previous })) }}"><i class="fa fa-long-arrow-left"></i></a>
        {% endif %}

        {% if (current - first) > 2 %}
            <a href="{{ path(route, query|merge({ (pageParameterName): 1 })) }}">1</a>
            {% if current > 4 %}
                <span class="blog-page-dots">...</span>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange if page < (current + 3) %}
            {% if page != current %}
                <a href="{{ path(route, query|merge({ (pageParameterName): page })) }}">{{ page }}</a>
            {% else %}
                <span class="blog-page-first blog-page-current">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {# не вставлять пропуск, если до конца меньше 3-х элементов #}
        {% if pageCount > 4 and (last - current) > 3 %}
            <span class="blog-page-dots">...</span>
        {% endif %}

        {% if (last - current) > 2 %}
            <a href="{{ path(route, query|merge({ (pageParameterName): pageCount })) }}">{{ pageCount }}</a>
        {% endif %}

        {% if next is defined %}
            <a href="{{ path(route, query|merge({ (pageParameterName): next })) }}"><i class="fa fa-long-arrow-right"></i></a>
        {% endif %}
    </div>
{% endif %}
