<div class="row">
    <div class="sort-panel">
        <span>Сортировать по:</span>
        <span>
            {% if pagination.isSorted('createdAt') %}
                {{ knp_pagination_sortable(pagination, 'Дате', 'createdAt', { class: 'label label-info' }) }}
                <i class="fa fa-sort-amount-{{ pagination.direction('createdAt') }}"></i>
            {% else %}
                {{ knp_pagination_sortable(pagination, 'Дате', 'createdAt', { class: 'label label-default' }) }}
            {% endif %}
        </span>
        <span>
            {% if pagination.isSorted('views') %}
                {{ knp_pagination_sortable(pagination, 'Просмотрам', 'views', { class: 'label label-info' }) }}
                <i class="fa fa-sort-numeric-{{ pagination.direction('views') }}"></i>
            {% else %}
                {{ knp_pagination_sortable(pagination, 'Просмотрам', 'views', { class: 'label label-default' }) }}
            {% endif %}
        </span>
        <span>
            {% if pagination.isSorted('rating') %}
                {{ knp_pagination_sortable(pagination, 'Рейтингу', 'rating', { class: 'label label-info' }) }}
                <i class="fa fa-sort-numeric-{{ pagination.direction('rating') }}"></i>
            {% else %}
                {{ knp_pagination_sortable(pagination, 'Рейтингу', 'rating', { class: 'label label-default' }) }}
            {% endif %}
        </span>
    </div>
</div>
