{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Восстановление пароля{% endblock %}

{% block text %}
    <b>Здравствуйте, {{ user.name }}</b>.

    <p>
        Для восстановления пароля перейдите по следующей ссылке:
        <a href="{{ url('security_restore_password_by_token', { token: userConfirmation.token }) }}"><nobr>Восстановить пароль</nobr></a>.
    </p>

    <p>
        <small>
            Если вы не пытались восстановить пароль или не понимаете что происходит, то перейдите по следующей ссылке:
            <a href="{{ url('security_confirmation_remove_token', { token: userConfirmation.token }) }}">Я не пытался восстановить пароль</a>.
        </small>
    </p>
{% endblock %}
