{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}🔔 {{ notification_queue.title }}{% endblock %}

{% block text %}
    <b>Здравствуйте, {{ user.name }}</b>.

    <p>
        <a href="{{ notification_queue.url }}">{{ notification_queue.body }}</a>
    </p>
{% endblock %}
