{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}

        <div class="divage-bag">
            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1435 } }, _fragment: anc }) }}">
                <span class="divage-logo"></span>
            </a>

            <div class="divage-menu">
                <a href="{{ path('irmag_catalog_section', { sectionId: 116111, filter: { brand: { 0: 1435 } }, _fragment: anc }) }}" class="divage-menu-item item-1"></a>
                <div class="divage-hideable">
                    <div class="divage-pic divage-pic-1">
                        <img src="{{ web_path ~ '/bz_Divage_face_2.png' }}" alt="divage-pic-1-2">
                    </div>
                    <div class="divage-pic divage-pic-2">
                        <img src="{{ web_path ~ '/bz_Divage_face_1.png' }}" alt="divage-pic-1-1">
                    </div>
                </div>

                <a href="{{ path('irmag_catalog_section', { sectionId: 116110, filter: { brand: { 0: 1435 } }, _fragment: anc }) }}" class="divage-menu-item item-2"></a>
                <div class="divage-hideable">
                    <div class="divage-pic divage-pic-1">
                        <img src="{{ web_path ~ '/bz_Divage_eye_2.png' }}" alt="divage-pic-2-2">
                    </div>
                    <div class="divage-pic divage-pic-2">
                        <img src="{{ web_path ~ '/bz_Divage_eye_1.png' }}" alt="divage-pic-2-1">
                    </div>
                </div>

                <a href="{{ path('irmag_catalog_section', { sectionId: 116112, filter: { brand: { 0: 1435 } }, _fragment: anc }) }}" class="divage-menu-item item-3"></a>
                <div class="divage-hideable">
                    <div class="divage-pic divage-pic-1">
                        <img src="{{ web_path ~ '/bz_Divage_lip_2.png' }}" alt="divage-pic-3-2">
                    </div>
                    <div class="divage-pic divage-pic-2">
                        <img src="{{ web_path ~ '/bz_Divage_lip_1.png' }}" alt="divage-pic-3-1">
                    </div>
                </div>

                <a href="{{ path('irmag_catalog_section', { sectionId: 116113, filter: { brand: { 0: 1435 } }, _fragment: anc }) }}" class="divage-menu-item item-4"></a>
                <div class="divage-hideable">
                    <div class="divage-pic divage-pic-1">
                        <img src="{{ web_path ~ '/bz_Divage_nail_2.png' }}" alt="divage-pic-4-2">
                    </div>
                    <div class="divage-pic divage-pic-2">
                        <img src="{{ web_path ~ '/bz_Divage_nail_1.png' }}" alt="divage-pic-4-1">
                    </div>
                </div>

                <a href="{{ path('irmag_catalog_section', { sectionId: 116114, filter: { brand: { 0: 1435 } }, _fragment: anc }) }}" class="divage-menu-item item-5"></a>
                <div class="divage-hideable">
                    <div class="divage-pic divage-pic-1">
                        <img src="{{ web_path ~ '/bz_Divage_ass_2.png' }}" alt="divage-pic-1-2">
                    </div>
                    <div class="divage-pic divage-pic-2">
                        <img src="{{ web_path ~ '/bz_Divage_ass_1.png' }}" alt="divage-pic-1-1">
                    </div>
                </div>

                <div class="divage-default-pic">
                    <img src="{{ web_path ~ '/bz_Divage_look.png' }}" alt="divage-default-pic">
                </div>
            </div>

            <div class="divage-ziplock"></div>
        </div>

    {% endblock %}
{% endembed %}
