section.page {
    h2 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .bull {
        color: $text-muted;
        padding-left: .5em;
        padding-right: .5em;
    }

    // help
    .props {
        margin-right: 15px;
    }

    .table-vertical-align-middle {
        display: table;
        width: 100%;

        p {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
        }
    }
}
