section.brand-zone {
    background-attachment: fixed;
    background-position: center 0;
}

    .brand-zone-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1100px;
        height: 400px;
        margin: auto;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .brand-zone-wrapper {
        position: relative;
        height: 100%;
    }

    .brand-zone-wrapper img.brand-img-1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .brand-zone-wrapper img.brand-img-2 {
        position: absolute;
        top: 160px;
        left: 30px;
    }

    .brand-zone-menu {
        position: absolute;
        right: 0;
        top: 100px;
    }

    .brand-zone-menu a {
        color: white;
        display: block;
        border: 2px solid white;
        border-radius: 2px;
        text-decoration: none;
        font-size: 22px;
        background-color: rgba(0, 0, 0, .5);
        padding: 12px 5px;
        width: 320px;
        margin-bottom: 10px;
    }

    .brand-zone-menu a:hover {
        background-color: rgba(207, 167, 128, .5);
    }
