{% if breadcrumbs is defined %}
    {% set breadcrumbs = { 'Форум': url('irmag_forum_homepage') }|merge(breadcrumbs) %}
{% endif %}

{% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: breadcrumbs } %}
