<ul class="nav nav-tabs">
    <li role="presentation" {% if forumtab.active == 'forum'%}class="active"{% endif %}>
        <a href="{{ path('irmag_forum_homepage') }}">
            <span class="visible-xs"><i class="fa fa-2x fa-bars"></i></span>
            <span class="hidden-xs">Темы</span>
        </a>
    </li>
    {% if app.user %}
        <li role="presentation" {% if forumtab.active == 'profile'%}class="active"{% endif %}>
            <a href="{{ path('irmag_forum_profile', { 'id': app.user.id }) }}">
                <span class="visible-xs"><i class="fa fa-2x fa-home"></i></span>
                <span class="hidden-xs">Профиль</span>
            </a>
        </li>
    {% endif %}
    <li role="presentation" {% if forumtab.active == 'users'%}class="active"{% endif %}>
        <a href="{{ path('irmag_forum_users') }}">
            <span class="visible-xs"><i class="fa fa-2x fa-users"></i></span>
            <span class="hidden-xs">Пользователи</span>
        </a>
    </li>
    <li role="presentation" {% if forumtab.active == 'rules'%}class="active"{% endif %}>
        <a href="{{ path('irmag_forum_rules') }}">
            <span class="visible-xs"><i class="fa fa-2x fa-file-text-o"></i></span>
            <span class="hidden-xs">Правила</span>
        </a>
    </li>
    <li role="presentation" {% if forumtab.active == 'search'%}class="active"{% endif %}>
        <a href="{{ path('irmag_forum_search') }}">
            <span class="visible-xs"><i class="fa fa-2x fa-search"></i></span>
            <span class="hidden-xs">Поиск</span>
        </a>
    </li>
</ul>
