{% if pageCount > 1 %}
    <nav>
        <ul class="pagination pagination-sm clearfix" style="display: block;">
            {% if previous is defined %}
                <li>
                    <a href="{{ path(route, query|merge({ (pageParameterName): previous })) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% if (current - first) > 2 and pageCount != 4 %}
                <li>
                    <a href="{{ path(route, query|merge({ (pageParameterName): 1 })) }}">1</a>
                </li>

                {% if current > 4 %}
                    <li class="disabled">
                        <a href="#">...</a>
                    </li>
                {% endif %}
            {% endif %}

            {% for page in pagesInRange if page < (current + 3) %}
                {% if page != current %}
                    <li>
                        <a href="{{ path(route, query|merge({ (pageParameterName): page })) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="active">
                        <a href="{{ path(route, query|merge({ (pageParameterName): page })) }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {# не вставлять пропуск, если до конца меньше 3-х элементов #}
            {% if pageCount > 4 and (last - current) > 3 %}
                <li class="disabled">
                    <a href="#">...</a>
                </li>
            {% endif %}

            {% if (last - current) > 2 %}
                <li>
                    <a href="{{ path(route, query|merge({ (pageParameterName): pageCount })) }}">{{ pageCount }}</a>
                </li>
            {% endif %}

            {% if next is defined %}
            <li>
                <a href="{{ path(route, query|merge({ (pageParameterName): next })) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
