{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %} Популярные товары {% endblock %}

{% block body %}
    <div class="row">
        <div class="blog-container" itemscope itemtype="http://schema.org/ItemList">
            <h1 class="blog-header" itemprop="name">Популярные товары</h1>
            <div class="col-sm-offset-1 col-sm-10">
                {% if elements %}
                    <table class="blog-list-table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th class="head-main">Товары</th>
                                <th>Средняя оценка</th>
                                <th colspan="3">Обзоров</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in elements %}
                            <tr itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                                <td itemprop="position">{{ loop.index }}.</td>
                                <td>
                                    <h2 class="blog-list-title">
                                        <a href="{{ path('irmag_blog_item_id', { 'id': item.id }) }}" class="blog-list-link-underlined">
                                            <span itemprop="name">{{ item.name }}</span>
                                        </a>
                                    </h2>
                                    <meta itemprop="description" content="{{ item.description }}">
                                </td>
                                <td class="column-center-aligned" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                    {{ item.rate|number_format(2, ',', ' ') }}
                                    <span class="hidden" itemprop="ratingValue" content="{{ item.rate|number_format(2, ',', ' ') }}"></span>
                                    <span class="hidden" itemprop="ratingCount" content="{{ item.cnt }}"></span>
                                </td>
                                <td class="column-right-aligned">
                                    {{ item.cnt }}
                                </td>
                                <td itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="RUB">
                                    <meta itemprop="price" content="{{ item.price }}">
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </td>
                                <td class="hidden">
                                    <span itemprop="url" content="{{ url('irmag_blog_item_id', { 'id': item.id }) }}"></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="blog-message">В блоге пока не опубликовано ни одного обзора товаров.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
