<div class="col-md-offset-1 col-md-10">

    {% if related_posts %}
        <table class="blog-list-table">
            {% set user = related_posts[0].user %}

            {% if not app.user or app.user != user %}
                <thead>
                <tr>
                    <th colspan="2">Обзоры</th>
                </tr>
                </thead>
                <tbody>
                {% for related_post in related_posts %}
                    {% if post is not defined or post is defined and post.id != related_post.id %}
                        <tr id="post-{{ related_post.id }}">
                            <td class="related-post-thumbnail">
                                {% if pics[loop.index0] %}
                                    <img src="{{ asset(pics[loop.index0])|imagine_filter('blog_post_image_thumbnail') }} " alt="Превью для поста">
                                {% else %}
                                    <p>Без фото</p>
                                {% endif %}
                            </td>
                            <td>
                                <h2 class="blog-list-title">
                                    <a href="{{ path('irmag_blog_category_post', { 'categoryslug': related_post.blogSection.shortlink, 'id': related_post.id }) }}" class="blog-list-link-underlined">
                                        {{ related_post.title }}
                                    </a>
                                </h2>
                                <h3 class="blog-list-subtitle">{{ related_post.subtitle }}</h3>
                            </td>
                            {% if app.user and app.user.id == user.id %}
                                <td class="related-post-status">
                                    {{ related_post.statusNames[related.post.status] }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>

            {% else %}

                <thead>
                <tr>
                    <th colspan="2">Обзоры</th>
                    <th class="post-status-header">Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for related_post in related_posts %}
                    {% if post is not defined or post is defined and post.id != related_post.id %}
                        <tr id="post-{{ related_post.id }}" >
                            <td class="related-post-thumbnail">
                                {% if pics and pics[loop.index0] %}
                                    <img src="{{ asset(pics[loop.index0])|imagine_filter('blog_post_image_thumbnail') }}" alt="Превью для поста">
                                {% endif %}
                            </td>
                            <td>
                                <h2 class="blog-list-title">
                                    {% if related_post.blogSection is not null %}
                                        <a href="{{ path('irmag_blog_category_post', { 'categoryslug': related_post.blogSection.shortlink, 'id': related_post.id }) }}"
                                           title="Просмотреть пост">
                                            {% if related_post.title != '' %}
                                                {{ related_post.title }}
                                            {% else %}
                                                {{ 'Безымянный черновик' }}
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        {% if related_post.title != '' %}
                                            {{ related_post.title }}
                                        {% else %}
                                            {{ 'Безымянный черновик' }}
                                        {% endif %}
                                    {% endif %}
                                    <span class="blog-list-buttons">
                                    {% if related_post.status == constant('Irmag\\BlogBundle\\Entity\\BlogPost::BLOG_POST_STATUS_DRAFT')
                                    or related_post.status == constant('Irmag\\BlogBundle\\Entity\\BlogPost::BLOG_POST_STATUS_DECLINED')
                                    %}
                                        <a href="{{ path('irmag_blog_update_post', { 'id': related_post.id }) }}"
                                           class="blog-post-edit"
                                           title="Редактировать пост" >
                                            <i class="fa fa-pencil-square"></i>
                                        </a>
                                        <span class="blog-post-remove"
                                              title="Удалить пост" >
                                            <i class="fa fa-times-circle"></i>
                                        </span>
                                    {% endif %}
                                </span>
                                </h2>
                                <h3 class="blog-list-subtitle">{{ related_post.subtitle }}</h3>
                            </td>
                            <td class="related-post-status">
                                {{ related_post.statusNames[related_post.status] }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>

            {% endif %}
        </table>

    {% else %}
        <p>У автора нет других постов</p>
    {% endif %}
</div>

