{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Авторы{% endblock %}

{% block body %}
    <div class="row">
        <div class="blog-container">
            <h1 class="blog-header">Авторы</h1>

            <div class="col-md-offset-1 col-md-10">

                {% if list %}
                    {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

                    <table class="blog-list-table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th colspan="2">Автор</th>
                                <th>Обзоров</th>
                                <th class="text-center">Средний рейтинг</th>
                                <th class="text-center">Интерес</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for data in list %}
                            <tr>
                                <td>{{ loop.index }}.</td>
                                <td>
                                    <div class="hidden-xs">
                                        {{ avatar.get(data.user, 'avatar_thumb', 80) }}
                                    </div>
                                </td>
                                <td class="column-main">
                                    <h2 class="blog-list-title">
                                        <a href="{{ path('irmag_blog_user', { 'id': data.user.id }) }}" class="blog-list-link-underlined">{{ data.user.name }}</a>
                                    </h2>
                                    {% if data.user.addressCity %}
                                        <h3 class="blog-list-subtitle">
                                            {{ data.user.addressCity.name }}
                                        </h3>
                                    {% endif %}
                                </td>
                                <td class="text-center">{{ data.cnt }}</td>
                                <td class="text-center">{{ (data.rating_cnt / data.cnt)|number_format(2, ',', '') }}</td>
                                <td class="text-center">{{ (data.views_cnt / data.cnt)|number_format(2, ',', '') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                {% else %}
                    <p class="blog-message">Ещё нет ни одного автора.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
