<link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ asset('build/vendor.js') }}" defer></script>

{% block content %}{% endblock %}
