{% extends '@IrmagOnlinePayment/Payment/base.html.twig' %}

{% block content %}
    <script>
        $(function() {
            if (window.frameElement) {
                window.frameElement.height = 200;
            }

            $('#payment-frame').removeClass('block-loading');
            $('#payment-frame-spinner').hide();

            $(document).on('click', '#back-to-payment', function(){
                window.parent.location.href = "{{ url('irmag_order_new_payment') }}";
            });
        });
    </script>

    <div class="alert alert-danger">
        <p><b>Произошла ошибка во время оплаты заказа{% if id is defined %} №{{ id }}{% endif %}.</b></p>
        {% if message is defined and message is not empty %}
            <p><b>Сообщение банка:</b> {{ message }}</p>
        {% endif %}
        <p>Вы можете отменить свой заказ и переоформить его, выбрав другой способ оплаты, либо попробовать оплатить ещё раз.</p>
    </div>
    <div>
        <button type="button" id="back-to-payment" class="btn btn-success"><i class="fa fa-refresh"></i> Попробовать ещё раз</button>
    </div>
{% endblock %}
