{% if false == is_embed and payment_method not in constant('Irmag\\OnlinePaymentBundle\\Entity\\OrderOnlinePayment::IRMAG_DEFERRED_PAYMENT_METHODS') %}
    <script>
        window.onload = function() {
            window.location = '{{ payment_page }}';
        }
    </script>
{% else %}
    {% if payment_method == 'apple_pay' and apple_merchant is not empty %}
        <div id="apple-pay-block" data-merchant="{{ apple_merchant }}" data-total="{{ total }}" data-order="{{ order_id }}" data-payment="{{ payment_id }}">
            <div class="apple-pay-button-with-text apple-pay-button-black-with-text hidden" id="apple-pay-button">
                <span class="text">Оплатить с </span>
                <span class="logo"></span>
            </div>
        </div>
    {% else %}
        <iframe src="{{ payment_page }}" height="900" width="100%" scrolling="no" frameborder="0"></iframe>
    {% endif %}
{% endif %}


