{% extends '@IrmagOnlinePayment/Payment/base.html.twig' %}

{% block content %}
    <script>
        $(function() {
            window.parent.location.href = "{{ url('irmag_order_finish') }}";
        });
    </script>

    <div class="alert alert-info">Пожалуйста, подождите. Идёт обновление заказа ...</div>
{% endblock %}
