.brand-zone-wrapper {
    width: 960px;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

    .bz-back {
        position: absolute;
        top: 30px;
        left: -350px;
        display: block;
        font-family: Arial, serif;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        background-color: #d0d0d0;
        padding: 5px 10px;
    }

    .bz-menu {
        height: 400px;
        width: 960px;
        text-align: center;
        margin: 30px auto 0;
        background-image: url('block.png');
        padding: 20px;
    }

        .bz-table-menu {
            position: absolute;
            bottom: 30px;
        }

        .bz-table-menu td {
            width: 250px;
            padding: 10px 0;
        }

        td.bz-logo-wrapper {
            width: 360px;
        }

            .bz-logo {
                width: 360px;
                height: 200px;
                background-size: contain;
                background: url('sprite.png') 390px -130px;
            }

            .bz-cell-content {
                width: 100%;
                padding: 5px 0;
            }

            .bz-dotted {
                border-bottom: 3px dotted rgb(12, 45, 79);
            }

            .bz-item:hover {
                text-decoration: none;
            }

                .bz-item-icon {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    background-size: cover;
                    background: url('sprite.png') -12px 0;
                }

                    .bz-icon-1 {
                        background-position: -12px 0;
                    }

                    .bz-icon-2 {
                        background-position: -12px -67px;
                    }

                    .bz-icon-3 {
                        background-position: -10px -132px;
                    }

                    .bz-icon-4 {
                        background-position: -9px -196px;
                    }

                    .bz-icon-5 {
                        background-position: -9px -268px;
                    }

                    .bz-icon-6 {
                        background-position: -9px -330px;
                    }

                .bz-title-wrapper {
                    display: inline-block;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 170px;
                    height: 60px;
                }

                .bz-item-title {
                    display: inline-block;
                    width: 134px;
                    height: 50px;
                    background-size: cover;
                    background: url('sprite.png') 0 0;
                }

                    .bz-title-1 {
                        background-position: -133px -6px;
                    }

                    .bz-title-2 {
                        background-position: -136px -75px;
                    }

                    .bz-title-3 {
                        background-position: -135px -135px;
                    }

                    .bz-title-4 {
                        background-position: -136px -200px;
                    }

                    .bz-title-5 {
                        background-position: -135px -269px;
                    }

                    .bz-title-6 {
                        background-position: -135px -330px;
                    }

            .bz-item:hover > .bz-title-wrapper {
                background-size: cover;
                background: url('sprite.png') 295px -35px;
            }

            .bz-item-1:hover .bz-title-1 {
                background-position-x: -265px;
            }

            .bz-item-1:hover .bz-icon-1 {
                background-position-x: -77px;
            }

            .bz-item-2:hover .bz-title-2 {
                background-position-x: -268px;
            }

            .bz-item-2:hover .bz-icon-2 {
                background-position-x: -77px;
            }

            .bz-item-3:hover .bz-title-3 {
                background-position-x: -267px;
            }

            .bz-item-3:hover .bz-icon-3 {
                background-position-x: -75px;
            }

            .bz-item-4:hover .bz-title-4 {
                background-position-x: -268px;
            }

            .bz-item-4:hover .bz-icon-4 {
                background-position-x: -74px;
            }

            .bz-item-5:hover .bz-title-5 {
                background-position-x: -268px;
            }

            .bz-item-5:hover .bz-icon-5 {
                background-position-x: -74px;
            }

            .bz-item-6:hover .bz-title-6 {
                background-position-x: -267px;
            }

            .bz-item-6:hover .bz-icon-6 {
                background-position-x: -74px;
            }
