{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                {% set anc = 'jmp-to-catalog-content' %}
                <a href="{{ path('irmag_catalog', { filter: { manufacturer: {0: 43} }, _fragment: anc }) }}" class="bz-back">НА ГЛАВНУЮ</a>

                <div class="bz-menu">
                    <table class="bz-table-menu">
                        <tr>
                            <td>
                                <div class="bz-cell-content bz-dotted">
                                    <a class="bz-item bz-item-1" href="{{ path('irmag_catalog_section', { sectionId: 143666, filter: { brand: { 0: 1463 } }, _fragment: anc }) }}">
                                        <div class="bz-item-icon bz-icon-1"></div>
                                        <div class="bz-title-wrapper">
                                            <div class="bz-item-title bz-title-1"></div>
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td rowspan="3" class="bz-logo-wrapper">
                                <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1463 } }, _fragment: anc }) }}">
                                    <div class="bz-logo"></div>
                                </a>
                            </td>
                            <td>
                                <div class="bz-cell-content bz-dotted">
                                    <a class="bz-item bz-item-4" href="{{ path('irmag_catalog_section', { sectionId: 1, filter: { brand: { 0: 1463 } }, _fragment: anc }) }}">
                                        <div class="bz-title-wrapper">
                                            <div class="bz-item-title bz-title-4"></div>
                                        </div>
                                        <div class="bz-item-icon bz-icon-4"></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="bz-cell-content bz-dotted">
                                    <a class="bz-item bz-item-2" href="{{ path('irmag_catalog_section', { sectionId: 143667, filter: { brand: { 0: 1463 } }, _fragment: anc }) }}">
                                        <div class="bz-item-icon bz-icon-2"></div>
                                        <div class="bz-title-wrapper">
                                            <div class="bz-item-title bz-title-2"></div>
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="bz-cell-content bz-dotted">
                                    <a class="bz-item bz-item-5" href="{{ path('irmag_catalog_section', { sectionId: 3, filter: { brand: { 0: 1463 } }, _fragment: anc }) }}">
                                        <div class="bz-title-wrapper">
                                            <div class="bz-item-title bz-title-5"></div>
                                        </div>
                                        <div class="bz-item-icon bz-icon-5"></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="bz-cell-content">
                                    <a class="bz-item bz-item-3" href="{{ path('irmag_catalog_section', { sectionId: 143668, filter: { brand: { 0: 1463 } }, _fragment: anc }) }}">
                                        <div class="bz-item-icon bz-icon-3"></div>
                                        <div class="bz-title-wrapper">
                                            <div class="bz-item-title bz-title-3"></div>
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="bz-cell-content">
                                    <a class="bz-item bz-item-6" href="{{ path('irmag_catalog_section', { sectionId: 129103, filter: { brand: { 0: 1463 } }, _fragment: anc }) }}">
                                        <div class="bz-title-wrapper">
                                            <div class="bz-item-title bz-title-6"></div>
                                        </div>
                                        <div class="bz-item-icon bz-icon-6"></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
