.brand-zone-container {
    background-image: url('bg.jpg');
}

    .brand-zone-content {
        background-color: rgba(41, 37, 37, .7);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 960px;
        height: 400px;
        text-align: center;
    }

    .brand-zone-logo {
        display: block;
    }

    .brand-zone-column {
        width: 178px;
        height: 285px;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #1f1f1f;
        text-align: left;
        font-size: 13px;
        font-family: sans;
    }

    .brand-zone-links a {
        display: block;
        color: #7F7E7E;
        text-decoration: none;
        padding-left: 15px;
        margin-top: 2px;
        margin-bottom: 2px;
        transition: color 0.18s linear;
    }

    .brand-zone-links a:hover {
        color: #fff;
    }

    .brand-zone-links a.colored {
        color: #fff;
        font-weight: bold;
        font-size: 14px
    }

    .brand-zone-links a.colored:hover {
        text-decoration: underline;
    }
