{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig'%}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 228 } }, _fragment: anc }) }}" class="brand-zone-logo">
                <img src="{{ web_path ~ '/logo.png' }}" alt="">
            </a>

            <div class="brand-zone-column">
                <a href="{{ path('irmag_catalog_section', { sectionId: 1, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">
                    <img src="{{ web_path ~ '/c1.jpg' }}" alt="">
                </a>

                <div class="brand-zone-links">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 1, filter: { brand: { 0: 228 } }, _fragment: anc }) }}" class="colored">Уход за кожей</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 1, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">Уход за лицом</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 143898, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">Солнцезащитные стредства</a>
                    <a>&nbsp;</a>
                    <a>&nbsp;</a>
                    <a>&nbsp;</a>
                </div>
            </div>

            <div class="brand-zone-column">
                <a href="{{ path('irmag_catalog_section', { sectionId: 2, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">
                    <img src="{{ web_path ~ '/c2.jpg' }}" alt="">
                </a>

                <div class="brand-zone-links">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 2, filter: { brand: { 0: 228 } }, _fragment: anc }) }}" class="colored">Макияж</a>

                    <a href="{{ path('irmag_catalog_section', { sectionId: 116111, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">Лицо</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116110, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">Глаза</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116112, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">Губы</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116248, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">Снятие макияжа</a>
                    <a>&nbsp;</a>
                    <a>&nbsp;</a>
                </div>
            </div>

            <div class="brand-zone-column">
                <a href="{{ path('irmag_catalog_section', { sectionId: 253, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">
                    <img src="{{ web_path ~ '/c3.jpg' }}" alt="">
                </a>

                <div class="brand-zone-links">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 253, filter: { manufacturer: { 0: 34 } }, _fragment: anc }) }}" class="colored">Краски для волос</a>

                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1416 } }, _fragment: anc }) }}">Preference</a>
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1221 } }, _fragment: anc }) }}">Prodigy</a>
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1418 } }, _fragment: anc }) }}">Excellence</a>
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1417 } }, _fragment: anc }) }}">Casting Creme Gloss</a>
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 2050 } }, _fragment: anc }) }}">Colorista</a>
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 2051 } }, _fragment: anc }) }}">Magic Retouch</a>
                </div>
            </div>

            <div class="brand-zone-column">
                <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 364 } }, _fragment: anc }) }}">
                    <img src="{{ web_path ~ '/c4.jpg' }}" alt="">
                </a>

                <div class="brand-zone-links">
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 364 } }, _fragment: anc }) }}" class="colored">Уход за волосами</a>

                    <a href="{{ path('irmag_catalog_section', { sectionId: 137020, filter: { brand: { 0: 364 } }, _fragment: anc }) }}">Ломкие и сухие</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 237369, filter: { brand: { 0: 364 } }, _fragment: anc }) }}">Питание и Рост</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 137015, filter: { brand: { 0: 364 } }, _fragment: anc }) }}">Окрашенные</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 137174, filter: { brand: { 0: 364 } }, _fragment: anc }) }}">Блеск и Объем</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 137013, filter: { brand: { 0: 364 } }, _fragment: anc }) }}">Для всех типов</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 140904, filter: { brand: { 0: 364 } }, _fragment: anc }) }}">Дополнительный уход</a>
                </div>
            </div>

            <div class="brand-zone-column">
                <a href="{{ path('irmag_catalog_section', { sectionId: 231320, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">
                    <img src="{{ web_path ~ '/c5.jpg' }}" alt="">
                </a>

                <div class="brand-zone-links">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 231320, filter: { brand: { 0: 228 } }, _fragment: anc }) }}" class="colored">Уход Men Expert</a>

                    <a href="{{ path('irmag_catalog_section', { sectionId: 231439, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">Уход за кожей лица</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 143615, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">Средства для бритья</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 143617, filter: { brand: { 0: 228 } }, _fragment: anc }) }}">Уход после бритья</a>
                    <a>&nbsp;</a>
                    <a>&nbsp;</a>
                    <a>&nbsp;</a>
                </div>
            </div>

        </div>
    {% endblock %}
{% endembed %}




