<div class="post-notes-switcher">
    <ul class="post-bottom-tabs">
        <li id="post-show-comments">
            <span class="hidden-xs">Комментарии</span>
            <span class="visible-xs"><i class="fa fa-comments"></i></span>
        </li>
        <li id="post-show-others" class="post-bottom-tab-inactive">
            <span class="post-bottom-link-inactive hidden-xs">Другие обзоры автора</span>
            <span class="post-bottom-link-inactive visible-xs"><i class="fa fa-bars"></i></span>
        </li>
    </ul>
    <div class="post-bottom-tab-content">
        <div class="post-bottom-comments-content">
            {{ render_hinclude(controller('Irmag\\ThreadCommentBundle\\Controller\\ThreadCommentController::indexAction', { id: post.id, config: 'blog' }), { default: '@IrmagSite/Default/heart-loading.html.twig', attributes: { 'evaljs': 'true' } }) }}
        </div>
        <div class="post-bottom-others-content blog-list-container row">
            {% include '@IrmagBlog/Lists/related-posts.html.twig' %}
        </div>
    </div>
</div>
