{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}
    Новый обзор
{% endblock %}

{% form_theme form '@IrmagBlog/Default/fields.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="new-post-block">
                <h1 class="blog-header">Новый обзор</h1>
                {{ form_start(form, {'attr': {'class': 'new-post-form'}}) }}
                <div class="new-post-top">
                    {{ form_errors(form) }}
                    {{ form_widget(form.id) }}

                    {# Раздел обзора #}
                    <div class="row">
                        <div class="sections-list col-xs-12 btn-group">
                            {{ form_widget(form.blog_section) }}
                        </div>
                    </div>

                    <div class="row attached-elements">
                        {{ form_widget(form.post_elements) }}
                    </div>

                    <div class="row">
                        <div class="col-sm-12 hidden-xs">
                            <a class="add-to-review" >
                                <i class="fa fa-plus-square-o"></i>
                                добавить товар
                            </a>
                        </div>
                        <div class="col-xs-12 visible-xs">
                            <a class="add-to-review label label-info add-to-review-xs" >
                                + товар
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="new-post-titles">
                            <div class="col-xs-12">
                                {{ form_widget(form.title, { 'attr': { 'placeholder': 'Заголовок обзора' }}) }}
                                <span>Должен отражать содержание и тему статьи</span>
                                {{ form_widget(form.subtitle, { 'attr': { 'placeholder': 'Подзаголовок обзора' }}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="new-pre-post-notes">
                            <div class="col-xs-12">
                                1. Для разделения абзацев оставляйте между ними одну пустую строку.<br>
                                2. Все фотографии в пределах одного абзаца будут объединены в слайдер.<br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="new-post-body">
                            <div class="col-xs-12">
                                {{ form_widget(form.text, { 'attr': {'rows': 10, 'data-object': post.id }}) }}
                             </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="post-photo-upload col-xs-6">
                            <span id="add-photo-btn" class="attach-to">
                                <i class="fa fa-plus"></i>
                                Добавить фото
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {% include '@IrmagAttachment/Thumbnails/container.html.twig' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_widget(form.attachments) }}
                        </div>
                    </div>

                    <div class="new-post-notes row">
                        <div class="col-xs-12">
                            <b>Для добавления фотографии в текст статьи необходимо:</b>
                            <br>
                            1. Нажать на ссылку "Добавить фото" и выбрать фотографию на своем компьютере (поддерживаемые форматы - <i><b>jpg, png</b></i>). Миниатюра добавленного фото отобразится под данной ссылкой.
                            <br>
                            2. Установить курсор мыши (кликнуть) в нужную область текста и нажать на миниатюру фотографии, которую хотите добавить в данную область. Система сгенерирует код изображения.
                            <br>
                            3. Убедиться в корректности добавления фотографии можно при предварительном просмотре статьи.
                        </div>
                    </div>

                    <div class="new-post-tags-block row" {% if tagstr is defined %}data-tags="{{ tagstr }}"{% endif %}>
                        <div class="col-xs-12">
                            {{ form_label(form.blog_post_tags) }}
                            {{ form_widget(form.blog_post_tags) }}
                        </div>
                    </div>
                </div>

                <div class="new-post-footer row">
                    <div class="col-xs-12 col-md-4">
                        {{ form_widget(form.save_draft, {'attr': {'class': 'btn-post-to-draft'}}) }}
                    </div>
                    <div class="col-xs-12 col-md-4">
                        {{ form_widget(form.save_post, {'attr': {'class': 'btn-send-post'}}) }}
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span>Обзор будет <br>опубликован <br> после модерации</span>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(function() {
        IRMAG.Blog.Post.init();
        IRMAG.Attachments.init('blog_post');
    });
</script>
{% endblock %}
