{% block postbody %}
    {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

    <div class="post-item" itemscope itemtype="http://schema.org/Review">
        <div class="post-credentials">
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a href="{{ path('irmag_blog_user', { 'id': post.user.id }) }}" itemprop="url">
                    <span class="blog-author-avatar" itemprop="image">
                        {{ avatar.get(post.user, 'avatar_small_thumb', 35) }}
                    </span>
                    <span class="hidden-xs" itemprop="name">
                        {{ post.user.name }}
                    </span>
                </a>
            </span>
            <span class="post-credentials-delimiter"> | </span>
            <span class="hidden-xs">
                <time itemprop="dateCreated" datetime="{{ post.createdAt|date('Y-m-d') }}">
                    {{ post.createdAt|localizeddate('long', 'none', null, null, 'd MMMM yyyy в HH:mm') }}
                </time>
            </span>
            <span class="hidden-sm hidden-md hidden-lg">
                {{ post.createdAt|localizeddate('long', 'none', null, null, 'd.M.yyyy') }}
            </span>
            <span class="post-credentials-delimiter"> | </span>
            <i class="fa fa-eye"></i>
            <span>
                {{ post.views }}
            </span>
            <span class="post-credentials-delimiter"> | </span>
            <i class="fa fa-heart-o"></i>
            <span>
                {{ post.rating }}
            </span>
        </div>
        <div>
            <h2 class="blog-header" itemprop="headline">
                <a href="{{ path('irmag_blog_category_post', { 'categoryslug': post.blogSection.shortlink, 'id': post.id }) }}" itemprop="url">{{ post.title }}</a>
            </h2>
            <h1 class="blog-subheader" itemprop="description">{{ post.subtitle }}</h1>
        </div>
        <div class="post-entry-hideable" itemprop="reviewBody">
            {{ previews[post.id]|raw }}
        </div>
        <meta itemprop="keywords" content="{{ post.postTagsAsString }}">
        <div class="blogpost-microdata-hidden">
            {% for postElement in post.postElements %}
                {% set brand = postElement.element.brand %}
                {% set manufacturer = postElement.element.manufacturer %}
                <div itemprop="itemReviewed" itemscope itemtype="https://schema.org/Product">
                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="RUB">
                        <span itemprop="price">{{ postElement.element.price }}</span>
                        <link itemprop="availability" href="http://schema.org/InStock">
                        <meta itemprop="itemCondition" itemscope itemtype="http://schema.org/OfferItemCondition" content="https://schema.org/NewCondition">
                    </div>
                    <span itemprop="name">{{ postElement.element.name }}</span>
                    <span itemprop="brand">{% if brand %}{{ brand.name }}{% endif %}</span>
                    <span itemprop="manufacturer">{% if manufacturer %}{{ manufacturer.name }}{% endif %}</span>
                    <span itemprop="description">{{ postElement.element.description }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="post-entry-cut"></div>
        <a href="{{ path('irmag_blog_category_post', { 'categoryslug': post.blogSection.shortlink, 'id': post.id }) }}" class="post-read-comments">Читать полностью</a>
    </div>
{% endblock %}
