{% extends '@IrmagBlog/layout.html.twig' %}

{% block additionalMeta %}
    {% set current_url = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

    {# OpenGraph markup #}
    {% if social_preview_img %}
        <meta property="og:image" content="{{ social_preview_img }}">
        <meta property="og:image:width" content="800">
        <meta property="og:image:height" content="420">
        <meta property="og:url" content="{{ current_url }}">
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ post.title }}">
        <meta property="og:description" content="{{ post.subtitle }}">

        {# Twitter cards #}
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:site" content="@ingwar_irk">
        <meta property="twitter:title" content="{{ post.title }}">
        <meta property="twitter:description" content="{{ post.subtitle }}">
        <meta property="twitter:image:src" content="{{ social_preview_img }}">
        <meta property="twitter:url" content="{{ current_url }}">
    {% endif %}

{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container">
                <div class="post-item row" itemscope itemtype="http://schema.org/Review">
                    <input type="hidden" name="viewed-post-id" value="{{ post.id }}">
                    <div class="post-credentials">
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <a href="{{ path('irmag_blog_user', { 'id': post.user.id }) }}">
                                <span class="blog-author-avatar" itemprop="image">
                                    {{ avatar.get(post.user, 'avatar_small_thumb', 35) }}
                                </span>
                                <span itemprop="name">
                                    {{ post.user.name }}
                                </span>
                            </a>
                        </span>
                        <span class="post-credentials-delimiter"> | </span>
                        <span class="hidden-xs">
                            <time itemprop="dateCreated" datetime="{{ post.createdAt|date('Y-m-d') }}">
                                {{ post.createdAt|localizeddate('full', 'none', null, null, 'd MMMM YYYY в HH:mm') }}
                            </time>
                        </span>
                        <span class="hidden-sm hidden-md hidden-lg">
                            {{ post.createdAt|localizeddate('full', 'none', null, null, 'd.M.YYYY') }}
                        </span>
                    </div>
                    <h2 class="blog-header" itemprop="headline">{{ post.title }}</h2>
                    <h1 class="blog-subheader" itemprop="description">{{ post.subtitle }}</h1>
                    <div class="post-entry" itemprop="reviewBody">
                        {{ text_to_show|raw }}
                    </div>
                    <div class="post-bottom-block">
                        <div class="post-tags-container row">
                            Теги:
                            <meta itemprop="keywords" content="{{ post.postTagsAsString }}">
                            {% for tag in post.blogPostTags %}
                                <a href="{{ path('irmag_blog_tag_search', { 't': tag.name|trim }) }}" target="_blank">{{ tag.name|trim }}</a>
                            {% endfor %}
                        </div>
                        <div class="post-summary row">
                            {% if app.user and app.user != post.user and app.user.id not in voters or not app.user and not is_anonymous_already_voted %}
                                <span class="post-rating">
                                    <i class="fa fa-thumbs-o-up green-thumb"></i>
                                    <span>{{ post.rating }}</span>
                                    <i class="fa fa-thumbs-o-down fa-flip-horizontal red-thumb"></i>
                                </span>
                            {% else %}
                                <span class="post-rating">Рейтинг:
                                    {{ post.rating }}
                                </span>
                            {% endif %}
                            <span class="post-views"><i class="fa fa-eye"></i>{{ post.views }}</span>
                        </div>

                        {% include '@IrmagBlog/Lists/related-goods.html.twig' %}

                        {# Шарилка #}
                        <div class="text-center mt-20">
                            <p>Поделиться:</p>
                            <div class="social-likes" data-counters="no">
                                <span class="odnoklassniki a-buzz-out" title="Поделиться ссылкой в Одноклассниках"></span>
                                <span class="vkontakte a-buzz-out" title="Поделиться ссылкой во Вконтакте"></span>
                                <span class="facebook a-buzz-out" title="Поделиться ссылкой на Фейсбуке"></span>
                                <span class="twitter a-buzz-out" title="Поделиться ссылкой в Твиттере"></span>
                                <span class="plusone a-buzz-out" title="Поделиться ссылкой в Гугл-плюсе"></span>
                            </div>
                        </div>

                        {% include '@IrmagBlog/Post/bottom-block.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Blog.Page.init();
            IRMAG.View.logVisit('irmag_blog_log_post_view', $('input[name="viewed-post-id"]').val());
            IRMAG.ThreadComment.bindJmpToComments();

            {% if app.user %}
                IRMAG.ThreadComment.init();
                IRMAG.Attachments.init('thread_comment');
            {% else %}
                IRMAG.ThreadComment.initEmojify();
            {% endif %}
        });
    </script>
{% endblock %}
