{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

<div class="forum-post-wrapper row">

    {# Автор #}
    <div class="forum-post-author text-center col-xs-3 col-sm-2">
        <div class="forum-post-author-name">
            <a href="{{ path('irmag_forum_profile', { id: topic.user.id }) }}">
                <b>{{ topic.user.name }}</b>
            </a>
        </div>

        {# Ранг пользователя #}
        <div class="forum-post-author-rank">
            {% if topic.user in moderators %}
                <span class="label label-danger">Модератор</span>
            {% else %}
                Покупатель
            {% endif %}
        </div>

        {% include '@IrmagForum/Post/post-user-rating.html.twig' with { user: topic.user } %}

        {# Аватар #}
        <div>
            <div class="hidden-xs">
                {{ avatar.get(topic.user, 'avatar_thumb_xs', 100) }}
            </div>
            <div class="visible-xs">
                {{ avatar.get(topic.user, 'avatar_small_thumb', 64) }}
            </div>
        </div>

        <div class="forum-post-author-info mt-40 hidden-xs">
            Регистрация: {{ topic.user.createdAt|localizeddate('full', 'none', null, null, 'dd.MM.Y') }}
            <br>
            Статус: вне форума
        </div>

        {% if app.user and app.user != topic.user %}
            <div class="forum-post-author-connect">
                {% block allPostsLink %}
                <a href="{{ path('irmag_forum_user_posts', { userId: topic.user.id }) }}" title="Все посты автора" data-toggle="tooltip" data-placement="bottom">
                    <i class="fa fa-comments"></i>
                </a>
                {% endblock %}

                <a href="mailto:{{ topic.user.email }}" title="Связаться по e-mail">
                    <i class="fa fa-envelope-o"></i>
                </a>
            </div>
        {% endif %}
    </div>

    {% set poll = topic.poll %}

    {# Управление опросом #}
    <div class="col-xs-9 col-sm-10">
        <a name="{{ poll.id }}"></a>
        <div class="forum-post-credentials">

            {# Дата публикации #}
            <div class="hidden-xs">
                <time datetime="{{ poll.createdAt|date(constant('\\DateTime::RFC3339')) }}">
                    {{ poll.createdAt|localizeddate('full', 'none', null, null, 'd MMMM YYYY в HH:mm') }}
                </time>
            </div>
            <div class="visible-xs">
                <time datetime="{{ poll.createdAt|date(constant('\\DateTime::RFC3339')) }}">
                    {{ poll.createdAt|date('d.m.Y в H:m') }}
                </time>
            </div>

            <div class="forum-post-actions">
                <a
                    href="{{ path('irmag_forum_goto_topic', { id: topic.id}) }}"
                    data-id="{{ poll.id }}" class="forum-post-unique-id"
                >
                    Опрос #{{ poll.id }}
                </a>
            </div>
        </div>

        <div class="mt-20">
            {{ render(controller('Irmag\\PollBundle\\Controller\\DefaultController::indexAction', { entity: topic })) }}
        </div>

    </div>
</div>
