{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Результаты поиска{% endblock %}

{% block body %}
    {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container">

                <h1 class="blog-header">Результаты поиска</h1>

                <div class="search-subresults col-md-offset-1 col-md-10">
                    <br>
                    <p>Вы искали: "<strong>{{ searchphrase }}</strong>"</p>
                    {% if result_titles|length == 0 and result_text|length == 0 %}
                        <p class="blog-message">К сожалению, по вашему запросу ничего не найдено.</p>
                    {% else %}

                        {# Поиск по заголовкам #}
                        {% if result_titles %}
                            <div class="search-result-block" >
                                <p class="blog-found-items"> Найдено в заголовках: всего {{ result_titles|length }} </p>
                                {% for item in result_titles %}

                                    <div class="search-result-item container-fluid" >
                                        <div class="col-xs-3 search-avatar-block">
                                            {{ avatar.get(item.user, 'avatar_small_thumb', 64) }}
                                            <p>
                                                <a href="{{ path('irmag_blog_user', { 'id': item.user.id }) }}">
                                                    {{ item.user.name }}
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-xs-9">
                                            <h1>
                                                <a href="{{ path('irmag_blog_category_post', { 'categoryslug': item.blogSection.shortlink, 'id': item.id }) }}">
                                                    {{ item.title }}
                                                </a>
                                            </h1>
                                            <h2>{{ item.subtitle }}</h2>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {# Поиск по тегам #}
                        {% if result_tags|length > 0 %}
                            <div class="search-result-block" >
                                <p class="blog-found-items"> Найдено в тегах: всего {{ result_tags|length }} </p>
                                {% for post in result_tags %}
                                    <div class="search-result-item container-fluid" >
                                        <div class="col-xs-3 search-avatar-block">
                                            {{ avatar.get(post.user, 'avatar_small_thumb', 64) }}
                                            <p>
                                                <a href="{{ path('irmag_blog_user', { 'id': post.user.id }) }}">
                                                    {{ post.user.name }}
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-xs-9">
                                            <h1>
                                                <a href="{{ path('irmag_blog_category_post', { 'categoryslug': post.blogSection.shortlink, 'id': post.id }) }}">
                                                    {{ post.title }}
                                                </a>
                                            </h1>
                                            <h2>
                                                <u>Теги</u>: {{ post.postTagsAsString }}
                                            </h2>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {# Поиск по тексту #}
                        {% if result_text|length != 0 %}
                            <div class="search-result-block" >
                                <p class="blog-found-items"> Найдено в тексте поста: всего {{ result_text|length }} </p>
                                {% for item in result_text %}

                                    <div class="search-result-item container-fluid" >
                                        <div class="col-xs-3 search-avatar-block">
                                            {{ avatar.get(item.user, 'avatar_small_thumb', 64) }}
                                            <p>
                                                <a href="{{ path('irmag_blog_user', { 'id': item.user.id }) }}">
                                                    {{ item.user.name }}
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-xs-9">
                                            <h1>
                                                <a href="{{ path('irmag_blog_category_post', { 'categoryslug': item.blogSection.shortlink, 'id': item.id }) }}">
                                                    {{ item.title }}
                                                </a>
                                            </h1>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
