<div class="container-fluid">
    <div class="row">
        <div class="search-block">
            <form class="search-block-form" method="GET" action="{{ path('irmag_blog_search') }}">
                <button id="blog-search-submit" >
                    <i class="fa fa-search"></i>
                </button>
                <input placeholder="Поиск по обзорам" name="q">
            </form>
        </div>
    </div>
</div>
