{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Поиск по тегу: {{ searchphrase }}{% endblock %}

{% block body %}
    {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container col-md-offset-1 col-md-10">
                <div class="search-result-block" >
                    <h1 class="blog-header">Записи с тегом: «{{ searchphrase }}»</h1>
                    {% if result|length == 0 %}
                        <p class="blog-message">К сожалению, по вашему запросу ничего не найдено.<p>
                    {% else %}
                        <div>
                            {% for post in result %}
                                <div class="search-result-item container-fluid" >
                                    <div class="col-xs-3 search-avatar-block">
                                        {{ avatar.get(post.user, 'avatar_small_thumb', 64) }}
                                        <p>
                                            <a href="{{ path('irmag_blog_user', { 'id': post.user.id }) }}">
                                                {{ post.user.name }}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-xs-9">
                                        <h1>
                                            <a href="{{ path('irmag_blog_category_post', { 'categoryslug': post.blogSection.shortlink, 'id': post.id }) }}">
                                                {{ post.title }}
                                            </a>
                                        </h1>
                                        <h2><u>Теги</u>: {{ post.postTagsAsString }}</h2>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
