{% extends '@IrmagProfile/layout.html.twig' %}

{% set irmag_metrics_disabed = irmag_metrics_disabed is defined ? irmag_metrics_disabed : true %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
