{% extends '@IrmagSite/layout.html.twig' %}

{% set irmag_metrics_disabed = irmag_metrics_disabed is defined ? irmag_metrics_disabed : true %}
{% set meta_robots_noindex = true %}
{% set meta_robots_nofollow = true %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ preload(asset('build/irmag-profile.css'), { as: 'style' }) }}">
{% endblock %}

{% block additional_javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js" integrity="sha256-u7MY6EG5ass8JhTuxBek18r5YG6pllB9zLqE4vZyTn4=" crossorigin="anonymous" defer></script>

    <script src="{{ preload(asset('build/irmag-profile.js'), { as: 'script' }) }}" defer></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Site.bindBootstrapPopover();
        });
    </script>
{% endblock %}
