{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set count = 0 %}
    {% for basket_element in object.basketElements %}
        {% set count = count + basket_element.amount %}
    {% endfor %}
    {{ object.basketElements|length }} / {{ count }}
{% endblock %}
