{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.status is not null %}

        {% set status = object.status.name %}

        {% if is_granted('ROLE_IRMAG_ADMIN_ORDER_ONLINE_PAYMENT_PROVIDER_EDIT') %}
            <a href="{{ path('admin_irmag_onlinepayment_orderonlinepaymentprovider_edit', { id: value.id }) }}">
        {% endif %}

        {% if status == constant('Irmag\\OnlinePaymentBundle\\Entity\\OrderOnlinePaymentStatus::PAYMENT_STATUS_DECLINED_SHORTNAME')
            or status == constant('Irmag\\OnlinePaymentBundle\\Entity\\OrderOnlinePaymentStatus::PAYMENT_STATUS_REVERTED_SHORTNAME') %}
            <span class="label label-danger">{{ object.status.nameTranslated }}</span>
        {% elseif status == constant('Irmag\\OnlinePaymentBundle\\Entity\\OrderOnlinePaymentStatus::PAYMENT_STATUS_APPROVED_SHORTNAME') %}
            <span class="label label-success">{{ object.status.nameTranslated }}</span>
        {% elseif status == constant('Irmag\\OnlinePaymentBundle\\Entity\\OrderOnlinePaymentStatus::PAYMENT_STATUS_DEPOSITED_SHORTNAME') %}
            <span class="label label-warning">{{ object.status.nameTranslated }}</span>
        {% elseif status == constant('Irmag\\OnlinePaymentBundle\\Entity\\OrderOnlinePaymentStatus::PAYMENT_STATUS_REFUND_SHORTNAME') %}
            <span class="label label-info">{{ object.status.nameTranslated }}</span>
        {% else %}
            <span class="label label-default">{{ object.status.nameTranslated }}</span>
        {% endif %}

        {% if is_granted('ROLE_IRMAG_ADMIN_ORDER_ONLINE_PAYMENT_PROVIDER_EDIT') %}
            </a>
        {% endif %}

    {% endif %}
{% endblock %}