{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}

    {% if object.provider and object.provider.shortname == 'sberbank' %}
        {% set link = 'https://securepayments.sberbank.ru/mportal/#orders/' ~ object.acquiringId ~ '/details' %}
    {% endif %}

    {% if link is defined %}
        <a href="{{ link }}">
            {{ object.acquiringId }}
        </a>
    {% else %}
        {{ object.acquiringId }}
    {% endif %}

{% endblock %}