{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.provider is not null %}

        {% set provider = object.provider.shortname %}

        {% if provider == 'sberbank' %}
            <span class="label label-success">{{ object.provider.name }}</span>
        {% elseif provider == 'openbank' %}
            <span class="label label-info">{{ object.provider.name }}</span>
        {% endif %}

    {% endif %}
{% endblock %}