{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div style="min-width: 1em;">
        <div class="dropdown" style="position: absolute;">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-gear"></i>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                {% if admin.isGranted('VIEW') %}
                    <li>
                        <a href="{{ admin.generateUrl('show', { id : object.id }) }}"><i class="fa fa-eye"></i> Показать</a>
                    </li>
                {% endif %}
                {% if admin.isGranted('EDIT') %}
                    <li>
                        <a href="{{ admin.generateUrl('edit', { id: object.id }) }}"><i class="fa fa-edit"></i> Редактировать</a>
                    </li>
                    <li>
                        <a href="{{ admin.generateObjectUrl('change_user_activity', object) }}">
                            {% if object.isActive %}
                                <i class="fa fa-ban"></i> Заблокировать
                            {% else %}
                                <i class="fa fa-user-circle"></i> Разблокировать
                            {% endif %}
                        </a>
                    </li>

                    <li role="separator" class="divider"></li>

                    <li>
                        <a href="{{ path('admin_irmag_site_order_list', { filter: { user: { value: object.id } } }) }}">
                            <i class="fa fa-shopping-bag"></i> Заказы
                        </a>
                    </li>

                    <li role="separator" class="divider"></li>

                    {% set isGrantedForum = 'ROLE_IRMAG_DISALLOW_FORUM_POST_CREATE' not in object.roles and 'ROLE_IRMAG_DISALLOW_FORUM_TOPIC_CREATE' not in object.roles %}

                    <li>
                        <a href="{{ admin.generateObjectUrl('block_on_forum', object) }}">
                            {% if isGrantedForum %}
                                <i class="fa fa-ban"></i> Заблокировать на форуме
                            {% else %}
                                <i class="fa fa-user-circle"></i> Разблокировать на форуме
                            {% endif %}
                        </a>
                    </li>

                    {% set isGrantedElementComment = 'ROLE_IRMAG_DISALLOW_THREAD_COMMENT_ELEMENT_CREATE' not in object.roles %}

                    <li>
                        <a href="{{ admin.generateObjectUrl('block_on_element_comments', object) }}">
                            {% if isGrantedElementComment %}
                                <i class="fa fa-ban"></i> Заблокировать в комментариях к товарам
                            {% else %}
                                <i class="fa fa-user-circle"></i> Разблокировать в комментариях к товарам
                            {% endif %}
                        </a>
                    </li>

                    {% set isGrantedNewsComment = 'ROLE_IRMAG_DISALLOW_THREAD_COMMENT_NEWS_CREATE' not in object.roles %}

                    <li>
                        <a href="{{ admin.generateObjectUrl('block_on_news_comments', object) }}">
                            {% if isGrantedNewsComment %}
                                <i class="fa fa-ban"></i> Заблокировать в комментариях к новостям
                            {% else %}
                                <i class="fa fa-user-circle"></i> Разблокировать в комментариях к новостям
                            {% endif %}
                        </a>
                    </li>

                    {% set isGrantedNewsComment = 'ROLE_IRMAG_DISALLOW_THREAD_COMMENT_ACTION_CREATE' not in object.roles %}

                    <li>
                        <a href="{{ admin.generateObjectUrl('block_on_action_comments', object) }}">
                            {% if isGrantedNewsComment %}
                                <i class="fa fa-ban"></i> Заблокировать в комментариях к акциям
                            {% else %}
                                <i class="fa fa-user-circle"></i> Разблокировать в комментариях к акциям
                            {% endif %}
                        </a>
                    </li>

                    {% set isGrantedBlogComment = 'ROLE_IRMAG_DISALLOW_THREAD_COMMENT_BLOG_CREATE' not in object.roles %}

                    <li>
                        <a href="{{ admin.generateObjectUrl('block_on_blog_comments', object) }}">
                            {% if isGrantedBlogComment %}
                                <i class="fa fa-ban"></i> Заблокировать в комментариях в блоге
                            {% else %}
                                <i class="fa fa-user-circle"></i> Разблокировать в комментариях в блоге
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{{ path('irmag_homepage', { '_switch_user': object.username }) }}"><i class="fa fa-chevron-circle-right"></i> Войти под ним</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
