{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

{% block field %}
    {% if object is defined %}
        {{ avatar.get(object, 'avatar_small_thumb', 64) }}
    {% endif %}
{% endblock %}
