.brand-zone-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1100px;
    height: 400px;
    margin: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.brand-zone-wrapper {
    position: relative;
    height: 100%;
}

.brand-zone-wrapper img.brand-img-1 {
    position: absolute;
    top: 0;
    left: 0;
}
