<div><a class="dotted-link" href="#contacts">Контактная информация</a> <span class="bull">&bull;</span> <a class="dotted-link" href="#socials">Социальные проекты</a><span class="bull"></span></div>
&nbsp;

<h2 class="mt-0" id="contacts"><span class="img-help-cat-icon img-contact"></span> Контактная информация</h2>

<div class="mb-20" id="google-maps-container" style="height: 400px;"></div>

<address>Адрес: <a class="dotted-link fancybox" data-fancybox-type="iframe" data-toggle="tooltip" href="https://www.google.com/maps/embed/v1/place?q=664013%2C%20%D0%98%D1%80%D0%BA%D1%83%D1%82%D1%81%D0%BA%2C%20%D0%92%D0%BE%D1%81%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B9%20%D0%BF%D0%B5%D1%80.%2C%208%20%D0%98%D0%A0%D0%9C%D0%90%D0%93&amp;key=AIzaSyD3pYQN4bb4Z4lSUlMjWpzhIT7VGw5Y2tg" title="Нажмите, чтобы посмотреть карту проезда."> Россия, 664013, г. Иркутск, пер. Восточный, 8/2. </a><br>
    Телефоны: +7 (914) 899-11-00, +7 (3952) 560-565<br>
    Факс: +7 (3952) 478-656<br>
    Электронная почта: <a href="mailto:sales@irmag.ru">sales@irmag.ru</a></address>

<table class="table table-striped">
    <thead>
    <tr>
        <th colspan="3">Время работы офиса</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>С понедельника по пятницу</td>
        <td>Суббота</td>
        <td>Воскресенье</td>
    </tr>
    <tr>
        <td class="success">09.00 &ndash; 18.00</td>
        <td class="warning">09.00 &ndash; 12.00</td>
        <td class="danger">Выходной</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th colspan="2">Информация о юридическом лице</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Юридическое наименование</td>
        <td>ООО &laquo;ИРМАГ&raquo;</td>
    </tr>
    <tr>
        <td>Юридический адрес</td>
        <td>г. Иркутск, пер. Восточный, 8</td>
    </tr>
    <tr>
        <td>Адрес местонахождения</td>
        <td>г. Иркутск, пер. Восточный, 8/2</td>
    </tr>
    <tr>
        <td>Почтовый адрес</td>
        <td>664013, г. Иркутск &ndash; 13, а/я 60.</td>
    </tr>
    <tr>
        <td>ИНН/КПП</td>
        <td>3810063438/381001001</td>
    </tr>
    <tr>
        <td>ОГРН</td>
        <td>1163850065070</td>
    </tr>
    <tr>
        <td>Код ОКПО</td>
        <td>01887643</td>
    </tr>
    <tr>
        <td>Код ОКВЭД</td>
        <td>52.33</td>
    </tr>
    <tr>
        <td>Расчетный счет</td>
        <td>40702810918350013902</td>
    </tr>
    <tr>
        <td>Корреспондентский счет</td>
        <td>30101810900000000607</td>
    </tr>
    <tr>
        <td>Расчетный банк</td>
        <td>Байкальский банк ПАО Сбербанк г. Иркутск</td>
    </tr>
    <tr>
        <td>БИК</td>
        <td>042520607</td>
    </tr>
    <tr>
        <td>Директор</td>
        <td>Хаметов Игорь Юрьевич (действует на основании Устава)</td>
    </tr>
    </tbody>
</table>

<h3>IRMAG &ndash; Интернет-магазин косметики, парфюмерии, бытовой химии, товаров для дома и многого другого.</h3>

<p>Мы стараемся облегчить Вашу жизнь: устанавливаем выгодные цены, доставляем товары на дом, даем возможность оплачивать покупки с помощью карты через мобильный терминал, подбираем удобное время для доставки и, конечно же, дарим вам скидки и подарки. В ассортименте магазина представлено более 23000 наименований товаров на любой, даже самый притязательный, вкус.</p>

<p>У нас Вы найдете продукцию самых известных торговых марок: Johnson&amp;Johnson, Reckitt&amp;Benckizer, Garnier, Maybelline NY, L&#39;Oreal, Colgate&amp;Palmolive, Procter&amp;Gamble, R.O.C.S., Splat, Schwarzkopf&amp;Henkel, Unilever, Pigeon, Loks, Mellerud, Frau Scmidt, Babyline, Coty, SCJohnson, SCA Hygiene Products Russia, Wella Professional и многое другое</p>

<p>Подробная карточка товаров с фотографией и описанием, удобная система поиска и фильтра по брендам и производителям превращают выбор необходимых товаров в удовольствие, а ежечасное обновление остатков на сайте гарантирует наличие выбранного Вами товара на складе. По всем вопросам для Вас работает on-line консультант, у которого Вы можете узнать все об интересующем товаре: его свойства, инструкция, состав, когда он появится в Интернет-магазине, если он отсутствует, и не только. Также Вы можете позвонить по телефону 560-565 или 99-11-00 и задать лично менеджеру интересующие Вас вопросы.</p>

<p>Вы можете оформлять заказы 24 часа в сутки. Ваш заказ будет обработан в рабочее время и отправлен Вам в ближайший доступный интервал времени доставки.<br>
    <br>
    Интернет-магазин IRMAG работает в строгом соответствии с действующим Российским законодательством, в частности, с Законом РФ &laquo;О защите прав потребителей&raquo;, каждый заказ сопровождается необходимыми документами (кассовый и товарный чеки). Весь товар сертифицирован. По Вашему запросу мы можем предоставить все документы, подтверждающие его подлинность, в соответствии с требованиями торговли и законом РФ &quot;О защите прав потребителей&quot;.</p>

<h4>Ирмаг (Irmag) зарегистрирован как товарный знак</h4>

<p>Уважаемые посетители сайта irmag.ru, теперь если вы где-то слышите слово Ирмаг, то знайте, что речь идет именно о нашем интернет-магазине. Все потому что Ирмаг (Irmag) теперь официально является товарным знаком, зарегистрированным в Государственном реестре товарных знаков и знаков обслуживания.</p>

<p>Товарный знак &ndash; это средство индивидуализации предприятия, а также производимых им товаров или услуг. Это значит, что теперь Интернет-магазин Ирмаг (Irmag) имеет исключительное право на это название (согласно ст.1229 ГК РФ), так как правообладатель товарного знака имеет право его использовать, им распоряжаться и запрещать его использование другими лицами.</p>

<p>Незаконное использование товарного знака Ирмаг (Irmag) влечет за собой гражданско-правовую (ст. 1515 ГК РФ), административную (ст. 14.10. КоАП РФ) и уголовную ответственность (ст. 180 УК РФ).</p>

<div class="row">
    <div class="col-md-6"><img alt="" class="img-responsive center-block" src="https://irmag.ru/uploads/custom/Help/img_help_about_1.jpg" style="max-height: 500px;"></div>

    <div class="col-md-6"><img alt="" class="img-responsive center-block" src="https://irmag.ru/uploads/custom/Help/img_help_about_2.jpg" style="max-height: 500px;"></div>
</div>

<div class="row">
    <div class="col-md-12"><img alt="" class="img-responsive center-block" src="https://irmag.ru/uploads/custom/Action/16.12_Happy/img_newoffice.jpg" style="max-height: 500px;"></div>

    <h2 id="socials"><span class="img-help-cat-icon img-social"></span> Социальные проекты</h2>

    <h5>Наши социальные проекты:</h5>

    <ol>
        <li>До 5% от суммы каждого заказа + бонусы, пожертвованные клиентами из копилки, уходят в фонд помощи детям сиротам, детям инвалидам и отказничкам в детские дома и больницы Иркутской области.</li>
        <li>Одиноким инвалидам и пенсионерам, независимо от общей суммы заказов, будет устанавливаться 10% скидка.<br>
            Внимание! Скидку мы даем именно одиноким людям, а не любому человеку просто по предъявлению чьего-то документа. Это не способ экономии всеми доступными методами, а социальный проект, направленный на помощь нуждающимся.</li>
        <li>Всем организациям и частным лицам, занимающимся благотворительностью и способным подтвердить свой статус (доверенность от детского дома или больницы), на весь ассортимент магазина будет устанавливаться оптовая цена.</li>
    </ol>

    <p>Справки по телефонам: +7 (914) 8-99-11-00, +7 (3952) 560-565</p>
    <img alt="" class="img-responsive center-block" src="https://irmag.ru/uploads/custom/Help/img_help_about_1.png" style="max-height: 500px;"> <small class="text-muted">*** Информация о расходовании средств, списке учреждений и ответственных лицах с номерами контактных телефонов находится в отдельной ветке форума.</small></div>
