<div>
    <ol>
        <li>Старайтесь писать грамотно. Проверяйте написанные сообщения, перед тем как их отправить.</li>
        <li>При написании сообщения избегайте излишнего цитирования.</li>
        <li>Запрещается копировать или переписывать текст с других сайтов (в том числе запрещается копировать свои тексты, ранее опубликованные на других сайтах). Пожалуйста, пишите отзывы только на основе собственного опыта. Все отзывы проверяются на плагиат &mdash; копии и рерайты не пройдут модерацию.</li>
        <li>Обзор должен соответствовать следующим правилам:
            <ol>
                <li>Объем текста 500 знаков или более.</li>
                <li>Текст написан автором на основе собственного опыта, а не скопирован и не переписан откуда-нибудь.</li>
            </ol>
        </li>
        <li>Фотографии и видео в обзоре должны быть сделаны только автором отзыва, либо должен быть указан правообладатель. Картинки из интернета в обзоре запрещены! Допускается размещать свои фотографии и видео на фото-хостингах или видео-хостингах и вставлять в обзор с помощью сервиса вставки фото/видео. Фотографии должны быть качественными, четкими, относиться к теме отзыва. Допускается маркеровка фотографий вашими уникальными метками, нумерация. Обратите внимание на фон вокруг объекта и состояние объекта.</li>
        <li>Цитаты, разбор состава, обещания производителя и прочий заимствованный текст, обязательно должен быть оформлен как цитата, в кавычках: &laquo;цитата&raquo;.</li>
        <li>Каждый обзор пишется на один или несколько продуктов. Хотябы один из них должен быть доступен к покупке на irmag.ru. Отзывы о товарах не из ассортимента магазина не могут сопровождаться ссылками. Описания на на фейк, копии и т. д., купленный в подземном переходе и т. д., не пройдут модерацию.</li>
        <li>Обзоры, размещенные не в своем разделе, могут быть перемещены модератором в более подходящий раздел. Раздел Профи предназначен для размещения обзоров о профессиональной косметике, инструменте и т. д. Раздел Эко &mdash; для экологически чистых товаров, не наносящих вред окружающей среде и т. д. Раздел Космо &mdash; для косметики и парфюмерии. Раздел Дом &mdash; для других товаров для дома, семьи и т. д.</li>
        <li>Запрещается использовать в отзывах реферальные ссылки. За несанкционированное использование реферальных ссылок профиль будет заблокирован.</li>
        <li>Запрещается размещение в отзывах недостоверной информации, такой пост не пройдет модерацию.</li>
        <li>При описании продукта блогер должен понимать, что продукт может подойти или не подойти именно ему.</li>
        <li>Запрещается искусственно &laquo;накручивать&raquo; оценки своих отзывов. За накрутку баллов профиль будет заблокирован.</li>
    </ol>

    <h2>Администрирование и модерирование обзоров:</h2>

    <ol>
        <li>Администраторы и модераторы имеют право редактировать, переносить, а также удалять обзоры и комментарии, не удовлетворяющие правилам.</li>
        <li>Администраторы и модераторы имеют право преимущественного трактования тех или иных пунктов правил в случае заявлений о наличии двойного смысла в таких пунктах со стороны пользователя.</li>
        <li>Действия модератора можно обжаловать только в администрации магазина и только посредством заявления в письменной форме.</li>
        <li>Решение о начислении бонусов администрацией магазина является окончательным и обжалованию не подлежит.</li>
        <li>Причину отказа в размещении модератор укажет вам в письме-уведомлении.</li>
    </ol>

    <h2>Способы привлечения пользователей:</h2>

    <ol>
        <li>Публикация ссылок на свои обзоры на сайтах, досках объявлений, форумах, в качестве подписи в личном профиле или в социальных сетях в любом виде, с целью показать эту информацию посетителям и заинтересовать их. Внимание! Запрещено размещать ссылки на ресурсах сексуального характера, экстремистских и других сайтах, не соответствующих этическим нормам, на сайтах, нарушающих законодательство Российской Федерации. За размещение ссылок на таких ресурсах, администрация магазина ответственности не несёт. За возможные санкции (бан, блокировка) по отношению к блогеру со стороны модераторов ресурсов, на которых размещение подобных ссылок запрещено или ограничено, администрация магазина ответственности не несёт.</li>
        <li>Передача ссылок напрямую, любыми факсимильными средствами (почта, мессенджер и т. д.). Размещая ссылки, блогер подтверждает свою осведомлённость об условиях предоставления услуг интернет-магазином irmag.ru (Ирмаг).</li>
    </ol>

    <h2>Форс-мажор:</h2>

    <p>При возникновении непредсказуемого события (например, стихийное бедствие, военные действия, забастовки, революции и др.), не зависящее от воли сторон, участвующих в соглашении, но ведущее к невозможности исполнения договорных обязательств, стороны освобождаются от ответственности по исполнению обязательств по соглашению. Форс-мажорными не признаются ситуации, порождающие коммерческий риск (например, изменение цен, неблагоприятная конъюнктура и др.).</p>

    <h2>Как сделать обзор:</h2>

    <h3>1. Вход в систему.</h3>

    <p>Для начала вам нужно войти в систему блога blog.irmag.ru, то есть, зайти на сайт под своим логином и паролем. Если вы уже зарегистрированы на irmag.ru, то ваш логин и пароль будет действовать и в блоге.</p>
    <img alt="pic_1" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_1.png"> <img alt="pic_1" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_2.png">
    <h3>2. Регистрация.</h3>

    <p>Если вы не зарегестированы, то пройдите простую процедуру регистрации. При нажатии на значок &laquo;Войти&raquo;, выберите внизу страницы авторизации пункт &laquo;Зарегистрируйтесь&raquo;. Также вы можете зарегистрироваться через аккаунт одной из представленных соц. сетей, нажав на нужную иконку.</p>

    <p><img alt="pic_2" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_3.png"></p>

    <p>При регистрации вам нужно придумать логин (не менее 3-х символов), пароль (от 6-ти символов) и указать адрес своей электронной почты.</p>

    <p><img alt="pic_3" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_4.png"></p>

    <p>Внимание! Если вы уже зарегистрированы на irmag.ru, заново регистрироваться в блоге не нужно, просто введите свой логин и пароль.</p>

    <h3>3. Оформление профиля.</h3>

    <p>После того, как вы вошли в систему, можно приступить к оформлению своего профиля. Для этого следует нажать на изображение (аватар) в правом верхнем углу блога.</p>
    <img alt="pic_4" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_5.png">
    <p>Далее откроется ваша страничка, где справа от имени будет значок карандаша, означающий редактирование. Нажав на него, вы попадете на страницу &laquo;Обо мне&raquo;. Здесь вы можете добавить фото или другое изображение для аватара. А также заполнить поля: имя, фамилия, дата рождения, город и написать коротко о себе. В информации о себе можете указать ваши интересы, хобби, род занятий и т. д. Внимание! Если вы уже зарегистрированы на irmag.ru, данные будут перенесены с вашего аккаунта. В блоге можно использовать индивидуальный аватар.</p>
    <img alt="pic_5" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_6.png"> <img alt="pic_6" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_7.png">
    <h3>4. Создание обзора.</h3>

    <p>Чтобы оставить в блоге свой обзор, необходимо нажать на кнопку &laquo;Написать&raquo;, расположенную под вашим аватаром, в правом верхнем углу. Перед вами откроется страница &laquo;Новый обзор&raquo;.</p>
    <img alt="pic_7" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_8.png">
    <p>4.1. Выберите раздел, к которому хотите отнести ваш пост. Их четыре: БИО продукты (для экологически чистых товаров), Товары для дома, Профессиональные средства, Косметика и парфюмерия.</p>
    <img alt="pic_8" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_9.png">
    <p>4.2. Впишите наименование товара, о котором пойдет речь. Система найдет товар в каталоге irmag.ru и предложит вам выбор. Чтобы быстрее найти нужный продукт, скопируйте полное его название и вставьте в это поле. Товаров может быть несколько. Для добавления еще одного товара просто нажмите на кнопку &laquo;+добавить&raquo;, расположенную ниже.</p>
    <img alt="pic_9" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_10.png">
    <p>4.3. Поставьте оценку описываемому продукту от 1 до 5.</p>
    <img alt="pic_10" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_11.png">
    <p>4.4. Далее напишите заголовок и ниже подзаголовок, который должен отражать содержание и тему статьи.</p>
    <img alt="pic_11" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_12.png">
    <p>4.5. В поле редактирования вставьте текст, соответствующий правилам публикации. Обратите внимание, к тексту можно добавить фото, нажав на &laquo;Добавить фото&raquo; под окном редактирования. Также можно добавить фото и видео по ссылке, нажав на соответствующие значки на панели редактирования. Фотографии можно вставить каскадом в конце обзора или в тексте. Чтобы вставить каскадом - просто добавьте фотографии. Чтобы вставить добавленные фотографии в текст, установите курсор в место вставки и кликните на нужное фото. А также укажите через запятую теги (ключевые слова) &mdash; основные слова, описываемые в обзоре. Обычно это 3&ndash;6 слов.</p>
    <img alt="pic_12" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_13.png">
    <h3>5. Сохранение черновика и отправка обзора на модерацию.</h3>

    <p>Нажмите на кнопку &laquo;Сохранить черновик&raquo; (1), если вы хотите дописать обзор позже. Удостоверившись, что обзор больше не нуждается в редактировании, нажмите &laquo;Отправить на модерацию&raquo; (2). Обзор отправится модераторам блога и после проверки публикуется на сайте. Если обзор не прошел модерацию, вам на почту придёт уведомление об этом, и обзор получит статус &laquo;Не прошел модерацию&raquo;. Свои обзоры и их статусы вы можете увидеть в своем профиле.</p>
    <img alt="pic_13" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_14.png">
    <h3>6. Раздел Авторы.</h3>

    <p>За каждым автором закрепляются все его обзоры. Чтобы увидеть всех авторов блога, нажмите на соответствующий значок, расположенный в нижнем левом углу сайта.</p>
    <img alt="pic_14" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_15.png">
    <h3>7. Раздел Товары.</h3>

    <p>Найти отзыв на конкретный товар и его рейтинг можно в разделе &laquo;Товары&raquo;, расположенный в нижнем левом углу сайта.</p>
    <img alt="pic_15" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_16.png">
    <h3>8. Написание комментариев.</h3>

    <p>Также под каждой публикацией вы можете оставить комментарий. К комментарию вы можете прикрепить фото, нажав на соответствующий значок. Также есть возможность прокомментировать чужой комментарий.</p>
    <img alt="pic_16" class="img-responsive" src="https://irmag.ru/uploads/custom/Help/img_Help-Blog_17.png">
    <p>Поздравляем! Вы прошли курс начинающего блогера ресурса IRMAG ОБЗОРЫ. Удачи и лёгкого пера ;)</p>
</div>
