
.brand-zone-content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 400px;
    width: 960px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    font-family: Verdana, Arial, sans-serif;
}
    .brand-logo {
        display: block;
        padding-top: 20px;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    .brand-logo img {
        margin-top: -20px;
        margin-left: -20px;
    }

    .brand-block-container {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0;
    }

        .brand-column, .brand-column-center, .brand-column-noleft {
            display: inline-block;
            height: 226px;
            width: 228px;
            margin: 0 auto;
            background-color: rgba(212, 212, 216, 0.8);
        }

        .brand-column-center {
            margin: 0 4px;
        }

        .brand-column-noleft {
            margin-right: 4px;
        }

        .brand-block-description {
            position: relative;
        }

            .brand-block-header {
                font-size: 18px;
                position: absolute;
                top: 5px;
                left: 0;
                right: 0;
            }

            .brand-block-header a {
                text-decoration: none;
                color: rgb(0, 66, 152);
            }

            .brand-block-header a:hover {
                text-decoration: underline;
            }

            ul.brand-block-links {
                list-style: none;
                position: absolute;
                top: 30px;
                left: 0;
                right: 0;
                padding: 0;
            }

            .brand-block-links a {
                text-decoration: none;
                color: rgb(0, 0, 0);
            }

            .brand-block-links a:hover {
                text-decoration: underline;
                color: rgb(0, 66, 152);
            }