{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <div class="brand-logo">
                <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 43 } }, _fragment: anc }) }}">
                    <img src="{{ web_path ~ '/logo.png' }}"  class="logo-lumene" alt="Lumene Logo">
                </a>
            </div>

            <div class="brand-block-container">
                <div class="brand-column">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 2, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">
                        <img class="brand-block-img" src="{{ web_path ~ '/pic_makeup.jpg' }}" alt="Макияж">
                    </a>
                    <div class="brand-block-description">
                        <p class="brand-block-header">
                            <a href="{{ path('irmag_catalog_section', { sectionId: 2, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">МАКИЯЖ</a>
                        </p>
                        <ul class="brand-block-links">
                            <li><a href="{{ path('irmag_catalog_section', { sectionId: 116111, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">лицо</a></li>
                            <li><a href="{{ path('irmag_catalog_section', { sectionId: 116110, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">глаза</a></li>
                            <li><a href="{{ path('irmag_catalog_section', { sectionId: 116112, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">губы</a></li>
                            <li><a href="{{ path('irmag_catalog_section', { sectionId: 116248, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">снятие макияжа</a></li>
                        </ul>
                    </div>
                </div>

                <div class="brand-column-center">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 116113, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">
                        <img class="brand-block-img" src="{{ web_path ~ '/pic_nails.jpg' }}" alt="Маникюр">
                    </a>
                    <div class="brand-block-description">
                        <p class="brand-block-header">
                            <a href="{{ path('irmag_catalog_section', { sectionId: 116113, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">МАНИКЮР</a>
                        </p>
                        <ul class="brand-block-links">
                            <li><a href="{{  path('irmag_catalog_section', { sectionId: 116134, filter: { brand: { 0: 43 } }, _fragment: anc })  }}">лаки для ногтей</a></li>
                            <li><a href="{{ path('irmag_catalog_section', { sectionId: 116135, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">уход за ногтями</a></li>
                        </ul>
                    </div>
                </div>

                <div class="brand-column-noleft">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 250988, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">
                        <img class="brand-block-img" src="{{ web_path ~ '/pic_face.jpg' }}" alt="Уход за кожей">
                    </a>
                    <div class="brand-block-description">
                        <p class="brand-block-header">
                            <a href="{{ path('irmag_catalog_section', { sectionId: 250988, filter: { brand: { 0: 43 } }, _fragment: anc })  }}">УХОД ЗА КОЖЕЙ</a>
                        </p>
                        <ul class="brand-block-links">
                            <li><a href="{{ path('irmag_catalog_section', { sectionId: 1, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">лицо</a></li>
                            <li><a href="{{ path('irmag_catalog_section', { sectionId: 143666, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">тело</a></li>
                            <li><a href="{{ path('irmag_catalog_section', { sectionId: 143667, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">руки</a></li>
                            <li><a href="{{ path('irmag_catalog_section', { sectionId: 143668, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">ноги</a></li>
                        </ul>
                    </div>
                </div>

                <div class="brand-column">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 250987, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">
                        <img class="brand-block-img" src="{{ web_path ~ '/pic_boby.jpg' }}" alt="Уход за телом">
                    </a>
                    <div class="brand-block-description">
                        <p class="brand-block-header">
                            <a href="{{ path('irmag_catalog_section', { sectionId: 250987, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">УХОД ЗА ТЕЛОМ</a>
                        </p>
                        <ul class="brand-block-links">
                            <li><a href="{{ path('irmag_catalog_section', { sectionId: 231926, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">женщинам</a></li>
                            <li><a href="{{ path('irmag_catalog_section', { sectionId: 231319, filter: { brand: { 0: 43 } }, _fragment: anc }) }}">мужчинам</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
