.brand-zone-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 960px;
    height: 400px;
    background-color: rgba(255, 255, 255, .80);
    margin: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

    table.brand-unilever {
        margin: 3em auto 0 auto;
    }
        td {
            padding: 0 2px;
        }

        td.wrapper-logo-unilever {
            padding: 0 10px;
        }

        a.logo-brand {
            transition: all 0.10s ease-in-out;
            background-color: rgba(255, 255, 255, .8);
            display: inline-block;
            border: 1px solid rgba(0, 104, 179, 0.8);
        }

        a.logo-brand:hover {
            box-shadow: 0 0 2px 2px rgba(0, 104, 179, 0.5) inset;
            background-color: rgba(240, 240, 240, 1);
        }
