@-moz-keyframes roll {
    0% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes roll {
    0% { -webkit-transform: rotate(0); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes roll {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

.bz-logo {
    display: block;
    margin: 50px auto 0;
    text-align: center;
    height: 120px;
    width: 450px;
    background: url('sprites.png') -50px -10px;
}

.bz-menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 30px 10px 0;
    bottom: 0;
    width: 860px;
    height: 250px;
}

    .bz-col {
        display: inline-block;
        width: 250px;
        height: 220px;
        margin: 0 5px;
        text-align: center;
    }

    .bz-col:hover .bz-title {
        background-position-y: 31px;
    }

    .bz-col:hover .bz-pic {
        animation: roll 1.2s;
        transform: rotate(360deg);
        background-position-y: -286px;
    }

    .col-2:hover .pic-2 {
        background-position-y: -287px;
    }

        .bz-pic {
            height: 158px;
            width: 170px;
            margin: 0 auto;
            background-image: url('sprites.png');
        }

        .pic-1 {
            background-position: -12px -130px;
        }

        .pic-2 {
            background-position: -185px -131px;
            height: 157px;
        }

        .pic-3 {
            background-position: 240px -130px;
        }

        .bz-title {
            width: 210px;
            height: 28px;
            margin: 12px auto 0;
            background-image: url('sprites.png');
        }

        .title-1 {
            background-position: -5px 56px;
            width: 200px;
        }

        .title-2 {
            background-position: -200px 56px;
            margin-top: 13px;
            width: 140px;
        }

        .title-3 {
            background-position: -340px 56px;
            width: 250px;
        }

        .bz-divider {
            display: inline-block;
            width: 20px;
            height: 220px;
            background: url('sprites.png') -553px -190px;
        }