{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        {% set brandId = 2233 %}

        <div class="brand-zone-content">
            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-logo"></a>

            <div class="bz-menu">
                <a href="{{ path('irmag_catalog_section', { sectionId: 250988, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-col col-1">
                    <div class="bz-pic pic-1"></div>
                    <div class="bz-title title-1"></div>
                </a>

                <div class="bz-divider"></div>

                <a href="{{ path('irmag_catalog_section', { sectionId: 250987, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-col col-2">
                    <div class="bz-pic pic-2"></div>
                    <div class="bz-title title-2"></div>
                </a>

                <div class="bz-divider"></div>

                <a href="{{ path('irmag_catalog_section', { sectionId: 11, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-col col-3">
                    <div class="bz-pic pic-3"></div>
                    <div class="bz-title title-3"></div>
                </a>

            </div>
        </div>
    {% endblock %}
{% endembed %}
