<div class="panel panel-default">
    <div class="panel-heading">Калькулятор удалённой доставки</div>
    <div class="panel-body">

        {# Инфо #}
        <div class="alert alert-info">
            Обращаем ваше внимание, что стоимость доставки расчитывается <b>ориентировочно</b>.<br>
        </div>

        <div class="embed-delivery-calculator" data-weight="{{ weight }}" data-volume="{{ volume }}">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.deliveryService) }}
                </div>
                <div class="col-xs-8 dropdown">
                    {{ form_widget(form.deliveryService) }}
                </div>
            </div>

            <div class="row mt-15 delivery-point"
                 data-id="{% if form.selectedCity.vars.value.cityId is defined %}{{ form.selectedCity.vars.value.cityId }}{% endif %}"
                 data-name="{% if form.selectedCity.vars.value.cityName is defined %}{{ form.selectedCity.vars.value.cityName }}{% endif %}"
            >
                <div class="col-xs-4">
                    {{ form_label(form.deliveryPoint) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.deliveryPoint) }}
                </div>
            </div>

            <div class="row mt-20">
                <div class="text-center">
                    {{ form_row(form.selectedCity) }}
                    {{ form_row(form.calculate) }}
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-xs-12" id="delivery-results">
                    {% if form.variantsToDoor.children is not empty or form.variantsToTerminal.children is not empty %}
                        {% include '@IrmagOrderDeliveryService/delivery-results.html.twig' %}
                    {% endif %}
                </div>
            </div>

            {% if form.variantsToDoor.children is not empty or form.variantsToTerminal.children is not empty %}
                <div class="text-center mb-20">
                    <button type="button" class="btn btn-success btn-delivery-service-select" disabled>Выбрать</button>
                    <button type="button" class="btn btn-danger delivery-service-reset">Cброс</button>
                </div>
            {% endif %}

            {{ form_end(form, { 'render_rest': false }) }}
        </div>
    </div>
</div>

<div class="delivery-spinner alert alert-warning text-center" id="delivery-spinner-extended">
    <span class="delivery-spinner-text">Пожалуйста, подождите.<br> Идёт подбор оптимальных вариантов ...</span><br>
    <i class="fa fa-3x fa-spin fa-spinner delivery-spinner-pic"></i>
</div>

<div class="delivery-spinner alert alert-warning text-center" id="delivery-spinner-simple">
    <span class="delivery-spinner-text">Пожалуйста, подождите.<br></span><br>
    <i class="fa fa-3x fa-spin fa-spinner delivery-spinner-pic"></i>
</div>