{% set item = choice.parent.vars.choices[choice.vars.value].data %}

<tr class="delivery-result-row {% if item.isCheapest %} success{% endif %}">
    <td>
        {{ form_widget(choice, { 'label' : false, 'attr': {
            'class': 'delivery-service-radio',
            'checked': item.isSelected,
            'data-service': item.shortname,
            'data-type': type,
            'data-variant-full': item.name,
            'data-variant': item.shortname,
            'data-cost': item.cost,
            'data-days': item.days
        } }) }}
    </td>
    <td class="vcenter">
        <span class="hidden-xs"><label for="{{ 'calculator_' ~ typeLiteral ~ '_' ~ key }}">{{ item.name }}</label></span>
        <span class="visible-xs"><label for="{{ 'calculator_' ~ typeLiteral ~ '_' ~ key }}">{{ item.shortname }}</label></span>
    </td>
    <td class="vcenter"><label for="{{ 'calculator_' ~ typeLiteral ~ '_' ~ key }}">{{ item.cost|number_format }} <i class="fa fa-rouble"></i></label></td>
    <td class="vcenter"><label for="{{ 'calculator_' ~ typeLiteral ~ '_' ~ key }}" class="label label-info">{{ item.days }} дней</label></td>
</tr>