<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ feed.title }}</title>
    {% if feed.subtitle %}
        <subtitle>{{ feed.subtitle }}</subtitle>
    {% endif %}
    <link href="{{ feed.linkSelf }}" rel="self"/>
    <link href="{{ feed.link }}" rel="alternate"/>
    <updated>{{ feed.updated.format(constant('DATE_ATOM')) }}</updated>
    {% if feed.author %}
        <author><name>{{ feed.author }}</name></author>
    {% endif %}
    <id>{{ feed.id }}</id>
    <rights>Copyright (c) {{ date('now').format('Y') }}, IRMAG</rights>

    {% for entry in feed.entries %}
        <entry>
            <title>{{ entry.title }}</title>
            <link href="{{ entry.link }}" rel="alternate"/>
            <id>{{ entry.id }}</id>
            <updated>{{ entry.updated.format(constant('DATE_ATOM')) }}</updated>
            {% if entry.published %}
                <published>{{ entry.published.format(constant('DATE_ATOM')) }}</published>
            {% endif %}
            {% if entry.author %}
                <author><name>{{ entry.author }}</name></author>
            {% endif %}
            <content type="xhtml">
                <div xmlns="http://www.w3.org/1999/xhtml">
                    {{ entry.content|raw }}
                </div>
            </content>
        </entry>
    {% endfor %}
</feed>
