<div class="panel panel-default select-remote-delivery-method">
    <div class="panel-heading">Выберите способ удалённой доставки</div>
    <div class="panel-body text-center">
        <div class="row">
            <div class="col-xs-12 col-sm-6 remote-delivery-option">
                <div class="delivery-hub select-transport-company" data-weight="{{ weight }}" data-volume="{{ volume }}">
                    <i class="fa icon-transport-company"></i>
                    <span>Транспортной <br>компанией</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 remote-delivery-option">
                <div class="delivery-hub select-post" data-weight="{{ weight }}">
                    <i class="icon-russian-post"></i>
                    <span>Почтой России</span>
                </div>
            </div>
        </div>
    </div>
    <div class="delivery-spinner text-center">
        <span class="delivery-spinner-text">Пожалуйста, подождите...</span><br>
        <i class="fa fa-3x fa-spin fa-spinner delivery-spinner-pic"></i>
    </div>
</div>