<div class="action row vertical-align cursor-pointer">
    <div class="col-name col-xs-10">
        <div class="name">{{title}}</div>
    </div>
    <div class="col-right col-xs-2">
        <span class="label label-default">акция</span>
    </div>
</div>
