<div class="element row vertical-align cursor-pointer">
    <div class="col-image col-xs-2 col-md-1">
        {{#if image}}
            <img src="{{image}}" class="img-responsive">
        {{/if}}
    </div>
    <div class="col-name col-xs-8 col-sm-6 col-md-9">
        <div class="name">
            {{name}}
            {{#if toneName}}
                <span class="tone-name-separator text-muted">&ndash;</span>
                <span class="tone-name">{{toneName}}</span>
            {{/if}}
        </div>
    </div>
    <div class="col-tone-image col-xs-1 col-sm-2 col-md-2 col-lg-1">
        {{#if toneImage}}
            <img src="{{toneImage}}" height="30" class="img-responsive img-circle">
        {{/if}}
    </div>
    <div class="col-xs-2 col-sm-2 col-md-1 col-right">
        <small class="price{{#if is_action_price}} action-price{{/if}} text-nowrap">
            <b>{{price}} <i class="fa fa-rub"></i></b>
        </small>
    </div>
</div>
