<div class="country row vertical-align cursor-pointer">
    <div class="col-name col-xs-10">
        <div class="name">{{name}}</div>
    </div>
    <div class="col-right col-xs-2">
        <span class="label label-default">страна</span>
    </div>
</div>
