<div class="section row cursor-pointer">
    <div class="col-name col-xs-8">
        {{name}}
    </div>
    <div class="col-right col-xs-4">
        {{#if parent}}
            <small><b>{{parent.name}}</b></small>
        {{/if}}
    </div>
</div>
