{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Начисление бонусов{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container">
                <div class="common-block col-md-offset-1 col-md-10">
                    <h1 class="blog-header">Начисление бонусов</h1>
                    <ol>
                        <li>
                            Бонус за статью в блоге начисляется блогеру, если его статья наберет более {{ constant('Irmag\\BlogBundle\\BlogConfig::BLOG_BONUS_REWARD_LIKES_AMOUNT') }}  баллов. Пользователи ресурса могут увеличивать и уменьшать баллы блогеру. Один уникальный пользователь может проголосовать за статью только один раз. Размер бонуса — 100 фантиков. Бонус начисляется за статью один раз, чтобы получить следующий бонус, нужно написать следующую статью.
                            <br>
                            Бонус начисляется блогеру, разместившему статью/обзор/свотч в блоге <span class="text-nowrap">интернет-магазина</span> Irmag.ru (Ирмаг), по адресу blog.irmag.ru. Блоггер может использовать полученный бонус только на покупки на irmag.ru.
                        </li>
                        <li>
                            Сроки начисления бонусов. <br>Бонусы начисляются автоматически при достижении {{ constant('Irmag\\BlogBundle\\BlogConfig::BLOG_BONUS_REWARD_LIKES_AMOUNT') }} баллов.
                        </li>
                        <li>
                            <span class="text-nowrap">Форс-мажор.</span><br>
                            При возникновении непредсказуемого события (например, стихийное бедствие, военные действия, забастовки, революции и др.), не зависящее от воли сторон, участвующих в соглашении, но ведущее к невозможности исполнения договорных обязательств, стороны освобождаются от ответственности по исполнению обязательств по соглашению. <span class="text-nowrap">Форс-мажорными</span> не признаются ситуации, порождающие коммерческий риск (например, изменение цен, неблагоприятная конъюнктура и др.). При возникновении сбоя в системе подсчёта бонусов, получателю необходимо обратиться к администрации магазина с заявлением и описать суть проблемы. Претензии по работе бонусного счёта принимаются не ранее, чем через 72 часа, после совершения пользователем действий, способствующих получению бонуса.<br><br>
                            <p class="about-remark">
                                * Администрация магазина оставляет за собой право изменять, добавлять, удалять способы получения бонусов, а также корректировать размер бонуса, порядок начисления и списания.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
