{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Правила публикаций{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container">
                <div class="common-block col-md-offset-1 col-md-10">
                    <h1 class="blog-header">{{ page.name }}</h1>
                    <div class="blog-rules">{{ page.body|raw }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}