{% spaceless %}
{% if pageCount > 1 %}
    <div class="text-center mt-20">
        <small class="text-muted">
            от {{ (current * numItemsPerPage) - numItemsPerPage + 1 }}
            до {{ ((current * numItemsPerPage) > totalCount) ? totalCount : current * numItemsPerPage }}
            из {{ totalCount }}
        </small>
    </div>

    {# @see sliding-with-next-btn.html.twig #}
    {% block next_btn %}{% endblock %}

    <div class="row">
        <div class="hidden-xs col-sm-2">
            {% if previous is defined %}
                <div class="mt-20">
                    {% block paginationPreviousPageItem %}
                        <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="btn btn-sm btn-default"><i class="fa fa-long-arrow-left"></i></a>
                    {% endblock %}
                </div>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-8 text-center">
            <nav>
                <ul class="pagination pagination-sm">
                    {% if first is defined and current != first %}
                        <li>
                            {% block paginationFirstPageItem %}
                                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}"{% if jumper_enabled is defined and jumper_enabled is same as(true) %} data-jmp-to-page="1"{% endif %}>
                                    первая
                                </a>
                            {% endblock %}
                        </li>
                    {% endif %}

                    {% for page in pagesInRange %}
                        {% if page != current %}
                            <li>
                                {% block paginationPageItem %}
                                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}"{% if jumper_enabled is defined and jumper_enabled is same as(true) and page < current %} data-jmp-to-page="{{ page }}"{% endif %}>
                                        {{ page }}
                                    </a>
                                {% endblock %}
                            </li>
                        {% else %}
                            <li class="active"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if last is defined and current != last %}
                        <li>
                            {% block paginationLastPageItem %}
                                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">последняя</a>
                            {% endblock %}
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="hidden-xs col-sm-2 text-right">
            {% if next is defined %}
                <div class="mt-20">
                    {% block paginationNextPageItem %}
                        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="btn btn-sm btn-default"><i class="fa fa-long-arrow-right"></i></a>
                    {% endblock %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
{% endspaceless %}
