{% embed '@IrmagCore/Pagination/sliding.html.twig' with { jumper_enabled: app.request.isXmlHttpRequest } %}
    {% block next_btn %}
        <br>

        <div class="text-center">
            {% if next is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="btn-ajax-next-page btn btn-success">
                    <i class="fa fa-arrow-down fa-fw"></i> СЛЕДУЮЩАЯ СТРАНИЦА <i class="fa fa-arrow-down fa-fw"></i>
                </a>
            {% else %}
                <a class="btn btn-success disabled">
                    <i class="fa fa-arrow-down fa-fw"></i> <s>СЛЕДУЮЩАЯ СТРАНИЦА</s> <i class="fa fa-arrow-down fa-fw"></i>
                </a>
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}
