{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}
    {{- page.slug == 'help' ? '❔ ' -}}
    {{- page.slug == 'about-the-company' ? '🌈 ' -}}
    {{- page.name -}}
{% endblock %}

{% block body %}

    <section class="page container">

        <h1>{{ page.name }}</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { (page.name): null } } %}

        <div class="content">
            {{ page.body|raw }}
        </div>

    </section>

{% endblock %}

{% block additional_javascripts %}
    {% if page.slug == 'about-the-company' %}
        <script src="//maps.google.com/maps/api/js?libraries=places&language=ru&callback=IRMAG.Maps.init&key={{ 'dev' == app.environment ? google_maps_api_key_dev : google_maps_api_key }}" async defer></script>
    {% endif %}
{% endblock %}
