{% extends '@IrmagProfile/layout-wide.html.twig' %}

{% block title %}🐔 Изменение логина{% endblock %}

{% block content %}

    <section class="profile-form">

        <h2>Изменение логина</h2>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Мой профиль': path('irmag_profile'), 'Изменение логина': null } } %}

        <div class="alert alert-success">
            Поздравляем, <b>{{ app.user.name }}</b>!
            <br>
            Вы успешно изменили логин.
        </div>

        <div class="text-center">
            <a href="{{ path('irmag_profile') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад</a>
        </div>

    </section><!-- /.profile-form -->

{% endblock %}
