{% extends '@IrmagProfile/layout-wide.html.twig' %}

{% block title %}🐔 Изменение пароля{% endblock %}

{% block content %}

    <section class="profile-form">

        <h2>Изменение пароля</h2>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Мой профиль': path('irmag_profile'), 'Изменение пароля': null } } %}

        <div class="alert alert-info">
            <b>{{ app.user.name }}</b>, для изменения пароля введите свой текущий пароль и дважды новый.
        </div>

        {{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_row(form.currentPassword) }}

            {{ form_row(form.newPassword.first) }}

            {{ form_row(form.newPassword.second) }}

            <div class="text-center">
                <div class="btn-group">
                    <a href="{{ path('irmag_profile') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад</a>
                    {{ form_widget(form.save, { attr: { class: 'btn-success' } }) }}
                </div>
            </div>

        {{ form_end(form) }}

    </section><!-- /.profile-form -->

{% endblock %}
