{% extends '@IrmagProfile/layout-wide.html.twig' %}

{% block title %}🐔 Изменение аватара{% endblock %}

{% block content %}

    <section class="profile-form">

        <h2>Изменение аватара</h2>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Мой профиль': path('irmag_profile'), 'Изменение аватара': null } } %}

        <div class="alert alert-info">
            По умолчанию, если аватар не загружен, используется сервис <a href="https://ru.gravatar.com/" rel="nofollow">Gravatar.com</a>.
            <br>
            Если вы хотите использовать другой аватар, то воспользуйтесь полем <b class="text-nowrap">"Аватар для загрузки"</b>.
            <br>
            Поддерживаемые форматы: <b>PNG</b>, <b>JPEG</b> и <b>GIF</b>.
        </div>

        {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

        <div class="text-center">
            <div class="form-group">
                {{ avatar.get(app.user) }}
            </div>

            {% if app.user.avatar %}
                <form action="{{ path('irmag_profile_remove_avatar') }}" method="post">
                    <div class="form-group">
                        <div class="btn-group">
                            <a href="{{ path('irmag_profile') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад</a>
                            <button class="btn btn-danger">Удалить аватар</button>
                        </div>
                    </div>
                </form>
            {% else %}
                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.avatar) }}

                    <div class="btn-group">
                        <a href="{{ path('irmag_profile') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад</a>
                        {{ form_widget(form.save, { attr: { class: 'btn-success' } }) }}
                    </div>
                {{ form_end(form) }}
            {% endif %}
        </div>

    </section>
{% endblock %}
