{% extends '@IrmagProfile/layout-wide.html.twig' %}

{% block title %}🐔 Изменение Email{% endblock %}

{% block content %}

    <section class="profile-form">

        <h2>Изменение Email</h2>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Мой профиль': path('irmag_profile'), 'Изменение Email': null } } %}

        <div class="alert alert-info">
            <b>{{ app.user.name }}</b>, для изменения Email (адрес электронной почты) введите новый Email и свой текущий пароль.
            {% if app.user.email %}
                <br>
                Ваш текущий Email: <b>{{ app.user.email }}</b>
            {% endif %}
        </div>

        {{ form_start(form) }}

            {{ form_errors(form) }}

            {#{ form_row(form.newEmail) }#}
            <div class="form-group{% if (form.newEmail.vars.valid is same as(false)) %} has-error{% endif %}">
                {{ form_label(form.newEmail) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-at"></i></span>
                    {{ form_widget(form.newEmail) }}
                </div>
                {{ form_errors(form.newEmail) }}
            </div>

            {{ form_row(form.currentPassword) }}

            <div class="text-center">
                <div class="btn-group">
                    <a href="{{ path('irmag_profile') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад</a>
                    {{ form_widget(form.save, { attr: { class: 'btn-success' } }) }}
                </div>
            </div>

        {{ form_end(form) }}

    </section><!-- /.profile-form -->

{% endblock %}
