{% extends '@IrmagProfile/layout-wide.html.twig' %}

{% block title %}Профили заказа{% endblock %}

{% block content %}

    <section class="profile-form">

        <h2>Профили заказа</h2>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Мой профиль': path('irmag_profile'), 'Профили заказа': null } } %}

        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ flash_message }}
            </div>
        {% endfor %}

        {% if order_profiles is empty %}
            <div class="alert alert-info">
                В <span class="text-info">профиле заказа</span> Вы можете хранить Ваш адрес доставки и юридические данные для оформления заказа.<br>
                Профилей может быть несколько, например: "Мой дом на Советской" или "Моя работа в подземелье".<br>
                Это удобно, если Вы заказываете в разные места или Вашей учётной записью пользуются несколько человек, можно переключаться между ними для автозаполнения формы заказа.
            </div>
        {% else %}
            <table class="table table-hover delivery-address">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_profile in order_profiles %}
                        <tr>
                            <td>{{ order_profile }}</td>
                            <td class="actions">
                                <a href="{{ path('irmag_profile_order_profiles_edit', { id: order_profile.id }) }}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-title="Редактировать">
                                    <i class="fa fa-pencil fa-lg fa-fw"></i>
                                </a>
                                {% if order_profile.isPrimary %}
                                    <a href="javascript:;" class="btn btn-warning btn-sm disabled" data-toggle="tooltip" title="Основной адрес">
                                        <i class="fa fa-certificate fa-lg fa-fw"></i>
                                    </a>
                                {% else %}
                                    <a href="{{ path('irmag_profile_order_profiles_set_primary', { id: order_profile.id }) }}" class="btn btn-warning btn-sm" data-toggle="tooltip" title="Сделать основным">
                                        <i class="fa fa-certificate fa-lg fa-fw"></i>
                                    </a>
                                {% endif %}

                                <a href="{{ path('irmag_profile_order_profiles_remove', { id: order_profile.id }) }}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-title="Удалить">
                                    <i class="fa fa-trash fa-lg fa-fw"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div class="text-center">
            <div class="btn-group">
                <a href="{{ path('irmag_profile') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад</a>
                <a href="{{ path('irmag_profile_order_profiles_new') }}" class="btn btn-primary">Создать</a>

                {% if app.session.has('return_url') and '/order/' in app.session.get('return_url') %}
                    <a href="{{ app.session.get('return_url') }}" class="btn btn-success">К заказу <i class="fa fa-arrow-circle-right"></i></a>
                {% endif %}
            </div>
        </div>

    </section><!-- /.profile-form -->

{% endblock %}
