{% extends '@IrmagProfile/layout-wide.html.twig' %}

{% block title %}Профили заказа{% endblock %}

{% block content %}

    <section class="profile-form">

        <h2>Профили заказа</h2>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with {
            breadcrumbs: {
                'Мой профиль': path('irmag_profile'),
                'Профили заказа': path('irmag_profile_order_profiles'),
                'Профиль заказа': null
            }
        } %}

        {{ form_start(form) }}

            {{ form_row(form.name) }}

            {{ form_row(form.payerUsername) }}

            <div class="form-group{% if (form.payerTelephone.vars.valid is same as(false)) %} has-error{% endif %}">
                {{ form_label(form.payerTelephone) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    {{ form_widget(form.payerTelephone) }}
                </div>
                {{ form_errors(form.payerTelephone) }}
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="order-profile-tabs" role="tablist">
                <li class="active"><a href="#tab-delivery-address" aria-controls="tab-delivery-address" role="tab" data-toggle="tab">Адрес доставки</a></li>
                <li><a href="#tab-payer-legal" aria-controls="tab-payer-legal" role="tab" data-toggle="tab">Юридические данные</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                {# Адрес доставки #}
                <div role="tabpanel" class="tab-pane tab-pane-bordered active" id="tab-delivery-address">
                    {{ form_row(form.deliveryAddress) }}
                </div>

                {# Юридические данные #}
                <div role="tabpanel" class="tab-pane tab-pane-bordered" id="tab-payer-legal">
                    {{ form_row(form.payerLegal) }}
                </div>
            </div>

            <div class="text-center">
                <div class="btn-group">
                    <a href="{{ path('irmag_profile_order_profiles') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад</a>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>

        {{ form_end(form) }}

    </section><!-- /.profile-form -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            $('[name="profile_order_profile[delivery_address][deliveryCity]"]').select2();
        });
    </script>
{% endblock %}
