{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Страница не найдена{% endblock %}

{% block body %}
    <h1 class="blog-header blog-error-header">Ой! Вы похоже потерялись!</h1>
    <h2 class="blog-subheader">Попробуйте перейти на <a href="{{ path('irmag_blog_homepage') }}">главную страницу блога.</a></h2>
    <div class="blog-error-404">
        <img src="{{ asset('assets/images/blog/page_404.jpg') }}" class="img-responsive">
        <div class="blog-error-fade"></div>
    </div>
{% endblock %}