<div class="mobile-header-wrapper col-xs-12">
    <div class="top-items-container hidden-xs">
        <a href="{{ path('irmag_blog_homepage') }}" class="blog-main-page-sm">
            <div class="irmag-blog-logo irmag-blog-logo-sm"></div>
        </a>
        <ul class="top-menu">
            <li>
                <a href="{{ path('irmag_blog_category', { 'categoryslug': 'bio-products' }) }}">
                    <span class="top-menu-item-1"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('irmag_blog_category', { 'categoryslug': 'homeware-goods' }) }}">
                    <span class="top-menu-item-2"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('irmag_blog_category', { 'categoryslug': 'professional-tools' }) }}">
                    <span class="top-menu-item-3"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('irmag_blog_category', { 'categoryslug': 'cosmetics-and-perfumery' }) }}">
                    <span class="top-menu-item-4"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('irmag_blog_users') }}">
                    <i class="fa fa-2x fa-users top-menu-users"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('irmag_blog_items') }}">
                    <i class="fa fa-2x fa-shopping-bag top-menu-items"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="top-items-container hidden-sm">
        <table>
            <tr>
                <td class="top-menu-blog-logo-xs" colspan="6">
                    <a href="{{ path('irmag_blog_homepage') }}">
                        <div class="irmag-blog-logo irmag-blog-logo-xs"></div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('irmag_blog_category', { 'categoryslug': 'bio-products' }) }}">
                        <span class="top-menu-xs-item-pic-1"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('irmag_blog_category', { 'categoryslug': 'homeware-goods' }) }}">
                        <span class="top-menu-xs-item-pic-2"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('irmag_blog_category', { 'categoryslug': 'professional-tools' }) }}">
                        <span class="top-menu-xs-item-pic-3"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('irmag_blog_category', { 'categoryslug': 'cosmetics-and-perfumery' }) }}">
                        <span class="top-menu-xs-item-pic-4"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('irmag_blog_users') }}">
                        <i class="fa fa-users top-menu-users"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('irmag_blog_items') }}">
                        <i class="fa fa-shopping-bag top-menu-items"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>