<div class="left-menu-inner">
    <a class="blog-logo" href="{{ path('irmag_blog_homepage') }}"></a>
    <ul class="left-menu-top-items">
        <li class="left-menu-top-item-1">
            <a href="{{ path('irmag_blog_category', { 'categoryslug': 'bio-products' }) }}">
                <i></i>
                <span class="left-menu-top-item-1-pic"></span>
                <p>БИО продукты</p>
            </a>
        </li>
        <li class="left-menu-top-item-2">
            <a href="{{ path('irmag_blog_category', { 'categoryslug': 'homeware-goods' }) }}">
                <i></i>
                <span class="left-menu-top-item-2-pic"></span>
                <p>Товары для дома</p>
            </a>
        </li>
        <li class="left-menu-top-item-3">
            <a href="{{ path('irmag_blog_category', { 'categoryslug': 'professional-tools' }) }}">
                <i></i>
                <span class="left-menu-top-item-3-pic"></span>
                <p>Профессиональные <br>средства</p>
            </a>
        </li>
        <li class="left-menu-top-item-4">
            <a href="{{ path('irmag_blog_category', { 'categoryslug': 'cosmetics-and-perfumery' }) }}">
                <i></i>
                <span class="left-menu-top-item-4-pic"></span>
                <p>Косметика <br>и парфюмерия</p>
            </a>
        </li>
    </ul>
    <ul class="left-menu-bottom-items">
        <li class="left-menu-bottom-item-1">
            <a href="{{ path('irmag_blog_items') }}">
                <span class="left-menu-bottom-item-title">Товары</span>
                <span class="left-menu-bottom-item-subtitle">Самые обсуждаемые <br>товары</span>
            </a>
        </li>
        <li class="left-menu-bottom-item-2">
            <a href="{{ path('irmag_blog_users') }}">
                <span class="left-menu-bottom-item-title">Авторы</span>
                <span class="left-menu-bottom-item-subtitle">Популярные <br>обозреватели</span>
            </a>
        </li>
    </ul>
</div>
