{% extends sonata_block.templates.block_base %}

{% block block %}
<div class="box {% if maintenance_is_active %}box-danger{% else %}box-default{% endif %}">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa fa-gears"></i> Режим технические работы
            </h3>
        </div>

        <div class="box-body">
            {% if maintenance_is_active %}
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> Внимание, сайт доступен только из локальной подсети!
                </div>
            {% endif %}

            {% if maintenance_is_active %}
                <a href="{{ path('admin_irmag_maintenance_page_toggler') }}" class="btn btn-danger">
                    <i class="fa fa-lock"></i>
                    Включен
                </a>
            {% else %}
                <a href="{{ path('admin_irmag_maintenance_page_toggler') }}" class="btn btn-success">
                    <i class="fa fa-unlock"></i>
                    Выключен
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
