{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa fa-comment"></i> Последние отзывы
            </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="box-body">
            {% if comments|length > 0 %}
                <table class="table table-condensed">
                    <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td><a href="{{ admin_pool.getAdminByAdminCode('irmag.admin.content.thread_comment').generateUrl('edit', { 'id': comment.id }) }}">#{{ comment.id }}</a></td>
                                <td>{{ comment.user }}</td>
                                <td>{{ comment.createdAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}</td>
                                <td>{{ comment.textHtml|raw }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-info">Комментариев нет</p>
            {% endif %}
        </div>

        <div class="box-footer">
            <a href="{{ admin_pool.getAdminByAdminCode('irmag.admin.content.thread_comment').generateUrl('list') }}" class="btn btn-primary btn-block"><i class="fa fa-list"></i> Посмотреть все комментарии</a>
        </div>
    </div>
{% endblock %}
