<div class="info-box">
    <a href="{{ path(settings.list_route) }}">
        <span class="info-box-icon {{ settings.info_box_bg }}"><i class="{{ settings.icon }}"></i></span>
    </a>

    <div class="info-box-content">
        <span class="info-box-text">{{ settings.title|trans({}, 'irmag_admin') }}</span>
        Всего: <b>{{ total_per_all_time|default(0) }}</b><br>
        За месяц: <b>{{ total_per_months }}</b><br>
        Сегодня: <b>{{ total_per_today }}</b>
    </div>
</div>
