<div class="panel panel-info forum-new-post-form" id="forum-form" data-advanced="{{ is_granted('ROLE_ALLOW_ADVANCED_COMMENTS') }}">
    <div class="panel-heading">Форма ответов</div>
    <div class="forum-post-reply-sign">
        <button class="btn btn-primary" type="button">Ответ на пост #<span id="post-reply-id"></span></button>
        <a class="forum-color-attention" href="">
            <i class="fa fa-close"></i>
        </a>
    </div>
    <div class="panel-body">
        {{ form_start(form) }}
        {{ form_widget(form.text, { 'attr': { 'rows': 5 }}) }}

        <div class="row new-post-form-controls">
            <div class="forum-load-photo pull-left">
                <button class="btn btn-primary attach-to" type="button">Загрузить фото</button>
            </div>
            <div class="forum-post-submit pull-right">
                <span>{{ app.user.name }}</span>
                {{ form_widget(form.button, { 'attr': {'class': 'btn btn-success' }}) }}
            </div>
        </div>

        {{ form_widget(form.user, { 'value': app.user.id }) }}
        {{ form_widget(form.topic, { 'value': topic.id }) }}

        <div>
            {% include '@IrmagAttachment/Thumbnails/container.html.twig' with { 'attachments': attaches } %}
        </div>

        {{ form_rest(form) }}
    </div>
    <div class="forum-spinner text-center">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
</div>
