{% extends '@IrmagForum/Post/post.html.twig' %}

{% block loopLast %}{{ 'forum-post-last' }}{% endblock %}
{% block allPostsLink %}{% endblock %}
{% block postActions %}{% endblock %}
{% block xsActions %}{% endblock %}
