<div class="forum-post-author-stars">
    {% set rating = user.forumRating %}
    {% if rating < 20 %}
        <span class="text-nowrap">
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </span>
    {% elseif rating >= 20 and rating < 40 %}
        <span class="text-nowrap">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </span>
    {% elseif rating >= 40 and rating < 60 %}
        <span class="text-nowrap">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </span>
    {% elseif rating >= 60 and rating < 80 %}
        <span class="text-nowrap">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </span>
    {% elseif rating >= 80 %}
        <span class="text-nowrap">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
    {% endif %}
</div>