{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

<div class="forum-post-wrapper row {% if loop.last %}{{ 'forum-post-last' }}{% endif %}{% block loopLast %}{% endblock %}">

    {# Автор #}
    <div class="forum-post-author text-center col-xs-3 col-sm-2">
        <div class="forum-post-author-name">
            <a href="{{ path('irmag_forum_profile', { id: item.post.user.id }) }}">
                <b>{{ item.post.user.name }}</b>
            </a>
        </div>

        {# Ранг пользователя #}
        <div class="forum-post-author-rank">
            {% if item.post.user in moderators %}
                <span class="label label-danger">Модератор</span>
            {% else %}
                Покупатель
            {% endif %}
        </div>

        {% include '@IrmagForum/Post/post-user-rating.html.twig' with { user: item.post.user } %}

        {# Аватар #}
        <div>
            <div class="hidden-xs">
                {{ avatar.get(item.post.user, 'avatar_thumb_xs', 100) }}
            </div>
            <div class="visible-xs">
                {{ avatar.get(item.post.user, 'avatar_small_thumb', 64) }}
            </div>
        </div>

        <div class="forum-post-author-info mt-40 hidden-xs">
            Регистрация: {{ item.post.user.createdAt|localizeddate('full', 'none', null, null, 'dd.MM.Y') }}
        </div>

        <div class="text-center">
            <span class="hidden-xs">Статус: </span>
            {% if item.post.user.isOnlineOnForum %}
                <span class="label label-success">Online</span>
            {% else %}
                <span class="label label-default">Offline</span>
            {% endif %}
        </div>

        {# Связь с автором #}
        <div class="forum-post-author-connect mt-15">
                {% block allPostsLink %}
                <a href="{{ path('irmag_forum_user_posts', { userId: item.post.user.id }) }}" title="Все посты автора" data-toggle="tooltip" data-placement="bottom">
                    <i class="fa fa-comments"></i>
                </a>
                {% endblock %}
            {% if app.user and app.user != item.post.user %}
                <a href="mailto:{{ item.post.user.email }}" title="Связаться по e-mail" data-toggle="tooltip" data-placement="bottom">
                    <i class="fa fa-envelope-o"></i>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="col-xs-9 col-sm-10">
        <a id="{{ item.post.id }}"></a>

        {# Действия с постом #}
        <div class="forum-post-credentials mb-20">

            {# Дата публикации #}
            <div class="hidden-xs">
                <time datetime="{{ item.post.createdAt|date(constant('\\DateTime::RFC3339')) }}">
                    {{ item.post.createdAt|localizeddate('full', 'none', null, null, 'd MMMM YYYY в HH:mm') }}
                </time>
            </div>
            <div class="visible-xs">
                <time datetime="{{ item.post.createdAt|date(constant('\\DateTime::RFC3339')) }}">
                    {{ item.post.createdAt|date('d.m.Y в H:m') }}
                </time>
            </div>

            <div class="forum-post-actions">
                {% if app.user %}
                    <span class="hidden-xs">
                        {% if loop.last and item.post.user == app.user %}
                            <a href="{{ path('irmag_forum_edit_post', { id: item.post.topic.id, postId: item.post.id }) }}" id="forum-edit-post">Редактировать</a>
                        {% endif %}

                        {% block postActions %}
                            {% if item.post.user != app.user %}
                                <a href="#" data-post="{{ item.post.id }}" class="forum-reply">Ответить</a>
                                <a href="#" data-post="{{ item.post.id }}" class="forum-cite">Цитата</a>
                            {% endif %}
                        {% endblock %}
                    </span>
                {% endif %}

                <span class="hidden-xs">
                    <a
                        href="{{ path('irmag_forum_goto_topic', { id: item.post.topic.id, post: item.post.id}) }}"
                        data-id="{{ item.post.id }}"
                        class="forum-post-unique-id"
                    > #{{ item.post.id }}
                    </a>
                </span>

                {# Лайк/дизлайк #}
                {% if app.user %}
                    {% set isVotedByCurrentUser = false %}
                    {% for vote in item.post.postVotes if vote.user == app.user %}
                        {% set isVotedByCurrentUser = true %}
                    {% endfor %}

                    <span class="forum-vote-btn">
                        {% if not isVotedByCurrentUser and app.user != item.post.user %}
                            <i class="fa fa-thumbs-o-up cursor-pointer forum-color-available forum-post-vote"
                               data-score="1"
                               data-id="{{ item.post.id }}"
                            ></i>
                            <span class="cursor-help post-rating label label-info" data-toggle="tooltip" title="Рейтинг поста">{{ item.post.totalScore }}</span>
                            <i class="fa fa-thumbs-o-down cursor-pointer forum-color-attention forum-post-vote"
                               data-score="-1"
                               data-id="{{ item.post.id }}"
                            ></i>
                        {% else %}
                            <span class="cursor-help label label-info" data-toggle="tooltip" title="Рейтинг поста"><b>{{ item.post.totalScore }}</b></span>
                        {% endif %}
                    </span>
                {% endif %}
            </div>
        </div>

        <div class="forum-post-body">
            {% if item.post.inReplyTo %}
                <div class="alert alert-info">
                    В ответ на <a href="{{ path('irmag_forum_goto_topic', { id: item.post.topic.id, post: item.post.inReplyTo.id }) }}">сообщение #{{ item.post.inReplyTo.id }}</a>
                    (от {{ item.post.inReplyTo.user.name }})
                </div>
            {% endif %}

            {{ item.post.textHtml|raw }}

            {% if app.user in moderators %}
                <div class="post-admin-edit mt-15">
                    <div class="hidden-xs">
                        <a target="_blank" href="{{ path('admin_irmag_forum_forumpost_edit', { id: item.post.id }) }}" class="label label-warning">Редактировать</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {# Панель действий для xs #}
    {% block xsActions %}
        <div class="visible-xs forum-post-actions-xs row">

            {% if app.user and item.post.user != app.user %}
                <div class="action-buttons pull-right">
                    {% if app.user in moderators %}
                    <a target="_blank" class="forum-admin-edit" href="{{ path('admin_irmag_forum_forumpost_edit', { id: item.post.id }) }}"><i class="fa fa-edit"></i></a>
                    {% endif %}
                    <a href="#" data-post="{{ item.post.id }}" class="label label-success forum-reply">Ответить</a>
                    <a href="#" data-post="{{ item.post.id }}" class="label label-info forum-cite">Цитата</a>
                </div>
            {% endif %}

        </div>
    {% endblock %}
</div>
