{% import '@IrmagSite/Catalog/macro.add-element-to-basket.html.twig' as macro_basket %}
{% import '@IrmagSite/Catalog/macro.add-element-to-favorite.html.twig' as macro_favorite %}
{% import '@IrmagSite/Catalog/macro.element-props.html.twig' as macro_element_prop %}

{% trans_default_domain 'irmag_site' %}

<hr>

<div class="row block-childrens" id="childrens">
    <div class="col-xs-12 col-lg-offset-1 col-lg-9">

        {% for children in childrens %}
            {% set isChildrenMain = children is same as(element) %}
            {% set kit = children.isActive ? render(controller('Irmag\\SiteBundle\\Controller\\ElementController::kit', { element: children, type: constant('Irmag\\SiteBundle\\Controller\\ElementController::ELEMENT_KITS_TYPE_CHILDRENS') })) %}
            {% set children_price_with_discount = get_price_with_discount(children)|number_format %}

            <div class="row element-row vertical-align {% if kit is not empty %}kit-item-container{% endif %}">
                <div class="col-xs-4 col-sm-3">
                    <div class="row">
                        <div class="col-xs-12">
                            <span {% if not children.isActive %}class="text-strike"{% endif %}>
                                {% if kit %}
                                    <i class="fa fa-arrow-circle-right fa-2x kit-toggler" title="Комплект/образ." data-toggle="tooltip"></i>
                                {% endif %}

                                {% if isChildrenMain %}
                                    {{ children.toneName }}
                                {% else %}
                                    <a href="{{ path('irmag_catalog_element', { id: children.id }) }}">{{ children.toneName }}</a>
                                {% endif %}

                                {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_site_element_edit', { id: children.id }) } -%}
                            </span>
                        </div>

                        {# XXX: n to refactor #}
                        {% if children.isActive %}
                            <div class="col-xs-12 visible-xs mt-10">
                                {% if children_price_with_discount != children.price %}
                                    <span class="old-child-price"><del class="text-nowrap">{{ children.price|number_format }} <i class="fa fa-rub"></i></del> (без скидки)</span><br>
                                {% endif %}
                                <span class="current-child-price text-nowrap">{{ children_price_with_discount }} <i class="fa fa-rub"></i></span>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-xs-3 col-sm-2">
                    <div class="image center-block">
                        {% if children.tonePicture %}
                            <div class="hover-area"></div>
                            <div class="wrapper">
                                {% set picture = children.tonePicture.webpath is defined
                                    ? children.tonePicture.webpath
                                    : constant('Irmag\\SiteBundle\\Entity\\Element::NOT_FOUND_IMAGE') %}
                                <img data-src="{{ asset(picture)|imagine_filter('catalog_element_children') }}" alt="{{ children.name }}" class="img-circle">
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="hidden-xs col-sm-3">
                    <div class="text-center text-nowrap">
                        {% if not isChildrenMain %}
                            <span class="props">
                                {% if children.barcode %}
                                    <i class="fa fa-barcode fa-fw cursor-help clipboard" data-toggle="tooltip" data-html="true" title="{% trans with { '%barcode%': children.barcode } %}element.tooltip.prop_barcode{% endtrans %}" data-clipboard-text="{{ children.barcode }}"></i>
                                {% endif %}

                                {% if children.weight %}
                                    <i class="fa fa-balance-scale fa-fw cursor-help" data-toggle="tooltip" data-html="true" title="{% trans with { '%weight%': children.weight } %}element.tooltip.prop_weight{% endtrans %}"></i>
                                {% endif %}

                                {% if children.volume %}
                                    <i class="fa fa-cube fa-fw cursor-help" data-toggle="tooltip" data-html="true" title="{% trans with { '%volume%': children.volume } %}element.tooltip.prop_volume{% endtrans %}"></i>
                                {% endif %}

                                {% if children.propSpecialPrice %}
                                    <i class="prop-special-price fa fa-fw" data-toggle="tooltip" data-html="true" title="{% trans %}element.tooltip.prop_special_price{% endtrans %}"></i>
                                {% endif %}

                                {{ macro_element_prop.comment(children) }}
                            </span>
                        {% endif %}
                    </div>
                </div>

                <div class="col-xs-3 col-sm-2">
                    <div class="amount">
                        <input type="number" value="1" min="1" max="999" class="form-control amount" data-mapped-to="{{ children.id }}">
                    </div>
                </div>

                <div class="col-xs-2 col-sm-2">
                    <div class="row">
                        {# XXX: n to refactor btns #}
                        <div class="visible-xs">
                            <div class="col-xs-12">{{ macro_basket.add_btn(children, '', 'btn-sm') }}</div>
                            <div class="col-xs-12">{{ macro_favorite.add_btn(children, null, 'mt-5 btn btn-sm btn-warning add-element-to-favorite', null, 'Добавить в избранное') }}</div>
                        </div>

                        <div class="btns hidden-xs">
                            <div class="btn-group">
                                {{ macro_basket.add_btn(children, children_price_with_discount, 'btn-sm') }}
                                {{ macro_favorite.add_btn(children, null, 'btn btn-sm btn-warning add-element-to-favorite', null, 'Добавить в избранное') }}
                            </div>

                            {% if children.isActive and children_price_with_discount != children.price %}
                                <div>
                                    <small class="text-muted text-nowrap">{% trans %}element.price_without_discount{% endtrans %}: {{ children.price|number_format }} <i class="fa fa-rub"></i></small>
                                </div>
                            {% elseif children.abcGroup == 'V' %}
                                <div>
                                    <small class="text-danger m-0">Товар снят <span class="text-nowrap">с&nbsp;продажи &#9785;</span></small>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% if kit is not empty %}
                <section class="kit-row row hidden-xs">
                    <h3 class="mb-20">Комплект/образ</h3>
                    <div class="col-sm-12 kit-wrapper">
                        {{ kit|raw }}
                    </div>
                </section>
            {% endif %}
        {% endfor %}
    </div>
</div><!-- /#childrens -->
