{% spaceless %}
<div class="element-actions alert alert-warning mb-0 mt-20">
    <div class="text-center mb-15">
        <b>Этот товар участвует в {{ 'element.in_actions'|transchoice(actions|length, {}, 'irmag_site') }}:</b>
    </div>

    <ul class="list-unstyled">
        {% for action in actions %}
            {% set tooltip -%}
                <div class="differences">
                    <h4>До завершения акции осталось:</h4>
                    <div data-end-date-time="{{ action.endDateTime|date('Y/m/d H:i:s') }}" style="min-height: 40px;"><i class="fa fa-refresh fa-spin"></i></div>
                </div>
            {%- endset %}
            <li>
                <a
                    href="{{ path('irmag_action_detail', { slug: action.slug }) }}"
                    class="text-warning"
                    data-placement="top"
                    data-html="true"
                    data-content="{{ tooltip|e }}"
                >
                    {% if action.sticker.webpath is defined %}<img data-src="{{ asset(action.sticker.webpath) }}" class="pull-left mr-15" alt="">{% endif %}
                    <span class="action-title">{{ action.title }}</span>
                </a>

                <div class="clearfix"></div>
            </li>

            {% if not loop.last %}<hr class="mt-15 mb-15">{% endif %}
        {% endfor %}
    </ul>
</div>
{% endspaceless %}
