{% spaceless %}
<div class="block-blog alert alert-info mt-20">
    <a href="{{ url('irmag_blog_item_id', { id: element.id }) }}" data-toggle="tooltip" title="Нажмите, чтобы перейти к обзорам товара в блоге.">
        <div class="row">
            <div class="col-xs-3">
                <i class="blog-block-icon"></i>
            </div>
            <div class="col-xs-9">
                На данный товар
                {% transchoice blog_posts_count %}
                    написан обзор|написано <b>%count%</b> обзора|написно <b>%count%</b> обзоров
                {% endtranschoice %}
                в блоге.
            </div>
        </div>
    </a>
</div>
{% endspaceless %}
