{% import '@IrmagSite/Catalog/macro.add-element-to-basket.html.twig' as macro_basket %}
{% spaceless %}
<div class="row vertical-align">
    <div class="col-xs-4 col-sm-7 col-md-6 col-lg-7">
        {{ 'element.in_package_count'|transchoice(element.inPackage, {}, 'irmag_site') }}
    </div>
    <div class="col-xs-8 col-sm-5 col-md-6 col-lg-5 justify-content-end">
        {{ macro_basket.add_btn(element, 'Купить коробку', 'btn-sm', element.inPackage, 'add_box') }}
    </div>
</div>
{% endspaceless %}