{% spaceless %}
{% set in_stock_percent = element.inStock >= 100 ? 100 : element.inStock %}

{% if element.inStock >= 50 %}
    {% set in_stock_class = 'progress-bar-success' %}
    {% set in_stock_text = 'более 50 штук' %}
{% elseif element.inStock >= 10 %}
    {% set in_stock_class = 'progress-bar-warning' %}
    {% set in_stock_text = 'менее 50 штук' %}
{% else %}
    {% set in_stock_class = 'progress-bar-danger' %}
    {% set in_stock_text = 'менее 10 штук' %}
{% endif %}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
        <div class="progress cursor-help mb-0" title="{{ 'element.help.in_stock'|trans({}, 'irmag_site') }}" data-toggle="tooltip" data-html="true">
            <div class="progress-bar {{ in_stock_class }}" role="progressbar" aria-valuenow="{{ in_stock_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ in_stock_percent }}%">
                <span class="sr-only">{{ in_stock_percent }}%</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-5 text-center">
        <small>{{ in_stock_text }}</small>
    </div>
</div>
{% endspaceless %}
