{% extends '@IrmagSite/layout.html.twig' %}

{% trans_default_domain 'irmag_site' %}

{% set is_tone = element.groupBy is not empty %}

{% block title -%}
    {{ element.fullName }}
{%- endblock %}

{% block additional_meta %}
{% if section_id is not null %}
    <link rel="canonical" href="{{ url('irmag_catalog_element', { id: element.id }) }}">
{% endif %}
{% endblock additional_meta %}

{% set picture = element.pictures[0].file.webpath is defined
    ? element.pictures[0].file.webpath
    : constant('Irmag\\SiteBundle\\Entity\\Element::NOT_FOUND_IMAGE') %}

{% block open_graph_image -%}
    <meta property="og:image" content="{{ asset(picture)|imagine_filter('catalog_element') }}">
{%- endblock %}

{% import '@IrmagSite/Catalog/macro.add-element-to-basket.html.twig' as macro_basket %}
{% import '@IrmagSite/Catalog/macro.add-element-to-favorite.html.twig' as macro_favorite %}
{% import '@IrmagSite/Catalog/macro.element-props.html.twig' as macro_element_prop %}

{% block body %}
    <section class="element container">
        <h1>
            {{ element.fullName }}
            {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_site_element_edit', { id: element.id }) } -%}
        </h1>

        {% set breadcrumbs_last_muted = false %}
        {% set breadcrumbs = { 'Каталог': url('irmag_catalog') } %}

        {% if section_path %}
            {% for section in section_path %}
                {% set breadcrumbs = breadcrumbs|merge({ (section.name): url('irmag_catalog_section', { sectionId: section.id }) }) %}
            {% endfor %}
        {% endif %}

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with breadcrumbs|merge({ (element.name): url('irmag_catalog_element', { id: element.id }) }) %}

        <div itemscope itemtype="http://schema.org/Product">
            <meta itemprop="name" content="{{ element.name }}">

            {% if element.barcode is not empty %}
                <meta itemprop="gtin14" content="{{ element.barcode }}">
            {% endif %}

            {% if element.weight is not empty %}
                <meta itemprop="weight" content="{{ element.weight }}">
            {% endif %}

            <div class="row">

                <div class="block-image text-center col-xs-12 col-md-3">
                    <a href="{{ asset(picture)|imagine_filter('catalog_element_popup') }}" class="image fancybox" data-fancybox="attach" data-caption="{{ element.fullName }}" itemprop="image">
                        <img data-src="{{ asset(picture)|imagine_filter('catalog_element') }}" alt="{{ element.fullName }}">
                    </a>

                    {% if element.pictures|length > 1 or element.videoUrl %}
                        <div class="thumbnails">
                            <hr>
                            {% if element.pictures|length > 1 %}
                                {% for picture in element.pictures[1:] %}
                                    {% if picture.file.webpath is defined %}
                                        <a href="{{ asset(picture.file.webpath)|imagine_filter('catalog_element_popup') }}" class="fancybox" data-toggle="tooltip" title="{% trans %}element.tooltip.show_picture{% endtrans %}" data-fancybox="attach" data-caption="{{ element.fullName }}">
                                            <img data-src="{{ asset(picture.file.webpath)|imagine_filter('catalog_element_thumb') }}" alt="{{ element.fullName }}" class="img-responsive">
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if element.videoUrl %}
                                <a href="{{ element.videoUrl }}" class="fancybox" data-toggle="tooltip" title="{% trans %}element.tooltip.show_video{% endtrans %}" data-fancybox="attach">
                                    <i class="fa fa-youtube fa-fw"></i>
                                </a>
                            {% endif %}
                        </div>
                        <br>
                    {% endif %}
                </div><!-- /.block-image -->

                <div class="block-description col-xs-12 col-md-6">
                    <table class="table table-condensed">
                        <tbody>
                        {% if element.manufacturer %}
                            <tr>
                                <td class="vcenter">{% trans %}element.manufacturer{% endtrans %}:</td>
                                <td>
                                    <meta itemprop="manufacturer" content="{{ element.manufacturer.name }}">

                                    {% if element.manufacturer.picture %}
                                        <a href="{{ path('irmag_catalog', { filter: { manufacturer: [element.manufacturer.id] } }) }}" class="btn btn-link" title="{{ 'element.tooltip.show_brand_zone'|trans({ '%brand_zone%': element.manufacturer.name }, 'irmag_site') }}" data-toggle="tooltip" data-html="true">
                                            <img data-src="{{ asset(element.manufacturer.picture.webpath)|imagine_filter('brand_and_manufacturer') }}" class="brand-zone-logo-sm" alt="{{ element.manufacturer.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{{ path('irmag_catalog', { filter: { manufacturer: [element.manufacturer.id] } }) }}" class="btn btn-link unset-nowrap" title="{% trans %}element.tooltip.show_all_manufacturer_elements{% endtrans %}" data-toggle="tooltip">
                                            {{ element.manufacturer.name }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if element.brand %}
                            <tr>
                                <td class="vcenter">{% trans %}element.brand{% endtrans %}:</td>
                                <td>
                                    <meta itemprop="brand" content="{{ element.brand.name }}">

                                    {% if element.brand.picture %}
                                        <a href="{{ path('irmag_catalog', { filter: { brand: [element.brand.id] } }) }}" class="btn btn-link" title="{{ 'element.tooltip.show_brand_zone'|trans({ '%brand_zone%': element.brand.name }, 'irmag_site') }}" data-toggle="tooltip" data-html="true">
                                            <img data-src="{{ asset(element.brand.picture.webpath)|imagine_filter('brand_and_manufacturer') }}" class="brand-zone-logo-sm" alt="{{ element.brand.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{{ path('irmag_catalog', { filter: { brand: [element.brand.id] } }) }}" class="btn btn-link unset-nowrap" title="{% trans %}element.tooltip.show_all_brand_elements{% endtrans %}" data-toggle="tooltip">
                                            {{ element.brand.name }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if element.country %}
                            <tr>
                                <td class="vcenter">{% trans %}element.country{% endtrans %}:</td>
                                <td>
                                    <a href="{{ path('irmag_catalog', { filter: { country: [element.country.id] } }) }}" class="btn btn-link unset-nowrap" title="{% trans %}element.tooltip.show_all_country_elements{% endtrans %}" data-toggle="tooltip">
                                        {{ element.country.name }}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if element.tableSize %}
                            <tr>
                                <td class="vcenter">{% trans %}element.table_size{% endtrans %}</td>
                                <td>
                                    <a data-fancybox data-options='{ "type": "iframe", "src": "/table-sizes/{{ element.tableSize }}.html", "buttons": { "slideShow": false, "fullScreen": false, "share": false } }' href="javascript:;" class="btn btn-default">
                                        <i class="fa fa-table fa-fw"></i>
                                        {% trans %}element.table_size_show_btn{% endtrans %}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if element.weight %}
                            <tr>
                                <td>{% trans %}element.weight{% endtrans %}:</td>
                                <td>{{ element.weight }} <small>г.</small></td>
                            </tr>
                        {% endif %}
                        {% if element.volume %}
                            <tr>
                                <td>{% trans %}element.volume{% endtrans %}:</td>
                                <td>{{ element.volume }} <small>см<sup>3</sup>.</small></td>
                            </tr>
                        {% endif %}
                        {% if element.barcode %}
                            <tr>
                                <td>{% trans %}element.barcode{% endtrans %}:</td>
                                <td>{{ element.barcode }}</td>
                            </tr>
                        {% endif %}
                        {% if element.inStock %}
                            <tr>
                                <td class="vcenter">{% trans %}element.in_stock{% endtrans %}:</td>
                                <td class="vcenter">{% include '@IrmagSite/Catalog/element/in-stock-progress-bar.html.twig' %}</td>
                            </tr>
                        {% endif %}
                        {% if element.inPackage > 1 and element.inStock >= element.inPackage %}
                            <tr>
                                <td class="vcenter">{% trans %}element.in_package{% endtrans %}:</td>
                                <td class="vcenter">{% include '@IrmagSite/Catalog/element/in-package-add-btn.html.twig' %}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    {% if element.description %}
                        <div>
                            {% set use_truncate = element.description|length > 300 %}
                            <h3 class="mt-0">{% trans %}element.description{% endtrans %}</h3>
                            <p class="text-justify{{ use_truncate ? ' truncate' }}" id="element-description" itemprop="description">
                                {{ element.description|raw|nl2br }}
                                {% if use_truncate %}
                                    <a class="show-more">
                                        <i class="fa fa-expand fa-lg" data-toggle="tooltip" data-placement="left" title="{% trans %}element.tooltip.collapse_description{% endtrans %}"></i>
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}

                    {% if element.composition %}
                        <div>
                            <h3 class="collapse-trigger collapsed" data-target="#element-composition" data-toggle="collapse" aria-expanded="false">
                                <span data-toggle="tooltip" title="{% trans %}element.tooltip.show_composition{% endtrans %}">{% trans %}element.composition{% endtrans %}</span>
                            </h3>
                            <p class="text-justify collapse" id="element-composition">{{ element.composition|raw|nl2br }}</p>
                        </div>
                    {% endif %}

                    {% if element.howToUse %}
                        <div>
                            <h3 class="collapse-trigger collapsed" data-target="#element-howtouse" data-toggle="collapse" aria-expanded="false">
                                <span data-toggle="tooltip" title="{% trans %}element.tooltip.show_howtouse{% endtrans %}">{% trans %}element.howtouse{% endtrans %}</span>
                            </h3>
                            <p class="text-justify collapse" id="element-howtouse">{{ element.howToUse|raw|nl2br }}</p>
                        </div>
                    {% endif %}
                </div><!-- /.block-description -->

                <div id="buy-me" class="block-price col-xs-12 col-md-3"{% if not is_tone %} itemprop="offers" itemscope itemtype="http://schema.org/Offer"{% endif %}>
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            {% if element.isActive %}
                                {% set price_with_discount = get_price_with_discount(element)|number_format %}

                                {# акция с ценой на товар #}
                                {% if irmag.action.elements[element.id].price is defined %}
                                    {% set action_price = irmag.action.elements[element.id].price %}
                                {% endif %}

                                <div class="price mb-10{% if action_price is defined %} action-price{% endif %}">
                                    {% include '@IrmagBasket/helper-promocode-activated.html.twig' %}

                                    <span{% if action_price is defined %} class="cursor-help" title="Это цена по акции." data-toggle="tooltip"{% endif %}>{{ price_with_discount }}</span> <i class="fa fa-rub"></i>
                                </div>

                                {% if
                                    (action_price is not defined and element.price != price_with_discount)
                                    or
                                    (action_price is defined and action_price < element.price)
                                %}
                                    <div class="price-without-discount text-muted">
                                        <small>{% trans %}element.price_without_discount{% endtrans %}: {{ element.price }} <i class="fa fa-rub"></i></small>
                                    </div>
                                {% endif %}

                                <meta itemprop="price" content="{{ element.price }}">
                                <meta itemprop="priceCurrency" content="RUB">
                                <link itemprop="availability" href="http://schema.org/InStock">

                                {% if is_tone %}
                                    <a href="#childrens" class="btn btn-primary mt-5" data-toggle="scroll-to" data-offset-top="100"><i class="fa fa-reorder fa-fw"></i> Выбрать</a>
                                {% else %}
                                    <div class="form-group amount-wrapper">
                                        <input type="number" value="1" min="1" max="999" class="form-control amount" data-mapped-to="{{ element.id }}">
                                    </div>

                                    <div class="btn-group">
                                        {{ macro_basket.add_btn(element, 'В корзину', null, null, 'add_to_basket') }}
                                        {{ macro_favorite.add_btn(element, null, 'btn btn-warning add-element-to-favorite', null, 'Добавить в избранное') }}
                                    </div>
                                {% endif %}
                            {% else %}
                                <link itemprop="availability" href="http://schema.org/OutOfStock">

                                {% if element.abcGroup == 'V' %}
                                    <h3 class="text-danger m-0">Товар снят <span class="text-nowrap">с&nbsp;продажи &#9785;</span></h3>
                                {% else %}
                                    <h3 class="text-muted m-0">Товара нет <span class="text-nowrap">в&nbsp;наличии &#9785;</span></h3>
                                    <br>
                                    {{ macro_favorite.add_btn(element, null, 'btn btn-warning add-element-to-favorite', null, 'Добавить в избранное') }}
                                {% endif %}
                            {% endif %}

                            {% if element.isActive is same as(false) and element.abcGroup != 'V' and app.user %}
                                <div class="mt-15 hidden watch-element" id="watch-element">
                                    <button type="button"
                                            class="btn btn-link color-i4 watch-element"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title=""
                                            data-id="{{ element.id }}"
                                            data-favorite-name="{{ constant('Irmag\\FavoriteBundle\\Entity\\Favorite::WATCHING_FAVORITE_NAME') }}"
                                            data-is-watching="{{ irmag.favorite.watching(element) is same as(true) ? 'true' : 'false' }}"
                                            id="watch-element-btn">
                                        <i class="fa fa-eye fa-fw"></i> <span>следить за мной</span>
                                    </button>
                                </div>
                            {% endif %}

                            <hr class="mt-15">

                            <div class="props">
                                {% if element.thread.avgRating is defined and element.thread.avgRating > 0 -%}
                                    {% include '@IrmagSite/Catalog/element/prop-popover.html.twig' with { prop: {
                                        id: 'rating',
                                        title: 'element.rating',
                                        content: 'element.tooltip.rating',
                                        content_trans_vars: { '%avg_rating%': element.thread.avgRating, '%total%': element.thread.commentsTotalCount },
                                        text: '<small>' ~ element.thread.avgRating ~ '</small>'
                                    } } %}
                                {%- endif %}

                                {% include '@IrmagSite/Catalog/element/prop-popover.html.twig' with { prop: { id: 'delivery', title: 'element.delivery', content: 'element.help.delivery' } } %}
                                {% include '@IrmagSite/Catalog/element/prop-popover.html.twig' with { prop: { id: 'payment', title: 'element.payment', content: 'element.help.payment' } } %}

                                {% if element.createdAt > date('-1 week') -%}
                                    {% include '@IrmagSite/Catalog/element/prop-popover.html.twig' with { prop: { id: 'new', title: 'element.new', content: 'element.tooltip.prop_new' } } %}
                                {%- endif %}

                                {% if element.propEco -%}
                                    {% include '@IrmagSite/Catalog/element/prop-popover.html.twig' with { prop: { id: 'eco', title: 'element.eco', content: 'element.help.eco' } } %}
                                {%- endif %}

                                {% if element.propSpecialPrice -%}
                                    {% include '@IrmagSite/Catalog/element/prop-popover.html.twig' with { prop: { id: 'special-price', title: 'element.special_price', content: 'element.tooltip.prop_special_price' } } %}
                                {%- endif %}

                                {% if element.propSafeAnimal -%}
                                    {% include '@IrmagSite/Catalog/element/prop-popover.html.twig' with { prop: { id: 'safe-animal', title: 'element.safe_animal', content: 'element.tooltip.prop_safe_animal' } } %}
                                {%- endif %}

                                {% if element.propTransfer is not same as(null) -%}
                                    {% if element.propTransfer > 0 %}
                                        {% include '@IrmagSite/Catalog/element/prop-popover.html.twig' with { prop: {
                                            id: 'transfer',
                                            title: 'element.transfer',
                                            content: 'element.tooltip.prop_transfer_count',
                                            content_trans_vars: { '%count%': element.propTransfer }
                                        } } %}
                                    {% else %}
                                        {% include '@IrmagSite/Catalog/element/prop-popover.html.twig' with { prop: { id: 'transfer', title: 'element.transfer', content: 'element.tooltip.prop_transfer' } } %}
                                    {% endif %}
                                {%- endif %}
                            </div>
                        </div>
                    </div><!-- /.panel -->

                    {# element in actions #}
                    {% if irmag.action.elements[element.id] is defined %}
                        {% include '@IrmagSite/Catalog/element/in-actions.html.twig' with { actions: irmag.action.elements[element.id].actions } %}
                    {% endif %}

                    {# blog posts #}
                    {% if blog_posts_count > 0 %}
                        {% include '@IrmagSite/Catalog/element/in-blog-posts.html.twig' %}
                    {% endif %}

                    {# social-likes #}
                    {% include '@IrmagSite/Default/social-likes-share-url.html.twig' only %}
                </div><!-- /.block-price -->
            </div><!-- /.row -->

            {# childrens #}
            {% if is_tone %}
                {% include '@IrmagSite/Catalog/element/childrens.html.twig' %}
            {% endif %}

            {# Комплект/образ #}
            {% if not is_tone %}
                {% set kit = render(controller('Irmag\\SiteBundle\\Controller\\ElementController::kit', { element: element })) %}

                {% if kit is not empty %}
                    <hr class="mb-0">
                    <div class="mt-15">
                        {{ kit|raw }}
                    </div>
                {% endif %}
            {% endif %}

            {# Другие товары в этой серии #}
            {% if series_elements is not empty %}
                {% include '@IrmagSite/Catalog/element/series-elements.html.twig' with { is_grouped: false } %}
            {% endif %}

            {# С этим товаром смотрят #}
            {% if recommend_elements is not empty %}
                {% include '@IrmagSite/Catalog/element/recommend-elements.html.twig' with { is_grouped: false } %}
            {% endif %}

            <hr class="mb-0">

            {# thread comment #}
            <div class="row">
                <div class="col-xs-12">
                    {{ render_hinclude(controller('Irmag\\ThreadCommentBundle\\Controller\\ThreadCommentController::indexAction', { id: element.id, config: 'element' }), { default: '@IrmagSite/Default/heart-loading.html.twig', attributes: { 'evaljs': 'true' } }) }}
                </div>
            </div>

        </div><!-- /itemscope Product -->
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Catalog.Element.init();
            IRMAG.Catalog.bindExpandableNames();
        });
    </script>
{% endblock %}
