<div class="block-kit">
    <section class="catalog catalog-sm catalog-not-expandable">
        <h3 class="hidden">catalog element</h3>

        {% set total_price = 0.00 %}

        {% for element in kit %}
            {% if element %}

                {% set price_with_discount = get_price_with_discount(element) %}
                {% set total_price = total_price + price_with_discount %}

                <div class="pull-left text-nowrap">
                    {% if not loop.first %}
                        <span class="kit-symbol pull-left">+</span>
                    {% endif %}

                    <div class="catalog-element catalog-element-grid pull-left" data-id="{{ element.id }}" data-price="{{ price_with_discount }}">
                        <a href="{{ path('irmag_catalog_element', { id: element.id }) }}">
                            <div class="image">
                                {% set picture = element.pictures[0].file.webpath is defined
                                    ? element.pictures[0].file.webpath
                                    : constant('Irmag\\SiteBundle\\Entity\\Element::NOT_FOUND_IMAGE') %}

                                <img data-src="{{ asset(picture)|imagine_filter('catalog_elements') }}" alt="{{ element.name }}" class="img-responsive center-block">
                            </div>

                            {% if element.tonePicture.webpath is defined %}
                                <img data-src="{{ asset(element.tonePicture.webpath)|imagine_filter('catalog_element_children') }}" alt="{{ element.toneName }}" title="{{ element.toneName }}" class="img-circle tone-image" data-toggle="tooltip">
                            {% endif %}

                            <div class="name" title="{{ element.fullName }}" data-toggle="tooltip">
                                {{ element.fullName }}
                            </div>
                        </a>

                        {% if not loop.first %}
                            <div class="kit-checkbox">
                                <i class="fa fa-check"></i>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="pull-left text-nowrap">
            <span class="kit-symbol pull-left">=</span>

            <div class="total pull-left text-center">
                <span class="kit-total-price">{{ total_price|number_format }}</span>
                <i class="fa fa-rub"></i>

                <br>

                <a class="add-elements-to-basket btn btn-primary">
                    <i class="btn-icon fa fa-lg fa-fw fa-cart-plus"></i>
                    В корзину
                </a>
            </div>
        </div>

        <div class="clearfix"></div>
    </section>
</div>
