{% spaceless %}
<i class="prop-{{ prop.id }} fa fa-fw"
    data-toggle="popover"
    data-placement="bottom"
    title="{{ prop.title|trans({}, 'irmag_site') }}"
    data-content="{{ prop.content|trans(prop.content_trans_vars|default({}), 'irmag_site') }}"
>
    {{ prop.text|default('')|raw }}
</i>
{% endspaceless %}