<hr class="mb-0">

<div class="block-recommend-elements">
    <h3 class="mb-20">Другие товары в этой серии</h3>

    <section class="catalog catalog-sm catalog-not-expandable">
        <div class="row">
            {% for series_element in series_elements %}
                {% include '@IrmagSite/Catalog/catalog-element-grid.html.twig' with { element: series_element } %}
            {% endfor %}
        </div>

        <div class="clearfix"></div>
    </section>
</div>
