section.order {
    @import "order-panel";

    .alert {
        margin-bottom: 15px; // default: 20
    }

    // товаров в заказе
    .elements-panel {
        .btn-toggler {
            margin-top: -5px;
        }

        table {
            font-size: $font-size-small;
        }
    }

    // fix margin
    .payer-legal-wrapper {
        .form-group {
            margin-bottom: 0;
        }
    }

    // isPayerLegal
    .fa-isPayerLegal- {
        &0::before { content: $fa-var-user; }
        &1::before { content: $fa-var-users; }
    }

    // deliveryMethod
    .fa-deliveryMethod- {
        &courier::before { content: $fa-var-car; }
        &selfservice::before { content: $fa-var-building; }
        &courier_other_cities::before { content: $fa-var-truck; }
        &transport_company::before { content: $fa-var-archive; }
    }

    .hub-icon-deliveryMethod- {
        &russian_post::before { content: $irmag-font-icon-russian-post; }
        &drone::before { content: $irmag-font-icon-drone; }
    }

    // paymentMethod
    .fa-paymentMethod- {
        &cash::before { content: $fa-var-money; }
        &terminal::before { content: $fa-var-credit-card-alt; }
        &sberbank_transfer::before { content: $fa-var-credit-card; }
        &online::before { content: $fa-var-cc-visa; }
        &webmoney::before { content: $fa-var-krw; }
        &apple_pay::before { content: $fa-var-apple; }
        &android_pay::before { content: $fa-var-android; }
        &legal_rs::before { content: $fa-var-file-text-o; }
        &mixed::before { content: $fa-var-random; }
    }

    // irmag-font
    .hub-icon-paymentMethod- {
        &sberbank_online::before { content: $irmag-font-icon-sberbank; }
    }

    // radio btns
    label.hub {
        font-family: $font-family-base;
        font-weight: normal;
        border: 1px solid #eee;
        border-radius: $border-radius-base;
        padding: 15px;
        margin-bottom: 15px;
        text-align: center;
        cursor: pointer;
        background-color: #f5f5f5;
        display: block;

        // icon
        .fa,
        .hub-icon {
            display: block;
            font-size: 4em;
        }

        .hub-icon {
            @include irmag-icon();
        }

        .hub-title {
            display: inline-block;
        }

        .hub-subtitle {
        }

        .hub-description {
            line-height: 1.1;
        }
    }

    .radio {
        margin-top: 0;
        margin-bottom: 0;

        input {
            display: none;
        }

        label {
            padding-left: 0;
            font-weight: bold;
        }
    }

    // fix readonly bg
    input[name="order[deliveryDate]"][readonly] {
        background-color: $input-bg;
    }

    .order-finish-img {
        height: 354px;
        width: 254px;
        background-image: url('#{$irmag-site-image-dir}/cats/order-finish.png');
    }

    .suggestions-wrapper {
        display: inline;

        .suggestions-suggestions {
            top: 1px !important;
            border-radius: $border-radius-base;
            border-color: $state-success-text;
            padding: 5px;

            strong {
                font-weight: bold;
                color: $irmag-color-3;
            }
        }

        .suggestions-promo {
            display: none !important;
        }
    }
}
