.brand-zone-menu {
    position: absolute;
    width: 920px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    background-color: rgba(61, 61, 61, 0.6);
}

    .brand-zone-logo {
        background-color: #c51f25;
        position: relative;
        z-index: 3;
    }

        .bz-logo {
            display: block;
            width: 900px;
            height: 80px;
            background: url('sprites.png') 0 -10px;
        }

    .brand-zone-col {
        float: left;
        width: 310px;
        height: 280px;
        padding: 0;
        position: relative;
        z-index: 2;
    }

    .brand-zone-col:hover + .light {
        visibility: visible;
    }

    .col-right-fix {
        float: right;
        width: 300px;
    }

        .col-item {
            margin: 10px 10px 0 0;
            display: table;
            width: 300px;
            height: 80px;
            background: url('sprites.png') 0 0;
            position: relative;
            z-index: 2;
        }

            .item-1 {
                background-position: -10px -101px;
            }

            .item-2 {
                background-position: -10px -191px;
            }

            .item-3 {
                background-position: -10px -281px;
            }

            .item-4 {
                background-position: -340px -101px;
            }

            .item-5 {
                background-position: -346px -191px;
            }

            .item-6 {
                background-position: -346px -281px;
            }

            .item-7 {
                background-position: -670px -101px;
            }

            .item-8 {
                background-position: -670px -190px;
            }

            .item-9 {
                background-position: -660px -281px;
            }

        .line-1:hover {
            background-position-y: -371px;
        }

        .line-2:hover {
            background-position-y: -461px;
        }

        .line-3:hover {
            background-position-y: -551px;
        }

        .light {
            position: absolute;
            z-index: 1;
            top: -62px;
            display: block;
            visibility: hidden;
            height: 422px;
            width: 509px;
            background-image: url('./img_tescoma_light.png');
        }

        .light-left {
            left: -120px;
        }

        .light-center {
            left: 200px;
        }

        .light-right {
            right: -110px;
        }
