{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <div class="brand-zone-menu">
                    <div class="brand-zone-logo">
                        <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1577 } }, _fragment: anc }) }}" class="bz-logo"></a>
                    </div>

                    <div class="brand-zone-col">
                        <a href="{{ path('irmag_catalog_section', { sectionId: 542019, filter: { brand: { 0: 1577 } }, _fragment: anc }) }}" class="col-item item-1 line-1"></a>
                        <a href="{{ path('irmag_catalog_section', { sectionId: 542049, filter: { brand: { 0: 1577 } }, _fragment: anc }) }}" class="col-item item-2 line-2"></a>
                        <a href="{{ path('irmag_catalog_section', { sectionId: 542173, filter: { brand: { 0: 1577 } }, _fragment: anc }) }}" class="col-item item-3 line-3"></a>
                    </div>
                    <div class="light light-left"></div>

                    <div class="brand-zone-col">
                        <a href="{{ path('irmag_catalog_section', { sectionId: 542035, filter: { brand: { 0: 1577 } }, _fragment: anc }) }}" class="col-item item-4 line-1"></a>
                        <a href="{{ path('irmag_catalog_section', { sectionId: 542124, filter: { brand: { 0: 1577 } }, _fragment: anc }) }}" class="col-item item-5 line-2"></a>
                        <a href="{{ path('irmag_catalog_section', { sectionId: 542178, filter: { brand: { 0: 1577 } }, _fragment: anc }) }}" class="col-item item-6 line-3"></a>
                    </div>
                    <div class="light light-center"></div>

                    <div class="brand-zone-col col-right-fix">
                        <a href="{{ path('irmag_catalog_section', { sectionId: 542040, filter: { brand: { 0: 1577 } }, _fragment: anc }) }}" class="col-item item-7 line-1"></a>
                        <a href="{{ path('irmag_catalog_section', { sectionId: 542153, filter: { brand: { 0: 1577 } }, _fragment: anc }) }}" class="col-item item-8 line-2"></a>
                        <a href="{{ path('irmag_catalog_section', { sectionId: 542181, filter: { brand: { 0: 1577 } }, _fragment: anc }) }}" class="col-item item-9 line-3"></a>
                    </div>
                    <div class="light light-right"></div>

                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}