<div id="brand-zone-container-adaptive" class="brand-zone-container-adaptive">
    <div id="brand-zone-container" class="brand-zone-container"{% if bg is defined %} style="background-image: url('{{ bg }}');"{% endif %}>
        {% block content %}{% endblock %}
    </div>
</div>
