{% import '@IrmagSite/Catalog/macro.element-props.html.twig' as macro_element_prop %}
{% import '@IrmagSite/Catalog/macro.add-element-to-basket.html.twig' as macro_basket %}
{% import '@IrmagSite/Catalog/macro.add-element-to-favorite.html.twig' as macro_favorite %}

{% set is_grouped = is_grouped is defined ? is_grouped : true %}

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <div class="catalog-element catalog-element-grid">
        {% if current_section is defined and current_section is not null %}
            {% set element_first_section = element.sectionElements is not empty ? (element.sectionElements|first).section %}

            {% if element_first_section %}
                {% set url = path('irmag_catalog_element_with_section', { id: element.id, sectionId: element_first_section.id }) %}
            {% else %}
                {% set url = path('irmag_catalog_element', { id: element.id }) %}
            {% endif %}
        {% else %}
            {% set url = path('irmag_catalog_element', { id: element.id }) %}
        {% endif %}

        <div class="image">
            {% set picture = element.pictures[0].file.webpath is defined
                ? element.pictures[0].file.webpath
                : constant('Irmag\\SiteBundle\\Entity\\Element::NOT_FOUND_IMAGE') %}

            <a href="{{ url }}">
                <img data-src="{{ asset(picture)|imagine_filter('catalog_elements') }}" alt="{{ element.name }}" class="img-responsive center-block">
            </a>

            {% if is_grouped is same as(false) and element.tonePicture.webpath is defined %}
                <img data-src="{{ asset(element.tonePicture.webpath)|imagine_filter('catalog_element_children') }}" alt="{{ element.toneName }}" title="{{ element.toneName }}" class="tone-image img-circle" data-toggle="tooltip">
            {% endif %}

            <div class="props">
                {{ macro_element_prop.comment(element) }}
                {{ macro_element_prop.new(element) }}
                {{ macro_element_prop.eco(element) }}
                {{ macro_element_prop.special_price(element) }}
                {{ macro_element_prop.safe_animal(element) }}
                {{ macro_element_prop.transfer(element) }}
            </div>

            {# стикер #}
            {% if irmag.action.elements[element.id].actions is defined %}
                {% for action in irmag.action.elements[element.id].actions %}
                    {# не показывать больше 2х стикеров #}
                    {% if action.sticker.webpath is defined and loop.index <= 2 %}
                        <a href="{{ path('irmag_action_detail', { slug: action.slug }) }}"
                           class="sticker sticker-{{ loop.index }}"
                           style="background-image: url('{{ asset(action.sticker.webpath) }}');"
                           title="Этот товар участвует в акции:<br><b>&quot;{{ action.title }}&quot;</b>"
                           data-toggle="tooltip" data-html="true">
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="name">
            <a href="{{ url }}">
                {{ element.name }}
                {% if is_grouped is same as(false) and element.toneName %} - {{ element.toneName }}{% endif %}
            </a>
        </div>

        <div class="btns">
            <div class="btn-group">
                {% if is_grouped is same as(true) and element.groupBy %}
                    <a href="{{ path('irmag_catalog_element', { id: element.id }) }}" class="btn btn-primary">выбрать <small>(от {{ get_price_with_discount(element)|number_format }} <i class="fa fa-rub"></i>)</small></a>
                {% else %}
                    {{ macro_basket.add_btn(element) }}
                    {{ macro_favorite.add_btn(element, null, 'btn btn-warning add-element-to-favorite', null, 'element.add_to_favorite' | trans({}, 'irmag_site')) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
