<div class="catalog-filter">
    <div class="panel panel-{% if is_filter_used %}success{% else %}default{% endif %}">
        <div class="panel-heading hidden-md hidden-lg">
            <h3 class="panel-title"><i class="fa fa-cogs fa-fw"></i> Фильтр</h3>
        </div>
        <div class="panel-body">

            {{ form_start(filter_form, { attr: { action: '#jmp-to-catalog-content' } }) }}

                <input class="filter-fake-focus">

                {% if request.query.has('perpage') %}
                    <input type="hidden" name="perpage" value="{{ request.query.get('perpage') }}">
                {% endif %}

                {% if request.query.has('sort') %}
                    <input type="hidden" name="sort" value="{{ request.query.get('sort') }}">
                {% endif %}

                {% if request.query.has('direction') %}
                    <input type="hidden" name="direction" value="{{ request.query.get('direction') }}">
                {% endif %}

                {% if is_search_used %}
                    <input type="hidden" name="q" value="{{ search_query }}">
                {% endif %}

                {# hidden fields #}
                {{ form_widget(filter_form.manufacturer) }}
                {{ form_widget(filter_form.brand) }}
                {{ form_widget(filter_form.country) }}

                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        {{ form_row(filter_form.manufacturer_and_brands_select) }}
                        {{ form_row(filter_form.country_select) }}
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="filter_price_start" class="control-label">Цена</label>
                            </div>
                            <div class="col-xs-12">
                                <div class="slider-wrapper">
                                    <input type="hidden" class="price-slider" id="price-slider"
                                        data-slider-min="{{ filter_form.vars.value.min_price }}"
                                        data-slider-max="{{ filter_form.vars.value.max_price }}"
                                        data-slider-step="1"
                                        data-slider-value="[{{ filter_form.vars.value.price_start|default(filter_form.vars.value.min_price) }},{{ filter_form.vars.value.price_end|default(filter_form.vars.value.max_price) }}]"
                                        data-slider-tooltip="hide"
                                        data-input-start-id="#filter_price_start"
                                        data-input-end-id="#filter_price_end">
                                </div>
                            </div>
                            <div class="price-wrapper">
                                <div class="col-xs-6 text-center">
                                    <small class="text-muted">от</small>
                                    {{ form_row(filter_form.price_start) }}
                                </div>
                                <div class="col-xs-6 text-center">
                                    <small class="text-muted">до</small>
                                    {{ form_row(filter_form.price_end) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-lg-2">
                        <hr class="hidden-md hidden-lg mt-0">
                        {{ form_row(filter_form.prop) }}
                    </div>

                    <div class="col-md-2 col-lg-2 btns">
                        <hr class="hidden-md hidden-lg">
                        <button class="btn-block btn-success btn do-filter"><i class="fa fa-check fa-fw"></i> {{ 'filter.apply'|trans({}, 'irmag_site') }}</button>
                        <div class="hidden-md hidden-lg mb-15"></div>
                    </div>
                </div><!-- /.row -->

            {{ form_end(filter_form) }}

        </div>
    </div>
</div>
