{% extends '@IrmagSite/layout.html.twig' %}

{# default sets #}
{% set filter_is_visible = app.request.cookies.has('catalog_filter_visible') %}
{% set current_path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{# поиск #}
{% if is_search_used %}
    {% set search_query_url = { 'q': search_query|e }|url_encode %}
    {% set base_query_url = '?' ~ search_query_url %}
{% endif %}

{# фильтр #}
{% if is_filter_used %}
    {% set filter_query_url = { 'filter': filter_data }|url_encode %}
    {% set base_query_url = (base_query_url is defined ? base_query_url ~ '&' : '?') ~ filter_query_url %}
{% endif %}

{% if base_query_url is not defined %}
    {# do not put in default sets #}
    {% set base_query_url = '' %}
{% endif %}

{% set brand_zone_enabled = is_filter_used and filter_data.brand is defined or filter_data.manufacturer is defined %}

{% if (is_filter_used or is_search_used) and not brand_zone_enabled %}
    {% set meta_robots_noindex = true %}
    {% set meta_robots_nofollow = true %}
{% endif %}

{% block title -%}
    {%- if is_search_used %}🔎 Поиск - {% endif -%}
    {{- seo_title is not empty ? seo_title : current_section ? current_section.name : 'Каталог' -}}
{%- endblock %}

{% block body %}
    {% set filter_toggle_btn %}
        <button type="button" class="filter-toggle-btn mb-20 btn btn-warning{{ filter_is_visible ? ' active' }}" data-toggle="button" aria-pressed="{{ filter_is_visible ? 'true' : 'false' }}"><i class="fa fa-filter"></i> {{ filter_is_visible ? 'Закрыть' : 'Открыть' }} фильтр</button>
    {% endset %}

    {# бренд-зона #}
    {% if brand_zone_enabled %}
        {% set brand_zone_content = render(controller('\\Irmag\\SiteBundle\\Controller\\CatalogController::brandZoneAction', { filterData: filter_data })) %}

        {% if brand_zone_content is not empty %}
            {{ brand_zone_content|raw }}
        {% else %}
            {% set brand_zone_enabled = false %}
        {% endif %}
    {% endif %}

    <section class="catalog container">
        {% if current_section is null -%}
            <div class="{{ brand_zone_enabled ? 'mt-10' : 'mt-20' }} hidden-md hidden-lg"></div>
        {%- endif %}

        <h1{{ current_section is null ? ' class="hidden-xs hidden-sm"' }}>
            {%- if current_section is null -%}
                {{ seo_h1 is not empty ? seo_h1 : 'Каталог' }}
                {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_site_section_tree') } -%}
            {%- else -%}
                {{ seo_h1 is not empty ? seo_h1 : current_section.name }}
                {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_site_section_edit', { id: current_section.id }) } -%}
            {%- endif -%}
        </h1>

        {# не показываем breadcrumbs, сообщение "используеться фильтрация/поиск", подразделы и фильтр если это бренд-зона #}
        {% if brand_zone_enabled is same as(false) %}
            {% set breadcrumbs = { 'Каталог': url('irmag_catalog') ~ base_query_url } %}

            {% if section_path %}
                {% for section in section_path %}
                    {% set breadcrumbs = breadcrumbs|merge({ (section.name): url('irmag_catalog_section', { sectionId: section.id }) ~ base_query_url }) %}
                {% endfor %}
            {% endif %}

            <div class="row">
                <div class="col-xs-12 col-md-10">
                    {% include '@IrmagSite/Default/breadcrumbs.html.twig' with breadcrumbs %}
                </div>
                <div class="col-md-2 hidden-xs hidden-sm text-right">
                    {{ filter_toggle_btn }}
                </div>
            </div>

            {# сообшение "используеться фильтраци/поиск" #}
            {% if is_filter_used or is_search_used %}
                <div class="alert alert-success">
                    {# фильтр #}
                    {% if is_filter_used %}
                        <i class="fa fa-filter fa-fw"></i> {{ 'filter.used'|trans({}, 'irmag_site') }}
                        <a href="{{ current_path }}{% if search_query_url is defined %}?{{ search_query_url }}{% endif %}" class="btn btn-danger btn-xs">
                            <i class="fa fa-close"></i>
                            {{ 'filter.reset'|trans({}, 'irmag_site') }}
                        </a>

                        {% if is_search_used %}
                            <br class="mb-10">
                        {% endif %}
                    {% endif %}

                    {# поиск #}
                    {% if is_search_used %}
                        <i class="fa fa-search fa-fw"></i> {{ 'search.used'|trans({'%search_query%': search_query|e}, 'irmag_site')|raw }}

                        <a href="{{ current_path }}{% if filter_query_url is defined %}?{{ filter_query_url }}{% endif %}" class="btn btn-danger btn-xs">
                            <i class="fa fa-close"></i>
                            {{ 'search.reset'|trans({}, 'irmag_site') }}
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {# кнопка фильтр #}
            <div class="hidden-md hidden-lg">
                {{ filter_toggle_btn }}
            </div>

            {# фильтр #}
            <div class="catalog-filter-wrapper{% if not filter_is_visible %} closed{% endif %}" id="catalog-filter-wrapper">
                {{ render(controller('Irmag\\SiteBundle\\Controller\\CatalogController::filterAction', { request: app.request, section: current_section })) }}
            </div>

            {# подразделы #}
            {% if sections is not empty %}
                {% if irmag.mobile %}
                    {# xs, sm #}
                    <div class="section-list panel panel-info">
                        <div class="panel-heading">
                            <b>Подразделы</b>
                            <a href="#catalog-content" class="btn btn-success btn-xs pull-right" data-toggle="scroll-to" data-offset-top="100">посмотреть товары</a>
                        </div>
                        <div class="list-group">
                            {% for section in sections %}
                                <a href="{{ path('irmag_catalog_section', { sectionId: section.id }) ~ base_query_url }}" class="list-group-item">
                                    <i class="irmag-icon irmag-icon-section-{{ section.id }}"></i>
                                    {{ section.name }}
                                    <span class="badge">{{ section.elementsCountRecursive }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {# md, lg #}
                    <div class="alert alert-grey p-10">
                        {% for section in sections %}
                            <a href="{{ path('irmag_catalog_section', { sectionId: section.id }) ~ base_query_url }}" class="btn btn-link">
                                {{ section.name }}
                                <span class="badge">{{ section.elementsCountRecursive }}</span>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}

        {% endif %}

        {# контент #}
        <div id="catalog-content">
            {{ render(controller('Irmag\\SiteBundle\\Controller\\CatalogController::contentAction', { request: app.request, section: current_section })) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Catalog.init();
        });
    </script>
{% endblock %}
