{% if request.cookies.has('_catalog_view_type') %}
    {% set catalog_view_type = request.cookies.get('_catalog_view_type') == 'line' ? 'line' : 'grid' %}
{% elseif irmag.mobile %}
    {% set catalog_view_type = 'line' %}
{% else %}
    {% set catalog_view_type = 'grid' %}
{% endif %}

{# разделитель страниц #}
{% if request.isXMLHttpRequest is same as(true) and request.request.has('show-page-separator') is same as(true) %}
    {% set paginationData = pagination.getPaginationData() %}
    <div class="page-separator text-center text-muted">
        <small>Страница {{ paginationData.current }} из {{ paginationData.pageCount }}</small>
    </div>
{% else %}
    <hr class="mt-0{% if current_section is null %} hidden-xs hidden-sm{% endif %}">

    <div class="page-controls row">
        <div class="col-xs-12 col-md-8 sort-block">
            <label>Сортировать по:</label>

            {% if is_search_used %}
                <span>
                    {{ knp_pagination_sortable(pagination, 'Релевантности', 'rank', { class: 'btn btn-link' }, {}, '@IrmagSite/Pagination/sortable_link.html.twig') }}
                    {% if pagination.isSorted('rank') %}
                        <i class="fa fa-search"></i>
                        <i class="fa fa-sort-{{ pagination.direction('rank') }}"></i>
                    {% endif %}
                </span>
            {% endif %}
            <span>
                {{ knp_pagination_sortable(pagination, 'Новизне', 'createdAt', { class: 'btn btn-link' }, {}, '@IrmagSite/Pagination/sortable_link.html.twig') }}
                {% if pagination.isSorted('createdAt') %}
                    <i class="fa fa-sort-amount-{{ pagination.direction('createdAt') }}"></i>
                {% endif %}
            </span>
            <span>
                {{ knp_pagination_sortable(pagination, 'Рейтингу', 'avgRating', { class: 'btn btn-link' }, {}, '@IrmagSite/Pagination/sortable_link.html.twig') }}
                {% if pagination.isSorted('avgRating') %}
                    <i class="fa fa-sort-amount-{{ pagination.direction('avgRating') }}"></i>
                {% endif %}
            </span>
            <span>
                {{ knp_pagination_sortable(pagination, 'Названию', 'name', { class: 'btn btn-link' }, { direction: request.query.get('direction') == 'asc' ? 'desc' : 'asc' }, '@IrmagSite/Pagination/sortable_link.html.twig') }}
                {% if pagination.isSorted('name') %}
                    <i class="fa fa-sort-alpha-{{ pagination.direction('name') }}"></i>
                {% endif %}
            </span>
            <span>
                {{ knp_pagination_sortable(pagination, 'Цене', 'price', { class: 'btn btn-link' }, { direction: request.query.get('direction') == 'asc' ? 'desc' : 'asc' }, '@IrmagSite/Pagination/sortable_link.html.twig') }}
                {% if pagination.isSorted('price') %}
                    <i class="fa fa-sort-numeric-{{ pagination.direction('price') }}"></i>
                {% endif %}
            </span>
            <span>
                {{ knp_pagination_sortable(pagination, 'Весу', 'weight', { class: 'btn btn-link' }, {}, '@IrmagSite/Pagination/sortable_link.html.twig') }}
                {% if pagination.isSorted('weight') %}
                    <i class="fa fa-sort-numeric-{{ pagination.direction('weight') }}"></i>
                {% endif %}
            </span>
            <span>
                {{ knp_pagination_sortable(pagination, 'Объёму', 'volume', { class: 'btn btn-link' }, {}, '@IrmagSite/Pagination/sortable_link.html.twig') }}
                {% if pagination.isSorted('volume') %}
                    <i class="fa fa-sort-numeric-{{ pagination.direction('volume') }}"></i>
                {% endif %}
            </span>

            <div class="mb-10 visible-xs-block visible-sm-block"></div>
        </div>

        <div class="catalog-view-block col-xs-7 col-md-2">
            <label class="mr-10">Вид:</label>
            {% include '@IrmagSite/Catalog/helper-catalog-view-toggler-btns.html.twig' %}
        </div>

        <div class="perpage-block text-right col-xs-5 col-md-2">
            {{ form_start(perpage_form, { 'name': 'catalog_per_page' }) }}
            {{ form_label(perpage_form.perpage, null, { 'label_attr': { 'class': 'mr-10' } }) }}
            {{ form_widget(perpage_form.perpage) }}
            <noscript>
                {{ form_widget(perpage_form.submit, { attr: { 'style': 'margin-top: -3px;' } }) }}
            </noscript>
            {{ form_end(perpage_form) }}
        </div>
    </div>

    <hr>
{% endif %}

{% if pagination is empty %}
    <div class="alert alert-warning">
        По Вашему запросу ничего не найдено :(
        <div class="mt-15">
            <a href="{{ path('irmag_catalog') }}" class="btn btn-primary">Перейти в каталог</a>
        </div>
    </div>

    {{ render(controller('Irmag\\SiteBundle\\Controller\\ActionController::oneRandomOfferAction')) }}
{% else %}
    <div class="row" id="page-{{ pagination.currentPageNumber }}">
        {% for element in pagination %}
            {% include '@IrmagSite/Catalog/catalog-element-' ~ catalog_view_type ~ '.html.twig' with { is_grouped: is_grouped } %}
        {% endfor %}
    </div>

    <div class="navigation">
        <hr>
        {{ knp_pagination_render(pagination, '@IrmagCore/Pagination/sliding-with-next-btn.html.twig') }}
    </div>
{% endif %}
