{% trans_default_domain 'irmag_site' %}

{# рейтинг или кол-во комментариев #}
{% macro comment(element) %}
{% spaceless %}
    {% if element.thread %}
        {% if element.thread.avgRating > 0 %}
            <i class="prop-rating fa fa-fw" title="{% trans with { '%avg_rating%': element.thread.avgRating, '%total%': element.thread.commentsTotalCount } %}element.tooltip.rating{% endtrans %}" data-toggle="tooltip" data-html="true"><small>{{ element.thread.avgRating }}</small></i>
        {% elseif element.thread.commentsTotalCount > 0 %}
            <i class="prop-comment fa fa-fw" title="{% trans %}element.tooltip.comment{% endtrans %}" data-toggle="tooltip" data-html="true"><small>{{ element.thread.commentsTotalCount }}</small></i>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endmacro %}

{# новинка #}
{% macro new(element) %}
{% spaceless %}
    {% if element.createdAt > date('-1 week') %}
        <i class="prop-new fa fa-fw" title="{% trans %}element.tooltip.prop_new{% endtrans %}" data-toggle="tooltip" data-html="true"></i>
    {% endif %}
{% endspaceless %}
{% endmacro %}

{# эко товар #}
{% macro eco(element) %}
{% spaceless %}
    {% if element.propEco %}
        <i class="prop-eco fa fa-fw" title="{% trans %}element.tooltip.prop_eco{% endtrans %}" data-toggle="tooltip" data-html="true"></i>
    {% endif %}
{% endspaceless %}
{% endmacro %}

{# спец. цена #}
{% macro special_price(element) %}
{% spaceless %}
    {% if element.propSpecialPrice %}
        <i class="prop-special-price fa fa-fw" title="{% trans %}element.tooltip.prop_special_price{% endtrans %}" data-toggle="tooltip" data-html="true"></i>
    {% endif %}
{% endspaceless %}
{% endmacro %}

{# не тестируется на животных #}
{% macro safe_animal(element) %}
{% spaceless %}
    {% if element.propSafeAnimal %}
        <i class="prop-safe-animal fa fa-fw" title="{% trans %}element.tooltip.prop_safe_animal{% endtrans %}" data-toggle="tooltip" data-html="true"></i>
    {% endif %}
{% endspaceless %}
{% endmacro %}

{# трансфер #}
{% macro transfer(element) %}
{% spaceless %}
    {% if element.propTransfer is not same as(null) %}
        {% if element.propTransfer > 0 %}
            {% set tooltip = 'element.tooltip.prop_transfer_count'|trans({ '%count%': element.propTransfer }, 'irmag_site') %}
        {% else %}
            {% set tooltip = 'element.tooltip.prop_transfer'|trans({}, 'irmag_site') %}
        {% endif %}

        <i class="prop-transfer fa fa-fw" title="{{ tooltip }}" data-toggle="tooltip" data-html="true"></i>
    {% endif %}
{% endspaceless %}
{% endmacro %}
