{% spaceless %}
<nav class="catalog-menu" id="catalog-menu">
    <ul>
        {% for section in sections %}
            {% if section.isActive %}
                <li>
                    <a href="{{ url('irmag_catalog_section', { sectionId: section.id }) }}">
                        <i class="icon irmag-icon-section-{{ section.id }}"></i>
                        <span>{{ section.name }}</span>
                    </a>

                    {% if section.__children is defined %}
                        <div class="submenu clearfix row">
                            {% set col_class = (section.__children|length > 3) ? 'col-md-4 col-lg-3' : 'col-md-4' %}

                            {% for section in section.__children %}
                                {% if section.isActive %}
                                    <dl class="{{ col_class }}">
                                        <dt>
                                            <a href="{{ url('irmag_catalog_section', { sectionId: section.id }) }}">{{ section.name }}</a>
                                        </dt>

                                        {% for section in section.__children %}
                                            {% if section.isActive %}
                                                <dd>
                                                    <a href="{{ url('irmag_catalog_section', { sectionId: section.id }) }}">{{ section.name }}</a>
                                                </dd>
                                            {% endif %}
                                        {% else %}
                                            <dd></dd>
                                        {% endfor %}
                                    </dl>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}

        <li class="last brand-zones">
            <a href="{{ url('irmag_brand_zones') }}" class="brand-btn">
                <i class="fa fa-diamond fa-fw pull-left"></i>
                <span>БРЕНД-ЗОНЫ</span>
            </a>

            <div class="submenu clearfix row">
                <dl class="col-md-12 brands" id="brands">
                    {% for entity in manufacturers_and_brands %}
                        {% set short_name = constant('SHORT_NAME', entity) %}
                        <dt class="hidden"></dt>
                        <dd>
                            <a href="{{ url('irmag_catalog', { filter: { (short_name): [entity.id] } }) }}">
                                <img data-src="{{ asset(entity.picture.webpath)|imagine_filter('brand_and_manufacturer') }}" width="172" height="50" class="brand-zone-logo-sm" alt="{{ entity.name }}">
                            </a>
                        </dd>
                    {% endfor %}
                </dl>
            </div>
        </li>
    </ul>
</nav>
{% endspaceless %}

<script>
    $(function() {
        IRMAG.Catalog.Menu.init();
        new LazyLoad({ container: document.getElementById('brands') });
    });
</script>
