{% extends '@IrmagSite/layout.html.twig' %}

{% block body %}

    <section class="catalog container">

        <h1>Каталог</h1>

        {% set breadcrumbs = { 'Каталог': url('irmag_catalog'), 'Древо разделов': null } %}
        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with breadcrumbs %}

        {{ tree|raw }}

    </section>

{% endblock %}
