<div class="row mt-20" id="bonus-pay">
    <div class="col-xs-12 col-md-offset-2 col-md-8 bonus-pay text-center">
        <div class="alert mb-0 {% if irmag.basket.data.bonusSpend %}alert-success{% else %}alert-info{% endif %}">
            <table class="table table-borderless mb-0">
                <tbody>
                <tr>
                    <td class="vcenter p-0">
                        <div class="irmag-cat-pic basket-bonus-cat-pic {% if irmag.basket.data.bonusSpend %} bonus-cat-2 {% else %} bonus-cat-1 {% endif %}"></div>
                    </td>
                    <td class="text-left vcenter pb-0 pt-0">
                        {% if irmag.basket.data.bonusSpend %}
                            <h3 class="mt-0 mb-15">
                                Вы использовали <b>{{ 'bonus.count'|transchoice(irmag.basket.data.bonusSpend, {}, 'irmag_site') }}</b> для оплаты заказа
                            </h3>

                            <button class="btn btn-primary" id="irmag-cancel-bonus-pay-btn">Отменить оплату</button>
                        {% else %}
                            <h3 class="mt-0 mb-15">
                                В вашей копилке <b>{{ 'bonus.count'|transchoice(app.user.bonus, {}, 'irmag_site') }}</b>
                            </h3>

                            <div>
                                Вы можете оплатить <b>до 50%</b> стоимости заказа фантиками <span class="text-nowrap">(использовать до <span class="label label-warning">{{ irmag.basket.data.bonusMaxToPay }} ф.</span>)</span>
                            </div>

                            <div class="mb-15 text-danger"><b>Только для физических лиц.</b></div>

                            <div class="form-inline">
                                <div class="input-group">
                                    <input type="number" id="irmag-bonus-value" class="form-control" min="1" max="{{ irmag.basket.data.bonusMaxToPay }}" value="{{ irmag.basket.data.bonusMaxToPay }}" required="required">
                                    <span class="input-group-btn">
                                        <button type="button" id="irmag-bonus-pay-btn" class="btn btn-primary">Оплатить<span class="hidden-xs"> фантиками</span></button>
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
