{% if irmag.basket.data.promocode and irmag.basket.data.promocode.elementList is not empty %}
    {% set elementList = irmag.basket.data.promocode.elementList.elements %}
{% endif %}

{% if elementList is defined and element in elementList and element.price != price_with_discount %}
    {% set promocodeActivated = true %}
{% else %}
    {% set promocodeActivated = false %}
{% endif %}

{% if promocodeActivated %}
    <span class="promocode-activated fa fa-arrow-circle-o-down" data-toggle="tooltip" data-html="true" title="Цена на этот товар снижена по промокоду <b>{{ irmag.basket.data.promocode.code }}</b>."></span>
{% endif %}
