<h3>Увы, но тут пусто <i class="fa fa-frown-o"></i></h3>

<p>
    Для добавления товара в {{ where_section_name|default('раздел') }} перейдите в <a href="{{ path('irmag_catalog') }}">каталог</a>
    или воспользуйтесь поисковой строкой выше.
</p>

{% if not app.user %}
    <div class="alert alert-warning">
        Вы не <a href="{{ path('security_login') }}">аутентифицировались</a> на сайте.
    </div>
{% endif %}
