{% trans_default_domain 'irmag_site' %}
{% spaceless %}
<div class="alert alert-special-price">
    <span class="props">
        <i class="prop-special-price fa fa-fw" data-toggle="tooltip" title="{% trans %}element.special_price{% endtrans %}"></i>
        {% trans %}element.tooltip.prop_special_price{% endtrans %}
    </span>
</div>
{% endspaceless %}