{% spaceless %}
<div class="alert alert-transfer">
    <span class="props">
        <i class="prop-transfer fa fa-fw" data-toggle="tooltip" title="{{ 'element.transfer'|trans({}, 'irmag_site') }}"></i>
        {% if element.propTransfer == 0 %}
            {{ 'element.tooltip.prop_transfer'|trans({}, 'irmag_site') }}
        {% else %}
            {{ 'element.tooltip.prop_transfer_count'|trans({ '%count%': element.propTransfer }, 'irmag_site')|raw }}
        {% endif %}
    </span>
</div>
{% endspaceless %}
