{% import '@IrmagSite/Catalog/macro.add-element-to-favorite.html.twig' as macro_favorite %}

{# активация промокода #}
{% if not irmag.basket.empty %}
    {% set activate_promocode_btn %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if irmag.basket.data.promocode %}
                <div class="btn-group">
                    <button type="button" class="activate-promocode-btn btn btn-success" disabled="disabled">Промокод "{{ irmag.basket.data.promocode.code }}" активирован</button>
                    <button type="button" class="deactivate-promocode-btn btn btn-danger" data-toggle="tooltip" title="{{ 'tooltip.promocode_deactivate'|trans({}, 'irmag_site') }}"><i class="fa fa-close"></i></button>
                </div>
            {% else %}
                <button type="button" class="activate-promocode-btn btn btn-info">Активировать промокод</button>
            {% endif %}
        {% else %}
            <button type="button" class="activate-promocode-btn btn btn-info" disabled="disabled" data-toggle="tooltip" title="Сначала Вы должны аутентифицироваться на сайте">Активировать промокод</button>
        {% endif %}
    {% endset %}
{% else %}
    {% set activate_promocode_btn = '' %}
{% endif %}

{# активация промокода и массовые действия для дублирования (всё в избранное, удалить всё) #}
{% if irmag.basket.basketElements|length > 1 %}
    {% set action_btns %}
        <div class="row mb-20">
            <div class="col-xs-12 col-sm-7 col-sm-push-5 text-right">
                <div class="btn-group" role="group">
                    {% if irmag.favorite.favorites|length > 1 %}
                        <div class="btn-group move-all-elements-to-favorite">
                            <button type="button" class="btn btn-warning dropdown-toggle" id="dropdownMenuMoveAll" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-star fa-lg"></i> всё в избранное
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuMoveAll">
                                {% for favorite in irmag.favorite.favorites %}
                                    <li>
                                        <a data-favorite-name="{{ favorite.name }}"
                                           onclick="if ('undefined' !== typeof yaCounter{{ metrics.ya_id }}) yaCounter{{ metrics.ya_id }}.reachGoal('all_in_favorites');">
                                            {{ favorite.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <a class="move-all-elements-to-favorite btn btn-warning"
                           onclick="if ('undefined' !== typeof yaCounter{{ metrics.ya_id }}) yaCounter{{ metrics.ya_id }}.reachGoal('all_in_favorites');">
                            <i class="fa fa-star fa-lg"></i> всё в избранное
                        </a>
                    {% endif %}

                    <button type="button" class="clear-basket btn btn-danger"
                        onclick="if ('undefined' !== typeof yaCounter{{ metrics.ya_id }}) yaCounter{{ metrics.ya_id }}.reachGoal('delete_all');">
                        <i class="fa fa-trash fa-lg"></i> удалить всё
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-pull-7 activate-promocode-block">
                {{ activate_promocode_btn }}
            </div>
        </div>
    {% endset %}
{% else %}
    {% set action_btns %}
        <div class="row mb-20">
            <div class="col-xs-12 activate-promocode-block">
                {{ activate_promocode_btn }}
            </div>
        </div>
    {% endset %}
{% endif %}

{# content #}
{% if irmag.basket.basketElements is not empty %}
    {% if not app.user %}
        <div class="alert alert-info">
            Уважаемый покупатель, возможно Вы забыли <b><a href="{{ url('security_login') }}">аутентифицироваться</a></b> на сайте.
            Накопительная <b>скидка</b> и <b>бонусы</b> не будут работать.
        </div>
    {% endif %}

    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ flash_message }}
        </div>
    {% endfor %}

    {# активация промокода и массовые действия #}
    {% if irmag.basket.basketElements|length > 5 %}
        {{ action_btns }}
    {% endif %}

    <div class="basket-and-favorite">
        <hr class="mt-0">
        {% for position in irmag.basket.basketElements %}
            {% set element = position.element %}
            {% set is_not_in_stock = element.inStock > 0 and position.amount > element.inStock %}

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                    {# row 1 #}
                    <div class="row vertical-align{% if not element.isActive %} grayscale{% endif %}">
                        {# col image #}
                        <div class="col-xs-4 col-lg-2">
                            <div class="image center-block">
                                {% set picture = element.pictures[0].file.webpath is defined ? element.pictures[0].file.webpath : constant('Irmag\\SiteBundle\\Entity\\Element::NOT_FOUND_IMAGE') %}

                                <a href="{{ asset(picture)|imagine_filter('catalog_element_popup') }}" class="fancybox" data-caption="{{ element.fullName }}" data-fancybox="element">
                                    <img src="{{ asset(picture)|imagine_filter('catalog_elements') }}" class="img-responsive primary-image">

                                    {% if element.tonePicture.webpath is defined %}
                                        <img src="{{ asset(element.tonePicture.webpath)|imagine_filter('catalog_element_children') }}" alt="{{ element.toneName }}" title="{{ element.toneName }}" class="tone-image img-circle" data-toggle="tooltip">
                                    {% endif %}
                                </a>
                            </div>
                        </div>

                        {# col name #}
                        <div class="col-xs-8 col-lg-10">
                            <div class="name">
                                <a href="{{ path('irmag_catalog_element', { id: element.id }) }}">
                                    {{ element.name }}
                                    {% if element.toneName %} - <span class="text-muted">{{ element.toneName }}</span>{% endif %}
                                </a>

                                <div class="text-sm">
                                    {% if not element.isActive %}
                                        {% include '@IrmagBasket/helper-element-not-active.html.twig' %}
                                    {% endif %}

                                    {% if element.isOnlyForHome %}
                                        {% include '@IrmagBasket/helper-element-only-for-home.html.twig' %}
                                    {% endif %}

                                    {% if element.propTransfer is not same as(null) %}
                                        {% include '@IrmagBasket/helper-element-in-transfer.html.twig' %}
                                    {% endif %}

                                    {% if element.propSpecialPrice %}
                                        {% include '@IrmagBasket/helper-element-special-price.html.twig' %}
                                    {% endif %}

                                    {% if irmag.action.elements[element.id] is defined %}
                                        {% include '@IrmagBasket/helper-element-in-action.html.twig' %}
                                    {% endif %}

                                    {% if is_not_in_stock %}
                                        {% include '@IrmagBasket/helper-element-not-in-stock.html.twig' %}
                                    {% endif %}
                                </div>

                                <div class="properties mt-10 hidden-xs">
                                    <i class="cursor-help fa fa-balance-scale fa-lg fa-fw" data-toggle="tooltip" data-html="true" title="{{ 'element.tooltip.prop_weight'|trans({ '%weight%': element.weight }, 'irmag_site') }}"></i>
                                    <i class="cursor-help fa fa-cube fa-lg fa-fw" data-toggle="tooltip" data-html="true" title="{{ 'element.tooltip.prop_volume'|trans({ '%volume%': element.volume }, 'irmag_site') }}"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-5 col-md-4 only-xs-separator">
                    {# row 2 #}
                    <div class="row vertical-align">
                        {# col amount #}
                        <div class="col-xs-3 col-xs-push-4 col-sm-push-0 col-sm-4 col-md-4 col-lg-3 col-amount">
                            <div class="amount{{ is_not_in_stock ? ' has-error' }}">
                                <input type="number" value="{{ position.amount }}" size="1" min="1" max="999" class="form-control input-sm" data-element-id="{{ element.id }}" title="Кол-во">
                            </div>
                        </div>

                        {# col price #}
                        <div class="col-xs-4 col-xs-pull-3 col-sm-pull-0 col-sm-4 col-md-5 col-lg-6">
                            <div class="price center-block">
                                {% set price_with_discount = get_price_with_discount(element)|number_format %}
                                {% set action_price = irmag.action.elements[element.id].price is defined %}

                                {% if position.amount > 1 %}
                                    {# несколько шт. #}
                                    {% if element.price != price_with_discount %}
                                        {# цена со скидкой #}
                                        <small class="cursor-help" data-toggle="tooltip" title="Цена без скидки: {{ element.price }} ₽.">
                                            {{ price_with_discount }} <i class="fa fa-rub"></i>
                                        </small>

                                        {% include '@IrmagBasket/helper-promocode-activated.html.twig' %}

                                        <span class="cursor-help{% if action_price is same as(true) %} action-price{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Сумма без скидки: {{ (element.price * position.amount)|number_format }} р.">
                                            {{ (price_with_discount * position.amount)|number_format }} <i class="fa fa-rub"></i>
                                        </span>
                                    {% else %}
                                        {% include '@IrmagBasket/helper-promocode-activated.html.twig' %}

                                        {# цена без скидки #}
                                        <small class="cursor-help" data-toggle="tooltip" title="Цена за 1 шт.">
                                            {{ element.price|number_format }} <i class="fa fa-rub"></i>
                                        </small>
                                        <span class="cursor-help" data-toggle="tooltip" data-placement="bottom" title="Цена за {{ position.amount }} шт.">
                                            {{ (element.price * position.amount)|number_format }} <i class="fa fa-rub"></i>
                                        </span>
                                    {% endif %}
                                {% else %}
                                    {# 1 шт. #}
                                    {% include '@IrmagBasket/helper-promocode-activated.html.twig' %}

                                    <span
                                        {% if action_price is same as(true) %}class="action-price"{% endif %}
                                        {# цена со скидкой #}
                                        {% if element.price != price_with_discount %}data-toggle="tooltip" title="Цена без скидки: {{ element.price }} ₽."{% endif %}
                                    >
                                        {{ price_with_discount }} <i class="fa fa-rub"></i>
                                    </span>
                                {% endif %}

                            </div>
                        </div>

                        {# col actions #}
                        <div class="col-xs-5 col-sm-4 col-md-3 col-actions">
                            <div class="actions">
                                {% if irmag.favorite.elements[element.id] is defined %}
                                    {% set favorite_tooltip = 'Уже в избранном' %}
                                    {% set favorite_class = ' disabled' %}
                                {% else %}
                                    {% set favorite_tooltip = 'Переместить в избранное' %}
                                    {% set favorite_class = '' %}
                                {% endif %}

                                {{ macro_favorite.add_btn(element, null, 'btn btn-sm btn-warning move-element-to-favorite' ~ favorite_class, null, favorite_tooltip) }}
                                <a class="btn btn-sm btn-danger remove-element-from-basket" data-element-id="{{ element.id }}" data-toggle="tooltip" data-placement="bottom" title="Удалить">
                                    <i class="fa fa-trash fa-lg fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
        {% endfor %}
    </div>

    {# активация промокода и массовые действия #}
    {{ action_btns }}

    {# предкассовая зона #}
    {% set pre_order_zone = render(controller('Irmag\\BasketBundle\\Controller\\PreOrderZoneController::indexAction')) %}
    {% if pre_order_zone is not empty %}
        <div class="mt-20 row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div>
                    {{ pre_order_zone|raw }}
                </div>
            </div>
        </div>
    {% endif %}

    {# расчёт удалённой доставки #}
    {% if not irmag.basket.data.onlyForHome %}
        <div class="row mt-20">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="alert alert-warning mb-0" id="remote-delivery-embed" data-weight="{{ irmag.basket.data.totalWeight }}" data-volume="{{ irmag.basket.data.totalVolume }}" data-declared-value="{{ irmag.basket.data.totalPrice }}">
                    {{ render(controller('Irmag\\SiteBundle\\Controller\\DeliveryController::indexAction', {} ,{ weight: irmag.basket.data.totalWeight, volume: irmag.basket.data.totalVolume })) }}
                </div>
            </div>
        </div>
    {% endif %}

    {# оплатить фантиками #}
    {% if not irmag.basket.empty and app.user and app.user.bonus > 0 %}
        {% include '@IrmagBasket/bonus-pay.html.twig' %}
    {% endif %}

    {# conditions #}
    {% set action_conditions = irmag.action.conditions %}

    {% if action_conditions is not empty %}
        {% for conditions in action_conditions %}
            {% include '@IrmagSite/Action/helper-condition.html.twig' with { conditions: conditions, show_is_completed: true } only %}
        {% endfor %}
    {% endif %}

    {# Информация по заказу, Расчёт #}
    {% if not irmag.basket.empty %}
        <div class="row mt-20">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Информация по заказу</h3>
                    </div>
                    <div class="panel-body">
                        {% set postDeliveryData = app.session.get(constant('Irmag\\OrderPostDeliveryBundle\\Service\\OrderPostDeliveryManager::POST_DELIVERY_RESULT_LITERAL')) %}
                        {% set transportCompanyDeliveryData = app.session.get(constant('Irmag\\OrderDeliveryServiceBundle\\Service\\OrderDeliveryServiceManager::DELIVERY_DATA_SESSION_LITERAL')) %}

                        {% if transportCompanyDeliveryData.cost is defined %}
                            {% set far_delivery_price = transportCompanyDeliveryData.cost %}
                        {% elseif app.session.get(constant('Irmag\\OrderPostDeliveryBundle\\Service\\OrderPostDeliveryManager::POST_DELIVERY_IS_SELECTED_FLAG')) %}
                            {% set far_delivery_price = postDeliveryData.price %}
                        {% endif %}

                        {% if far_delivery_price is defined %}
                            <p>
                                <i class="fa fa-truck fa-lg fa-fw"></i>
                                Доставка до вас обойдётся в <span class="label label-primary">{{ far_delivery_price|number_format }} <i class="fa fa-rub"></i></span>
                            </p>
                        {% else %}
                            <p>
                                <i class="fa fa-truck fa-lg fa-fw"></i>
                                {% if irmag.basket.data.totalPrice > default_city.minPriceForFreeDelivery %}
                                    Доставка по Иркутску будет <b>бесплатной</b>.
                                {% else %}
                                    Доставка по Иркутску обойдется в <span class="label label-primary">{{ default_city.deliveryPrice|number_format }} <i class="fa fa-rub"></i></span><br>
                                    <small class="text-muted">Для получения бесплатной доставки по Иркутску, вам необходимо дополнить корзину на <b>{{ (default_city.minPriceForFreeDelivery - irmag.basket.data.totalPrice)|number_format }}</b> <i class="fa fa-rub"></i></small>
                                {% endif %}
                            </p>
                        {% endif %}
                        <p>
                            <i class="fa fa-balance-scale fa-lg fa-fw"></i> Общий вес заказа: {{ irmag.formatGrams(irmag.basket.data.totalWeight) }}
                        </p>

                        <p>
                            <i class="fa fa-cube fa-lg fa-fw"></i>
                            Общий объём заказа: {{ irmag.basket.data.totalVolume }} см<sup>3</sup>.
                            {#% if irmag.basket.data.totalVolume > 1000 %}
                                (~{{ (irmag.basket.data.totalVolume / 1000)|round }} л.)
                            {% endif %#}
                        </p>

                        <small>
                            Правила <a href="{{ path('irmag_page', { slug: 'help' }) }}#delivery">доставки</a>, <a href="{{ path('irmag_page', { slug: 'help' }) }}#payment">оплаты</a> и информация о <a href="{{ path('irmag_page', { slug: 'help' }) }}#discounts">скидках</a> и <a href="{{ path('irmag_page', { slug: 'help' }) }}#bonuses">бонусах</a>.
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-5 col-md-4 total-price-info">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Расчёт</h3>
                    </div>
                    <div class="panel-body">
                        {% if irmag.basket.data.totalDiscount %}
                            <div class="text-muted">
                                Сумма без скидки: {{ irmag.basket.data.totalPriceWithoutDiscount|number_format }} <i class="fa fa-rub"></i>
                            </div>
                        {% endif %}

                        {% if irmag.basket.data.totalDiscountByPromocode %}
                            {# скидка по промокоду #}
                            <div>
                                Скидка по промокоду
                                <span class="label label-info cursor-help" data-toggle="tooltip" title="Промокод: {{ irmag.basket.data.promocode.code }}">
                                    {{ irmag.basket.data.promocode.discount }} %
                                </span>:
                                {{ irmag.basket.data.totalDiscountByPromocode|number_format }} <i class="fa fa-rub"></i>
                            </div>
                        {% endif %}

                        {% if irmag.basket.data.totalDiscountByUser %}
                            {# скидка пользователя #}
                            <div>
                                Скидка накопительная
                                <span class="label label-info">
                                    {{ app.user and app.user.discount ? app.user.discount : 0 }} %
                                </span>:
                                {{ irmag.basket.data.totalDiscountByUser|number_format }} <i class="fa fa-rub"></i>
                            </div>
                        {% endif %}

                        {# общая скидка по акции #}
                        {% if irmag.basket.data.totalDiscountByAction %}
                            <div>
                                Скидка по акции <span class="props"><i class="prop-action fa"></i></span>: {{ irmag.basket.data.totalDiscountByAction|number_format }} <i class="fa fa-rub"></i>
                            </div>
                        {% endif %}

                        {% if irmag.basket.data.totalDiscount %}
                            <div>
                                Общая скидка: {{ irmag.basket.data.totalDiscount|number_format }} <i class="fa fa-rub"></i>
                            </div>
                        {% endif %}

                        {% if irmag.basket.data.bonusSpend %}
                            <div>
                                {{ 'order.spend_bonus'|trans({}, 'irmag_site') }}: <span class="label label-warning">{{ irmag.basket.data.bonusSpend }} ф.</span>
                            </div>
                        {% endif %}

                        {% if irmag.basket.data.bonusReceive %}
                            <div class="text-muted">
                                {{ 'order.receive_bonus'|trans({}, 'irmag_site') }} (<b>{{ irmag.basket.data.bonusReceiveInPercent }} %</b>):
                                <span class="label label-warning cursor-help" data-toggle="tooltip" title="Будут начислены после выполнения заказа">
                                    {{ irmag.basket.data.bonusReceive }} Ф.
                                </span>
                            </div>
                        {% endif %}

                        <div>
                            <u>Итого{% if far_delivery_price is defined or (irmag.basket.data.totalPrice < default_city.minPriceForFreeDelivery) %} (без доставки){% endif %}:</u>
                            <br>
                            <b class="total-price">{{ irmag.basket.data.totalPrice|number_format }} <i class="fa fa-rub"></i></b>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="alert alert-warning">
                    Внимательно проверьте состав вашей корзины. После отправления заказа, его содержимое изменить <b>невозможно</b>. Принимаются только <u>дозаказы</u> и <u>отмена заказа</u>!
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4">
                <div class="text-right" id="checkout-wrapper">
                    <a href="{{ path('irmag_order') }}" class="btn btn-success btn-lg"
                       data-toggle="tooltip" title="{{ 'tooltip.checkout'|trans({}, 'irmag_site') }}"
                       onclick="if ('undefined' !== typeof yaCounter{{ metrics.ya_id }}) yaCounter{{ metrics.ya_id }}.reachGoal('place_you_order');">
                        Оформить заказ <i class="fa fa-long-arrow-right fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
    {% embed '@IrmagSite/Default/empty-page-cat-say.html.twig' with { 'margin_top': 20 } %}
        {% block text %}
            {% include '@IrmagBasket/helper-empty-page-cat-say-text.html.twig' with { 'where_section_name': 'корзину' } %}
        {% endblock %}

        {% block image %}
            <div class="irmag-cat-pic empty-basket-pic center-block"></div>
        {% endblock %}
    {% endembed %}
{% endif %}
