{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}🛒 Корзина{% endblock %}

{% block body %}

    <section class="basket container">

        <h1>Корзина</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Корзина': null } } %}

        <div class="basket-ajax-wrapper" id="basket-ajax-wrapper">
            {{ render(controller('Irmag\\BasketBundle\\Controller\\BasketController::indexContentAction')) }}
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Basket.init();
        });
    </script>
{% endblock %}
