{% spaceless %}
<div class="col-xs-12">
    <ul class="list-group mt-15 mb-15">
        <li class="list-group-item list-group-item-info">
            <span class="badge">{{ irmag.basket.data.basketElementsCount }} шт.</span>
            <span class="key">Наименований:</span>
        </li>
        {% if irmag.basket.data.basketElementsCount != irmag.basket.data.elementsCount %}
            <li class="list-group-item list-group-item-info">
                <span class="badge">{{ irmag.basket.data.elementsCount }} шт.</span>
                <span class="key">Товаров:</span>
            </li>
        {% endif %}
        <li class="list-group-item list-group-item-info">
            <span class="badge">{{ irmag.basket.data.totalPriceWithoutDiscount|number_format }} <i class="fa fa-rub"></i></span>
            <span class="key">Сумма:</span>
        </li>

        {% if irmag.basket.data.bonusSpend %}
            <li class="list-group-item list-group-item-info">
                <span class="badge">{{ irmag.basket.data.bonusSpend }} ф.</span>
                <span class="key">{{ 'order.spend_bonus'|trans({}, 'irmag_site') }}:</span>
            </li>
        {% endif %}

        {% if irmag.basket.data.totalDiscount %}
            <li class="list-group-item list-group-item-info">
                <span class="badge">{{ irmag.basket.data.totalDiscount|number_format }} <i class="fa fa-rub"></i></span>
                <span class="key">Скидка:</span>
            </li>
        {% endif %}

        {% if irmag.basket.data.bonusReceive %}
            <li class="list-group-item list-group-item-info">
                <span class="badge">{{ irmag.basket.data.bonusReceive }} ф.</span>
                <span class="key">{{ 'order.receive_bonus'|trans({}, 'irmag_site') }} (<b>{{ irmag.basket.data.bonusReceiveInPercent }} %</b>):</span>
            </li>
        {% endif %}

        <li class="list-group-item list-group-item-info">
            <span class="badge">{{ irmag.basket.data.totalPrice|number_format }} <i class="fa fa-rub"></i></span>
            <span class="key"><b>Итого:</b></span>
        </li>
    </ul>

    <a href="{{ path('irmag_basket') }}" rel="nofollow" class="btn btn-primary center-block mb-15 hidden-md hidden-lg">
        <b>посмотреть корзину</b>
    </a>
</div>
{% endspaceless %}
