{% spaceless %}
<a href="{{ path('irmag_basket') }}" rel="nofollow" class="basket collapsed{% if not irmag.basket.empty %} non-empty{% endif %}" data-toggle="collapse" data-collapse-group="header-basket-favorite-info" data-target="#mini-basket-wrapper" aria-expanded="false">
    <i class="fa fa-shopping-basket fa-fw"></i>
    <span class="value">{{ irmag.basket.data.basketElementsCount }}</span>
</a>
{% endspaceless %}