.brand-zone-container {
    z-index: 1;
}

    .axe-back {
        position: absolute;
        top: 30px;
        left: 50px;
        display: block;
        font-family: Arial, serif;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        background-color: #d0d0d0;
        padding: 5px 10px;
    }

    .axe-back:hover {
        color: #000;
        text-decoration: none;
        opacity: 0.5;
    }

    .axe-menu {
        margin: 100px auto 0;
        width: 500px;
        height: 350px;
    }

        .axe-logo {
            display: block;
            margin: 0 auto;
            width: 314px;
            height: 80px;
            background: url('sprites.png') -15px -16px;
        }

        .axe-links-container {
            display: block;
            margin: 30px auto 0;
        }

            .axe-link-wrapper:hover > .axe-left-fx {
                left: 10%;
                visibility: visible;
                transition: left 0.4s ease-in-out;
                -webkit-transition: left 0.4s ease-in-out;
                -moz-transition: left 0.4s ease-in-out;
                -ms-transition: left 0.4s ease-in-out;
                -o-transition: left 0.4s ease-in-out;
            }

            @media only screen and (max-width: 1200px) {
                .axe-link-wrapper:hover > .axe-left-fx {
                    left: 10px;
                }
            }

            @media only screen and (min-width: 1800px) {
                .axe-link-wrapper:hover > .axe-left-fx {
                    left: 400px;
                }
            }

            .axe-link-wrapper:hover > .axe-right-fx {
                bottom: 0;
                visibility: visible;
                transition: bottom 0.4s ease-in-out;
                -webkit-transition: bottom 0.4s ease-in-out;
                -moz-transition: bottom 0.4s ease-in-out;
                -ms-transition: bottom 0.4s ease-in-out;
                -o-transition: bottom 0.4s ease-in-out;
            }

                .axe-left-fx {
                    position: absolute;
                    visibility: hidden;
                    top: 50px;
                    left: -1000px;
                    width: 400px;
                    height: 400px;
                }

                .axe-left-pic-1 {
                    background-image: url('1_L_Deo_Spray.png');
                }

                .axe-left-pic-2 {
                    background-image: url('2_L_Deo_Stick.png');
                }

                .axe-left-pic-3 {
                    background-image: url('3_L_Gel.png');
                }

                .axe-left-pic-4 {
                    background-image: url('4_L_Shampoo.png');
                }

                .axe-left-pic-5 {
                    background-image: url('5_L_Gift.png');
                }

                .axe-right-fx {
                    position: absolute;
                    visibility: hidden;
                    bottom: -1000px;
                    right: 15%;
                    width: 300px;
                    height: 300px;
                }

                @media only screen and (max-width: 1200px) {
                    .axe-right-fx {
                        right: 10px;
                    }
                }

                @media only screen and (min-width: 1800px) {
                    .axe-right-fx {
                        right: 450px;
                    }
                }

                .axe-right-pic-1 {
                    background-image: url('1_R_Deo_Spray.png');
                }

                .axe-right-pic-2 {
                    background-image: url('2_R_Deo_Stick.png');
                }

                .axe-right-pic-3 {
                    background-image: url('3_R_Gel.png');
                }

                .axe-right-pic-4 {
                    background-image: url('4_R_Shampoo.png');
                }

                .axe-right-pic-5 {
                    background-image: url('5_R_Gift.png');
                }

                .axe-link {
                    display: block;
                    margin: 0 auto 5px;
                    background: url('sprites.png') -5px 0;
                    height: 35px;
                }

                    .link-1 {
                        background-position-y: -120px;
                        width: 220px;
                    }

                    .link-2 {
                        background-position-y: -170px;
                        width: 280px;
                    }

                    .link-3 {
                        background-position-y: -220px;
                        width: 140px;
                    }

                    .link-4 {
                        background-position-y: -270px;
                        width: 190px;
                    }

                    .link-5 {
                        background-position-y: -322px;
                        width: 190px;
                    }

                .axe-link:hover {
                    background-position-x: -383px;
                }