{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}

        <a href="{{ path('irmag_catalog', { filter: { manufacturer: {0: 43} }, _fragment: anc }) }}" class="axe-back">НА ГЛАВНУЮ</a>

        <div class="axe-menu">
            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 152 } }, _fragment: anc }) }}">
                <div class="axe-logo"></div>
            </a>

            <div class="axe-links-container">
                <div class="axe-link-wrapper">
                    <div class="axe-left-fx axe-left-pic-1"></div>
                    <a class="axe-link link-1" href="{{ path('irmag_catalog_section', { sectionId: 202184, filter: { brand: { 0: 152 } }, _fragment: anc }) }}"></a>
                    <div class="axe-right-fx axe-right-pic-1"></div>
                </div>

                <div class="axe-link-wrapper">
                    <div class="axe-left-fx axe-left-pic-2"></div>
                    <a class="axe-link link-2" href="{{ path('irmag_catalog_section', { sectionId: 202185, filter: { brand: { 0: 152 } }, _fragment: anc }) }}"></a>
                    <div class="axe-right-fx axe-right-pic-2"></div>
                </div>

                <div class="axe-link-wrapper">
                    <div class="axe-left-fx axe-left-pic-3"></div>
                    <a class="axe-link link-3" href="{{ path('irmag_catalog_section', { sectionId: 231327, filter: { brand: { 0: 152 } }, _fragment: anc }) }}"></a>
                    <div class="axe-right-fx axe-right-pic-3"></div>
                </div>

                <div class="axe-link-wrapper">
                    <div class="axe-left-fx axe-left-pic-4"></div>
                    <a class="axe-link link-4" href="{{ path('irmag_catalog_section', { sectionId: 3, filter: { brand: { 0: 152 } }, _fragment: anc }) }}"></a>
                    <div class="axe-right-fx axe-right-pic-4"></div>
                </div>

                <div class="axe-link-wrapper">
                    <div class="axe-left-fx axe-left-pic-5"></div>
                    <a class="axe-link link-5" href="{{ path('irmag_catalog_section', { sectionId: 218857, filter: { brand: { 0: 152 } }, _fragment: anc }) }}"></a>
                    <div class="axe-right-fx axe-right-pic-5"></div>
                </div>
            </div>
        </div>

    {% endblock %}
{% endembed %}
