{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/background.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <a href="{{ path('irmag_catalog', { filter: { manufacturer: { 0: 43 } }, _fragment: anc }) }}" class="bz-main-link">НА ГЛАВНУЮ</a>

            <div class="brand-zone-wrapper">
                <div class="bz-title">
                    <div class="bz-subtitle">
                        СРЕДСТВА ПО УХОДУ ЗА ДОМОМ
                    </div>
                </div>

                <div class="bz-bottles-container">
                    <table class="bz-bottles-table">
                        <tr>

                            <td>
                                <a href="{{ path('irmag_catalog_section', { sectionId: 167180, filter: { brand: { 0: 1582 } }, _fragment: anc }) }}" class="bottle-cell">
                                    <div class="bz-bottle"></div>
                                    <div class="bz-bottle-content bz-liquid-4"></div>
                                    <span class="hidden-item">
                                        <img src="{{ web_path ~ '/360_4.gif' }}" alt="">
                                    </span>
                                    <div class="bottle-monster">
                                        <img src="{{ web_path ~ '/m_4.png' }}" alt="">
                                    </div>
                                    <div class="bottle-text-aligner">
                                        <span class="bottle-text">КУХНЯ</span>
                                    </div>
                                </a>
                            </td>

                            <td>
                                <a href="{{ path('irmag_catalog_section', { sectionId: 127884, filter: { brand: { 0: 1582 } }, _fragment: anc }) }}" class="bottle-cell">
                                    <div class="bz-bottle"></div>
                                    <div class="bz-bottle-content bz-liquid-1"></div>
                                    <span class="hidden-item">
                                        <img src="{{ web_path ~ '/360_1.gif' }}" alt="">
                                    </span>
                                    <div class="bottle-monster">
                                        <img src="{{ web_path ~ '/m_1.png' }}" alt="">
                                    </div>
                                    <div class="bottle-text-aligner">
                                        <span class="bottle-text">ВАННАЯ И ТУАЛЕТ</span>
                                    </div>
                                </a>
                            </td>

                            <td>
                                <a href="{{ path('irmag_catalog_section', { sectionId: 127880, filter: { brand: { 0: 1582 } }, _fragment: anc }) }}" class="bottle-cell">
                                    <div class="bz-bottle"></div>
                                    <div class="bz-bottle-content bz-liquid-2"></div>
                                    <span class="hidden-item">
                                        <img src="{{ web_path ~ '/360_2.gif' }}" alt="">
                                    </span>
                                    <div class="bottle-monster">
                                        <img src="{{ web_path ~ '/m_2.png' }}" alt="">
                                    </div>
                                    <div class="bottle-text-aligner">
                                        <span class="bottle-text">НАПОЛЬНЫЕ <br>ПОКРЫТИЯ</span>
                                    </div>
                                </a>
                            </td>

                            <td>
                                <a href="{{ path('irmag_catalog_section', { sectionId: 132842, filter: { brand: { 0: 1582 } }, _fragment: anc }) }}" class="bottle-cell">
                                    <div class="bz-bottle"></div>
                                    <div class="bz-bottle-content bz-liquid-3"></div>
                                    <span class="hidden-item">
                                        <img src="{{ web_path ~ '/360_3.gif' }}" alt="">
                                    </span>
                                    <div class="bottle-monster">
                                        <img src="{{ web_path ~ '/m_3.png' }}" alt="">
                                    </div>
                                    <div class="bottle-text-aligner">
                                        <span class="bottle-text">ПЛИТКА И КАФЕЛЬ</span>
                                    </div>
                                </a>
                            </td>

                            <td>
                                <a href="{{ path('irmag_catalog_section', { sectionId: 132643, filter: { brand: { 0: 1582 } }, _fragment: anc }) }}" class="bottle-cell">
                                    <div class="bz-bottle"></div>
                                    <div class="bz-bottle-content bz-liquid-5"></div>
                                    <span class="hidden-item">
                                        <img src="{{ web_path ~ '/360_5.gif' }}" alt="">
                                    </span>
                                    <div class="bottle-monster">
                                        <img src="{{ web_path ~ '/m_5.png' }}" alt="">
                                    </div>
                                    <div class="bottle-text-aligner">
                                        <span class="bottle-text">ЧИСТЯЩИЕ СРЕДСТВА<br>УНИВЕРСАЛЬНЫЕ</span>
                                    </div>
                                </a>
                            </td>

                        </tr>
                    </table>
                </div>

                <div class="bz-dock"></div>

            </div>
        </div>
    {% endblock %}
{% endembed %}