{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}
    Профиль пользователя {{ user.name }}
{% endblock %}

{% block body %}
    {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container" itemscope itemtype="http://schema.org/Person">
                <h1 class="blog-header">
                    Пользователь: <span itemprop="name">{{ user.name }}</span>
                    {% if app.user and app.user.id == user.id %}
                        <span>
                            <a href="{{ path('irmag_profile') }}" class="blog-button-edit"><i class="fa fa-2x fa-pencil-square"></i></a>
                        </span>
                    {% endif %}
                </h1>
                {% if user.addressCity %}
                    <h2 class="blog-subheader">
                        {{ user.addressCity.name }}
                    </h2>
                {% endif %}
                <div class="row">
                    {% if user.about %}
                        <div class="blog-user-profile-top col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-7">
                            <span class="hidden-xs" itemprop="image">
                                {{ avatar.get(user, 'avatar_thumb', 200) }}
                            </span>
                            <span class="hidden-sm hidden-md hidden-lg">
                                {{ avatar.get(user, 'avatar_thumb_xs', 100) }}
                            </span>
                            <div class="blog-user-profile-quote" itemprop="description">
                                {{ user.about }}
                                <div class="user-profile-quote-corner"></div>
                            </div>
                        </div>
                    {% else %}
                        <div class="blog-user-profile-top col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-2 col-md-7">
                            <span class="hidden-xs" itemprop="image">
                                {{ avatar.get(user, 'avatar_thumb', 200) }}
                            </span>
                            <span class="hidden-sm hidden-md hidden-lg">
                                {{ avatar.get(user, 'avatar_thumb_xs', 100) }}
                            </span>
                        </div>
                    {% endif %}

                    {% if related_posts %}
                        <div class="blog-list-container">
                            {% include '@IrmagBlog/Lists/related-posts.html.twig' %}
                        </div>
                    {% else %}
                        <div class="col-xs-12">
                            <p class="blog-message">Автор ещё не опубликовал ни одного обзора на сайте</p>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Blog.Page.init();
        });
    </script>
{% endblock %}
