{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        {% set brandId = 2019 %}

        <div class="brand-zone-content">
            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-logo"></a>
            <div class="bz-menu">
                <div class="bz-col bz-col-left">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 127888, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-menu-item item-1">
                        <span class="bz-item-title title-1"></span>
                    </a>
                    <div class="bz-pic pic-1"></div>

                    <a href="{{ path('irmag_catalog_section', { sectionId: 127881, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-menu-item item-3">
                        <span class="bz-item-title title-3"></span>
                    </a>
                    <div class="bz-pic pic-3"></div>
                </div>

                <div class="bz-col bz-col-right">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 3, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-menu-item item-2">
                        <span class="bz-item-title title-2"></span>
                    </a>
                    <div class="bz-pic pic-2"></div>

                    <a href="{{ path('irmag_catalog_section', { sectionId: 9, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-menu-item item-4">
                        <span class="bz-item-title title-4"></span>
                    </a>
                    <div class="bz-pic pic-4"></div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
