{% if topic.totalPosts > posts_per_page %}
    {% set pagesCount = (topic.totalPosts / posts_per_page)|round(0, 'ceil') %}
    <span class="hidden-xs">
        [

        {% for i in 1..pagesCount if i < 4 %}
            <a href="{{ path('irmag_forum_goto_topic', { id: topic.id, page: i }) }}">{{ i }}</a>
            {% if i !=  pagesCount %},{% endif %}
        {% endfor %}

        {% if pagesCount > 3 %}
            ... ,
            <a href="{{ path('irmag_forum_goto_topic', { id: topic.id, page: pagesCount }) }}">{{ pagesCount }}</a>
        {% endif %}

        ]
    </span>

    <div class="mt-15 visible-xs">
        {% for i in 1..pagesCount if i < 3 %}
            <a href="{{ path('irmag_forum_goto_topic', { id: topic.id, page: i }) }}" class="label label-info forum-page-tab-sm">{{ i }}</a>
        {% endfor %}

        {% if pagesCount > 2 %}
            <span>...</span>
            <a href="{{ path('irmag_forum_goto_topic', { id: topic.id, page: pagesCount }) }}" class="label label-info forum-page-tab-sm">{{ pagesCount }}</a>
        {% endif %}
    </div>
{% endif %}