{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Форум{% endblock %}

{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' %}
{% endblock %}

{% set forumtab = {'active': 'forum'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}
    <div class="forums-table">
        <table class="table forums-table-content">
            {% if forums is empty %}
                <p>Ещё ни создано ни одного форума.</p>
            {% else %}
                <thead>
                    <tr class="active">
                        <th colspan="2">Название форума</th>
                        <th>Тем</th>
                        <th>Сообщений</th>
                        <th>Обновление</th>
                    </tr>
                </thead>
                <tbody>
                    {% for forum in forums %}
                        <tr>
                            <td>
                                <i class="fa fa-envelope-o"></i>
                            </td>
                            <td>
                                <a href="{{ path('irmag_forum_homepage') }}">{{ forum.name }}</a>
                            </td>
                            <td> {{ stats[loop.index0].topics_cnt }} </td>
                            <td> {{ stats[loop.index0].posts_cnt }} </td>
                            <td>
                                {% set post = latest_posts[loop.index0] %}
                                {% if post %}
                                    {{ post.updatedAt|localizeddate('full', 'none', null, null, 'dd.MM.Y в H:mm') }}
                                    от
                                    <a href="{{ path('irmag_forum_profile', { id: post.user.id }) }}">
                                        {{ post.user.name }}
                                    </a>
                                    <br>
                                    в теме:
                                    <a href="{{ path('irmag_forum_goto_topic', { id: post.topic.id, post: post.id }) }}">
                                        {{ post.topic.title }}
                                    </a>
                                {% else %}
                                    <p>Форум пуст</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
{% endblock %}
