.bz-main-link {
    position: absolute;
    top: 50px;
    left: 70px;
    display: block;
    font-family: Arial, serif;
    font-weight: bold;
    color: #000 !important;
    background-color: rgba(255, 255, 255, .8);
    padding: 5px 20px;
}

.bz-main-link:hover {
    background-color: rgb(255, 255, 255);
}

.bz-main-link:hover {
    color: rgb(255, 255, 255);
}


.brand-zone-wrapper {
    width: 720px;
    height: 240px;
    margin: 110px auto 0;
    text-align: center;
}

    .brand-zone-logo {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 323px;
        height: 150px;
        background: url('sprites.png') -302px -10px;
    }

    .brand-zone-motto {
        margin: 15px auto 0;
        text-align: center;
        width: 680px;
        height: 40px;
        background: url('sprites.png') -130px 148px;
    }

    .brand-zone-menu {
        width: 920px;
        margin: 0 auto;
        text-align: center;
    }

        .bz-item {
            display: inline-block;
            width: 300px;
            height: 50px;
            background: url('sprites.png');
        }

        .bz-item:hover {
            background-position-y: 104px;
        }

        .bz-item-1 {
            background-position: -15px 54px;
        }

        .bz-item-2 {
            background-position: -316px 54px;
        }

        .bz-item-3 {
            background-position: 314px 54px;
        }