{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <a href="{{ path('irmag_catalog', { filter: { manufacturer: { 0: 43 } }, _fragment: anc }) }}" class="bz-main-link">НА ГЛАВНУЮ</a>

            <div class="brand-zone-wrapper">
                <a href="{{ path('irmag_catalog', { filter: { brand: {0: 1464} }, _fragment: anc }) }}" class="brand-zone-logo"></a>
                <div class="brand-zone-motto"></div>
            </div>
            <div class="brand-zone-menu">
                <a href="{{ path('irmag_catalog_section', { sectionId: 1, filter: { brand: { 0: 1464 } }, _fragment: anc }) }}" class="bz-item bz-item-1"></a>
                <a href="{{ path('irmag_catalog_section', { sectionId: 116248, filter: { brand: { 0: 1464 } }, _fragment: anc }) }}" class="bz-item bz-item-2"></a>
                <a href="{{ path('irmag_catalog_section', { sectionId: 143666, filter: { brand: { 0: 1464 } }, _fragment: anc }) }}" class="bz-item bz-item-3"></a>
            </div>
        </div>
    {% endblock %}
{% endembed %}