{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Новый комментарий в обзоре{% endblock %}

{% block text %}
    <b>Здравствуйте, {{ post.user.name }}</b>.

    <p>
        Вам оставили комментарий к обзору в блогe "{{ post.title }}",
        <a href="{{ url(comment.thread.ownerRoute.name, comment.thread.ownerRoute.parameters) }}#jmp-to-comment-{{ comment.id }}" target="_blank">[посмотреть]</a>.
    </p>

    <table width="100%" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <td>Автор:</td>
            <td><a href="{{ url('irmag_blog_user', { id: comment.user.id }) }}" target="_blank">{{ comment.user }}</a></td>
        </tr>
        <tr>
            <td>Дата создания:</td>
            <td>{{ comment.createdAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">{{ comment.textHtml|raw }}</td>
        </tr>
    </table>
{% endblock %}
