{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% set ownerFQCN = comment.thread.getOwnerFQCN %}

{% set ownerName %}
{% spaceless %}
    {% if 'Irmag\\SiteBundle\\Entity\\Element' == ownerFQCN %}
        Товар
    {% elseif 'Irmag\\SiteBundle\\Entity\\News' == ownerFQCN %}
        Новость
    {% elseif 'Irmag\\SiteBundle\\Entity\\Action' == ownerFQCN %}
        Акция
    {% elseif 'Irmag\\BlogBundle\\Entity\\BlogPost' == ownerFQCN %}
        Блог
    {% endif %}
{% endspaceless %}
{% endset %}

{% block subject %}Новый комментарий{% endblock %}

{% block text %}
    <table width="100%" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <td>Источник:</td>
            <td>{{ ownerName }}</td>
        </tr>
        <tr>
            <td>Автор:</td>
            <td><a href="{{ url('admin_irmag_profile_user_edit', { id: comment.user.id }) }}" target="_blank">{{ comment.user }}</a></td>
        </tr>
        <tr>
            <td>Дата создания:</td>
            <td>{{ comment.createdAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}</td>
        </tr>
        {% if comment.rating %}
            <tr>
                <td>Рейтинг:</td>
                <td>{{ comment.rating }} из 5</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">{{ comment.textHtml|raw }}</td>
        </tr>
    </table>

    <br>
    <b>Действия:</b>
    <ul>
        {% if not comment.isBonusPayed and ownerFQCN == 'Irmag\\SiteBundle\\Entity\\Element' or ownerFQCN == 'Irmag\\BlogBundle\\Entity\\BlogPost' %}
            <li><a href="{{ url('admin_irmag_threadcomment_threadcomment_pay_bonus', { id: comment.id }) }}">[Начислить 1 фантик]</a></li>
        {% endif %}

        <li><a href="{{ url(comment.thread.ownerRoute.name, comment.thread.ownerRoute.parameters) }}#jmp-to-comment-{{ comment.id }}">[Посмотреть на сайте]</a></li>
        <li><a href="{{ url('admin_irmag_threadcomment_threadcomment_edit', { id: comment.id }) }}">[Посмотреть в админке]</a></li>

        {% if comment.user.email %}
            <li><a href="mailto:{{ comment.user.email }}">[Ответить пользователю на почту]</a></li>
        {% endif %}
    </ul>
{% endblock %}
