{% form_theme form.variant _self %}

{% block poll_variant_widget %}

    {% set type %}
        {% spaceless %}
            {% if form.vars.multiple is defined and form.vars.multiple %}checkbox{% else %}radio{% endif %}
        {% endspaceless %}
    {% endset  %}

    {% spaceless %}
        {% if form.vars.expanded is defined and form.vars.expanded %}
            <div class="row" {{ block('widget_container_attributes') }}>
                {% for key, child in form %}
                    <div class="col-xs-12">
                        <div class="poll-variant-content">
                            <label class="poll-variant{% if child.vars.checked %} checked{% endif %}">
                                <input type="{{ type|trim }}" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                                <div class="row">
                                    <div class="col-xs-12">
                                        {{ child.vars.label|raw }}
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

<div class="poll-content">

    {% if poll.title %}
        <div class="poll-title">
            <h4>{{ poll.title }}</h4>
        </div>
    {% endif %}

    {% if show_poll %}
        {{ form_start(form) }}

        {{ form_row(form.variant) }}

        <div class="row">
            <div class="col-xs-12 text-center">
                {{ form_row(form.submit) }}
            </div>
        </div>

        {{ form_end(form) }}
    {% else %}
        {% include '@IrmagPoll/stats.html.twig' %}
    {% endif %}

</div>