{% if poll.stats %}

    {% for variant in poll.variants %}
        {% set currentPercent = poll.totalVotes > 0 ? (variant.totalVotes / poll.totalVotes) * 100 : 0 %}
        {% set isFinished = poll.estimatedAt and poll.estimatedAt|date(constant('\\DateTime::RFC3339')) < "now"|date(constant('\\DateTime::RFC3339')) or not poll.isActive %}

        <div class="row poll-stat-row">
            <div class="col-xs-6 col-md-8">
                <div>{{ variant.textHtml|raw }}</div>
            </div>
            <div class="visible-md visible-lg col-md-3 poll-stat-progress">
                <div class="poll-stat-progress-content">
                    <div class="progress">
                        <div class="progress-bar
                                {% if not isFinished %}
                                    progress-bar-info progress-bar-striped
                                {% elseif lead_result != 0 and variant.id == lead_result %}
                                    progress-bar-success
                                {% else %}
                                    progress-bar-info
                                {% endif %}"
                             role="progressbar"
                             aria-valuenow="{{ currentPercent|round }}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: {{ currentPercent ~ '%' }};"
                        >
                            {{ variant.totalVotes }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-1 text-right">
                <b>{{ currentPercent|round ~ '%' }}</b>
            </div>
        </div>

    {% endfor %}
{% endif %}