{% extends '@IrmagSite/layout.html.twig' %}

{% if app.request.query.has('user') %}
    {% set meta_robots_noindex = true %}
    {% set meta_robots_nofollow = true %}
{% endif %}

{% if app.request.query.has('user') and pagination is not empty %}
    {% set user = (pagination|first)[0].user %}
{% endif %}

{% block title %}💬 Отзывы о товарах{% if user is defined %} - {{ user.name }}{% endif %}{% endblock %}

{% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

{% block body %}

    <section class="thread-comments container">

        <h1>
            {%- spaceless -%}
                Отзывы
                {%- if user is defined %} - {{ user.name }}{% endif -%}
                {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_threadcomment_threadcomment_list') } -%}
            {%- endspaceless -%}
        </h1>

        {% if user is defined %}
            {% set breadcrumbs = { 'Отзывы': path('irmag_reviews'), (user.name): '' } %}
        {% else %}
            {% set breadcrumbs = { 'Отзывы': null } %}
        {% endif %}

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: breadcrumbs } %}

        {% if pagination is not empty %}
            {% for item in pagination %}
                {% set comment = item|first %}
                {% set thread = comment.thread %}

                <div class="comments">
                    {% include '@IrmagThreadComment/Review/comment.html.twig' %}
                </div>
            {% endfor %}

            <hr>
            {{ knp_pagination_render(pagination) }}
        {% else %}
            <div class="alert alert-info">Отзывов пока что нет...</div>
        {% endif %}

    </section>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Emoji.emojify($('.comment-text p'));
        });
    </script>
{% endblock %}
