.brand-zone-wrapper{
    width: 1000px;
    height: 320px;
    margin: 70px auto 0;
}

    .bz-col {
        display: inline-block;
        width: 300px;
        height: 100%;
        margin: 0 10px;
    }

        .bz-item {
            display: block;
            width: 300px;
            height: 150px;
            margin: 15px 0;
            background-image: url('sprites.png');
        }

            .item-1 {
                background-position: -10px -254px;
            }

            .item-2 {
                background-position: -320px -254px;
            }

            .item-1:hover, .item-2:hover {
                background-position-y: -107px;
            }

            .item-3 {
                background-position: -10px 154px;
            }

            .item-4 {
                background-position: -320px 154px;
            }

            .item-3:hover, .item-4:hover {
                background-position-y: -416px;
            }


        .bz-logo {
            display: block;
            width: 300px;
            height: 95px;
            margin-top: 130px;
            background: url('sprites.png') -166px -2px;
        }