{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        {% set brandId = 1823 %}

        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <div class="bz-col">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 250988, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-item item-1"></a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 250987, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-item item-3"></a>
                </div>

                <div class="bz-col">
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-logo"></a>
                </div>

                <div class="bz-col">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 11, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-item item-2"></a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 10, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-item item-4"></a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
