@mixin linear-gradient-vertical($top, $bottom) {
    background: $top; /* Old browsers */
    background: -moz-linear-gradient($top, $bottom); /* FF3.6+ */
    background: -webkit-gradient(linear, 0 0, 0 bottom, from($top), to($bottom)); /* Chrome, Safari4+ */
    background: -webkit-linear-gradient($top, $bottom); /* Chrome10+, Safari5.1+ */
    background: -o-linear-gradient($top, $bottom); /* Opera 11.10+ */
    background: -ms-linear-gradient($top, $bottom); /* IE10+ */
    background: linear-gradient($top, $bottom); /* W3C */
    -pie-background: linear-gradient($top, $bottom);
}

@mixin hyphens() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@mixin social-icons() {
    @include fa-icon();

    transition: opacity .1s ease-in-out;
    opacity: .6;
    cursor: pointer;
    padding: 4px;
    display: inline-block;
    color: $irmag-social-icon-color;
    text-align: center;
    border-radius: $border-radius-base;

    &:hover {
        opacity: 1;
    }
}

@mixin irmag-icon() {
    font-family: $irmag-font-icons !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin irmag-font-light() {
    font-family: $irmag-font-family;
    font-weight: 300;
}

@mixin irmag-font-bold() {
    font-family: $irmag-font-family;
    font-weight: 600;
}
