/* cursors */

/* TODO: grep, plz check */
.cursor-help { cursor: help !important; }
.cursor-pointer { cursor: pointer !important; }

.vcenter { vertical-align: middle !important; }

.table-valign-middle {
    td {
        vertical-align: middle !important;
    }
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;     // Align the flex-items vertically
    //justify-content: center; // Optional, to align inner flex-items horizontally within the column
}

.justify-content-end {
    justify-content: flex-end;
}

.no-user-select { user-select: none; }

.text-sm { font-size: $font-size-small; }
.text-strike { text-decoration: line-through; }
.border-bottom-dotted { border-bottom: 1px dotted #ccc !important; }
.font-weight-bold { font-weight: bold; }

//.text-shadow-01 { text-shadow: $irmag-header-blue-line-text-shadow; }

.grayscale { filter: grayscale(100%); }

// no border table
.table-borderless {
    td,
    th {
        border: 0 !important;
    }
}

.unset-nowrap {
    white-space: unset !important;
}
