/**
 * Список тем.
 */

/* RSS */
a.forum-rss {
    color: $irmag-forum-color-orange;
    float: right;
    margin-top: -75px;

    &:hover {
        text-decoration: none;
        color: $irmag-forum-color-orange;
    }
}

/* Список тем */
div.forums-table {
    table.forums-table-content {
        td {
            padding: 20px 5px;

            &.forum-table-iconset {
                min-width: 40px;
                font-size: $irmag-forum-font-medium;

                @media (max-width: $screen-xs-max) {
                    font-size: $irmag-forum-font-big;
                }
            }
        }

        .long-cut {
            @media (max-width: $screen-xs-max) {
                display: inline-block;
                max-width: 70px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .topic-special {
            @extend .long-cut;

            font-size: $irmag-forum-font-submedium;
            max-width: 120px;
        }
    }
}
