/**
 * Post styles
 */

div.forum-topic-posts {
    div.forum-post-wrapper {
        display: block;
        padding: 40px 10px;
        min-height: 200px;
        border-bottom: 1px dashed $irmag-forum-color-light-blue;

        /* Голосовалка */
        .forum-vote-btn {
            font-size: $irmag-forum-font-medium;
            text-decoration: none;

            @media (max-width: $screen-xs-max) {
                font-size: $irmag-forum-font-big;
            }

            .forum-post-vote {
                margin-right: 4px;
                margin-left: 2px;
            }
        }

        /* Автор поста */
        div.forum-post-author {
            div {
                margin-bottom: 5px;
                font-size: $irmag-forum-font-submedium;

                &.forum-post-author-stars {
                    color: $irmag-forum-color-orange;
                    margin-bottom: 25px;
                }

                &.forum-post-author-connect {
                    a {
                        font-size: $irmag-forum-font-medium;
                        margin-right: 5px;
                        vertical-align: bottom;
                        text-decoration: none;
                    }
                }
            }

            .forum-post-author-name {
                font-size: $irmag-forum-font-medium;
            }
        }

        .forum-post-actions-xs {
            font-size: $irmag-forum-font-big;

            .action-buttons {
                margin-right: 20px;

                a {
                    font-weight: normal;
                }

                .forum-admin-edit {
                    font-size: $irmag-forum-font-big;
                }
            }
        }

        /* Данные о посте */
        div.forum-post-credentials {
            margin-top: -20px;
            font-size: $irmag-forum-font-submedium;

            time {
                text-decoration: underline;
            }

            .forum-post-updating {
                color: $irmag-forum-color-quote;
            }

            .forum-post-actions {
                float: right;
                margin-top: -20px;

                a {
                    margin-right: 15px;
                    text-decoration: underline;
                }
            }
        }

        div.forum-post-body {
            padding: 5px 20px;
            min-height: 200px;

            pre {
                white-space: pre-line;
            }

            blockquote {
                font-size: $irmag-forum-default;
                color: $irmag-forum-color-quote;
            }

            .post-admin-edit {
                bottom: 0;
            }
        }
    }

    div.forum-post-last {
        border-bottom: 0;
    }
}

.new-post-form-controls {
    .attach-to {
        margin: 15px 0 0 16px;
    }

    .forum-post-submit {
        margin-right: 16px;
    }
}
