/**
 * Профиль на форуме.
 */

.profile-stats {
    @media (max-width: $screen-xs-max) {
        margin-top: 50px;
    }

    /* Информация в профиле */
    table.forum-profile-info {
        width: 100%;

        tr {
            height: 40px;
        }
    }
}
