.brand-zone-container {
    background-attachment: scroll;
    background-position: bottom;
}

    .brand-zone-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1100px;
        height: 400px;
        margin: auto;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .brand-zone-wrapper {
        position: relative;
        height: 100%;
    }

    .bz-back {
        position: absolute;
        top: 30px;
        left: 50px;
        display: block;
        font-family: Arial, serif;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        background-color: #d0d0d0;
        padding: 5px 10px;
    }

    .bz-back:hover {
        color: #000;
        text-decoration: none;
        opacity: 0.5;
    }

        .bz-logo {
            margin: 0 auto;
        }

            .bz-logo-text {
                width: 380px;
                height: 40px;
                margin: 10px auto;
                background: url('./sprite.png') 0 -5px;
            }

        .bz-menu-pic {
            position: absolute;
            z-index: 1;
            background-size: cover;
            height: 376px;
            width: 120px;
            top: 260px;
            transition: top 0.4s ease-in-out;
            -webkit-transition: top 0.4s ease-in-out;
            -moz-transition: top 0.4s ease-in-out;
            -ms-transition: top 0.4s ease-in-out;
            -o-transition: top 0.4s ease-in-out;
        }

        .bz-pic-cover {
            position: absolute;
            background-size: cover;
            z-index: 1;
            width: 250px;
            height: 600px;
        }

        .bz-pic-cover-woman {
            background-image: url('./line_pink.png');
            top: -210px;
        }

        .bz-pic-cover-man {
            background-image: url('./line_blue.png');
            top: -210px;
            left: 840px;
        }

        .bz-pic-woman {
            background-image: url('./sku_woman.png');
            left: 150px;
        }

        .bz-pic-man {
            background-image: url('./sku_man.png');
            right: 130px;
        }

        .bz-menu-link {
            display: block;
            position: absolute;
            background-size: cover;
            top: 250px;
            height: 40px;
            cursor: pointer;
        }

        .bz-menu-link:hover + .bz-menu-pic {
            top: 100px;
            transition: top 0.6s ease-in-out;
            -webkit-transition: top 0.6s ease-in-out;
            -moz-transition: top 0.6s ease-in-out;
            -ms-transition: top 0.6s ease-in-out;
            -o-transition: top 0.6s ease-in-out;
        }

        .bz-menu-link-woman {
            left: 350px;
            width: 180px;
            background: url('./sprite.png') -7px 104px;
        }

        .bz-menu-link-woman:hover {
            background: url('./sprite.png') -7px 202px;
        }

        .bz-menu-link-man {
            left: 560px;
            width: 180px;
            background: url('./sprite.png') -200px 104px;
        }

        .bz-menu-link-man:hover {
            background: url('./sprite.png') -200px 202px;
        }