{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        body { margin: 0; }
        header { display: none; }
    </style>
{% endblock %}

{% block header %}
{% endblock header %}
