.brand-zone-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1100px;
    height: 400px;
    margin: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.brand-zone-wrapper {
    position: relative;
    height: 100%;
}

.brand-zone-wrapper img.brand-img-logo {
    position: absolute;
    top: 0;
    left: 650px;
}

.brand-zone-wrapper img.brand-img-title {
    position: absolute;
    top: 160px;
    left: 575px;
}

.brand-zone-wrapper img.brand-img-text {
    position: absolute;
    top: 235px;
    left: 565px;
}

.brand-zone-wrapper img.brand-img-bubble {
    position: absolute;
    top: 100px;
    left: 445px;
}
