.brand-zone-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1360px;
    height: 100%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

    .bz-frame {
        width: 1300px;
        position: absolute;
        margin: 0 auto;
    }

    .bz-top {
        height: 228px;
        top: -100px;
        background: url('top.png') 0 0;
        background-size: contain;
    }

    .bz-bottom {
        top: 310px;
        left: 0;
        height: 130px;
        width: 1326px;
        background: url('bottom.png') 0 0;
        background-size: contain;
        z-index: 2;
    }

    .brand-zone-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 960px;
        height: 400px;
        margin: auto;
        text-align: center;
    }

        .bz-col {
            display: inline-block;
            height: 100%;
        }

        .bz-col-center {
            margin-left: 220px;
            width: 400px;
        }

        .bz-col-menu {
            width: 300px;
        }

            .bz-logo {
                display: block;
                width: 350px;
                height: 240px;
                margin-top: 70px;
                background-size: cover;
                background: url('sprites.png') 0 0;
                position: relative;
                z-index: 2;
            }

            .bz-menu-item {
                display: block;
                width: 400px;
                height: 50px;
                margin-bottom: 10px;
                position: relative;
                z-index: 3;
            }

            .item-1 {
                margin-top: 75px;
            }

                .bz-menu-item:hover .bz-outer {
                    width: 380px;
                    transition: width 0.7s ease-in-out;
                    -webkit-transition: width 0.7s ease-in-out;
                    -moz-transition: width 0.7s ease-in-out;
                    -ms-transition: width 0.7s ease-in-out;
                    -o-transition: width 0.7s ease-in-out;
                }

                .bz-menu-item:hover + .bz-menu-pic {
                    left: 0;
                    z-index: 3;
                    opacity: 1;
                    transition: left 0.7s ease-in-out, opacity 0.5s linear 0.35s;
                    -webkit-transition: left 0.7s ease-in-out, opacity 0.5s linear 0.35s;
                    -moz-transition: left 0.7s ease-in-out, opacity 0.5s linear 0.35s;
                    -ms-transition: left 0.7s ease-in-out, opacity 0.5s linear 0.35s;
                    -o-transition: left 0.7s ease-in-out, opacity 0.5s linear 0.35s;
                }

            .bz-menu-title {
                margin: 5px 0 0 25px;
                width: inherit;
                height: inherit;
                position: relative;
                z-index: 2;
            }

                .title-1 {
                    width: 200px;
                    background: url('sprites.png') -350px -10px;
                }

                .title-2 {
                    width: 250px;
                    background: url('sprites.png') -350px -70px;
                }

                .title-3 {
                    width: 300px;
                    background: url('sprites.png') -350px -126px;
                }

                .title-4 {
                    width: 300px;
                    background: url('sprites.png') -350px -186px;
                }

            .bz-outer {
                position: absolute;
                left: -40px;
                width: 0;
                height: 60px;
            }

                .bz-outer-1 {
                    background: url('sprites.png') 395px -4px;
                }

                .bz-outer-2 {
                    background: url('sprites.png') 395px -62px;
                }

                .bz-outer-3 {
                    height: 58px;
                    background: url('sprites.png') 395px -121px;
                }

                .bz-outer-4 {
                    height: 62px;
                    background: url('sprites.png') 389px -180px;
                }

        .bz-menu-pic {
            position: absolute;
            left: 350px;
            top: 85px;
            width: 210px;
            height: 210px;
            background-size: contain;
            opacity: 0;

            transition: left 0.2s ease-in-out, opacity 0.5s linear;
            -webkit-transition: left 0.2s ease-in-out, opacity 0.5s linear;
            -moz-transition: left 0.2s ease-in-out, opacity 0.5s linear;
            -ms-transition: left 0.2s ease-in-out, opacity 0.5s linear;
            -o-transition: left 0.2s ease-in-out, opacity 0.5s linear;
        }

            .pic-1 {
                background-image: url('1.png');
            }

            .pic-2 {
                background-image: url('2.png');
            }

            .pic-3 {
                background-image: url('3.png');
            }

            .pic-4 {
                background-image: url('4.png');
            }