section.brand-zone {
    background-attachment: fixed;
    background-position: center 0;
}

    .brand-zone-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1100px;
        height: 400px;
        margin: auto;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .brand-zone-wrapper {
        position: relative;
        height: 100%;
    }

    .brand-zone-wrapper img.brand-img-1 {
        position: absolute;
        top: 0;
        left: 214px;
    }

    .brand-zone-wrapper a {
        position: absolute;
        opacity: .8;
    }

    .brand-zone-wrapper img {
        display: block;
    }

    .brand-zone-wrapper a.rexona-back {
        left: 0;
        top: 0;
    }

    .brand-zone-wrapper a.rexona-men,
    .brand-zone-wrapper a.rexona-women {
        background-color: #0c1f61;
        bottom: 20px;
    }

    .brand-zone-wrapper a:hover,
    .brand-zone-wrapper a:hover {
        opacity: 1;
    }

    .brand-zone-wrapper a.rexona-men {
        left: 255px;
    }

    .brand-zone-wrapper a.rexona-women {
        right: 190px;
    }
