{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <a href="{{ path('irmag_catalog', { filter: { manufacturer: {0: 43} }, _fragment: anc }) }}" class="rexona-back">
                    <img src="{{ web_path ~ '/img_Rexona_back.png' }}" alt="">
                </a>

                <img src="{{ web_path ~ '/img_Rexona_text.png' }}" alt="" class="brand-img-1">

                <a href="{{ path('irmag_catalog_section', { sectionId: 231323, filter: { brand: { 0: 454 } }, _fragment: anc }) }}" class="rexona-men">
                    <img src="{{ web_path ~ '/img_Rexona_men.png' }}" alt="">
                </a>

                <a href="{{ path('irmag_catalog_section', { sectionId: 231946, filter: { brand: { 0: 454 } }, _fragment: anc }) }}" class="rexona-women">
                    <img src="{{ web_path ~ '/img_Rexona_women.png' }}" alt="">
                </a>
            </div>
        </div>
    {% endblock %}
{% endembed %}
