.add-element-to-basket {
    &.btn-success {
        i.btn-icon {
            &::before {
                content: $fa-var-check;
            }
        }
    }

    i.btn-icon {
        &::before {
            content: $fa-var-cart-plus;
        }

        &.loading::before {
            content: $fa-var-heart;
            font-size: $font-size-base;
        }
    }
}
