.brand-zone-container {
    height: 430px;
    background-attachment: fixed;
    background-position: center 6px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .25) inset;
    position: relative;
    overflow: hidden;

    @media (max-width: $screen-sm-max) {
        background-attachment: unset;
        background-position: center 0;
        transform-origin: left top;
    }
}

@media (max-width: $screen-sm-max) {
    .brand-zone-container-adaptive {
        overflow: hidden;
        height: 0;
        opacity: 0;
    }
}

