.props {
    z-index: 2;

    i {
        cursor: help;
    }

    .prop- {
        &action {
            color: $irmag-color-5;
            &::before { content: $fa-var-gift; }
        }

        &delivery {
            color: $irmag-color-prop-delivery;
            &::before { content: $fa-var-truck; }
        }

        &payment {
            color: $irmag-color-prop-payment;
            &::before { content: $fa-var-credit-card; }
        }

        &new {
            font-family: $irmag-font-icons !important;
            color: $irmag-color-prop-new;
            &::before { content: $irmag-font-icon-new; }
        }

        &eco {
            color: $irmag-color-prop-eco;
            &::before { content: $fa-var-leaf; }
        }

        &special-price {
            font-family: $irmag-font-icons !important;
            color: $irmag-color-prop-special-price;
            &::before { content: $irmag-font-icon-special-price; }
        }

        &safe-animal {
            color: $irmag-color-prop-safe-animal;
            &::before { content: $fa-var-paw; }
        }

        &transfer {
            color: $irmag-color-prop-transfer;
            &::before { content: $fa-var-paper-plane; }
        }

        &rating,
        &comment {
            color: $irmag-color-prop-comment;
            position: relative;

            small {
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                color: white;
                line-height: 1.8em;
                font-size: .46em;
            }
        }

        &rating {
            font-family: $irmag-font-icons !important;
            &::before { content: $irmag-font-icon-heart; }
        }

        &comment {
            // fix 1px
            small { top: 1px; }

            &::before { content: $fa-var-comment; }
        }
    }
}
