.catalog-filter-wrapper {
    .catalog-filter {
        .panel-body {
            margin-bottom: -15px;
            position: relative;
        }

        hr {
            margin-bottom: 15px;
            margin-left: -15px;
            margin-right: -15px;
        }

        label {
            display: block;
        }

        .checkbox {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .props {
            label {
                i {
                    font-size: 22px;
                    float: right;
                    opacity: $irmag-catalog-element-opacity-elms;
                    transition: $irmag-catalog-element-opacity-transition;
                }

                &:hover {
                    i {
                        opacity: 1;
                    }
                }
            }
        }

        // md, lg
        @media (min-width: $screen-md-min) {
            .price-wrapper {
                > div {
                    margin-top: 26px;
                }
            }
        }

        .disabled {
            color: $gray-light;
            text-decoration: line-through;
        }

        .selectpicker {
            height: 34px;
        }

        .reset-selected {
            color: $brand-danger;
        }

        .slider-wrapper {
            padding-left: 10px;
            padding-right: 10px;
            min-height: 22px; // initial fix

            // md, lg
            @media (min-width: $screen-md-min) {
                margin-top: 6px;
            }
        }

        // md, lg
        @media (min-width: $screen-md-min) {
            .btns {
                position: absolute;
                bottom: 30px;
                right: 0;
            }
        }

        .filter-fake-focus {
            font-size: 1px;
            padding: 0;
            width: 1px;
            height: 1px;
            border: none;
            position: absolute;
            left: -10000px;
        }

        .close-btn {
            border-bottom: 1px dotted $link-color;
            text-decoration: none;
            position: absolute;
            top: 10px;
            right: 15px;
        }
    }

    &.closed {
        display: none;
    }
}

.irmag-filter-select {
    .dropdown-toggle {
        overflow: hidden;
    }

    .dropdown-menu {
        width: 100%;
        overflow: hidden;

        // ~ 40px
        .fast-search {
        }

        .dropdown-menu {
            padding-top: 0;
            height: auto;
            //overflow-x: hidden;
            overflow-y: scroll;
            max-height: 200px; // -40 from .fast-search

            &.inner {
                display: block;
                position: static;
                float: none;
                border: 0;
                padding: 0;
                margin: 0;
                border-radius: 0;
                box-shadow: none;
            }

            li {
                a {
                    white-space: unset;
                    padding-left: 10px;
                    padding-right: 10px;
                }

                &.bold {
                    &:not(:first-child) {
                        border-top: 1px solid #efefef;
                    }

                    a {
                        font-weight: bold;
                    }
                }

                &.lvl-2 {
                    a {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}
