.irmag-icon {
    @include irmag-icon();
}

.irmag-icon- {
    // иконки разделов по id
    &section- {
        // Handmade Baikal Store
        &593385::before { content: $irmag-font-icon-handmade; }
        // Акции и промо
        &191320::before { content: $irmag-font-icon-sale; }
        // Бытовая химия
        &11::before { content: $irmag-font-icon-chemicals; }
        // Детские товары
        &10::before { content: $irmag-font-icon-baby; }
        // Здоровье
        &656447::before { content: $irmag-font-icon-health; }
        // Косметика
        &250988::before { content: $irmag-font-icon-cosmetics; }
        // Личная гигиена
        &250987::before { content: $irmag-font-icon-hygiene; }
        // Одежда, белье, текстиль
        &13::before { content: $irmag-font-icon-dress; }
        // Парфюмерия
        &54536::before { content: $irmag-font-icon-parfume; }
        // Подарки, упаковка
        &218853::before { content: $irmag-font-icon-gifts; }
        // Продукты
        &503834::before { content: $irmag-font-icon-foods; }
        // Промтовары
        &12::before { content: $irmag-font-icon-cleaning; }
        // Проф. косметика
        &22::before { content: $irmag-font-icon-proff; }
        // Товары для животных
        &203131::before { content: $irmag-font-icon-animal; }
    }

    &brand-zones {
        &::before { content: $irmag-font-icon-brandzone; }
    }
}
