nav.catalog-menu {
    visibility: hidden;
    position: absolute;
    background-color: $irmag-header-blue-line-bg-hover;
    width: 220px;
    box-shadow: $irmag-catalog-menu-box-shadow;
    border-radius: 0 0 $border-radius-base $border-radius-base;
    transition: opacity .4s cubic-bezier(.18, .89, .32, 1.28);
    opacity: 0;
    z-index: 2;

    // xs, sm
    @media (max-width: $screen-sm-max) {
        display: none !important;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }

    // fix bottom right radius on lvl 2 active
    &.active-lvl-2 {
        border-bottom-right-radius: 0;

        ul {
            li {
                &.last {
                    > a {
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }
    }

    ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;

        li {
            &.last {
                > a {
                    border-radius: 0 0 $border-radius-base $border-radius-base;
                }
            }

            &.brand-zones {
                .brand-btn {
                    // XXX: n dd from font!
                    // @include irmag-font-bold();

                    padding-top: 10px;
                    padding-bottom: 10px;
                    background-color: $irmag-color-4;
                    color: white;
                    line-height: 28px;

                    .fa {
                        font-size: 2em;
                        margin-left: 25px;
                    }
                }

                &.active {
                    .brand-btn {
                        background-color: white;
                        color: $irmag-color-4;
                    }
                }

                .submenu {
                    overflow-y: auto;
                }

                .brands {
                    text-align: center;
                    overflow: hidden;
                }

                a {
                    img {
                        opacity: .7;
                        transition: opacity .2s ease-in-out;
                    }

                    &:hover {
                        img {
                            opacity: 1;
                        }
                    }
                }

                dd {
                    display: inline-block;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }

            > a {
                text-shadow: $irmag-header-blue-line-text-shadow;
                transition: background-color, color .1s ease-in-out;
                display: block;
                padding: 5px 10px;
                color: white;
                text-decoration: none;
                position: relative;
                z-index: 2;

                &:hover {
                    text-shadow: unset;
                }

                .icon {
                    @include irmag-icon();

                    float: left;
                    margin-top: -1px;
                    font-size: 22px;
                }

                span {
                    display: block;
                    margin-left: 27px;
                }
            }

            &.active {
                a {
                    background-color: white;
                    color: $irmag-header-blue-line-bg;
                }

                .submenu {
                    display: block;
                }
            }

            .submenu {
                box-shadow: $irmag-catalog-menu-box-shadow;
                border-radius: 0 0 $border-radius-base 0;
                padding-top: 10px;
                padding-bottom: 10px;
                position: absolute;
                top: 0;
                display: none;
                background-color: white;

                dl {
                    float: left;
                    margin-bottom: 5px;
                    font-size: .9em;

                    a {
                        display: inline-block;
                        padding-left: 5px;
                        padding-right: 5px;
                    }

                    dt {
                        padding-bottom: 5px;
                        margin-top: 5px;
                        margin-bottom: 5px;

                        a {
                            @include irmag-font-bold();

                            color: $gray;
                            text-transform: uppercase;
                        }
                    }

                    dd {
                        margin-left: 10px;

                        a {
                            padding-top: 2px;
                            padding-bottom: 2px;
                            color: $gray;
                        }
                    }
                }
            }
        }
    }
}
