<div class="panel panel-default">
    <div class="panel-heading">Расчёт стоимости доставки Почтой России</div>
    <div class="panel-body post-delivery-calculator">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-4">{{ form_label(form.indexTo) }}</div>
            <div class="col-xs-8">{{ form_widget(form.indexTo) }}</div>
        </div>

        <div class="hidden weight">
            {{ form_row(form.weight) }}
        </div>

        <div class="mt-15">{{ form_row(form.submit) }}</div>

        {% if result is not empty %}
            <table class="table post-delivery-results mb-0">
                <tr>
                    <td>Индекс:</td>
                    <td>{{ result.indexTo }}</td>
                </tr>
                <tr>
                    <td>Населённый пункт:</td>
                    <td>{{ result.cityName }}</td>
                </tr>
                <tr>
                    <td>Стоимость:</td>
                    <td>{{ result.price|number_format }} <i class="fa fa-rub"></i></td>
                </tr>
                {% if result.maxDays is not empty %}
                <tr>
                    <td>В доставке:</td>
                    <td>
                        {% if result.minDays is empty %}
                            до {{ result.maxDays }} дней
                        {% else %}
                            от {{ result.minDays }} до {{ result.maxDays }} дней
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                <tr class="text-center mt-15">
                    <td colspan="2">
                        <button class="btn btn-success post-delivery-select">Выбрать</button>
                        <button class="btn btn-warning post-delivery-reset">Сброс</button>
                    </td>
                </tr>
            </table>
        {% endif %}

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>

<div class="delivery-spinner alert alert-warning text-center" id="delivery-spinner-simple">
    <span class="delivery-spinner-text">Пожалуйста, подождите.</span><br>
    <i class="fa fa-3x fa-spin fa-spinner delivery-spinner-pic"></i>
</div>