<div class="text-center">
    <h3 class="mt-0">Выбранный вариант доставки</h3>
    <div class="hidden-xs">
        <table class="table table-condensed table-responsive mb-0">
            <thead>
            <tr>
                <th class="text-center">Служба</th>
                <th class="text-center">Индекс</th>
                <th class="text-center">Город</th>
                <th class="text-center">Сумма</th>
                {% if data.maxDays is not empty %}
                    <th class="text-center">Дней</th>
                {% endif %}

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="vcenter">Почта России</td>
                <td class="vcenter">{{ data.indexTo }}</td>
                <td class="vcenter">{{ data.cityName }}</td>
                <td class="vcenter"><span class="label label-primary">{{ data.price|number_format }} <i class="fa fa-rub"></i></span></td>
                {% if data.maxDays is not empty %}
                <td class="vcenter">
                    {% if data.minDays is empty %}
                        до {{ data.maxDays }}
                    {% else %}
                        от {{ data.minDays }} до {{ data.maxDays }}
                    {% endif %}
                </td>
                {% endif %}

                <td class="vcenter pb-0">
                    <button class="btn btn-warning select-post" type="button" data-weight="{{ weight }}">Изменить</button>
                    <button type="button" class="btn btn-danger post-delivery-reset-statusbar" data-toggle="tooltip" data-placement="bottom" title="Сбросить расчёт">
                        <i class="fa fa-undo"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="visible-xs">
        <table class="table table-condensed mb-0">
            <tr>
                <td>Служба:</td>
                <td>Почта России</td>
            </tr>
            <tr>
                <td>Индекс:</td>
                <td>{{ data.indexTo }}</td>
            </tr>
            <tr>
                <td>Город:</td>
                <td>{{ data.cityName }}</td>
            </tr>
            <tr>
                <td>Сумма:</td>
                <td><span class="label label-primary">{{ data.price|number_format }} <i class="fa fa-rub"></i></span></td>
            </tr>
            {% if data.maxDays is not empty %}
            <tr>
                <td>Дней:</td>
                <td>
                    {% if data.minDays is empty %}
                        до {{ data.maxDays }}
                    {% else %}
                        от {{ data.minDays }} до {{ data.maxDays }}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" class="pb-0">
                    <button class="btn btn-warning select-post" type="button" data-weight="{{ weight }}" data-volume="{{ volume }}">Изменить</button>
                    <button type="button" class="btn btn-danger post-delivery-reset-statusbar" data-toggle="tooltip" data-placement="bottom" title="Сбросить расчёт">
                        <i class="fa fa-undo"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>