{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Пользователи форума{% endblock %}

{% set breadcrumbs = {'Пользователи': ''} %}
{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'users'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}
    {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}
    <div class="mt-20">
        {{ knp_pagination_render(pagination, '@IrmagForum/Default/pagination.html.twig') }}
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="2">Пользователь</th>
                            <th class="text-center">Постов</th>
                            <th class="text-center">Рейтинг</th>
                            <th class="text-center hidden-xs">Дата регистрации</th>
                            <th class="text-center hidden-xs">Последний визит</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in pagination %}
                            <tr>
                                <td class="vcenter">
                                    <div class="hidden-xs">
                                        {{ avatar.get(item.forumuser, 'avatar_thumb_xs', 100) }}
                                    </div>
                                    <div class="visible-xs">
                                        {{ avatar.get(item.forumuser, 'avatar_small_thumb', 64) }}
                                    </div>
                                </td>
                                <td class="vcenter">
                                    <a href="{{ path('irmag_forum_profile', { id: item.forumuser.id }) }}">{{ item.forumuser }}</a>
                                </td>
                                <td class="vcenter text-center">{{ item.posts_cnt }}</td>
                                <td class="vcenter text-center">{{ item.posts_cnt * 1 + item.voted_cnt * 3 }}</td>
                                <td class="vcenter text-center hidden-xs">{{ item.forumuser.createdAt|localizeddate('full', 'none', null, null, 'dd.MM.Y') }}</td>
                                <td class="vcenter text-center hidden-xs">{% if item.forumuser.latestForumVisit %}{{ item.forumuser.latestForumVisit|localizeddate('full', 'none', null, null, 'dd.MM.Y в H:mm:ss') }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ knp_pagination_render(pagination, '@IrmagForum/Default/pagination.html.twig') }}
{% endblock %}
