.brand-zone-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 1000px;
    height: 600px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
    display: grid;
    grid-template-columns: 35% 15% 60%;
    grid-template-rows: 65% 7% 7% 7% 7% 7%;
    grid-template-areas: 'logo logo ribbon' 'lips pointer ribbon' 'eyes pointer ribbon' 'face pointer ribbon' 'facecare pointer ribbon' 'nails pointer ribbon';
}

.brand-zone-logo {
    position: relative;
    right: 60px;
    top: 15px;
    margin: auto;
    z-index: 1;
    max-height: 200px;
    grid-area: logo;
}

.background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 600px;
    height: 520px;
    position: relative;
    top: 0;
    right: 10px;
    z-index: -1;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 300px;
    height: 200px;
    z-index: 1;
    position: relative;
    right: 115px;
    top: 25px;
    margin: auto;
    text-align: center;
}

.ribbon {
    background-image: url('ribbon.jpg');
    height: 750px;
    width: 385px;
    position: absolute;
    z-index: 1;
    object-fit: cover;
    transform: rotate(-15deg);
    top: -460px;
    padding: 0;
    grid-area: ribbon;
    left: 490px;
}

.button-lips {
    background: url('text.png') no-repeat -54px -9px;
    width: 190px;
    height: 23px;
    cursor: pointer;
    grid-area: lips;
}

.button-lips:hover .pointer {
    display: block;
    left: 215px;
    bottom: -5px;
}

.button-lips:hover ~ .ribbon {
    animation: scrollLips 1.5s;
    animation-timing-function: cubic-bezier(.45, .05, .55, .95);
    animation-fill-mode: forwards;
}

.button-eyes {
    background: url('text.png') no-repeat -33px -49px;
    width: 211px;
    height: 23px;
    grid-area: eyes;
}

.button-eyes:hover .pointer {
    display: block;
    left: 235px;
    bottom: -5px;
}

.button-eyes:hover ~ .ribbon {
    animation: scrollEyes 1.5s;
    animation-timing-function: cubic-bezier(.45, .05, .55, .95);
    animation-fill-mode: forwards;
}

.button-face {
    background: url('text.png') no-repeat -23px -89px;
    width: 222px;
    height: 23px;
    grid-area: face;
}

.button-face:hover .pointer {
    display: block;
    left: 245px;
    bottom: -5px;
}

.button-face:hover ~ .ribbon {
    animation: scrollFace 1.5s;
    animation-timing-function: cubic-bezier(.45, .05, .55, .95);
    animation-fill-mode: forwards;
}

.button-facecare {
    background: url('text.png') no-repeat -3px -129px;
    width: 243px;
    height: 23px;
    grid-area: facecare;
}

.button-facecare:hover .pointer {
    display: block;
    left: 265px;
    bottom: -5px;
}

.button-facecare:hover ~ .ribbon {
    animation: scrollFacecare 1.5s;
    animation-timing-function: cubic-bezier(.45, .05, .55, .95);
    animation-fill-mode: forwards;
}

.button-nails {
    background: url('text.png') no-repeat -93px -169px;
    width: 152px;
    height: 23px;
    grid-area: nails;
}

.button-nails:hover .pointer {
    display: block;
    left: 175px;
    bottom: -5px;
}

.button-nails:hover ~ .ribbon {
    animation: scrollNails 1.5s;
    animation-timing-function: cubic-bezier(.45, .05, .55, .95);
    animation-fill-mode: both;
}

.pointer {
    background: url('pointer.png') no-repeat -3px -3px;
    width: 177px;
    height: 14px;
    position: relative;
    z-index: 1;
    display: none;
    grid-area: pointer;
}

@keyframes scrollLips {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: 38%;
    }
}

@keyframes scrollEyes {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: 71%;
    }
}

@keyframes scrollFace {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: 54%;
    }
}

@keyframes scrollFacecare {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: 88%;
    }
}

@keyframes scrollNails {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: 21%;
    }
}
