{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
            <div class="brand-zone-content">
                <div class="background">
                    <img src="{{ web_path }}/logo.png" class="brand-zone-logo" alt="Golden Rose">
                    <div class="button-container">
                        <a class="button-lips"
                           href="{{ path('irmag_catalog_section', { sectionId: 116112, filter: { brand: { 0: 1433 } }, _fragment: anc }) }}"
                           title="Макияж для губ">
                            <div class="pointer"></div>
                        </a>
                        <a class="button-eyes"
                           href="{{ path('irmag_catalog_section', { sectionId: 116110, filter: { brand: { 0: 1433 } }, _fragment: anc }) }}"
                           title="Макияж для глаз">
                            <div class="pointer"></div>
                        </a>
                        <a class="button-face"
                           href="{{ path('irmag_catalog_section', { sectionId: 116111, filter: { brand: { 0: 1433 } }, _fragment: anc }) }}"
                           title="Макияж для лица">
                            <div class="pointer"></div>
                        </a>
                        <a class="button-facecare"
                           href="{{ path('irmag_catalog_section', { sectionId: 1, filter: { brand: { 0: 1433 } }, _fragment: anc }) }}"
                           title="Уход за лицом">
                            <div class="pointer"></div>
                        </a>
                        <a class="button-nails"
                           href="{{ path('irmag_catalog_section', { sectionId: 116113, filter: { brand: { 0: 1433 } }, _fragment: anc }) }}"
                           title="Маникюр">
                            <div class="pointer"></div>
                        </a>
                        <div class="ribbon"></div>
                    </div>
                </div>
            </div>
    {% endblock %}
{% endembed %}
