.alert {
    &.alert-transfer {
        background-color: lighten($irmag-color-prop-transfer, 52%);
        border-color: lighten($irmag-color-prop-transfer, 48%);
        color: lighten($irmag-color-prop-transfer, 15%);
    }

    &.alert-special-price {
        background-color: lighten($irmag-color-prop-special-price, 52%);
        border-color: lighten($irmag-color-prop-special-price, 48%);
        color: lighten($irmag-color-prop-special-price, 15%);
    }
}
