.header-warning-line {
    left: 0;
    right: 0;
    background-color: $irmag-color-5;
    font-weight: bold;

    // xs, sm
    @media (max-width: $screen-sm-max) {
        position: static !important;
    }

    .col-title {
        padding-top: 7px;
        padding-bottom: 7px;
        justify-content: center;

        // xs, sm
        @media (max-width: $screen-sm-max) {
            justify-content: left;
            text-align: left;
        }
    }

    .col-close {
        justify-content: flex-end;
    }

    a,
    button {
        color: white;
    }
}
