.irmag-heart-loading {
    $rhombus-size: 70px;
    $circle-size: 40px;
    $margin: 15px;

    zoom: .5;

    .rhombus {
        margin: auto;
        height: $rhombus-size;
        width: $rhombus-size;
    }

    .rhombus::before {
        content: "";
        position: absolute;
        height: $circle-size;
        width: $circle-size;
        z-index: 0;
        margin-top: $margin;
        margin-left: $margin;
        transform: rotate(45deg);
    }

    .rhombus .circle1 {
        content: "";
        position: absolute;
        height: $circle-size;
        width: $circle-size;
        z-index: 1;
        border-radius: 50%;
        animation-duration: 2s;
        animation-name: change1;
        animation-iteration-count: infinite;
    }

    .rhombus .circle2 {
        content: "";
        position: absolute;
        height: $circle-size;
        width: $circle-size;
        z-index: 1;
        margin-left: $margin * 2;
        border-radius: 50%;
        animation-duration: 2s;
        animation-name: change2;
        animation-iteration-count: infinite;
    }

    &.color-1 {
        .rhombus::before,
        .rhombus .circle1,
        .rhombus .circle2 {
            background: $irmag-color-1;
        }
    }

    &.color-2 {
        .rhombus::before,
        .rhombus .circle1,
        .rhombus .circle2 {
            background: $irmag-color-2;
        }
    }

    &.color-3 {
        .rhombus::before,
        .rhombus .circle1,
        .rhombus .circle2 {
            background: $irmag-color-3;
        }
    }

    &.color-4 {
        .rhombus::before,
        .rhombus .circle1,
        .rhombus .circle2 {
            background: $irmag-color-4;
        }
    }

    &.color-5 {
        .rhombus::before,
        .rhombus .circle1,
        .rhombus .circle2 {
            background: $irmag-color-5;
        }
    }

    @keyframes change1 {
        0%,
        25% {
            margin-top: 0;
            margin-left: 0;
        }

        50%,
        75% {
            margin-top: $margin * 2;
            margin-left: $margin * 2;
        }
    }

    @keyframes change2 {
        25%,
        50% {
            margin-top: $margin * 2;
            margin-left: 0;
        }

        75%,
        100% {
            margin-top: 0;
            margin-left: $margin * 2;
        }
    }
}
