.notify {
    cursor: wait;

    /* z-index: 9999; */
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-top: -75px;
    margin-left: -75px;
    z-index: 9999;
    border-radius: 10px;
    text-align: center;
    opacity: .9;
    box-shadow: 0 0 3px rgba(0, 0, 0, .4);
    display: none;

    &::before {
        @include fa-icon();

        line-height: 150px;
        color: white;
        text-shadow: 0 0 2px rgba(0, 0, 0, .4);
        font-size: 5em;
    }

    &.basket {
        &::before {
            content: $fa-var-shopping-basket;
        }

        &.add {
            @include linear-gradient-vertical($irmag-notify-basket-add-bg, darken($irmag-notify-basket-add-bg, 10%));
        }

        &.remove {
            @include linear-gradient-vertical($irmag-notify-basket-remove-bg, darken($irmag-notify-basket-remove-bg, 10%));
        }
    }

    &.favorite {
        &::before {
            content: $fa-var-star;
        }

        &.add {
            @include linear-gradient-vertical($irmag-notify-favorite-add-bg, darken($irmag-notify-favorite-add-bg, 10%));
        }

        &.remove {
            @include linear-gradient-vertical($irmag-notify-favorite-remove-bg, darken($irmag-notify-favorite-remove-bg, 10%));
        }
    }
}
