$slick-font-family: "FontAwesome";
$slick-arrow-color: $irmag-header-blue-line-bg;
$slick-dot-color: $irmag-header-blue-line-bg-hover;
$slick-prev-character: $fa-var-arrow-circle-left;
$slick-next-character: $fa-var-arrow-circle-right;
$slick-dot-character: $fa-var-dot-circle-o;
$slick-dot-size: 14px;

.slick-dots {
    left: 0;
    right: 0;
}

.slick-list {
    margin-bottom: 10px !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 20px;
}

.slick-prev,
.slick-next {
    width: 30px;
    height: 30px;
    margin-top: 33px;

    &::before {
        font-size: 30px !important;
    }

    // xs, sm
    @media (max-width: $screen-sm-max) {
        display: none !important;
    }
}

@import "~slick-carousel/slick/slick-theme.scss";
