section.brand-zone {
    background-attachment: fixed;
    background-position: center 0;
}

    .brand-zone-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1100px;
        height: 400px;
        background-color: rgba(50, 95, 0, .7);
        margin: auto;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .brand-zone-menu a {
        color: #003102;
        font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 24px;
        display: block;
        float: left;
        width: 24%;
        box-sizing: border-box;
        background-color: #CDDE36;
        padding: 36px 10px 0 10px;
        text-decoration: none;
        margin: 0.5%;
        height: 95px;
        text-transform: uppercase;
        font-weight: bold;
        opacity: .85;
        line-height: 1.2;
    }

    .brand-zone-menu a.link-padded {
        padding-top: 22px;
    }

    .brand-zone-menu a:hover {
        background-color: white;
    }
