{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}💎 Бренд-зоны{% endblock %}

{% block body %}

    <section class="brand-zones container">

        <h1>Выделенные страницы Брендов</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Бренд-зоны': null } } %}

        <div class="brands text-center row">
            {% for entity in manufacturers_and_brands %}
                {% set short_name = constant('SHORT_NAME', entity) %}

                <div class="col-xs-12 col-lg-6">
                    <a href="{{ path('irmag_catalog', { filter: { (short_name): [entity.id] } }) }}">
                        <img src="{{ asset(entity.picture.webpath) }}" class="brand-zone-logo img-responsive" width="600" height="174" alt="{{ entity.name }}">
                    </a>
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}
