/**
 * Переменные форума
 */

/* Цвета */
$irmag-forum-color-lightgray: #808080;
$irmag-forum-color-green: green;
$irmag-forum-color-red: red;
$irmag-forum-color-orange: orange;
$irmag-forum-color-light-blue: #d9edf7;

$irmag-forum-color-unread-msg: #4c7ab7;
$irmag-forum-color-msg: #d9edf7;
$irmag-forum-color-quote: #8f8f8f;

/* Размеры шрифтов */
$irmag-forum-default: 14px;
$irmag-forum-font-big: 18px;
$irmag-forum-font-medium: 16px;
$irmag-forum-font-submedium: 12px;
$irmag-forum-font-small: 10px;
