{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}
    {%- if topic.poll -%}
        Создан новый опрос на форуме
    {%- else -%}
        Создана новая тема на форуме
    {%- endif -%}
{% endblock %}

{% block text %}
    <p>В форуме Ирмага {{ topic.createdAt|date('d.m.Y в H:i') }} создана новая тема <a target="_blank" href="{{ url('irmag_forum_goto_topic', { id: topic.id }) }}">"{{ topic.title }}"</a> {% if topic.poll %}<b> с опросом </b>{% endif %}.</p>
    <br>

    <p>Автор - <a target="_blank" href="{{ url('irmag_forum_profile', { id: topic.user.id }) }}">{{ topic.user.name }}</a>.</p>
    <br>

    <p>Вы можете <a target="_blank" href="{{ url('admin_irmag_forum_forumtopic_edit', { id: topic.id }) }}">отредактировать</a> созданную тему в панели администратора.</p>
{% endblock %}
