{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Новый пост на форуме в теме "{{ post.topic.title }}"{% endblock %}

{% block text %}
    <p>В <a href="{{ url('irmag_forum_goto_topic', { id: post.topic.id }) }}">теме форума "{{ post.topic.title }}"</a> {{ post.createdAt|date('d.m.Y в H:i') }} написан <a target="_blank" href="{{ url('irmag_forum_goto_topic', { id: post.topic.id, post: post.id }) }}">новый пост</a>.</p>
    <br>

    <p>Автор - <a target="_blank" href="{{ url('irmag_forum_profile', { id: post.user.id }) }}">{{ post.user.name }}.</a></p>
    <br>

    <p>Текст поста:</p>
    <br>
    <p><b>{{ post.textHtml|striptags }}</b></p>
    <br>

    <p>
        Вы получили это письмо, поскольку являетесь подписчиком темы форума "{{ post.topic.title }}".
    </p>
    <br>

    <p>
        Для управления вашими подписками на темы вы можете перейти в настройки <a target="_blank" href="{{ url('irmag_forum_profile', { id: post.user.id }) }}">своего профиля на форуме</a>.
    </p>
{% endblock %}
