@font-face {
    font-family: 'Irmag';
    font-display: auto;
    src: url('#{$irmag-site-font-dir}/Irmag/Irmag.eot?v2');
    src: url('#{$irmag-site-font-dir}/Irmag/Irmag.eot?v2#iefix') format('embedded-opentype'), url('#{$irmag-site-font-dir}/Irmag/Irmag.ttf?v2') format('truetype'), url('#{$irmag-site-font-dir}/Irmag/Irmag.woff?v2') format('woff'), url('#{$irmag-site-font-dir}/Irmag/Irmag.svg?v2#Irmag') format('svg');
    font-weight: normal;
    font-style: normal;
}
