{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Ваш пост "{{ post.title }}" не прошёл модерацию{% endblock %}

{% block text %}
    <p>К сожалению, ваш пост "{{ post.title }}" не прошёл модерацию.</p>
    <br>

    {% if post.declineReason %}
        <p>Модератор указал причину отклонения:</p>
        <br>
        <p><b>{{ post.declineReason }}</b></p>
        <br>
    {% endif %}

    <p>Пожалуйста, <a target="_blank" href="{{ url('irmag_blog_update_post', { id: post.id }) }}">исправьте все недочеты</a> и отправьте пост на повторную модерацию.</p>
{% endblock %}
