{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Вам начислены фантики за пост в блоге{% endblock %}

{% block text %}
    <p>Поздравляем вас, {{ post.user.name }}!</p>
    <br>

    <p>Ваш пост в блогах Ирмага <a target="_blank" href="{{ url('irmag_blog_category_post', { id: post.id, categoryslug: post.blogSection.shortlink }) }}">"{{ post.title }}"</a> набрал необходимое количество лайков ({{ constant('Irmag\\BlogBundle\\BlogConfig::BLOG_BONUS_REWARD_LIKES_AMOUNT') }}) для получения вознаграждения.</p>
    <br>

    <p>Вам начислено {{ constant('Irmag\\BlogBundle\\BlogConfig::BLOG_BONUS_REWARD_SUM') }} фантиков. Вы можете проверить баланс ваших фантиков в <a target="_blank" href="{{ url('irmag_profile_bonus') }}">вашем личном кабинете</a>.</p>
    <br>
{% endblock %}
