{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Ваш пост "{{ post.title }}" прошёл модерацию и был опубликован{% endblock %}

{% block text %}
    <p>Поздравляем! Ваш пост <a target="_blank" href="{{ url('irmag_blog_category_post', { id: post.id, categoryslug: post.blogSection.shortlink }) }}">"{{ post.title }}"</a> успешно прошёл модерацию и был опубликован в блогах Ирмага.</p>
{% endblock %}
