.text-warning {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px;;
    text-align: center;
    font-size: 14px;
    transform: scale(1, 2.6);
}

    @media (min-width: 1200px) and (max-width: 1400px) {
        .text-warning {
            font-size: 15px;
        }
    }

    @media (min-width: 1400px) and (max-width: 1600px) {
        .text-warning {
            font-size: 16px;
            margin-bottom: 17px;
        }
    }

    @media (min-width: 1600px) and (max-width: 1800px) {
        .text-warning {
            font-size: 17px;
            margin-bottom: 15px;
        }
    }

    @media (min-width: 1800px) {
        .text-warning {
            font-size: 18px;
            margin-bottom: 12px;
        }
    }

.brand-zone-adult {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 90px;
    height: 90px;
}

.brand-zone-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 375px;
    width: 940px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(2, 32, 51, 0.3);
    margin: 0 auto;
}

.brand-zone-wrapper {
    position: relative;
    height: 100%;
}

.brand-zone-block-container {
    position: absolute;
    text-align: center;
    padding-left: 65px;
    top: 120px;
    left: 0;
    right: 0;
}

    .brand-zone-column {
        position: relative;
        display: inline-block;
        margin-right: 65px;
    }

    .brand-zone-column:hover .brand-zone-block {
        background-image: url('block-after.png');
    }

    .brand-zone-column:hover .brand-zone-text {
        background-color: rgb(255, 255, 255);
    }

    .brand-zone-column:hover .brand-zone-text a {
        color: rgb(41, 59, 123);
    }

        .brand-zone-block {
            height: 200px;
            width: 200px;
            background-image: url('block-before.png');
        }

        .brand-zone-text {
            height: 30px;
            margin-top: 8px;
            width: 200px;
            background-color: rgba(0, 112, 186, 0.5);
        }

            a.brand-zone-link {
                display: inline-block;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 20px;
            }

    img.brand-zone-column-img {
        margin-top: 20px;
        width: 90px;
        height: 162px;
    }

img.brand-zone-brand-logo {
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: 99px;
}
