{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <img class="brand-zone-adult" alt="" src="{{ web_path ~ '/18.png' }}">
            <div class="brand-zone-wrapper">
                <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1292 } }, _fragment: anc }) }}">
                    <img src="{{ web_path ~ '/logo.png' }}" alt="" class="brand-zone-brand-logo">
                </a>

                <div class="brand-zone-block-container">
                    <div class="brand-zone-column">
                        <a href="{{ path('irmag_catalog_section', {
                            sectionId: 458619,
                            filter: { brand: { 0: 1292 } },
                            _fragment: anc
                        }) }}">
                            <div class="brand-zone-block">
                                <img src="{{ web_path ~ '/condom.jpg' }}" alt="" class="brand-zone-column-img">
                            </div>
                        </a>
                        <div class="brand-zone-text">
                            <a href="{{ path('irmag_catalog_section', {
                                sectionId: 458619,
                                filter: { brand: { 0: 1292 } },
                                _fragment: anc
                            }) }}" class="brand-zone-link">Презервативы</a>
                        </div>
                    </div>

                    <div class="brand-zone-column">
                        <a href="{{ path('irmag_catalog_section', {
                            sectionId: 458621,
                            filter: { brand: { 0: 1292 } },
                            _fragment: anc
                        }) }}">
                            <div class="brand-zone-block">
                                <img src="{{ web_path ~ '/gel.jpg' }}" alt="" class="brand-zone-column-img">
                            </div>
                        </a>
                        <div class="brand-zone-text">
                            <a href="{{ path('irmag_catalog_section', {
                                sectionId: 458621,
                                filter: { brand: { 0: 1292 } },
                                _fragment: anc
                            }) }}" class="brand-zone-link">Гели-смазки</a>
                        </div>
                    </div>

                    <div class="brand-zone-column">
                        <a href="{{ path('irmag_catalog_section', {
                            sectionId: 530352,
                            filter: { brand: { 0: 1292 } },
                            _fragment: anc
                        }) }}">
                            <div class="brand-zone-block">
                                <img src="{{ web_path ~ '/toy.jpg' }}" alt="" class="brand-zone-column-img">
                            </div>
                        </a>
                        <div class="brand-zone-text">
                            <a href="{{ path('irmag_catalog_section', {
                                sectionId: 530352,
                                filter: { brand: { 0: 1292 } },
                                _fragment: anc
                            }) }}" class="brand-zone-link">Игрушки</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-warning">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМО ОЗНАКОМИТЬСЯ С ИНСТРУКЦИЕЙ ИЛИ ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ</p>
    {% endblock %}
{% endembed %}
