{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.ownerFQCN is not null %}

        {% if object.ownerFQCN == "Irmag\\SiteBundle\\Entity\\News" %}
            <span class="label label-info">Новость</span>
        {% elseif object.ownerFQCN == "Irmag\\ForumBundle\\Entity\\ForumTopic" %}
            <span class="label label-primary">Тема форума</span>
        {% endif %}

    {% endif %}
{% endblock %}