{% import '@IrmagSite/Catalog/macro.add-element-to-basket.html.twig' as macro_basket %}
{% import '@IrmagSite/Catalog/macro.add-element-to-favorite.html.twig' as macro_favorite %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-9">
        {# row 1 #}
        <div class="row vertical-align{% if not element.isActive %} grayscale{% endif %}">
            {# col image #}
            <div class="col-xs-4 col-lg-2">
                <div class="image center-block">
                    {% block image %}
                        {% set picture = element.pictures[0].file.webpath is defined ? element.pictures[0].file.webpath : constant('Irmag\\SiteBundle\\Entity\\Element::NOT_FOUND_IMAGE') %}

                        <a href="{{ asset(picture)|imagine_filter('catalog_element_popup') }}" class="fancybox">
                            <img src="{{ asset(picture)|imagine_filter('catalog_elements') }}" class="img-responsive primary-image">

                            {% if element.tonePicture.webpath is defined %}
                                <img src="{{ asset(element.tonePicture.webpath)|imagine_filter('catalog_element_children') }}" alt="{{ element.toneName }}" title="{{ element.toneName }}" class="tone-image img-circle" data-toggle="tooltip">
                            {% endif %}
                        </a>
                    {% endblock %}
                </div>
            </div>

            {# col name #}
            <div class="col-xs-8 col-lg-10">
                <div class="name">
                    {% block name %}
                        <a href="{{ path('irmag_catalog_element', { id: element.id }) }}">
                            {{ element.name }}
                            {% if element.toneName %} - <span class="text-muted">{{ element.toneName }}</span>{% endif %}
                        </a>

                        <div class="text-sm">
                            {% if not element.isActive %}
                                {% include '@IrmagBasket/helper-element-not-active.html.twig' %}
                            {% endif %}

                            {% if element.isOnlyForHome %}
                                {% include '@IrmagBasket/helper-element-only-for-home.html.twig' %}
                            {% endif %}

                            {% if element.propTransfer is not same as(null) %}
                                {% include '@IrmagBasket/helper-element-in-transfer.html.twig' %}
                            {% endif %}

                            {% if element.propSpecialPrice %}
                                {% include '@IrmagBasket/helper-element-special-price.html.twig' %}
                            {% endif %}

                            {% if irmag.action.elements[element.id] is defined %}
                                {% include '@IrmagBasket/helper-element-in-action.html.twig' %}
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-lg-3 only-xs-separator">
        {# row 2 #}
        <div class="row vertical-align">
            {# col price #}
            <div class="col-xs-4 col-sm-7 col-md-8">
                <div class="price center-block">
                    {% block price %}
                        {% set price_with_discount = get_price_with_discount(element)|number_format %}
                        {% set action_price = irmag.action.elements[element.id].price is defined %}

                        {% if element.price != price_with_discount %}
                            {# цена со скидкой #}
                            <small class="cursor-help" data-toggle="tooltip" title="Цена без скидки">
                                <del>{{ element.price }} <i class="fa fa-rub"></i></del>
                            </small>
                            <span class="cursor-help{% if action_price is same as(true) %} action-price{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Цена со скидкой">
                                {{ price_with_discount }} <i class="fa fa-rub"></i>
                            </span>
                        {% else %}
                            {# цена без скидки #}
                            <span>{{ element.price }} <i class="fa fa-rub"></i></span>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>

            {# col actions #}
            <div class="col-xs-8 col-sm-5 col-md-4 col-actions">
                <div class="actions">
                    {% block actions %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
