{% if is_collapsed is not defined %}
    {% set is_collapsed = false %}
{% endif %}

<div class="panel {{ panel_class is defined and panel_class is not empty ? panel_class : 'panel-default' }} basket-and-favorite" id="favorite-{{ favorite.name }}">
    <div class="panel-heading clearfix">
        {% block panel_heading %}{% endblock %}
    </div>
    <div class="panel-body collapse{% if not is_collapsed %} in{% endif %}" id="panel-body-{{ favorite.id }}" aria-expanded="{{ is_collapsed ? 'false' : 'true' }}">
        {% block panel_body %}{% endblock %}
    </div>
</div>
