{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}⭐ Избранное{% endblock %}

{% block body %}

    <section class="favorite container">

        <h1>Избранное</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Избранное': null } } %}

        <div id="favorite-ajax-wrapper">
            {{ render(controller('Irmag\\FavoriteBundle\\Controller\\FavoriteController::indexContentAction')) }}
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Favorite.init();
        });
    </script>
{% endblock %}
