{% if favorites %}
    {% if irmag.favorite.totalCount > 10 %}
        <div class="row">
            <div class="col-xs-12">
                <span class="text-muted" data-sort="{{ { 'sort': sortable.sort, 'direction': sortable.direction }|json_encode }}">Сортировать по:</span>

                <div class="hidden visible-xs-block"></div>

                <a href="?sort=updatedAt&direction={{ sortable.sort == 'updatedAt' ? sortable.negative_direction : 'desc' }}" class="btn btn-link pr-0">Дате добавления</a>
                {% if sortable.sort == 'updatedAt' %}
                    <i class="fa fa-sort-amount-{{ sortable.direction }}"></i>
                {% endif %}

                <a href="?sort=name&direction={{ sortable.sort == 'name' ? sortable.negative_direction : 'asc' }}" class="btn btn-link pr-0">Названию</a>
                {% if sortable.sort == 'name' %}
                    <i class="fa fa-sort-alpha-{{ sortable.direction }}"></i>
                {% endif %}
            </div>
        </div>
        <br>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a class="create-favorite btn btn-primary"><i class="fa fa-plus-circle fa-lg"></i> Создать избранное</a>
                    </div>

                    {% if favorites|length > 1 %}
                        <div class="btn-group favorite-anchors ml-20">
                            {% for favorite in favorites %}
                                <a href="#favorite-{{ favorite.name }}" class="dotted-link">{{ favorite.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                {% if irmag.favorite.totalCount > 10 %}
                    <div class="hidden-md hidden-lg mt-20"></div>

                    <div class="btn-group btn-group-justified">
                        <input class="form-control pull-right" id="favorite-search" placeholder="Быстрый поиск по избранному">
                        <a class="btn-clear"><i class="fa fa-times"></i></a>
                    </div>
                {% endif %}
            </div>
        </div>
        <br>
    {% endif %}

    {% for favorite in favorites %}
        {% set is_default = favorite.name == constant('Irmag\\FavoriteBundle\\Entity\\Favorite::DEFAULT_FAVORITE_NAME') %}
        {% set is_watching = favorite.name == constant('Irmag\\FavoriteBundle\\Entity\\Favorite::WATCHING_FAVORITE_NAME') %}

        {% embed '@IrmagFavorite/embed-panel.html.twig' with { is_collapsed: favorite.isCollapsed, panel_class: is_watching ? 'panel-color-4' } %}
            {% block panel_heading %}
                <span class="pull-left">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and favorite.favoriteElements|length > 0 %}
                        {% if favorite.isCollapsed %}
                            <a href="#panel-body-{{ favorite.id }}" class="btn btn-sm btn-link" data-toggle="collapse" data-favorite-id="{{ favorite.id }}">
                                <i class="fa fa-plus-square fa-lg" title="Развернуть" data-toggle="tooltip"></i>
                            </a>
                        {% else %}
                            <a href="#panel-body-{{ favorite.id }}" class="btn btn-sm btn-link" data-toggle="collapse" data-favorite-id="{{ favorite.id }}">
                                <i class="fa fa-minus-square fa-lg" title="Свернуть" data-toggle="tooltip"></i>
                            </a>
                        {% endif %}
                    {% endif %}

                    {% if is_watching %}
                        <i class="fa fa-eye fa-fw cursor-help" data-toggle="tooltip" title="Вам придёт уведомление, когда товар появится на остатках."></i>

                        <b>Отслеживаемые товары</b>
                    {% else %}

                        <b>{{ favorite.name }}</b>
                    {% endif %}

                    {% if not is_default and not is_watching %}
                        <a class="btn btn-sm btn-link rename-favorite" title="Переименовывать избранное" data-toggle="tooltip" data-favorite-id="{{ favorite.id }}" data-favorite-name="{{ favorite.name }}">
                            <i class="fa fa-pencil fa-lg"></i>
                        </a>
                    {% endif %}

                    ({{ 'favorite.count'|transchoice(favorite.favoriteElements|length, {}, 'irmag_site') }})
                </span>

                <div class="pull-right">
                    {# share btn #}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and favorite.favoriteElements|length > 0 %}
                        <a class="btn btn-sm btn-success" id="favorite-share-btn" data-toggle="tooltip" title="Поделиться избранным" data-favorite-id="{{ favorite.id }}">
                            <i class="fa fa-share-alt-square fa-lg fa-fw"></i>
                        </a>
                    {% endif %}

                    {% if not is_default %}
                        <a class="btn btn-sm btn-danger remove-favorite" data-favorite-id="{{ favorite.id }}" data-toggle="tooltip" title="Удалить избранное">
                            <i class="fa fa-trash fa-lg fa-fw"></i>
                        </a>
                    {% endif %}

                    {% if favorite.favoriteElements is not empty and favorite.favoriteElements|length > 1 and not is_watching %}
                        <a class="btn btn-sm btn-primary copy-all-elements-to-basket" data-favorite-id="{{ favorite.id }}" data-toggle="tooltip" title="Скопировать в корзину">
                            <i class="fa fa-shopping-cart fa-lg fa-fw"></i>
                        </a>
                        <a class="btn btn-sm btn-warning clear-favorite" data-favorite-id="{{ favorite.id }}" data-toggle="tooltip" title="Очистить избранное">
                            <i class="fa fa-eraser fa-lg fa-fw"></i>
                        </a>
                    {% endif %}
                </div>
            {% endblock %}

            {% block panel_body %}
                {% for favoriteElement in favorite.favoriteElements %}
                    {% set element = favoriteElement.element %}

                    {% embed '@IrmagFavorite/embed-panel-row.html.twig' %}
                        {% import '@IrmagSite/Catalog/macro.add-element-to-basket.html.twig' as macro_basket %}
                        {% import '@IrmagSite/Catalog/macro.add-element-to-favorite.html.twig' as macro_favorite %}

                        {% block actions %}
                            {% if element.isActive %}
                                {{ macro_basket.add_btn(element, '', 'btn-sm') }}
                            {% endif %}

                            {{ macro_favorite.add_btn(element, favorite, 'btn btn-sm btn-warning move-element-from-favorite-to-favorite', 'fa fa-exchange fa-lg fa-fw', 'Переместить в другое избранное') }}

                            <a class="btn btn-sm btn-danger remove-element-from-favorite" data-favorite-name="{{ favorite.name }}" data-element-id="{{ element.id }}" data-toggle="tooltip" title="Удалить из избранного">
                                <i class="fa fa-trash fa-lg fa-fw"></i>
                            </a>
                        {% endblock %}
                    {% endembed %}

                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endblock panel_body %}
        {% endembed %}
    {% endfor %}
{% else %}
    {% embed '@IrmagSite/Default/empty-page-cat-say.html.twig' with { 'margin_top': 20 } %}
        {% block text %}
            {% include '@IrmagBasket/helper-empty-page-cat-say-text.html.twig' with { 'where_section_name': 'избранное' } %}
        {% endblock %}

        {% block image %}
            <div class="irmag-cat-pic empty-favorite-pic center-block"></div>
        {% endblock %}
    {% endembed %}
{% endif %}
