{% spaceless %}
<div class="col-xs-12">
    <ul class="list-group mt-15 mb-15">
        {% for favorite in irmag.favorite.favorites %}
            <li class="list-group-item list-group-item-info">
                <span class="badge">{{ favorite.favoriteElements|length }} шт.</span>
                <span class="key">{{ favorite.name }}:</span>
            </li>
            {#{% else %}#}
            {# pseudo default favorite #}
            {#<li class="list-group-item list-group-item-info">#}
            {#<span class="badge">0 шт.</span>#}
            {#{{ constant('Irmag\\FavoriteBundle\\Entity\\Favorite::DEFAULT_FAVORITE_NAME') }}:#}
            {#</li>#}
        {% endfor %}
    </ul>

    <a href="{{ path('irmag_favorite') }}" rel="nofollow" class="btn btn-primary center-block mb-15 hidden-md hidden-lg">
        <b>посмотреть избранное</b>
    </a>
</div>
{% endspaceless %}
