{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}⭐ Избранное "{{ favorite.name }}" от "{{ favorite.user.name }}"{% endblock %}

{% block body %}

    <section class="favorite container">

        <h1>Избранное по ссылке</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Избранное': url('irmag_favorite'), 'Избранное по ссылке': null } } %}

        <div class="mb-20">
            {% if favorite.user %}
                Создатель: <b>{{ favorite.user.name }}</b><br>
            {% endif %}
            Название: <b>{{ favorite.name }}</b><br>
            Дата создания: <b>{{ favorite.createdAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}</b>
        </div>

        {% embed '@IrmagFavorite/embed-panel.html.twig' %}
            {% block panel_heading %}
                <b>{{ favorite.name }}</b>

                ({% transchoice favorite.favoriteShareElements|length %}%count% товар|%count% товара|%count% товаров{% endtranschoice %})

                <div class="pull-right">
                    {% if favorite.favoriteShareElements|length > 1 %}
                        {% if app.user %}
                            <div class="btn-group copy-all-from-favorite-share-to-favorite">
                                <button type="button" class="btn btn-sm btn-warning dropdown-toggle" id="dropdownMenuMoveAll" data-favorite-share-token="{{ favorite.token }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-star fa-fw fa-lg"></i> всё в избранное
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuMoveAll">
                                    {% for my_favorite in irmag.favorite.favorites %}
                                        <li>
                                            <a data-favorite-name="{{ my_favorite.name }}">{{ my_favorite.name }}</a>
                                        </li>
                                    {% endfor %}

                                    <li class="divider"></li>

                                    <li>
                                        <a class="create-favorite"><i class="fa fa-plus fa-fw"></i> создать</a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <button type="button" class="btn btn-sm btn-warning copy-all-from-favorite-share-to-favorite" data-favorite-share-token="{{ favorite.token }}">
                                <i class="fa fa-star fa-fw fa-lg"></i> всё в избранное
                            </button>
                        {% endif %}

                        <a class="btn btn-sm btn-primary copy-all-from-favorite-share-to-basket" data-favorite-id="{{ favorite.id }}">
                            <i class="fa fa-shopping-cart fa-lg fa-fw"></i>
                            всё в корзину
                        </a>
                    {% endif %}
                </div>
            {% endblock %}
            {% block panel_body %}
                {% for favorite_share_element in favorite.favoriteShareElements %}
                    {% set element = favorite_share_element.element %}

                    {% embed '@IrmagFavorite/embed-panel-row.html.twig' %}
                        {% import '@IrmagSite/Catalog/macro.add-element-to-basket.html.twig' as macro_basket %}
                        {% import '@IrmagSite/Catalog/macro.add-element-to-favorite.html.twig' as macro_favorite %}

                        {% block actions %}
                            {% if element.isActive %}
                                {{ macro_basket.add_btn(element, '', 'btn-sm') }}
                            {% endif %}

                            {{ macro_favorite.add_btn(element, null, 'btn btn-sm btn-warning add-element-to-favorite') }}
                        {% endblock %}
                    {% endembed %}

                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        {% endembed %}

    </section>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Favorite.bindCopyAllFromFavoriteShareToFavoriteBtn();
            IRMAG.Favorite.bindCopyAllFromFavoriteShareToBasketBtn();
            IRMAG.Favorite.bindCreateFavoriteActionBtn(function(data) {
                if (data.success) {
                    var favoriteShareToken = $('[data-favorite-share-token]').data('favorite-share-token');

                    IRMAG.API.Favorite.copyAllFromFavoriteShareToFavorite(favoriteShareToken, data.favoriteName, function(data) {
                        if (data.success) {
                            IRMAG.API.Favorite.notifyAdd();
                            IRMAG.Favorite.updateData();
                        }
                    });
                }
            }, '{{ favorite.user ? favorite.user.username ~ ' - ' ~ favorite.name : favorite.name }}');
        });
    </script>
{% endblock %}
