{% spaceless %}
<a href="{{ path('irmag_favorite') }}" class="favorite collapsed{{ irmag.favorite.totalCount != 0 ? ' non-empty' }}" rel="nofollow" data-toggle="collapse" data-collapse-group="header-basket-favorite-info" data-target="#mini-favorite-wrapper" aria-expanded="false">
    <i class="fa fa-star{% if irmag.favorite.totalCount == 0 %}-o{% endif %} fa-fw"></i>
    <span class="value">{{ irmag.favorite.totalCount }}</span>
</a>
{% endspaceless %}
