section.action {
    @import "./../../helper/helper-sticker";

    .btn-archive {
        // alignment on the breadcrumb height
        padding-top: 6px;
        padding-bottom: 7px;
    }

    article {
        // for list-action, first title
        h3:first-child {
            margin-top: 0;
        }

        .items-title {
            margin-bottom: 0;
            margin-top: 0;
            line-height: 34px;
        }

        .page-separator {
            height: 1px;
            background-color: #eee;
            margin-bottom: 20px;

            small {
                background-color: white;
                position: relative;
                top: -9px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .differences {
            @include irmag-font-light();

            font-size: 30px;
            text-align: center;

            @media (max-width: $screen-xs-max) {
                font-size: 20px;
            }

            div {
                display: inline-block;
                padding-right: 10px;
                padding-left: 10px;
            }

            span {
                display: block;
            }
        }

        .banner-bg {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto 100%;
            border-radius: $border-radius-base;
            transition: all 1s ease;

            img {
                margin: auto;
                transition: all 1s ease;
                transform: scale(1);
            }
        }

        &.hover,
        &:hover {
            .banner-bg {
                background-size: auto 102%;

                img {
                    transform: scale(.98);
                }
            }
        }
    }
}
