{% if object.status == constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::STATUS_FAILED') %}
    <a href="{{ admin.generateObjectUrl('postpone_queue_processing', object) }}" class="btn btn-sm btn-warning">
        <i class="fa fa-repeat"></i>
        Повторить
    </a>
{% endif %}


