{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div class="text-center">
        {% if object.command == 'irmag:parse:elements' %}
            <b>Товары</b>
        {% elseif object.command == 'irmag:parse:elements_stock' %}
            <b>Остатки</b>
        {% elseif object.command == 'irmag:parse:elements_kits' %}
            <b>Комплекты</b>
        {% elseif object.command == 'irmag:parse:elements_countries' %}
            <b>Страны</b>
        {% elseif object.command == 'irmag:parse:manufacturers_and_brands' %}
            <b>Бренды и производители</b>
        {% elseif object.command == 'irmag:parse:sections' %}
            <b>Классификатор</b>
        {% elseif object.command == 'irmag:parse:actions' %}
            <b>Акции</b>
        {% elseif object.command == 'irmag:parse:users_data' %}
            <b>Пользователи</b>
        {% elseif object.command == 'irmag:parse:users_bonus_histories' %}
            <b>Бонусные операции</b>
        {% elseif object.command == 'irmag:parse:promocode_elements_list' %}
            <b>Товары по промокодам</b>
        {% else %}
            <b>{{ object.command }}</b>
        {% endif %}
    </div>
{% endblock %}