.brand-zone-wrapper {
    width: 820px;
    height: 380px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}

    .bz-logo {
        display: block;
        margin: 0 auto;
        text-align: center;
        height: 170px;
        width: 450px;
        background: url('sprites.png') -35px 0;
    }

        .bz-menu {
            height: 190px;
        }

            .bz-item {
                display: inline-block;
                height: 100%;
                width: 220px;
                margin: 0 25px;
            }

            .bz-item:hover .menu-link {
                background-position-x: -262px;
            }

            .bz-item:hover .side-leaf-left {
                margin-left: -25px;
                transform: rotate(-35deg);
            }

            .bz-item:hover .side-leaf-right {
                margin-right: 25px;
                margin-left: 135px;
                transform: rotate(35deg);
            }

            .bz-item:hover .item-pic {
                top: 130px;

                transition: top 0.1s ease-in-out;
                -webkit-transition: top 0.1s ease-in-out;
                -moz-transition: top 0.1s ease-in-out;
                -ms-transition: top 0.1s ease-in-out;
                -o-transition: top 0.1s ease-in-out;
            }

                .leaf {
                    background-image: url('sprites.png');
                }

                    .back-leaf {
                        width: 140px;
                        height: 170px;
                        margin: 0 auto;
                        background-position: -40px 230px;
                    }

                    .side-leaf-left {
                        position: absolute;
                        top: 160px;
                        height: 220px;
                        width: 95px;
                        background-position: 307px 230px;
                        transform: rotate(-20deg);
                    }

                    .side-leaf-right {
                        position: absolute;
                        top: 170px;
                        margin-left: 125px;
                        height: 220px;
                        width: 120px;
                        background-position: 185px 230px;
                        transform: rotate(20deg);
                    }

                .item-pic {
                    position: absolute;
                    background-size: cover;
                    width: 134px;
                    height: 230px;
                    top: 500px;
                }

                    .pic-1 {
                        left: 65px;
                        background-image: url('1.png');
                    }

                    .pic-2 {
                        left: 340px;
                        background-image: url('2.png');
                    }

                    .pic-3 {
                        left: 610px;
                        background-image: url('3.png');
                    }

                .menu-link {
                    position: absolute;
                    bottom: 20px;
                    width: 260px;
                    height: 40px;
                    background-image: url('sprites.png');
                }

                    .link-1 {
                        left: -10px;
                        background-position: 0 -240px;
                    }

                    .link-2 {
                        left: 270px;
                        background-position: 0 -180px;
                    }

                    .link-3 {
                        right: 10px;
                        background-position: 0 -300px;
                    }