{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        {% set brandId = 2181 %}

        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <a href="{{ path('irmag_catalog', { filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-logo"></a>
                <div class="bz-menu">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 10, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-item">
                        <div class="leaf back-leaf"></div>
                        <div class="item-pic pic-1"></div>
                        <div class="leaf side-leaf-left"></div>
                        <div class="leaf side-leaf-right"></div>
                        <div class="menu-link link-1"></div>
                    </a>

                    <a href="{{ path('irmag_catalog_section', { sectionId: 250987, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-item">
                        <div class="leaf back-leaf"></div>
                        <div class="item-pic pic-2"></div>
                        <div class="leaf side-leaf-left"></div>
                        <div class="leaf side-leaf-right"></div>
                        <div class="menu-link link-2"></div>
                    </a>

                    <a href="{{ path('irmag_catalog_section', { sectionId: 250988, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-item">
                        <div class="leaf back-leaf"></div>
                        <div class="item-pic pic-3"></div>
                        <div class="leaf side-leaf-left"></div>
                        <div class="leaf side-leaf-right"></div>
                        <div class="menu-link link-3"></div>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
