<table class="table table-striped table-responsive">

    {% for key, choice in form.points %}

        {% set terminal = points[key] %}
        {% set adr = terminal.address %}

        {% set fullAddress %}
            {% spaceless %}
                {{ adr.index }}, {{ adr.cityName }}, {{ adr.streetAbbr }}.{{ adr.street }}
                {% if adr.houseNo is defined %}
                    , {{ adr.houseNo }}
                {% endif %}
            {% endspaceless %}
        {% endset %}

        {% if terminal.limits is defined and terminal.limits.maxWeight > currentWeight or terminal.limits is not defined %}
            <tr>
                <td>
                    {{ form_widget(choice, {'attr': { 'data-address': fullAddress } }) }}
                </td>

                <td class="vcenter">
                    <label for="{{ 'terminal_points_' ~ key }}">
                        {% set desc %}
                            {% spaceless %}
                                {% if terminal.parcelShopType == constant('Irmag\\OrderDeliveryServiceBundle\\Service\\DPDService\\DPDService::DPD_TYPE_TERMINAL') %}
                                    {{ constant('Irmag\\OrderDeliveryServiceBundle\\Service\\DPDService\\DPDService::DPD_TYPE_TERMINAL_DESCRIPTION') }}
                                {% elseif terminal.parcelShopType == constant('Irmag\\OrderDeliveryServiceBundle\\Service\\DPDService\\DPDService::DPD_TYPE_POSTAMAT') %}
                                    {{ constant('Irmag\\OrderDeliveryServiceBundle\\Service\\DPDService\\DPDService::DPD_TYPE_POSTAMAT_DESCRIPTION') }}
                                {% endif %}
                            {% endspaceless %}
                        {% endset %}
                        <span class="label label-warning"
                            data-toggle="tooltip"
                            title="{{ desc }}"
                        >
                        {{ terminal.parcelShopType }}
                    </span>
                    </label>
                </td>

                <td class="vcenter">
                    <label for="{{ 'terminal_points_' ~ key }}">
                        <span data-toggle="tooltip" data-placement="bottom" title="{{ adr.descript }}">
                            {{ fullAddress }}
                        </span>
                    </label>
                </td>

                <td class="vcenter">
                    <label for="{{ 'terminal_points_' ~ key }}">
                        {% if terminal.limits is defined %}
                            <span class="label label-danger cursor-help"
                                data-toggle="tooltip"
                                title="Максимальный вес посылки"
                            >
                        <span class="hidden-xs">max</span> {{ terminal.limits.maxWeight }} кг.</span>
                        {% endif %}
                    </label>
                </td>

                {% if terminal.schedule.operation is not defined %}
                    {% set sched = '' %}

                    {% for item in terminal.schedule %}
                        {% if item.operation == 'SelfDelivery' %}
                            {% set sched = item.timetable %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% set sched = terminal.schedule.timetable %}
                {% endif %}

                <td class="vcenter">
                    {% if sched is not empty %}
                        <span href="#"
                            class="cursor-help"
                            data-toggle="popover"
                            data-placement="left"
                            data-content="{% include '@IrmagOrderDeliveryService/dpd/schedule.html.twig' with { 'sched': sched } %}"
                        >
                    <i class="fa fa-clock-o"></i>
                </span>
                    {% endif %}
                </td>

            </tr>
        {% endif %}

    {% endfor %}

</table>