.brand-zone-content a {
    text-decoration: none;
    color: #fff;
}

.brand-zone-content a:hover {
    text-decoration: none;
    color: #fff;
}

.bz-main-link {
    position: absolute;
    top: 20px;
    left: 50px;
    display: block;
    font-family: Arial, serif;
    font-weight: bold;
    color: #000 !important;
    background-color: rgba(255, 255, 255, .8);
    padding: 5px 20px;
}

.bz-main-link:hover {
    background-color: rgb(255, 255, 255);
}

.bz-main-link:hover {
    color: #000;
}

.brand-zone-wrapper {
    width: 920px;
    height: 350px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(24, 58, 41, .7);
    text-align: center;
}

    .bz-container {
        position: relative;
        float: left;
        height: 350px;
    }

    .bz-logo-container {
        width: 260px;
        padding-top: 35px;
        background-color: rgba(136, 189, 36, .7);
    }

        .bz-logo {
            display: block;
            height: 210px;
            width: 210px;
            background: url('sprites.png') 210px 0;
            margin: 0 auto;
        }

        .bz-logo-title {
            width: 210px;
            height: 80px;
            display: block;
            background: url('sprites.png') 210px -210px;
            margin: 10px auto 0;
        }

    .bz-menu-container {
        padding-top: 70px;
        width: 330px;
    }

        .bz-container-row {
            position: relative;
            margin: 10px 0;
            height: 82px;
        }

        .bz-container-row:hover .bz-line {
            background-color: rgb(136, 189, 36);
        }

        .bz-container-row:hover .bz-tail {
            background-color: rgba(136, 189, 36, .7);
        }

        .bz-container-row:hover .bz-icon-block-left {
            background-position-x: -249px;
        }

        .bz-container-row:hover .bz-icon-block-right {
            background-position-x: -169px;
        }

        .bz-container-row:hover .bz-corner-left {
            background-position-x: -409px;
        }

        .bz-container-row:hover .bz-corner-right {
            left: 40px;
            background-position-x: -453px;
        }

            .bz-line {
                position: absolute;
                margin-top: 8px;
                height: 60px;
                width: 280px;
                background-color: rgb(27, 69, 55);
                z-index: 2;
            }

            .bz-line-left {
                margin-left: 10px;
            }

            .bz-line-right {
                right: 10px;
                padding-left: 12px;
            }

                .bz-icon-block {
                    margin-top: -8px;
                    width: 80px;
                    height: 80px;
                    border: 3px solid #fff;
                    background-image: url('sprites.png');
                }

                .bz-icon-block-left {
                    float: left;
                    margin-left: 10px;
                }

                .bz-icon-block-right {
                    float: right;
                    margin-right: 10px;
                }

                .bz-icon-1 {
                    background-position: -86px -4px;
                }

                .bz-icon-2 {
                    background-position: -86px -83px;
                }

                .bz-icon-3 {
                    background-position: -86px -162px;
                }

                .bz-icon-4 {
                    background-position: -6px -4px;
                }

                .bz-icon-5 {
                    background-position: -6px -83px;
                }

                .bz-icon-6 {
                    background-position: -6px -162px;
                }

            .bz-corner {
                position: absolute;
                width: 40px;
                height: 63px;
                top: 19px;
                z-index: 1;
            }

            .bz-corner-left {
                right: 40px;
                background: url('sprites.png') -327px -512px;
            }

            .bz-corner-right {
                top: 21px;
                left: 36px;
                background: url('sprites.png') -367px -514px;
            }

            .bz-tail {
                position: absolute;
                top: 20px;
                height: 60px;
                width: 75px;
                background-color: rgba(27, 69, 55, .7);
            }

            .bz-tail-left {
                right: 0;
            }

            .bz-tail-right {
                left: 0;
            }

            .bz-menu-item {
                display: block;
                height: 30px;
                width: 165px;
                margin-top: 13px;
                margin-right: 15px;
                background: url('sprites.png') 0 0;
            }

            .bz-menu-item-left {
                float: right;
            }

            .bz-menu-item-right {
                float: left;
            }

            .bz-item-1 {
                background-position: -328px -10px;
                width: 135px;
            }

            .bz-item-2 {
                background-position: -328px -40px;
                width: 165px;
            }

            .bz-item-3 {
                background-position: -328px -70px;
                width: 130px;
            }

            .bz-item-4 {
                background-position: -328px -100px;
                width: 130px;
            }

            .bz-item-5 {
                background-position: -328px -130px;
                width: 130px;
            }

            .bz-item-6 {
                background-position: -328px -160px;
                width: 130px;
            }