{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <a href="{{ path('irmag_catalog', { filter: { manufacturer: { 0: 43 } }, _fragment: anc }) }}" class="bz-main-link">НА ГЛАВНУЮ</a>

            <div class="brand-zone-wrapper">
                <div class="bz-container bz-menu-container">
                    <div class="bz-container-row">
                        <div class="bz-line bz-line-left">
                            <a href="{{ path('irmag_catalog_section', { sectionId: 1, filter: { brand: { 0: 1456 } }, _fragment: anc }) }}">
                                <div class="bz-icon-block bz-icon-block-left bz-icon-1"></div>
                                <span class="bz-menu-item bz-menu-item-left bz-item-1"></span>
                            </a>
                        </div>
                        <div class="bz-corner bz-corner-left"></div>
                        <div class="bz-tail bz-tail-left"></div>
                    </div>

                    <div class="bz-container-row">
                        <div class="bz-line bz-line-left">
                            <a href="{{ path('irmag_catalog_section', { sectionId: 3, filter: { brand: { 0: 1456 } }, _fragment: anc }) }}">
                                <div class="bz-icon-block bz-icon-block-left bz-icon-2"></div>
                                <span class="bz-menu-item bz-menu-item-left bz-item-2"></span>
                            </a>
                        </div>
                        <div class="bz-corner bz-corner-left"></div>
                        <div class="bz-tail bz-tail-left"></div>
                    </div>

                    <div class="bz-container-row">
                        <div class="bz-line bz-line-left">
                            <a href="{{ path('irmag_catalog_section', { sectionId: 143666, filter: { brand: { 0: 1456 } }, _fragment: anc }) }}">
                                <div class="bz-icon-block bz-icon-block-left bz-icon-3"></div>
                                <span class="bz-menu-item bz-menu-item-left bz-item-3"></span>
                            </a>
                        </div>
                        <div class="bz-corner bz-corner-left"></div>
                        <div class="bz-tail bz-tail-left"></div>
                    </div>
                </div>

                <div class="bz-container bz-logo-container">
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1456 } }, _fragment: anc }) }}" class="bz-logo"></a>
                    <span class="bz-logo-title"></span>
                </div>

                <div class="bz-container bz-menu-container">
                    <div class="bz-container-row">
                        <div class="bz-line bz-line-right">
                            <a href="{{ path('irmag_catalog_section', { sectionId: 231946, filter: { brand: { 0: 1456 } }, _fragment: anc }) }}">
                                <div class="bz-icon-block bz-icon-block-right bz-icon-4"></div>
                                <span class="bz-menu-item bz-menu-item-right bz-item-4"></span>
                            </a>
                        </div>
                        <div class="bz-corner bz-corner-right"></div>
                        <div class="bz-tail bz-tail-right"></div>
                    </div>

                   <div class="bz-container-row">
                        <div class="bz-line bz-line-right">
                            <a href="{{ path('irmag_catalog_section', { sectionId: 231319, filter: { brand: { 0: 1456 } }, _fragment: anc }) }}">
                                <div class="bz-icon-block bz-icon-block-right bz-icon-5"></div>
                                <span class="bz-menu-item bz-menu-item-right bz-item-5"></span>
                            </a>
                        </div>
                        <div class="bz-corner bz-corner-right"></div>
                        <div class="bz-tail bz-tail-right"></div>
                    </div>

                   <div class="bz-container-row">
                        <div class="bz-line bz-line-right">
                            <a href="{{ path('irmag_catalog_section', { sectionId: 218853, filter: { brand: { 0: 1456 } }, _fragment: anc }) }}">
                                <div class="bz-icon-block bz-icon-block-right bz-icon-6"></div>
                                <span class="bz-menu-item bz-menu-item-right bz-item-6"></span>
                            </a>
                        </div>
                        <div class="bz-corner bz-corner-right"></div>
                        <div class="bz-tail bz-tail-right"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}