{% if news %}
    <!--noindex-->
    <div class="header-warning-line"{{ is_absolute ? ' style="position: absolute;"' }}>
        <div class="container">
            <div class="row vertical-align">
                <div class="col-xs-10 col-title">
                    <a href="{{ path('irmag_news_detail', { slug: news.slug }) }}">
                        {{- news.title -}}
                    </a>
                </div>
                <div class="col-xs-2 col-close">
                    <button type="button" id="header-warning-line-close-btn" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="{{ 'tooltip.close_header_warning_line'|trans({}, 'irmag_site') }}">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            IRMAG.Site.bindHeaderWarningLineCloseBtn();
        })
    </script>
    <!--/noindex-->
{% endif %}
