<div class="news-info text-muted">
    <small>
        <i class="fa fa-clock-o fa-fw"></i>
        <time datetime="{{ news.createdAt|date(constant('\\DateTime::RFC3339')) }}">{{ news.createdAt|localizeddate('full', 'none', null, null, 'd MMMM YYYY в HH:mm') }}</time>

        <i class="fa fa-comments fa-fw"></i>
        <a href="{{ path('irmag_news_detail', { slug: news.slug }) }}#thread-comments">
            {{ 'comment.count'|transchoice(news.thread.commentsTotalCount|default(0), {}, 'irmag_site') }}
        </a>
    </small>
</div>

{% if view is not defined or view != 'list' %}
    <div class="text-justify">{{ news.body|raw }}</div>
{% endif %}
