{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}📰 Новости{% endblock %}

{% block additional_stylesheets %}
    <link rel="alternate" type="application/atom+xml" title="Интернет-магазин IRMAG.RU — Новости" href="{{ url('irmag_news_atom') }}">
{% endblock %}

{% block body %}

    <section class="news container">

        <h1>
            Новости
            {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_site_news_list') } -%}
        </h1>

        <a href="{{ path('irmag_news_atom') }}" class="pull-right" data-toggle="tooltip" title="RSS"><i class="fa fa-rss icon-rss"></i></a>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Новости': null } } %}

        {% if pagination is not empty %}
            {% for news in pagination %}
                <article>
                    <h3>
                        <a href="{{ path('irmag_news_detail', { slug: news.slug }) }}">
                            <i class="fa fa-fw fa-newspaper-o"></i>
                            {{ news.title }}</a>
                        {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_site_news_edit', { id: news.id }) } -%}
                    </h3>

                    {% include '@IrmagSite/News/helper-content.html.twig' with { view: 'list' } %}
                </article>

                {% if loop.last is same as(false) %}
                    <hr>
                {% endif %}
            {% endfor %}

            <hr>
            {{ knp_pagination_render(pagination) }}
        {% else %}
            <div class="alert alert-info">Новостей пока что нет...</div>
        {% endif %}

    </section>

{% endblock %}
