{% extends '@IrmagSite/layout.html.twig' %}

{% set meta_robots_noindex = true %}
{% set meta_robots_nofollow = true %}

{% block title %}Секретная страница с промокодом{% endblock %}

{% block body %}

    <section class="secret-page container">

        <h1>Секретная страница с промокодом</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Секретная страница с промокодом': null } } %}

        <br>

        <audio id="neuralyzer-audio" preload="auto"></audio>

        {% embed '@IrmagSite/Default/empty-page-cat-say.html.twig' with { margin_top: 10 } %}
            {% block text %}
                <h3 class="mt-0">Код вашего личного одноразового промокода на <span class="text-nowrap">скидку <b>{{ secret_promocode_page.discount }}%</b></span>:</h3>

                <h1 id="promocode" class="hidden color-i4">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control color-i4 font-weight-bold" id="input-promocode" readonly>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" id="clipboard-btn" title="{{ 'tooltip.clipboard_btn'|trans({}, 'irmag_site') }}" data-toggle="tooltip" data-clipboard-target="#input-promocode">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </span>
                    </div>
                </h1>

                <button class="btn btn-default btn-lg mt-10" id="cat-in-black-btn" data-slug="{{ app.request.attributes.get('slug') }}">
                    <i class="fa fa-eye fa-fw"></i> Показать
                </button>

                <div class="alert alert-info mt-20 hidden" id="promocode-help">
                    Скопируйте его и введите в <b><a href="{{ url('irmag_basket') }}">корзине</a></b>,
                    нажав на кнопку <b>"Активировать промокод"</b>.
                    Кнопка активна только в наполненной корзине.
                </div>

                <br>
                <br>
            {% endblock %}

            {% block image %}
                <div class="cursor-pointer no-user-select" id="cat-in-black" title="Cat In Black: Look Right Here." data-toggle="tooltip">
                    <object type="image/svg+xml" data="{{ asset('build/images/cat-in-black.svg') }}" width="85%">Your browser does not support SVGs</object>
                </div>
            {% endblock %}
        {% endembed %}

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            IRMAG.SecretPage.init();
        });
    </script>
{% endblock %}
