html,
body {
    height: 100%;
}

.main-wrapper {
    min-height: 100%;

    .main {
        // высота футера + 50px отступ
        padding-bottom: $irmag-footer-height + 50px;
    }
}

.breadcrumb {
    font-size: 12px;

    // xs, sm
    @media (min-width: $screen-md-min) {
        display: inline-block;
    }
}

// add .irmag-content to root section if something wrong
section,
section.irmag-content {
    > h1,
    > h2 {
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        // xs, sm
        @media (max-width: $screen-sm-max) {
            font-size: $font-size-h3;
        }

        // md
        @media (min-width: $screen-md-min) {
            font-size: $font-size-h2;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include irmag-font-light();
}

a {
    cursor: pointer;
    outline: none !important;

    &.fa {
        text-decoration: none;
    }
}

.dotted-link {
    border-bottom: 1px dotted $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        border-color: $link-hover-color;
    }
}

// irmag colors
.color-i1 { color: $irmag-color-1; }
.color-i2 { color: $irmag-color-2; }
.color-i3 { color: $irmag-color-3; }
.color-i4 { color: $irmag-color-4; }
.color-i5 { color: $irmag-color-5; }

// for favorite btn
.dropdown-menu li.disabled a {
    text-decoration: line-through;
    background-color: #eee;

    &:hover {
        background-color: #eee;
        text-decoration: line-through;
    }
}

.icon-rss {
    font-size: 38px;
    margin-left: 20px;
}

.iframe-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

// + `IrmagSiteBundle:Default:empty-page-cat-say.html.twig`
.irmag-cat-pic {
    display: block;
    background-size: cover;
}

.promocode-activated {
    display: inline-block;
    color: $irmag-color-promocode-activated;
}

// for lazyload
img:not([src]) {
    visibility: hidden;
}
// Fixes Firefox anomaly during image load
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}
