footer.footer {
    background-color: $irmag-footer-bg;
    color: $irmag-footer-text-color;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: -$irmag-footer-height;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, .25);

    a {
        transition: color .2s ease-in-out;
        color: $irmag-footer-href-color;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
            color: #fff;
            border-bottom: 1px solid $irmag-footer-href-color;
            text-decoration: none;
        }
    }

    .row-1 {
        nav {
            a {
                @include irmag-font-bold();

                font-size: $font-size-large;
            }
        }

        .social-wrapper {
            a {
                @include social-icons();

                width: 28px;
                font-size: 18px;
                border: 1px solid white;
                margin-bottom: 4px;

                &.social-vkontakte {
                    background-color: $irmag-social-color-vk;
                    &::before { content: $fa-var-vk; }
                }

                &.social-facebook {
                    background-color: $irmag-social-color-facebook;
                    &::before { content: $fa-var-facebook; }
                }

                &.social-twitter {
                    background-color: $irmag-social-color-twitter;
                    &::before { content: $fa-var-twitter; }
                }

                &.social-plusone {
                    background-color: $irmag-social-color-google;
                    &::before { content: $fa-var-google; }
                }

                &.social-instagram {
                    background-color: $irmag-social-color-instagram;
                    &::before { content: $fa-var-instagram; }
                }

                &.social-telegram {
                    background-color: $irmag-social-color-telegram;
                    &::before { content: $fa-var-paper-plane-o; }
                }

                &.social-mail {
                    background-color: $irmag-social-color-envelope;
                    &::before { content: $fa-var-envelope-o; }
                }

                &.social-youtube {
                    background-color: $irmag-social-color-youtube;
                    &::before { content: $fa-var-youtube-play; }
                }
            }
        }

        .telephones {
            a {
                @include irmag-font-bold();

                text-align: right;
                color: $irmag-footer-text-color;
                font-size: $font-size-large;
                border-bottom: 0;
                white-space: nowrap;
                display: block;
                padding-top: 0;
                padding-bottom: 0;

                &:hover {
                    color: $irmag-footer-href-color;
                }
            }
        }
    }

    .separator {
        border-bottom: 1px solid $irmag-footer-href-border-color;
        margin-left: -15px;
        margin-right: -15px;
    }

    .row-2 {
        font-size: $font-size-small;

        // not xs
        @media (min-width: $screen-sm-min) {
            margin-top: 10px;
        }

        .col-not-xs-right {
            text-align: right;
        }
    }

    // xs
    @media (max-width: $screen-xs-max) {
        .row-1 {
            text-align: center;

            nav {
                a {
                    display: inline-block;
                    width: 45%;
                    border-bottom: none;
                    text-decoration: underline;
                }
            }

            .social-wrapper {
                a {
                    font-size: 24px;
                    line-height: 30px;
                    width: 40px;
                }
            }

            .telephones {
                line-height: 2em;

                a {
                    text-align: center;
                    font-size: 24px;
                }
            }
        }

        .row-2 {
            text-align: center;

            .col-not-xs-right {
                text-align: center;
            }
        }
    }
}
