header.header {
    nav.navbar-irmag {
        z-index: 1001; // fix affix bg when collapse in xs/sm
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 0;
        border: none;
        background-color: white;

        .navbar-brand {
            height: auto;

            div {
                width: 164px;
                height: 40px;
                background: url('#{$irmag-site-image-dir}/irmag-logo-ny.svg') no-repeat;
            }
        }

        .navbar-nav {
            > li {
                > a {
                    @include irmag-font-bold();
                }
            }

            // xs
            @media (max-width: $screen-xs-max) {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }
        }

        // .telephones && .header-menu
        .navbar-menu {
            margin-top: 15px;
            padding-right: 0;

            // xs
            @media (max-width: $screen-xs-max) {
                margin-top: 0;
            }

            .telephones {
                margin-top: -5px;

                span {
                    border-bottom: 1px dotted #ccc;
                    color: #444;
                    cursor: pointer;
                }

                small {
                    margin-left: 20px;
                }
            }

            .header-menu {
                margin-top: 4px;

                // sm
                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                    margin-top: 10px;
                }

                // sm, md, lg
                @media (min-width: $screen-sm-min) {
                    > li {
                        margin-right: 15px;

                        > a {
                            transition: border-color .2s ease-in-out;
                            font-size: 16px;
                            color: black;
                            border-bottom: 1px solid #ccc;
                            padding: 0;
                            background-color: white;

                            &:hover {
                                border-bottom: 1px solid black;
                            }
                        }

                        &.open {
                            > a {
                                border-bottom: 1px solid black;
                            }
                        }
                    }
                }

                // sm
                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                    > li {
                        margin-right: 10px;
                    }
                }

                // xs
                @media (max-width: $screen-xs-max) {
                    margin-right: 0;

                    > li {
                        > a {
                            font-size: $font-size-large;
                        }
                    }
                }
            }
        }

        .navbar-user-menu {
            margin-top: 15px;

            .notification-bell {
                color: $irmag-color-4;

                i {
                    transition: color .2s ease-in-out;
                }

                &:hover {
                    i {
                        color: darken($irmag-color-4, 10%);
                    }
                }

                // sm, md, lg
                @media (min-width: $screen-sm-min) {
                    .badge {
                        margin-top: -20px;
                        margin-left: -15px;
                        padding: 2px 5px;
                    }
                }
            }

            .impersonate {
                position: absolute;
                margin-left: 20px;
            }

            .dropdown-menu {
                min-width: 240px;

                li {
                    a {
                        position: relative;

                        // label
                        span.right {
                            position: absolute;
                            top: 5px;
                            right: 20px;

                            &.fa-sign-out {
                                font-size: 1em;
                                color: #999;
                            }
                        }

                        .avatar {
                            width: 24px;
                            height: 24px;
                            text-indent: -9999px;
                        }
                    }
                }
            }

            // xs
            @media (max-width: $screen-xs-max) {
                margin-top: 0;

                > ul {
                    > li {
                        > a {
                            font-size: $font-size-large;
                        }
                    }
                }
            }

            // sm, md, lg
            @media (min-width: $screen-sm-min) {
                .username {
                    max-width: 300px;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: bottom;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding-bottom: 2px;
                }

                > ul {
                    > li {
                        > a {
                            font-size: 20px;
                            transition: color .2s ease-in-out;
                            margin-top: 10px;
                            padding: 0;
                            background-color: white;
                        }
                    }
                }
            }

            // sm, md
            @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
                .username {
                    max-width: 175px;
                }
            }
        }

        // xs
        @media (max-width: $screen-xs-max) {
            .navbar-menu,
            .navbar-user-menu {
                .dropdown-menu {
                    li:not(.divider) {
                        span.right,
                        a {
                            line-height: 30px;
                        }

                        span.right {
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }

        .navbar-toggle {
            margin-top: 16px;
            background-color: $irmag-header-blue-line-bg;

            .fa {
                color: white;
            }

            &[aria-expanded="true"] {
                background-color: $irmag-header-blue-line-bg-hover;
            }
        }

        .divider {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}
