$hamburger-button-width: 22px;                  // The width of the button area
$hamburger-button-height: 14px;                 // The height of the button area
$hamburger-bar-thickness: 2.2px;                // The thickness of the button bars
$hamburger-button-pad: 1px;                     // The left/right padding between button area and bars.
$hamburger-button-bar-space: 3px;               // The spacing between button bars
$hamburger-button-transition-duration: .13s;   // The transition duration

.header-blue-line {
    width: 100%;
    background-color: $irmag-header-blue-line-bg;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
    margin-bottom: 0;
    border: none;
    //z-index: 900;

    .block-1 {
        a.catalog-btn {
            transition: background-color .1s ease-in-out;
            display: block;
            color: white;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            line-height: $irmag-header-blue-line-height;
            height: $irmag-header-blue-line-height; // 1px bold font fix
            position: relative; // fix box-shadow z-index (catalog-menu)
            z-index: 3;
            margin-right: -15px;

            // xs
            @media (max-width: $screen-xs-max) {
                margin-left: -15px;
            }

            // sm
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                &:hover {
                    background-color: $irmag-header-blue-line-bg-hover;
                }
            }

            &.active {
                background-color: $irmag-header-blue-line-bg-hover;
            }

            // md, lg
            @media (min-width: $screen-md-min) {
                &:hover,
                &.active {
                    .hamburger span {
                        background: none;

                        &::before,
                        &::after {
                            transition-delay: 0s, $hamburger-button-transition-duration;
                        }

                        &::before {
                            top: 0;
                            transform: rotate(45deg);
                        }

                        &::after {
                            bottom: 0;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }

            .btn-text {
                @include irmag-font-bold();

                text-shadow: $irmag-header-blue-line-text-shadow;

                // xs
                @media (max-width: $screen-xs-max) {
                    text-decoration: underline;
                }
            }

            .hamburger {
                display: inline-block;
                position: relative;
                overflow: hidden;
                //padding: 0;
                width: $hamburger-button-width;
                height: $hamburger-button-height;
                font-size: 0;
                text-indent: -9999px;
                //appearance: none;
                //box-shadow: none;
                //border: none;
                transition: background $hamburger-button-transition-duration;

                // md, lg
                @media (min-width: $screen-md-min) {
                    margin-right: 10px;
                }

                &:focus {
                    outline: none;
                }

                span {
                    display: block;
                    position: absolute;
                    top: ($hamburger-button-height / 2) - ($hamburger-bar-thickness / 2);
                    left: $hamburger-button-pad;
                    right: $hamburger-button-pad;
                    height: $hamburger-bar-thickness;
                    background: #fff;
                    transition: background 0s $hamburger-button-transition-duration;

                    &::before,
                    &::after {
                        position: absolute;
                        display: block;
                        left: 0;
                        width: 100%;
                        height: $hamburger-bar-thickness;
                        background-color: #fff;
                        content: "";
                        transition-duration: $hamburger-button-transition-duration, $hamburger-button-transition-duration;
                        transition-delay: $hamburger-button-transition-duration, 0s;
                    }

                    &::before {
                        /* autoprefixer: off */
                        top: -$hamburger-bar-thickness - $hamburger-button-bar-space;
                        transition-property: top, transform;
                    }

                    &::after {
                        /* autoprefixer: off */
                        bottom: -$hamburger-bar-thickness - $hamburger-button-bar-space;
                        transition-property: bottom, transform;
                    }
                }
            }
        }
    }

    .block-2 {
        form {
            input.irmag-search {
                font-size: 16px;
                box-shadow: unset;

                &::placeholder {
                    text-overflow: ellipsis !important;
                }
            }

            input,
            button,
            .btn {
                border: none;
            }

            .barcode-scanner {
                color: $irmag-color-4;

                &:hover {
                    color: white;
                    background-color: $irmag-color-4;
                }
            }

            .loading {
                color: $irmag-header-blue-line-loading-color;
                cursor: wait;

                &:hover {
                    background-color: white;
                }
            }

            button[type="submit"] {
                margin-right: -1px; // chrome right whitespace fix
            }
        }
    }

    // xs
    @media (max-width: $screen-xs-max) {
        &:not(.affix) {
            .block-3 {
                a.basket,
                a.favorite {
                    border-top-left-radius: $border-radius-base;
                    border-top-right-radius: $border-radius-base;
                }
            }
        }
    }

    .block-3 {
        text-align: center;

        a.basket {
            margin-left: -15px;
            margin-right: -7.5px;
        }

        a.favorite {
            margin-left: -22.5px;

            // xs
            @media (max-width: $screen-xs-max) {
                margin-right: -15px;
            }
        }

        a.basket,
        a.favorite {
            transition: background-color .1s ease-in-out;
            line-height: $irmag-header-blue-line-height;
            font-weight: bold;
            color: $irmag-header-blue-line-favcart-icon-empty-color;
            text-decoration: none;
            font-size: 20px;
            white-space: nowrap; // cart, favorite counter does not wrap
            display: block;
            text-shadow: $irmag-header-blue-line-text-shadow;

            // xs
            @media (max-width: $screen-xs-max) {
                font-size: 24px;
            }

            &.non-empty {
                color: $irmag-header-blue-line-favcart-icon-color;
            }

            &:not(.collapsed) {
                background-color: $irmag-header-blue-line-bg-hover;
            }

            // md, lg
            @media (min-width: $screen-md-min) {
                &:hover {
                    color: $irmag-header-blue-line-favcart-icon-color;
                    background-color: $irmag-header-blue-line-bg-hover;
                }
            }

            // hi icon
            &:hover {
                i,
                .value {
                    text-shadow: 0 0 5px $irmag-footer-bg;
                }
            }

            .value {
                @include irmag-font-bold();

                margin-left: 5px;
            }
        }
    }

    // basket, favorite
    .mini-basket,
    .mini-favorite {
        z-index: 2;

        // sm: fix 15px
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            margin-left: 0;
            margin-right: 0;
        }

        // md, lg
        @media (min-width: $screen-md-min) {
            position: absolute;
            width: 300px;
            border-bottom-left-radius: $border-radius-base;
            border-bottom-right-radius: $border-radius-base;
            box-shadow: $irmag-catalog-menu-box-shadow;
            transition: opacity .1s ease-in-out;
            opacity: 0;
            display: block;
            visibility: hidden;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        // .col-xs-12
        > div {
            background-color: $irmag-header-blue-line-bg-hover;
        }

        .list-group-item {
            border: none;
            background-color: inherit;
            color: white;
            padding-top: 5px;
            padding-bottom: 5px;

            // md, lg
            @media (min-width: $screen-md-min) {
                padding-top: 2px;
                padding-bottom: 2px;
            }

            .key {
                display: inline-block;
                vertical-align: bottom;
                overflow: hidden;
                max-width: 190px;
                text-shadow: $irmag-header-blue-line-text-shadow;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .badge {
                background-color: $alert-info-bg;
                color: $alert-info-text;
            }
        }
    }

    // xs
    @media (max-width: $screen-xs-max) {
        &.affix {
            margin-top: -$irmag-header-blue-line-height;
        }
    }
}
