{% extends '@SonataAdmin/CRUD/base_list_flat_inner_row.html.twig' %}

{% import '@IrmagAdmin/ThreadComment/macro.get_owner_detail_link.html.twig' as get_owner_detail_link %}

{% block row %}
    <div>
        {% set thread = object.thread %}
        {% set ownerFQCN = thread.getOwnerFQCN %}
        {% set ownerType = '' %}
        {% set ownerLabel = 'label ' %}

        {% if 'Irmag\\SiteBundle\\Entity\\Element' == ownerFQCN %}
            {% set ownerType = 'Товар' %}
            {% set ownerLabel = ownerLabel ~ 'label-warning' %}
        {% elseif 'Irmag\\SiteBundle\\Entity\\News' == ownerFQCN %}
            {% set ownerType = 'Новость' %}
            {% set ownerLabel = ownerLabel ~ 'label-info' %}
        {% elseif 'Irmag\\SiteBundle\\Entity\\Action' == ownerFQCN %}
            {% set ownerType = 'Акция' %}
            {% set ownerLabel = ownerLabel ~ 'label-primary' %}
        {% elseif 'Irmag\\BlogBundle\\Entity\\BlogPost' == ownerFQCN %}
            {% set ownerType = 'Пост в блоге' %}
            {% set ownerLabel = ownerLabel ~ 'label-danger' %}
        {% endif %}

        {% if admin.isGranted('EDIT') %}
            <a href="{{ admin.generateUrl('edit', { id: object.id }) }}">{{ object.user }}</a>
        {% else %}
            {{ object.user }}
        {% endif %}

        &nbsp;

        <small>
            оставил комментарий в

            <span class="text-muted">
                &nbsp;
                <i class="fa fa-clock-o"></i> {{ object|render_list_element(admin.list['createdAt']) }}
                &nbsp;
            </span>

            {{ get_owner_detail_link.generate(object.id, ownerFQCN, thread.getOwnerRoute) }}
        </small>

        <span class="pull-right">
            {% if object.isPurchasedFromUs %}
                <span class="label label-success">Куплено на IRMAG.RU</span>
            {% endif %}

            {% if object.rating %}
                <span class="label label-info" title="Рейтинг" data-toggle="tooltip">{{ object.rating }} из 5</span>
            {% endif %}

            {% if object.isActive %}
                <span class="label label-success">On</span>
            {% else %}
                <span class="label label-danger">Off</span>
            {% endif %}
        </span>
    </div>

    <div>
        <span class="{{ ownerLabel }}">{{ ownerType }}</span>
        &nbsp;

        {{ render(controller('Irmag\\AdminBundle\\Controller\\ThreadCommentAdminController::getOwnerNameAction', {
            '_sonata_admin': 'irmag.admin.content.thread_comment',
            'thread': thread,
        } )) }}
    </div>

    <br>

    <div>
        <small>
            {{ object.textHtml|raw }}
        </small>
    </div>
{% endblock %}
