{% if object.thread.getOwnerFQCN == 'Irmag\\SiteBundle\\Entity\\Element' or object.thread.getOwnerFQCN == 'Irmag\\BlogBundle\\Entity\\BlogPost' %}

    {% if object.isBonusPayed %}
        <a class="btn btn-sm btn-success" href="{{ admin.generateObjectUrl('pay_bonus', object) }}" title="Нажмите, чтобы отменить начисление." data-toggle="tooltip">
            <i class="fa fa-check" aria-hidden="true"></i>
            Фантик начислен
        </a>
    {% else %}
        <a class="btn btn-sm btn-warning" href="{{ admin.generateObjectUrl('pay_bonus', object) }}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Начислить фантик
        </a>
    {% endif %}

{% endif %}