{% macro generate(commentId, ownerFQCN, ownerRoute) %}
{% spaceless %}
    <a href="{{ url(ownerRoute.name, ownerRoute.parameters) }}#jmp-to-comment-{{ commentId }}" target="_blank">посмотреть <i class="fa fa-external-link"></i></a>
{% endspaceless %}
{% endmacro %}
