.bz-back {
    position: absolute;
    top: 30px;
    left: 50px;
    display: block;
    font-family: Arial, serif;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    background-color: #dbbd78;
    padding: 5px 10px;
}

.bz-back:hover {
    color: #fff;
    text-decoration: none;
}

.brand-zone-frame {
    margin: 80px auto 0;
    width: 960px;
    height: 300px;
    border: 3px solid #dbbd78;
    background-color: rgba(0, 0, 0, .3);
}

    .bz-logo {
        display: block;
        width: 302px;
        height: 126px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        margin: 0 auto;
        background: url('sprites.png') -12px -295px;
    }

    .bz-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 355px;
        margin: 0 auto;
        width: 960px;
        height: 80px;
        padding: 0 26px;
    }

    .bz-content:hover + .bz-motto {
        background-position-y: -20px;
    }

        .bz-motto {
            position: absolute;
            left: 0;
            right: 0;
            top: 180px;
            margin: 10px auto 0;
            width: 770px;
            height: 82px;
            background: url('sprites.png') -12px -110px;
        }

        .bz-btn {
            position: relative;
            display: inline-block;
            margin: 0 25px;
            width: 250px;
            height: 50px;
            border: 3px solid #fff;
            background-color: #000;
        }

        .bz-btn:hover {
            border-color: #dbbd78;
        }

        .bz-btn:hover .bz-btn-title {
            background-position-y: -203px;
        }

            .bz-btn-title {
                display: block;
                background: url('sprites.png') 0 -243px;
                margin: 0 auto;
                text-align: center;
                height: 100%;
            }

            .title-1 {
                background-position: -5px -243px;
                width: 250px;
            }

            .title-2 {
                background-position: -255px -243px;
                width: 200px;
            }

            .title-3 {
                background-position: -455px -243px;
                width: 170px;
            }