{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        {% set brandId = 2302 %}
        <a href="{{ path('irmag_catalog', { filter: { manufacturer: {0: 43} }, _fragment: anc }) }}" class="bz-back">НА ГЛАВНУЮ</a>

        <div class="brand-zone-content">
            <div class="brand-zone-frame">
                <a href="{{ path('irmag_catalog', { filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-logo"></a>
            </div>
            <div class="bz-content">
                <a href="{{ path('irmag_catalog_section', { sectionId: 137007, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-btn">
                    <span class="bz-btn-title title-1"></span>
                </a>
                <a href="{{ path('irmag_catalog_section', { sectionId: 140904, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-btn">
                    <span class="bz-btn-title title-2"></span>
                </a>
                <a href="{{ path('irmag_catalog_section', { sectionId: 140405, filter: { brand: { 0: brandId } }, _fragment: anc }) }}" class="bz-btn">
                    <span class="bz-btn-title title-3"></span>
                </a>
            </div>
            <div class="bz-motto"></div>
        </div>
    {% endblock %}
{% endembed %}