.brand-zone-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1100px;
    height: 400px;
    margin: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.brand-zone-wrapper {
    width: 720px;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

    .brand-zone-wrapper img {
        position: absolute;
        left: 0;
        top: 0;
        float: left;
        margin-right: 20px;
    }

        .brand-zone-wrapper:hover .sun {
            right: 240px;
            top: -300px;
            transition: all 2s ease-in-out;
            -webkit-transition: all 2s ease-in-out;
            -moz-transition: all 2s ease-in-out;
            -ms-transition: all 2s ease-in-out;
            -o-transition: all 2s ease-in-out;
        }

        .brand-text {
            float: right;
            width: 380px;
            height: 300px;
            display: table;
        }

        .sun {
            position: absolute;
            opacity: 0.7;
            width: 600px;
            height: 600px;
            top: -250px;
            right: -180px;
            background-image: url('light.png');
            transition: all 2s ease-in-out;
            -webkit-transition: all 2s ease-in-out;
            -moz-transition: all 2s ease-in-out;
            -ms-transition: all 2s ease-in-out;
            -o-transition: all 2s ease-in-out;
        }

        .brand-text span {
            text-align: left;
            font-size: 18px;
            font-family: Verdana, Arial, sans-serif;
            color: #fff;
            display: table-cell;
            vertical-align: bottom;
            padding-bottom: 40px;
            transform: scale(1, 1.4);
            text-shadow: #000 1px 1px;
            line-height: 20px;
        }