{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <img src="{{ web_path ~ '/logo.png' }}" alt="brand_zone_logo" width="300" height="350">
                <div class="brand-text">
                    <div class="sun"></div>
                    <span>
                    «Вдохновение» – это линия средств по уходу за кожей, созданная вручную из натуральных, органических и биодинамических растений Прибайкалья, в соответствии с законами природы.
                    </span>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
