{% extends '@IrmagSite/layout.html.twig' %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/irmag-forum.css') }}">
{% endblock %}

{% block additional_javascripts %}
    <script src="{{ asset('build/irmag-forum.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="forum-container container mt-20" data-user="{{ app.user }}">
        {% block forumbreadcrumbs %}{% endblock %}
        {% block forumnav %}{% endblock %}
        {% block forumcontent %}{% endblock %}
    </div>
{% endblock %}
