section.brand-zone {
    background-attachment: fixed;
    background-position: center 0;
}

    .brand-zone-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 960px;
        height: 400px;
        background-color: rgba(32, 56, 00, .70);
        margin: auto;
        text-align: center;
        font-size: 18px;
        font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    }

    .brand-zone-logo {
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .brand-zone-column {
        width: 175px;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

    .brand-zone-column img {
        display: block;
    }

    .brand-zone-column a {
        text-decoration: none;
    }

    .brand-zone-column span {
        background-color: #0C4537;
        color: white;
        display: block;
        padding: 20px 10px;
        transition: background-color 0.18s linear;
    }

    .brand-zone-column:hover span {
        background-color: #30927A;
    }
