{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 587 } }, _fragment: anc }) }}" class="brand-zone-logo">
                    <img src="{{ web_path ~ '/logo.png' }}" alt="">
                </a>

                <div class="brand-zone-column">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 1, filter: { brand: { 0: 587 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/c1.jpg' }}" alt="">
                        <span>Лицо</span>
                    </a>
                </div>

                <div class="brand-zone-column">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 143666, filter: { brand: { 0: 587 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/c2.jpg' }}" alt="">
                        <span>Тело</span>
                    </a>
                </div>

                <div class="brand-zone-column">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 231946, filter: { brand: { 0: 587 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/c3.jpg' }}" alt="">
                        <span>Дезодоранты</span>
                    </a>
                </div>

                <div class="brand-zone-column">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 3, filter: { brand: { 0: 85 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/c4.jpg' }}" alt="">
                        <span>Волосы</span>
                    </a>
                </div>

                <div class="brand-zone-column">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 273, filter: { brand: { 0: 587 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/c5.jpg' }}" alt="">
                        <span>Краски</span>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
