section.brand-zone {
    background-attachment: fixed;
    background-position: center 0;
}

    .brand-zone-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1100px;
        height: 400px;
        margin: auto;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .brand-zone-wrapper {
        position: relative;
        height: 100%;
    }

        .bz-back {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            text-decoration: none;
            background-color: #dbc081;
            opacity: .8;
            color: #fff;
            font-weight: bold;
            padding: 6px;
        }

        .bz-back:hover, .bz-back:active {
            text-decoration: none;
            color: #442e27;
        }

        .brand-links-wrapper{
            margin-top: 30px;
            text-align: center;
        }

        .brand-zone-link {
            color: #442e27;
            line-height: 16px;
            display: inline-block;
            vertical-align: bottom;
            background: rgba(0, 0, 0, 0) linear-gradient(to right, #b78938 0px, #dabf80 25%, #ffe2ac 51%, #dabf80 76%, #b78938 100%) repeat scroll 0 0;
            border: 1px solid #b78938;
            border-radius: 3px;
            padding-top: 15px;
            width: 184px;
            height: 52px;
            overflow: hidden;
        }

        .brand-zone-link-fix {
            padding-top: 5px !important;
        }

        .brand-zone-link:hover {
            text-decoration: none;
            color: #fff;
            background: #dbc081 repeat scroll 0 0;
            transition: background-color 0.6s ease-out 0s, border-color 0.6s ease-out 0s;
        }

        .brand-zone-link:hover .bz-btn-text {
            background-color: rgba(0,0,0,0);
            transition: opacity 0.6s ease-out 0s;
        }

            .bz-btn-text {
                display: block;
                background-color: #fff;
                height: 47px;
                vertical-align: top;
                margin-top: -16px;
                padding-top: 16px;
            }

            .bz-btn-text-fix {
                margin-top: -6px !important;
                padding-top: 8px !important;
            }
