{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}

        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">

                <a href="{{ path('irmag_catalog', { filter: { manufacturer: {0: 43} }, _fragment: anc }) }}" class="bz-back">НА ГЛАВНУЮ</a>

                <div class="brand-logo">
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 453 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/logo_dove.svg' }}" width="380" alt="" height="269">
                    </a>
                </div>

                <div class="brand-links-wrapper">
                    <a class="brand-zone-link brand-zone-link-fix" href="{{ path('irmag_catalog_section', { sectionId: 231926, filter: { brand: { 0: 453 } }, _fragment: anc }) }}">
                        <span class="bz-btn-text bz-btn-text-fix">Средства <br>для ванны и душа</span>
                    </a>
                    <a class="brand-zone-link" href="{{ path('irmag_catalog_section', { sectionId: 3, filter: { brand: { 0: 453 } }, _fragment: anc }) }}">
                        <span class="bz-btn-text">Уход за волосами</span>
                    </a>
                    <a class="brand-zone-link brand-zone-link-fix" href="{{ path('irmag_catalog_section', { sectionId: 231946, filter: { brand: { 0: 453 } }, _fragment: anc }) }}">
                        <span class="bz-btn-text bz-btn-text-fix">Дезодоранты и<br>антиперспиранты</span>
                    </a>
                    <a class="brand-zone-link" href="{{ path('irmag_catalog_section', { sectionId: 250988, filter: { brand: { 0: 453 } }, _fragment: anc }) }}">
                        <span class="bz-btn-text">Уход за кожей</span>
                    </a>
                    <a class="brand-zone-link" href="{{ path('irmag_catalog_section', { sectionId: 231319, filter: { brand: { 0: 453 } }, _fragment: anc }) }}">
                        <span class="bz-btn-text">Men+Care</span>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
