.brand-zone-wrapper {
    width: 720px;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

    .bz-back {
        position: absolute;
        top: 30px;
        left: -350px;
        display: block;
        font-family: Arial, serif;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        background-color: #d0d0d0;
        padding: 5px 10px;
    }

    .bz-stump-top {
        width: 250px;
        height: 40px;
        background-size: cover;
        background-image: url('stump_bg.png');
        position: absolute;
        left: -15px;
        top: 230px;
        z-index: 1;
    }

    .bz-stump {
        width: 700px;
        height: 200px;
        background-image: url('stump.png');
        background-size: cover;
        position: absolute;
        left: -280px;
        top: 230px;
        z-index: 3;
    }

    .bz-menu {
        width: 480px;
    }

        .bz-logo {
            position: absolute;
            left: 445px;
            top: 50px;
            width: 480px;
            height: 130px;
            background-image: url('sprites.png');
        }

        .bz-items {
            position: absolute;
            left: 515px;
            top: 200px;
        }

            .squirrel {
                position: absolute;
                width: 210px;
                height: 420px;
                background-size: cover;
                z-index: 2;
                left: -500px;
                top: 200px;
                transition: top 0.3s ease-in-out;
                -webkit-transition: top 0.3s ease-in-out;
                -moz-transition: top 0.3s ease-in-out;
                -ms-transition: top 0.3s ease-in-out;
                -o-transition: top 0.3s ease-in-out;
            }

            .squirrel-1 {
                background-image: url('q1.png');
            }

            .squirrel-2 {
                background-image: url('q2.png');
            }

            .squirrel-3 {
                background-image: url('q3.png');
            }

            .bz-menu-item {
                display: block;
                background-size: cover;
                width: 440px;
                height: 40px;
                margin-bottom: 20px;
                background-image: url('sprites.png');
                background-position-x: -18px;
            }

            .bz-item-1 {
                background-image: url('sprites.png');
                background-position-y: -128px;
            }

                .bz-item-1:hover {
                    background-position-y: -169px;
                }

                .bz-item-1:hover + .squirrel-1 {
                    top: -190px;
                    transition: top 0.7s ease-in-out;
                    -webkit-transition: top 0.7s ease-in-out;
                    -moz-transition: top 0.7s ease-in-out;
                    -ms-transition: top 0.7s ease-in-out;
                    -o-transition: top 0.7s ease-in-out;
                }

            .bz-item-2 {
                background-position-y: -210px;
            }

                .bz-item-2:hover {
                    background-position-y: -251px;
                }

                .bz-item-2:hover + .squirrel-2 {
                    top: -190px;
                    transition: top 0.7s ease-in-out;
                    -webkit-transition: top 0.7s ease-in-out;
                    -moz-transition: top 0.7s ease-in-out;
                    -ms-transition: top 0.7s ease-in-out;
                    -o-transition: top 0.7s ease-in-out;
                }

            .bz-item-3 {
                background-position-y: -293px;
            }

                .bz-item-3:hover {
                    background-position-y: -334px;
                }

                .bz-item-3:hover + .squirrel-3 {
                    top: -190px;
                    transition: top 0.7s ease-in-out;
                    -webkit-transition: top 0.7s ease-in-out;
                    -moz-transition: top 0.7s ease-in-out;
                    -ms-transition: top 0.7s ease-in-out;
                    -o-transition: top 0.7s ease-in-out;
                }