{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                {% set anc = 'jmp-to-catalog-content' %}

                <a href="{{ path('irmag_catalog', { filter: { manufacturer: {0: 43} }, _fragment: anc }) }}" class="bz-back">НА ГЛАВНУЮ</a>

                <div class="bz-stump-top"></div>
                <div class="bz-stump"></div>

                <div class="bz-menu">
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1468 } }, _fragment: anc }) }}">
                        <div class="bz-logo"></div>
                    </a>
                    <div class="bz-items">
                        <a class="bz-menu-item bz-item-1" href="{{ path('irmag_catalog_section', { sectionId: 39, filter: { brand: { 0: 1468 } }, _fragment: anc }) }}"></a>
                        <div class="squirrel squirrel-1"></div>
                        <a class="bz-menu-item bz-item-2" href="{{ path('irmag_catalog_section', { sectionId: 165916, filter: { brand: { 0: 1468 } }, _fragment: anc }) }}"></a>
                        <div class="squirrel squirrel-2"></div>
                        <a class="bz-menu-item bz-item-3" href="{{ path('irmag_catalog_section', { sectionId: 254010, filter: { brand: { 0: 1468 } }, _fragment: anc }) }}"></a>
                        <div class="squirrel squirrel-3"></div>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}
{% endembed %}
