.brand-zone-content {
    font-family: Verdana, Arial, sans-serif;
    width: 1000px;
    height: 400px;
    background-color: rgba(10, 10, 10, .5);
    margin: 30px auto 0 auto;
}

    .brand-zone-header {
        width: 100%;
        height: 120px;
        text-align: center;
        background-color: rgba(10, 10, 10, .9);
    }

        .brand-zone-logo {
            margin-top: 15px;
        }

    .brand-zone-col-container {
        position: absolute;
        padding: 0 11px;
        bottom: 0;
    }

        .brand-zone-col {
            position: absolute;
            bottom: 0;
            width: 237px;
            height: 280px;
            background-color: orange;
        }

        .bz-col-2 {
            left: 258px;
        }

        .bz-col-3 {
            left: 505px;
        }

        .bz-col-4 {
            left: 752px;
        }
            .bz-fade {
                position: absolute;
                top: 0;
                left: 0;
                width: 237px;
                height: 280px;
                background-color: rgba(10, 10, 10,.4);
            }

            .bz-link {
                display: block;
                position: absolute;
            }

            .bz-link:hover .bz-fade {
                display: none;
            }

            .bz-link:hover .bz-title {
                background-color: #fff;
                color: #000;
            }

            .bz-link:hover .bz-title-text {
                display: none;
            }

            .bz-link:hover .bz-title-text-hidden {
                display: block;
            }

                .bz-title {
                    background-color: rgba(10, 10, 10, .9);
                    width: 237px;
                    height: 60px;
                    position: inherit;
                    bottom: 0;
                    z-index: 3;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 10px 0;
                    font-size: 14px;
                    color: #fff;
                }

                .bz-title-text-hidden {
                    padding-top: 10px;
                    display: none;
                }

