{% extends '@IrmagForum/layout.html.twig' %}

{% set title_str = topic.poll ? '[Опрос]: ' ~ topic.title : topic.title %}
{% block title %}
    {{ title_str }}
{% endblock %}

{% set breadcrumbs = { (title_str): '' } %}
{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'forum'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}
    <div class="forum-topic-navigation mt-20">
        {{ knp_pagination_render(pagination, '@IrmagForum/Default/pagination.html.twig') }}
    </div>

    <div class="panel panel-default forum-topic-posts" data-id="{{ topic.id }}">

        {# Подписка на обновления #}
        <div class="panel-heading">
            <strong>{{ title_str }}</strong>
            {% if app.user %}
                {% if is_subscribed %}
                    <a href="#" class="forum-forum-subscribe subscribe-to-topic"
                                data-status="true"
                                data-topic="{{ topic.id }}"
                                data-toggle="tooltip"
                                data-original-title="Отменить подписку на обновления">
                        <i class="fa fa fa-undo forum-color-attention"></i>
                    </a>
                {% else %}
                    <a href="#" class="forum-forum-subscribe subscribe-to-topic"
                                data-status="false"
                                data-topic="{{ topic.id }}"
                                data-toggle="tooltip"
                                data-original-title="Подписаться на обновления">
                        <i class="fa fa fa-paper-plane-o forum-color-available"></i>
                    </a>
                {% endif %}
            {% endif %}

            <a href="{{ path('irmag_forum_topic_atom', { id: topic.id }) }}"
               class="forum-topic-rss forum-color-highlight"
               data-toggle="tooltip"
               data-original-title="RSS"
            >
                <i class="fa fa-rss"></i>
            </a>
        </div>

        {# Посты #}
        <div class="panel-body">

            {# Если есть опрос #}
            {% if topic.poll %}
                {% include '@IrmagForum/Poll/poll.html.twig' %}
            {% endif %}

            {% if pagination.pageCount > 0 %}
                {% for item in pagination %}
                    {% include '@IrmagForum/Post/post.html.twig' %}
                {% endfor %}
            {% else %}
                <p>Тема пуста</p>
            {% endif %}
        </div>

    </div>

    {{ knp_pagination_render(pagination, '@IrmagForum/Default/pagination.html.twig') }}

    {% if app.user and not is_granted('ROLE_IRMAG_DISALLOW_FORUM_POST_CREATE') %}
        <div>
            {{ render(controller('Irmag\\ForumBundle\\Controller\\PostController::createOrUpdatePostAction', { id: topic.id }, { initialText: initial_text })) }}
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Forum.Post.initEmojify();
            IRMAG.Forum.Visitor.log();
            IRMAG.View.logVisit('irmag_forum_log_topic_view', $('.forum-topic-posts').data('id'));

            {% if app.user %}
                IRMAG.Forum.Post.init();
                IRMAG.Attachments.init('forum_post');
                IRMAG.Poll.init();
                IRMAG.Forum.Subscription.init();
            {% endif %}
        });
    </script>
{% endblock %}
