html {
    font: 14px/18px Arial, Tahoma, Verdana, sans-serif;
}

html,
body {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table.nested-table {
    text-align: left !important;
}

td, th {
    vertical-align: middle;
    padding: 4px 8px;
    /*border-right: 1px solid #fff;*/
    /*border-left: 1px solid #eee;*/
}

th {
    background-color: #099FEC;
    color: white;
}

tr {
    background-color: #eee;
    /*border-top: 1px solid #fff;*/
    /*border-bottom: 1px solid #fff;*/
}

table > thead th {
    padding: 8px;
}

tbody.content tr {
    background: #f9f9f9;
}
/*tbody.content td:not(.color1):hover { background-color: #2b6c0a; color: white; }*/

.color1 {
    background-color: #ccc;
}

.color2 {
    background-color: #ddd;
}

.close {
    text-align: right;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

    .close a {
        color: #fff;
        background-color: #cc2f3a;
        border-color: #b72a34;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;
    }

        .close a:hover {
            color: #fff;
            background-color: #a3252e;
            border-color: #861f26;
        }

