/**
 * Информационные страницы ("о проекте", "правила публикации", "начисление бонусов").
 */
div.common-block {
    margin-bottom: 100px;
    padding: 30px 0 0;
    color: $irmag-blog-color-text;
    font-family: $irmag-blog-font-regular;
    font-size: 20px;
    line-height: 33px;
    margin-top: -50px;

    p {
        margin-bottom: 25px;

        @media (max-width: $screen-xs-max) {
            font-size: 14px;
            text-align: justify;
            line-height: 20px;
            margin-bottom: 10px;
        }

        &.credits {
            font-size: 15px;
            margin-bottom: 15px;

            @media (max-width: $screen-xs-max) {
                font-size: 14px;
            }
        }

        &.about-remark {
            font: $irmag-blog-font-italic;
            line-height: 28px;

            @media (max-width: $screen-xs-max) {
                font-size: 14px;
                line-height: 20px;
                text-align: justify;
            }
        }
    }

    .blog-about-image {
        margin-bottom: 20px;
        width: 170px;
        background-size: cover;

        &.blog-partners-studio {
            height: 37px;
            background-image: url($irmag-blog-image-dir + '/studio38-logo.png');
        }

        &.blog-partners-self {
            height: 40px;
            background-image: url($irmag-site-image-dir + '/irmag-logo.svg');
        }

        &.blog-partners-dd {
            height: 45px;
            background-image: url($irmag-blog-image-dir + '/dd-logo.png');
        }
    }

    ol {
        counter-reset: item;
        padding: 0;

        li {
            display: block;
            margin: 15px 0;

            @media (max-width: $screen-xs-max) {
                font-size: 14px;
                text-align: justify;
                line-height: 20px;
                margin-bottom: 10px;
            }

            &::before {
                content: counters(item, ".") ". ";
                counter-increment: item;
            }
        }
    }
}
