div.blog-error-404 {
    min-height: 100%;
    bottom: 0;
}

.blog-error-header {
    margin-top: 40px;
}

.blog-error-fade {
    @include linear-gradient-vertical(transparent, $irmag-blog-color-basic);

    position: relative;
    top: -70px;
    height: 70px;
}
