/*
 * Стили списков.
 */

/* Таблица для списков */
table.blog-list-table {
    width: 100%;
    font-family: $irmag-blog-font-thin;

    th {
        text-transform: uppercase;
        font-size: 12px;
        padding: 0 10px 20px 10px;
        background-color: #fff;

        @media (max-width: $screen-xs-max) {
            font-size: 10px;
        }

        &.head-right-aligned {
            text-align: right;
        }

        &.head-main {
            width: 50%;
        }
    }

    tr {
        &:nth-of-type(odd) {
            background-color: $irmag-blog-color-table-odd-row;
        }

        td {
            padding: 25px 0 25px 10px;

            @include hyphens();

            @media (max-width: $screen-xs-max) {
                padding: 10px 0 10px 5px;
            }

            &.column-main {
                width: 50%;
            }

            &.column-right-aligned {
                text-align: right;
            }

            &.column-center-aligned {
                text-align: center;
            }

            img {
                @media (min-width: $screen-xs-max) {
                    width: $irmag-blog-avatar-small;
                    height: $irmag-blog-avatar-small;
                }
            }
        }
    }
}

/* Заголовок в списках */
.blog-list-title {
    font-family: $irmag-blog-font-thin;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 5px;

    @media (max-width: $screen-xs-max) {
        padding-left: 10px;
        font-size: 14px;
        line-height: 20px;
    }
}

/* Подзаголовок в списках */
.blog-list-subtitle {
    font: $irmag-blog-font-italic;
    font-size: 14px;

    @media (max-width: $screen-xs-max) {
        padding-left: 10px;
        font-size: 10px;
    }
}

/* Ссылка в списке с тонким подчёркиванием */
a.blog-list-link-underlined {
    border-bottom: 1px solid $irmag-blog-color-underline;
    color: $irmag-blog-color-main-font;
    text-decoration: none;

    &:hover {
        color: $irmag-blog-color-link-hover;
    }
}

/* Кнопки "удалить" и "редактировать" */
.blog-list-buttons {
    a.blog-post-edit {
        color: $irmag-blog-color-green;

        &:hover {
            color: $irmag-blog-color-green-hover;
            text-decoration: none;
        }
    }

    .blog-post-remove {
        cursor: pointer;
        color: $irmag-blog-color-red;

        &:hover {
            color: $irmag-blog-color-red-hover;
        }
    }
}
