/**
 * Стилизация формы нового поста в блоге.
 */

div.new-post-block {
    margin-bottom: 100px;
    padding: 40px 10% 0;
    color: $irmag-blog-color-text;
    font-family: $irmag-blog-font-regular;
    font-size: 20px;
    line-height: 33px;

    @media (max-width: $screen-xs-max) {
        padding: 40px 0 0;
    }

    form.new-post-form {
        font-family: $irmag-blog-font-thin;

        input {
            @media (max-width: $screen-xs-max) {
                font-size: 10px;
                height: 30px;
                margin: 0;
            }
        }

        /* Выбор раздела и товаров */
        div.new-post-top {
            padding-top: 30px;
            margin-bottom: 20px;

            div.sections-list,
            div.goods-for-review {
                padding-top: 10px;

                button {
                    width: 100%;
                    height: 50px;
                    text-align: left;

                    @media (max-width: $screen-xs-max) {
                        height: 30px;
                        font-size: 10px;
                        vertical-align: top;
                        margin: 0;
                    }

                    span.caret {
                        margin-left: 5px;
                    }
                }

                ul {
                    width: 100%;

                    @media (max-width: $screen-xs-max) {
                        font-size: 10px;
                    }
                }

                div.form-group {
                    margin: 0;
                }
            }

            div.related-element-wrapper {
                margin-top: 10px;

                div.review-good {
                    margin-top: 5px;
                    padding-right: 0;

                    input {
                        @media (min-width: $screen-xs-max) {
                            height: 50px;
                            margin-right: 0;
                        }
                    }

                    i {
                        position: absolute;
                        top: 14px;
                        right: 30px;
                        display: none;

                        @media (max-width: $screen-xs-max) {
                            top: 6px;
                            right: 10px;
                        }
                    }

                    .select2-container {
                        font-size: 14px;
                        height: 50px !important;

                        @media (max-width: $screen-xs-max) {
                            height: 30px !important;
                        }

                        .select2-choice {
                            height: 48px;
                            background: none;

                            .select2-chosen {
                                margin-top: 10px;
                                color: #333 !important;

                                @media (max-width: $screen-xs-max) {
                                    margin-top: 0;
                                    font-size: 10px;
                                }
                            }

                            .select2-search-choice-close {
                                margin-top: 8px;

                                @media (max-width: $screen-xs-max) {
                                    margin-top: 0;
                                }
                            }

                            .select2-arrow {
                                border-left: none;
                                background: none;

                                b {
                                    background-position-y: 10px;

                                    @media (max-width: $screen-xs-max) {
                                        background-position-y: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                div.review-good-rate {
                    @extend div.review-good;

                    padding: 0 10px;

                    ul {
                        @media (max-width: $screen-xs-max) {
                            width: 50px;
                        }
                    }
                }

                div.review-good-close {
                    padding: 0;

                    span.delete-related-element {
                        display: inline-block;
                        margin-top: 13px;
                        cursor: pointer;
                        color: $irmag-blog-color-red;

                        &:hover {
                            color: red;
                        }

                        @media (max-width: $screen-xs-max) {
                            margin-top: 0;
                            font-size: 14px;
                        }
                    }
                }
            }

            a.add-to-review {
                margin-top: 15px;
            }

            div.new-post-titles {
                margin-top: 10px;
            }

            a {
                &.add-to-review {
                    display: inline-block;
                    padding: 10px 0;
                    cursor: pointer;

                    i {
                        vertical-align: middle;
                        padding-right: 5px;
                    }

                    @media (max-width: $screen-xs-max) {
                        font-size: 12px;
                        padding: 0 0 5px 0;
                    }
                }

                &.add-to-review-xs {
                    padding: 5px;
                }
            }
        }

        /* Заголовки поста */
        div.new-post-titles {
            input {
                margin-top: 20px;

                @media (min-width: $screen-xs-max) {
                    height: 50px;
                }
            }

            span {
                font: $irmag-blog-font-italic;
                font-size: 14px;

                @media (max-width: $screen-xs-max) {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }

        div.clear-fix {
            clear: both;
        }

        /* Текст поста */
        div.new-post-body {
            display: block;
            padding: 40px 0 70px 0;

            textarea {
                line-height: 1.2;
                height: 500px;
            }

            div.md-preview {
                p {
                    font-family: $irmag-blog-font-regular;
                }

                a {
                    color: $irmag-blog-color-link-hover;

                    &:hover {
                        text-decoration: none;
                    }
                }

                pre,
                code {
                    white-space: pre-wrap;
                    font-family: $irmag-blog-font-regular;
                }

                blockquote {
                    font-size: 20px;
                    font-style: italic;

                    @media (max-width: $screen-xs-max) {
                        font-size: 14px;
                    }
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 20px;
                    font-weight: bold;
                    text-align: left;

                    @media (max-width: $screen-xs-max) {
                        font-size: 14px;
                    }
                }
            }

            div.md-editor {
                div.btn-group {
                    padding-top: 5px;
                }

                @media (max-width: $screen-xs-max) {
                    textarea {
                        line-height: 18px;
                        height: 300px;
                        font-size: 12px;
                    }

                    button {
                        padding: 2px 6px;
                    }

                    div.md-header {
                        padding-bottom: 15px;
                    }

                    span.fa-expand {
                        font-size: 14px;
                    }

                    span.fa-compress {
                        font-size: 14px;
                        position: absolute;
                        top: -10px;
                    }
                }
            }
        }

        /* Загрузка картинок */
        div.post-photo-upload {
            padding-top: 20px;
            cursor: pointer;
            clear: both;

            input {
                bottom: 0;
                visibility: hidden;
                left: -10px;
                top: -10px;
                right: 0;
                position: absolute;
            }

            span {
                color: $irmag-blog-color-link-hover;
                border-bottom: 1px dashed $irmag-blog-color-link-hover;

                &:hover {
                    color: $irmag-blog-color-medium-blue;
                }

                @media (max-width: $screen-xs-max) {
                    font-size: 12px;
                }
            }
        }

        /* Памятки для пользователей */
        div.new-post-notes {
            color: $irmag-blog-color-black;
            font-size: 12px;
            line-height: 20px;
        }

        div.new-pre-post-notes {
            @extend .new-post-notes;

            padding: 40px 0 20px;
        }

        /* Блок с тегами */
        div.new-post-tags-block {
            label {
                margin-top: 30px;
                font: $irmag-blog-font-italic;
                font-size: 16px;

                @media (max-width: $screen-xs-max) {
                    margin-top: 15px;
                    font-size: 12px;
                }
            }

            input {
                height: 30px;
                font-size: 12px;
            }

            ul.select2-selection__rendered {
                li {
                    font-size: 12px;
                }
            }
        }

        /* Кнопки отправки */
        div.new-post-footer {
            display: block;
            margin: 50px 15px 100px 15px;
            background-color: $irmag-blog-color-table-odd-row;
            padding: 25px 15px;

            @media (max-width: $screen-sm-max) {
                text-align: center;
            }

            button {
                display: inline-block;
                color: $irmag-blog-color-basic;
                border: medium none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
                height: 40px;
                padding: 0 8px;
                line-height: 40px;
                vertical-align: middle;
                margin-top: 5px;
                margin-right: 10px;

                @media (max-width: $screen-sm-max) {
                    margin-top: 15px;
                }

                &.btn-post-to-draft {
                    font-family: $irmag-blog-font-italic;
                    background-color: $irmag-blog-color-draft-button;
                }

                &.btn-send-post {
                    font-family: $irmag-blog-font-regular;
                    background-color: $irmag-blog-color-red;
                }
            }

            span {
                color: $irmag-blog-color-main-font;
                display: inline-block;
                font-size: 12px;
                font-style: italic;
                line-height: 17px;
                vertical-align: middle;

                @media (min-width: $screen-sm-max) {
                    margin-left: 27px;
                }

                @media (max-width: $screen-sm-max) {
                    margin-top: 15px;
                }
            }
        }
    }
}
