/*
 * Пост в блоге.
 */

div.post-item {
    margin-bottom: 100px;
    color: $irmag-blog-color-text;
    font-family: $irmag-blog-font-regular;
    font-size: 20px;
    line-height: 33px;

    /* Блок с микродата-разметкой */
    div.blogpost-microdata-hidden {
        display: none;
    }

    /* Кнопка ката "Читать полностью" */
    a.post-read-comments {
        background-color: #f5f5f5;
        border: 1px solid $irmag-blog-color-underline;
        border-radius: 5px;
        display: block;
        font-family: $irmag-blog-font-thin;
        font-size: 16px;
        font-weight: 300;
        line-height: 65px;
        text-align: center;
        text-decoration: none;
        margin: 0 10%;

        @media (max-width: $screen-xs-max) {
            font-size: 12px;
            line-height: 36px;
        }
    }

    /* Информационный блок в шапке поста */
    div.post-credentials {
        color: $irmag-blog-color-text;
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 25px;
        text-align: center;
        padding: 0 20px;

        @media (max-width: $screen-xs-max) {
            font-size: 12px;
        }

        /* Ссылка на пользователя */
        a {
            display: inline-block;
            position: relative;
            text-decoration: none;

            span {
                border-bottom: 1px solid $irmag-blog-color-link-hover;

                &.blog-author-avatar {
                    border-bottom: 0;
                }
            }

            /* Аватарка пользователя */
            img {
                border-radius: 50%;
                display: inline-block;
                height: $irmag-blog-avatar-micro;
                width: $irmag-blog-avatar-micro;
                margin-right: 5px;
            }
        }

        /* Разделитель блоков в шапке */
        span.post-credentials-delimiter {
            color: $irmag-blog-color-underline;
            display: inline-block;
            font-size: 21px;
            padding: 0 10px;

            @media (max-width: $screen-xs-max) {
                padding: 0 2px;
            }
        }
    }

    /* Пост в блоге (текст) */
    div.post-entry {
        position: relative;
        padding: 0 10%;
        overflow: hidden;
        font-family: $irmag-blog-font-regular;
        font-size: 20px;
        text-align: justify;

        @media (max-width: $screen-xs-max) {
            font-size: 14px;
            line-height: 20px;
        }

        /* Все ссылки выделяем цветом */
        a {
            color: $irmag-blog-color-link-hover;

            &:hover {
                text-decoration: none;
            }
        }

        /* В тексте поста достаточно одного типа заголовков */
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 20px;
            font-weight: bold;
            text-align: left;

            @media (max-width: $screen-xs-max) {
                font-size: 14px;
            }
        }

        pre,
        code {
            white-space: pre-wrap;
            font-family: $irmag-blog-font-regular;
        }

        /* Цитаты выделяем курсивом */
        blockquote {
            font-size: 20px;
            font-style: italic;

            @media (max-width: $screen-xs-max) {
                font-size: 14px;
            }
        }
    }

    /* Пост в блоге для предпоказа на главной или в категориях */
    div.post-entry-hideable {
        @extend div.post-entry;

        max-height: 1000px;

        @media (max-width: $screen-xs-max) {
            max-height: 700px;
        }
    }

    /* Кат поста */
    div.post-entry-cut {
        @include linear-gradient-vertical(transparent, $irmag-blog-color-basic);

        height: 63px;
        position: relative;
        top: -63px;

        @media (max-width: $screen-xs-max) {
            height: 30px;
            top: -30px;
        }
    }
}

/* Разделитель постов */
div.posts-delimiter {
    position: absolute;
    display: block;
    width: 1000%;
    left: 0;
    margin: -50px 0 0 -500px;
    height: 5px;
    background-image: url('#{$irmag-blog-image-dir}/line.png');
}

.related-post-status {
    font: $irmag-blog-font-italic;
}
