/*
 * Привязанные к посту товары.
 */

div.post-related-goods {
    margin-top: 30px;

    @media (max-width: $screen-xs-max) {
        line-height: 5px;
        margin-top: 20px;
    }

    table.post-related-goods-table {
        width: 100%;

        td {
            margin: 7px 0;

            /* Ccылка на товар в Ирмаге */
            &.post-related-goods-item {
                display: inline-block;

                a {
                    font: $irmag-blog-font;
                    font-size: 18px;
                    line-height: 20px;

                    @media (max-width: $screen-xs-max) {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }

            /* Оценка товара */
            span.post-related-goods-mark {
                color: $irmag-blog-color-text;
                display: inline-block;
                font: $irmag-blog-font-italic;
                font-size: 16px;
                vertical-align: middle;
                padding: 0 15px;

                @media (max-width: $screen-xs-max) {
                    font-size: 12px;
                }
            }

            /* Кнопка "купить" */
            .buy-item-btn {
                color: $irmag-blog-color-basic;
                display: inline-block;
                font: $irmag-blog-font;
                font-size: 16px;
                height: 33px;
                line-height: 33px;
                min-width: 200px;
                text-align: center;
                vertical-align: middle;
                border-radius: 5px;
                cursor: pointer;
                padding: 0 15px;

                &:hover {
                    text-decoration: none;
                }

                @media (max-width: $screen-xs-max) {
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    padding: 5px;
                    min-width: 0;
                }
            }

            /* Кнопка "купить" для мобильного отображения */
            .buy-item-btn-xs {
                @extend .buy-item-btn;

                min-width: 120px;
                padding: 0 5px;
            }
        }
    }
}
