/*
 * Нижний блок поста с информацией о товарах, просмотрах, лайках, комментариях и других обзорах.
 */

div.post-bottom-block {
    margin-top: 60px;
    padding: 0 10%;

    @media (max-width: $screen-xs-max) {
        font-size: 14px;
        margin-top: 20px;
    }

    /* Контейнер с тегами */
    div.post-tags-container {
        @media (max-width: $screen-xs-max) {
            font-size: 12px;
        }

        a {
            display: inline-block;
            cursor: pointer;
            text-decoration: underline;
            margin-right: 10px;

            @media (max-width: $screen-xs-max) {
                margin-right: 5px;
            }
        }
    }

    /* Информация о посте (лайки, просмотры) */
    div.post-summary {
        text-align: center;
        margin: 30px auto 0;

        span {
            color: $irmag-blog-color-text;
            font: $irmag-blog-font;
            font-size: 25px;
            line-height: 1;

            @media (max-width: $screen-xs-max) {
                font-size: 18px;
            }

            /* Лайк / дизлайк */
            &.post-rating {
                margin-right: 30px;

                i {
                    cursor: pointer;

                    &.green-thumb {
                        color: $irmag-blog-color-green;

                        &:hover {
                            color: $irmag-blog-color-green-hover;
                        }
                    }

                    &.red-thumb {
                        color: $irmag-blog-color-red;

                        &:hover {
                            color: $irmag-blog-color-red-hover;
                        }
                    }
                }
            }

            /* Просмотры */
            &.post-views {
                vertical-align: top;

                @media (max-width: $screen-xs-max) {
                    vertical-align: baseline;
                }

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    /* Переключалка блоков комментарии / другие обзоры */
    div.post-notes-switcher {
        padding: 40px 0;

        /* Табы */
        ul.post-bottom-tabs {
            list-style: none;
            padding: 0;

            li {
                border-radius: 5px 5px 0 0;
                height: 51px;
                padding-top: 5px;
                z-index: 2;
                border: 1px solid $irmag-blog-color-medium-gray;
                border-bottom: none;
                cursor: pointer;
                float: left;
                line-height: 46px;
                margin-right: -1px;
                text-align: center;
                width: 50%;

                i {
                    color: $irmag-blog-color-medium-gray;
                }

                &.post-bottom-tab-inactive {
                    border-bottom: 1px solid $irmag-blog-color-medium-gray;

                    i {
                        color: $irmag-blog-color-green;
                    }
                }

                span {
                    color: $irmag-blog-color-main-font;
                    font-family: $irmag-blog-font-thin;
                    font-size: 16px;
                    font-weight: 300;

                    &:hover {
                        color: $irmag-blog-color-link-hover;
                    }
                }
            }
        }

        div.post-bottom-tab-content {
            border-radius: 0 0 5px 5px;
            border: 1px solid $irmag-blog-color-medium-gray;
            border-top: medium none;
            margin-right: 1px;
            padding: 20px 35px 40px;
            z-index: 3;
            overflow-x: auto;

            /* Комментарии */
            .thread-comments {
                font-family: $irmag-blog-font-thin;
                font-size: 16px;

                @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
                    .media {
                        margin-left: -25px;
                    }
                }
            }

            div.post-bottom-others-content {
                display: none;
            }

            div.post-bottom-comments-content {
                font-family: $irmag-blog-font-thin;

                h3 {
                    padding-top: 20px;
                    text-align: left;
                    font-family: $irmag-blog-font-thin;
                    font-size: 20px;

                    small {
                        font-size: 20px;
                    }
                }

                .media-heading {
                    margin: 0;
                    line-height: 15px;

                    @media (max-width: $screen-xs-max) {
                        font-size: 14px;
                    }
                }

                .comment-text {
                    @media (max-width: $screen-xs-max) {
                        font-size: 12px;
                    }

                    line-height: 20px;
                    min-height: 10px;

                    p {
                        margin: 0;
                    }
                }

                /* Комментарии */
                div.comment-compose {
                    padding-top: 10px;

                    span.rating-text {
                        font-size: 16px;
                        margin-left: 20px;
                    }

                    a.btn-danger {
                        color: $irmag-blog-color-basic;
                        background-color: $irmag-blog-color-red;
                        border-color: $irmag-blog-color-red;

                        &:hover {
                            background-color: $irmag-blog-color-red-hover;
                            border-color: $irmag-blog-color-red-hover;
                        }
                    }
                }
            }
        }
    }
}
