/*
 * Стили поиска.
 */

/* Результаты поиска */
div.search-result-block {
    padding: 30px 0;
    font-family: $irmag-blog-font-thin;

    p.blog-found-items {
        padding: 0 0 10px;
        text-decoration: underline;
    }

    /* Найденный пост */
    div.search-result-item {
        display: block;
        padding: 5px 0;

        &:nth-of-type(odd) {
            background-color: $irmag-blog-color-table-odd-row;
        }

        h1 {
            font-family: $irmag-blog-font-thin;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0;
            text-align: left;
            text-transform: none;
            padding: 0 15px;

            @include hyphens();

            @media (max-width: $screen-xs-max) {
                font-size: 12px;
            }

            a {
                text-decoration: underline;
            }
        }

        h2 {
            font: $irmag-blog-font-italic;
            padding: 0 15px;

            @include hyphens();

            @media (max-width: $screen-xs-max) {
                font-size: 12px;
            }
        }

        /* Автор поста */
        div.search-avatar-block {
            padding: 5px 10px;
            text-align: center;

            p {
                font: $irmag-blog-font-thin;
                padding: 5px 0;

                @media (max-width: $screen-xs-max) {
                    font-size: 12px;
                }

                a {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Строка поиска */
div.search-block {
    form.search-block-form {
        margin: 0 auto 50px;
        position: relative;
        width: 335px;
        top: 50px;

        @media (max-width: $screen-xs-max) {
            width: 200px;
        }

        /* Сабмит формы */
        button {
            background-color: transparent;
            border: medium none;
            height: 17px;
            width: 21px;
            cursor: pointer;
            outline: medium none;
            position: relative;
            top: 23px;
            left: 300px;

            @media (max-width: $screen-xs-max) {
                top: 20px;
                left: 172px;
            }
        }

        /* Поле ввода */
        input {
            border: 1px solid $irmag-blog-color-medium-gray;
            border-radius: 15px;
            font-family: $irmag-blog-font-thin;
            font-size: 15px;
            font-weight: 300;
            height: 30px;
            outline: medium none;
            width: 100%;
            padding: 0 40px 0 20px;

            @media (max-width: $screen-xs-max) {
                height: 22px;
                font-size: 12px;
            }
        }
    }
}
