$slick-font-family: "FontAwesome";
$slick-prev-character: $fa-var-chevron-circle-left;
$slick-next-character: $fa-var-chevron-circle-right;
$slick-arrow-color: #fff;
$slick-dot-size: 18px;

.slick-prev::before,
.slick-next::before {
    font-size: 26px !important;
}

.slick-prev {
    z-index: 3 !important;
    left: 10px !important;
}

.slick-next {
    z-index: 3 !important;
    right: 14px !important;
}

@import "~slick-carousel/slick/slick-theme.scss";
