/*
 * Профиль пользователя в блоге.
 */

div.blog-user-profile-top {
    margin-bottom: 70px;
    margin-top: 40px;
    text-align: center;
    display: table;

    /* Баббл с информацией "Обо мне" */
    div.blog-user-profile-quote {
        border: 1px solid $irmag-blog-color-user-bubble;
        border-radius: 5px;
        float: right;
        font-family: $irmag-blog-font-thin;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
        padding: 25px 10px 10px 10px;
        text-align: center;
        width: 40%;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 14px;
            line-height: 16px;
            padding: 25px 20px 10px 20px;
            margin-left: 30px;
            width: 30%;
        }

        @media (max-width: $screen-xs-max) {
            font-size: 12px;
            line-height: 14px;
            min-width: 100px;
            margin-left: 10px;
        }

        /* Хак с уголком баббла */
        div.user-profile-quote-corner {
            background-image: url("#{$irmag-blog-image-dir}/quotecorner.png");
            position: relative;
            height: 19px;
            width: 24px;
            left: -34px;
            top: -10px;

            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                height: 19px;
                width: 24px;
                left: -44px;
                top: -10px;
            }
        }
    }
}
