label {
    &.required {
        &::after {
            @include fa-icon();

            color: $irmag-color-4;
            margin-left: 5px;
            content: $fa-var-asterisk;
            opacity: .8;
            font-size: .8em;
            //line-height: .8em;
            vertical-align: middle; // mb +20%?
        }
    }

    // dd duplicate `label.required` in `.hub`
    &.hub {
        label {
            &.required {
                &::after {
                    content: unset;
                }
            }
        }
    }
}

textarea {
    resize: vertical;
}
