.block-loading {
    opacity: .5 !important;
    cursor: wait;
    z-index: 1;
    position: relative;
    transition: opacity .5s ease-in-out;
    filter: blur(1px);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
}
