.poll-content {
    .poll-variant {
        display: block;
        background-color: #f5f5f5;
        border: 1px solid #eee;
        border-radius: 5px;
        cursor: pointer !important;
        padding: 10px;
        margin-bottom: 10px;

        &:hover,
        &.checked {
            background-color: #a9e2ff;
            border-color: #0076b3;
        }

        input {
            display: none;
        }
    }

    .poll-stat-row {
        margin: 15px 0;
    }

    .progress {
        min-width: 300px;
        margin-bottom: 0;
    }
}
