{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}{{ element.name }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container col-md-offset-1 col-md-10">
                <h1 class="blog-header">{{ element.name }}</h1>
                <table class="blog-list-table">
                    <thead>
                        <tr>
                            <th colspan="2">Обзоры</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr itemscope itemtype="http://schema.org/Review">
                            <td>
                                {% if pics is not empty and pics[loop.index0] %}
                                    <img src="{{ asset(pics[loop.index0])|imagine_filter('blog_post_image_thumbnail') }}" alt="post-{{ post.id }}-thumbnail">
                                {% endif %}
                                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                    <meta itemprop="name" content="{{ post.user.name }}">
                                </span>
                            </td>
                            <td>
                                <h2 class="blog-list-title" itemprop="headline">
                                    <a href="{{ path('irmag_blog_category_post', { 'categoryslug': post.shortlink, 'id': post.id }) }}" itemprop="url" class="blog-list-link-underlined">
                                        {{ post.title }}
                                    </a>
                                </h2>
                                <span class="blog-list-subtitle">{{ post.subtitle }}</span>
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <meta itemprop="name" content="{{ element.name }}">
                                    <meta itemprop="description" content="{{ element.description }}">
                                    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <meta itemprop="price" content="{{ element.price }}">
                                        <meta itemprop="priceCurrency" content="RUB">
                                        <link itemprop="availability" href="http://schema.org/InStock">
                                    </span>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
