{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set picture = object.pictures[0].file.webpath is defined
        ? object.pictures[0].file.webpath
        : constant('Irmag\\SiteBundle\\Entity\\Element::NOT_FOUND_IMAGE') %}

    <div class="irmag-picture-wrapper">
        {% if admin.isGranted('EDIT') %}
            <a href="{{ admin.generateUrl('edit', { 'id': object.id }) }}">
                <img src="{{ asset(picture)|imagine_filter('catalog_elements') }}" alt="{{ picture }}">
            </a>
        {% else %}
            <img src="{{ asset(picture)|imagine_filter('catalog_elements') }}" alt="{{ picture }}">
        {% endif %}

        {% if object.pictures|length > 1 %}
            <div class="irmag-pictures-counter" title="Кол-во изображений" data-toggle="tooltip" data-container="body">{{ object.pictures|length }}</div>
        {% endif %}

        {% if object.tonePicture.webpath is defined %}
            <img src="{{ asset(object.tonePicture.webpath)|imagine_filter('catalog_element_children') }}" alt="{{ object.toneName }}" class="irmag-tone-picture img-circle">
        {% endif %}
    </div>
{% endblock %}
