{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% for section_element in object.sectionElements %}
        {% set section = section_element.section %}

        {% if is_granted('ROLE_IRMAG_ADMIN_ECOMMERCE_SECTION_EDITOR') %}
            <a href="{{ path('admin_irmag_site_section_edit', { 'id': section.id }) }}">
                {{ section }}
            </a>
        {% else %}
            {{ section }}
        {% endif %}

        {% if not loop.last %},<br>{% endif %}
    {% endfor %}
{% endblock %}
