<p>
    <div class="btn-group">
        <a type="button" class="btn {% if mode == 'list' %}btn-info active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('list') }}">
            <i class="fa fa-list"></i> Список
        </a>
        <a type="button" class="btn {% if mode == 'tree' %}btn-info active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('tree') }}">
            <i class="fa fa-sitemap"></i> Дерево
        </a>
    </div>
</p>
