{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block tab_menu %}
    {% include '@IrmagAdmin/Catalog/section_tab_menu.html.twig' with {
        'mode': 'list',
        'admin': admin,
    } %}
{% endblock %}
