.referral-tree {
    $border-color: #ccc;
    $hover-color: $brand-danger;
    $border-hover-color: darken($hover-color, 10%);

    user-select: none;

    .avatar {
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, .5);
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            text-indent: -9999px;
        }
    }

    .total {
        background-color: white;
        color: $irmag-color-5;
        border: 1px solid darken($irmag-color-5, 10%);
        background-clip: padding-box;
    }

    ul {
        li {
            list-style-type: none;

            .node {
                border: 1px solid $border-color;
                border-radius: $border-radius-base;
                text-decoration: none;
            }
        }
    }

    @media (max-width: $screen-md-min) {
        .node {
            width: 100%;
            padding: 5px;
            height: 35px;
        }

        .username {
            display: inline-block;
            padding-top: 3px;
        }

        .avatar {
            width: 25px;
            height: 25px;
            display: inline-block;
            float: left;
            margin-right: 5px;
        }

        .total {
            float: right;
            margin-top: 3px;
        }

        > ul {
            padding-top: 13px;
            padding-left: 0;

            ul {
                padding-left: 10px;
            }

            li {
                margin-top: 2px;
            }
        }

        li .node:hover {
            background: $hover-color;
            color: #fff;
        }
    }

    @media (min-width: $screen-md-min) {
        .username {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 50px;
            margin-top: 2px;
        }

        .avatar {
            width: 50px;
            height: 50px;
            margin: 0 auto;
        }

        ul {
            padding: 13px 0 0 0;
            position: relative;
            white-space: nowrap;
            margin: 0 auto;
            text-align: center;

            &::after {
                content: '';
                display: table;
                clear: both;
            }
        }

        li {
            display: inline-block; // need white-space fix
            vertical-align: top;
            text-align: center;
            position: relative;
            padding: 13px 5px 0 5px;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 50%;
                border-top: 1px solid $border-color;
                width: 50%;
                height: 1em;
            }

            &::after {
                right: auto;
                left: 50%;
                border-left: 1px solid $border-color;
            }

            &:only-child::after,
            &:only-child::before {
                display: none;
            }

            &:only-child {
                padding-top: 0;
            }

            &:first-child::before,
            &:last-child::after {
                border: 0 none;
            }

            &:last-child::before {
                border-right: 1px solid $border-color;
                border-radius: 0 $border-radius-base 0 0;
            }

            &:first-child::after {
                border-radius: $border-radius-base 0 0 0;
            }
        }

        ul ul::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            border-left: 1px solid $border-color;
            width: 0;
            height: 1em;
        }

        li .node {
            padding: 0 5px 3px 5px;
            display: inline-block;
            color: $text-color;
            position: relative;
            margin-top: 1px;
        }

        li .node:hover,
        li .node:hover + ul li .node {
            background: $hover-color;
            color: #fff;
            border: 1px solid $border-hover-color;
        }

        li .node:hover + ul li::after,
        li .node:hover + ul li::before,
        li .node:hover + ul::before,
        li .node:hover + ul ul::before {
            border-color: $border-hover-color;
        }
    }

    > ul > li {
        // lvl0
        > .node {
            background-color: $gray;
            border-color: darken($gray, 10%);
            color: white;
        }

        > ul > li {
            // lvl1
            > .node {
                background-color: $irmag-color-1;
                border-color: darken($irmag-color-1, 10%);
            }

            > ul > li {
                // lvl2
                > .node {
                    background-color: $irmag-color-2;
                    border-color: darken($irmag-color-2, 10%);
                }

                > ul > li {
                    // lvl3
                    > .node {
                        background-color: $irmag-color-3;
                        border-color: darken($irmag-color-3, 10%);
                    }

                    > ul > li {
                        // lvl4
                        > .node {
                            background-color: $irmag-color-4;
                            border-color: darken($irmag-color-4, 10%);
                        }

                        > ul > li {
                            // lvl5
                            .node {
                                background-color: $irmag-color-5;
                                border-color: darken($irmag-color-5, 10%);
                            }

                            > ul > li {
                                // lvl6
                                .node {
                                    background-color: $gray-lighter;
                                    border-color: darken($gray-lighter, 10%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
