<div class="panel panel-default elements-panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'basket.count'|transchoice(irmag.basket.data.basketElementsCount, {}, 'irmag_site') }} в заказе
        </h3>
        {% if irmag.mobile %}
            <div class="pull-right">
                <button class="btn btn-sm btn-default btn-toggler" data-toggle="collapse" data-target="#table-basket-in-order">посмотреть</button>
            </div>
        {% endif %}
    </div>
    <div class="panel-body{{ irmag.mobile ? ' collapse' }}" id="table-basket-in-order">
        <table class="table table-condensed mb-15">
            <tbody>
                {% for position in irmag.basket.basketElements %}
                    {% set price_with_discount = get_price_with_discount(position.element) %}
                    <tr>
                        <td>
                            <a href="{{ path('irmag_catalog_element', { id: position.element.id }) }}">
                                {{ position.element.name }}
                                {% if position.element.toneName %} - <span class="text-muted">{{ position.element.toneName }}</span>{% endif %}
                            </a>
                        </td>
                        <td class="text-nowrap">{{ position.amount }} шт.</td>
                        <td class="text-nowrap">{{ (price_with_discount * position.amount)|number_format }} <i class="fa fa-rub"></i></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right text-muted" colspan="3">
                        Итого: <b>{{ irmag.basket.data.totalPrice|number_format }}</b> <i class="fa fa-rub"></i>
                    </td>
                </tr>
                </tfoot>
        </table>

        <div class="text-center mb-15">
            <a href="{{ path('irmag_basket') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад в корзину</a>
        </div>
    </div>
</div>
