{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}Оформление заказа{% endblock %}

{% block body %}

    <section class="order container">

        <h1>Оформление заказа</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Корзина': path('irmag_basket'), 'Оформление заказа': null } } %}

        <div class="alert alert-success">
            Ваш заказ №{{ id }} был успешно отменён.
        </div>

        <div class="text-center">
            <a href="{{ path('irmag_catalog') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад в каталог</a>
        </div>

    </section>

{% endblock %}
