<a href="https://www.google.com/maps/embed/v1/place?q={{ address|default('664013%2C%20%D0%98%D1%80%D0%BA%D1%83%D1%82%D1%81%D0%BA%2C%20%D0%92%D0%BE%D1%81%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%B9%20%D0%BF%D0%B5%D1%80.%2C%208%20%D0%98%D0%A0%D0%9C%D0%90%D0%93') }}&key={{ 'dev' == app.environment ? google_maps_api_key_dev : google_maps_api_key }}" class="dotted-link fancybox" data-type="iframe" title="Нажмите, чтобы посмотреть карту проезда." data-toggle="tooltip">
    <i class="fa fa-map-marker"></i> {{ address_name|default('664013, Иркутск, Восточный пер., 8/2') }}
</a>
