{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}🛍 Оформление заказа{% endblock %}

{% block body %}

    <section class="order container">

        <h1>Оформление заказа</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Корзина': url('irmag_basket'), 'Оформление заказа': null } } %}

        <div class="row">
            <div class="col-md-4 col-lg-3">
                {% include '@IrmagSite/Order/basket-elements.html.twig' %}
            </div>

            <div class="col-md-8 col-lg-9" id="order-ajax-wrapper">
                {% include '@IrmagSite/Order/index-content.html.twig' %}
            </div>
        </div>

    </section>

{% endblock %}

{% block additional_javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.10.1/dist/js/jquery.suggestions.min.js"></script>
{% endblock %}

{% block additional_stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.10.1/dist/css/suggestions.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Order.init();
        });
    </script>
{% endblock %}
