{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}Оформление заказа - Оплата{% endblock %}

{% block body %}

    <section class="order container">

        <h1>Оформление заказа - Оплата</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Корзина': path('irmag_basket'), 'Оформление заказа': path('irmag_order'), 'Оплата': null } } %}

        <div class="row">
            <div class="col-xs-12">
                <a href="{{ path('irmag_order_cancel', { id: order.id }) }}" class="btn btn-warning text-center" data-toggle="tooltip" title="Заказ будет отменён, товары вернутся в корзину, фантики будут возвращены на счёт"
                    onclick="$(this).addClass('disabled');">
                    <i class="fa fa-arrow-circle-left"></i> Отменить заказ
                </a>

                <div id="payment-frame" class="block-loading mt-40">
                    <div class="row">
                        <div class="col-xs-12">
                            <i id="payment-frame-spinner" class="iframe-spinner fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-2 col-md-8">
                            <div class="payment-embed">
                                {{ render(controller('Irmag\\OnlinePaymentBundle\\Controller\\PaymentController::indexAction', { order: order })) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
           IRMAG.Payment.init();
        });
    </script>
{% endblock %}
